openapi: 3.0.0
info:
  title: hcloud - Dali
  version: 0.0.5-417
  contact:
    name: MoovIT Software Products GmbH
    url: https://www.moovit-sp.com
    email: info@moovit-sp.com
  description: >-
    Dali manages avatars for entities like users, teams, organizations and
    others.
servers:
  - url: https://eu-central-1.helmut.cloud/api/dali
    description: EU-Central production server
  - url: https://na-west-1.helmut.cloud/api/dali
    description: NA-West production server
  - url: https://eu-dev-1.app.helmut.cloud/api/dali
    description: EU development server
  - url: http://localhost/api/dali
    description: Localhost
paths:
  /v1/avatar/org/{orgName}/applications/oauth/{appId}:
    post:
      tags:
        - OAuthApp.Avatar
      summary: Create a new avatar for the OAuth application
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: appId
          in: path
          description: ID of the application
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Public URL of the created avatar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarDto'
        '400':
          description: Validation error, processing and uploading avatar exceptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                FileTransferErrorException:
                  $ref: '#/components/examples/FileTransferErrorException'
                ImageProcessingErrorException:
                  $ref: '#/components/examples/ImageProcessingErrorException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        '500':
          description: Internal Server Error (something went wrong)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
    delete:
      tags:
        - OAuthApp.Avatar
      summary: Delete avatar for the OAuth application
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: appId
          in: path
          description: ID of the application
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No content
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        '500':
          description: Internal Server Error (something went wrong)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
    put:
      tags:
        - OAuthApp.Avatar
      summary: Upload custom avatar for the OAuth application
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: appId
          in: path
          description: ID of the application
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          custom image must be send in request body as multipart/form-data as
          file!
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CustomAvatarDto'
      responses:
        '200':
          description: Public URL of the uploaded avatar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarDto'
        '400':
          description: >-
            Invalid parameter or request body, processing/uploading avatar
            exceptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                FileTransferErrorException:
                  $ref: '#/components/examples/FileTransferErrorException'
                ImageProcessingErrorException:
                  $ref: '#/components/examples/ImageProcessingErrorException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                No avatar in the request body:
                  $ref: '#/components/examples/InvalidBodyException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        '413':
          description: File size too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                File size too large:
                  $ref: '#/components/examples/InvalidFileSizeException'
        '415':
          description: Invalid file type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Invalid file type:
                  $ref: '#/components/examples/InvalidFileTypeException'
        '500':
          description: Internal Server Error (something went wrong)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
  /v1/avatar/org/{orgName}/spaces/fuse/{spaceName}:
    post:
      tags:
        - Fuse.Avatar
      summary: Create a new avatar for the Fuse Space
      description: |-

        Required organization role: MEMBER\
        Required space permission: MANAGE\
        Required scopes: FUSE_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Public URL of the created avatar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarDto'
        '400':
          description: Validation error, processing and uploading avatar exceptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                FileTransferErrorException:
                  $ref: '#/components/examples/FileTransferErrorException'
                ImageProcessingErrorException:
                  $ref: '#/components/examples/ImageProcessingErrorException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least MANAGE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        '500':
          description: Internal Server Error (something went wrong)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
    delete:
      tags:
        - Fuse.Avatar
      summary: Delete avatar for the Fuse Space
      description: |-

        Required organization role: MEMBER\
        Required space permission: MANAGE\
        Required scopes: FUSE_SPACE_DELETE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No content
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least MANAGE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        '500':
          description: Internal Server Error (something went wrong)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
    put:
      tags:
        - Fuse.Avatar
      summary: Upload custom avatar for the Fuse Space
      description: |-

        Required organization role: MEMBER\
        Required space permission: MANAGE\
        Required scopes: FUSE_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          custom image must be send in request body as multipart/form-data as
          file!
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CustomAvatarDto'
      responses:
        '200':
          description: Public URL of the uploaded avatar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarDto'
        '400':
          description: >-
            Invalid parameter or request body, processing/uploading avatar
            exceptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                FileTransferErrorException:
                  $ref: '#/components/examples/FileTransferErrorException'
                ImageProcessingErrorException:
                  $ref: '#/components/examples/ImageProcessingErrorException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                No avatar in the request body:
                  $ref: '#/components/examples/InvalidBodyException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least MANAGE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        '413':
          description: File size too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                File size too large:
                  $ref: '#/components/examples/InvalidFileSizeException'
        '415':
          description: Invalid file type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Invalid file type:
                  $ref: '#/components/examples/InvalidFileTypeException'
        '500':
          description: Internal Server Error (something went wrong)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
  /v1/avatar/org/{orgName}/spaces/high5/{spaceName}:
    post:
      tags:
        - High5.Avatar
      summary: Create a new avatar for the High5 Space
      description: |-

        Required organization role: MEMBER\
        Required space permission: MANAGE\
        Required scopes: HIGH5_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Public URL of the created avatar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarDto'
        '400':
          description: Validation error, processing and uploading avatar exceptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                FileTransferErrorException:
                  $ref: '#/components/examples/FileTransferErrorException'
                ImageProcessingErrorException:
                  $ref: '#/components/examples/ImageProcessingErrorException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least MANAGE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        '500':
          description: Internal Server Error (something went wrong)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
    delete:
      tags:
        - High5.Avatar
      summary: Delete avatar for the High5 Space
      description: |-

        Required organization role: MEMBER\
        Required space permission: MANAGE\
        Required scopes: HIGH5_SPACE_DELETE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No content
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least MANAGE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        '500':
          description: Internal Server Error (something went wrong)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
    put:
      tags:
        - High5.Avatar
      summary: Upload custom avatar for the High5 Space
      description: |-

        Required organization role: MEMBER\
        Required space permission: MANAGE\
        Required scopes: HIGH5_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          custom image must be send in request body as multipart/form-data as
          file!
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CustomAvatarDto'
      responses:
        '200':
          description: Public URL of the uploaded avatar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarDto'
        '400':
          description: >-
            Invalid parameter or request body, processing/uploading avatar
            exceptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                FileTransferErrorException:
                  $ref: '#/components/examples/FileTransferErrorException'
                ImageProcessingErrorException:
                  $ref: '#/components/examples/ImageProcessingErrorException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                No avatar in the request body:
                  $ref: '#/components/examples/InvalidBodyException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least MANAGE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        '413':
          description: File size too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                File size too large:
                  $ref: '#/components/examples/InvalidFileSizeException'
        '415':
          description: Invalid file type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Invalid file type:
                  $ref: '#/components/examples/InvalidFileTypeException'
        '500':
          description: Internal Server Error (something went wrong)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
  /v1/avatar/org/{orgName}:
    post:
      tags:
        - Organization.Avatar
      summary: Create a new Avatar for organization
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Public URL of the created avatar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarDto'
        '400':
          description: Validation error, processing and uploading avatar exceptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                FileTransferErrorException:
                  $ref: '#/components/examples/FileTransferErrorException'
                ImageProcessingErrorException:
                  $ref: '#/components/examples/ImageProcessingErrorException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        '500':
          description: Internal Server Error (something went wrong)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
    delete:
      tags:
        - Organization.Avatar
      summary: Delete an Avatar for organization
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_DELETE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No content
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        '500':
          description: Internal Server Error (something went wrong)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
    put:
      tags:
        - Organization.Avatar
      summary: update Avatar for the organization
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          custom image must be send in request body as multipart/form-data as
          file!
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CustomAvatarDto'
      responses:
        '200':
          description: Public URL of the uploaded avatar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarDto'
        '400':
          description: >-
            Invalid parameter or request body, processing/uploading avatar
            exceptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                FileTransferErrorException:
                  $ref: '#/components/examples/FileTransferErrorException'
                ImageProcessingErrorException:
                  $ref: '#/components/examples/ImageProcessingErrorException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                No avatar in the request body:
                  $ref: '#/components/examples/InvalidBodyException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        '413':
          description: File size too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                File size too large:
                  $ref: '#/components/examples/InvalidFileSizeException'
        '415':
          description: Invalid file type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Invalid file type:
                  $ref: '#/components/examples/InvalidFileTypeException'
        '500':
          description: Internal Server Error (something went wrong)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
  /v1/avatar/org/{orgName}/teams/{teamName}:
    post:
      tags:
        - Team.Avatar
      summary: Create a new avatar for the team
      description: |-

        Required organization role: MEMBER\
        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: teamName
          in: path
          description: Name of the team
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Public URL of the created avatar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarDto'
        '400':
          description: Validation errors, processing and uploading avatar exceptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                FileTransferErrorException:
                  $ref: '#/components/examples/FileTransferErrorException'
                ImageProcessingErrorException:
                  $ref: '#/components/examples/ImageProcessingErrorException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        '500':
          description: Internal Server Error (something went wrong)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
    delete:
      tags:
        - Team.Avatar
      summary: Delete avatar for the team
      description: |-

        Required organization role: MEMBER\
        Required scopes: IDP_ORGANIZATION_DELETE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: teamName
          in: path
          description: Name of the team
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No content
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        '500':
          description: Internal Server Error (something went wrong)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
    put:
      tags:
        - Team.Avatar
      summary: Upload custom avatar for the team
      description: |-

        Required organization role: MEMBER\
        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: teamName
          in: path
          description: Name of the team
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          custom image must be send in request body as multipart/form-data as
          file!
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CustomAvatarDto'
      responses:
        '200':
          description: Public URL of the uploaded avatar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarDto'
        '400':
          description: >-
            Invalid parameter or request body, processing/uploading avatar
            exceptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidBodyException:
                  $ref: '#/components/examples/InvalidBodyException'
                FileTransferErrorException:
                  $ref: '#/components/examples/FileTransferErrorException'
                ImageProcessingErrorException:
                  $ref: '#/components/examples/ImageProcessingErrorException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                No avatar in the request body:
                  $ref: '#/components/examples/InvalidBodyException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        '413':
          description: File size too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                File size too large:
                  $ref: '#/components/examples/InvalidFileSizeException'
        '415':
          description: Invalid file type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Invalid file type:
                  $ref: '#/components/examples/InvalidFileTypeException'
        '500':
          description: Internal Server Error (something went wrong)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
  /v1/avatar/user:
    post:
      tags:
        - User.Avatar
      summary: Create a new Avatar for user
      description: |-

        Required scopes: IDP_USER_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      responses:
        '201':
          description: Public URL of the created avatar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarDto'
        '400':
          description: Processing and uploading avatar exceptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                FileTransferErrorException:
                  $ref: '#/components/examples/FileTransferErrorException'
                ImageProcessingErrorException:
                  $ref: '#/components/examples/ImageProcessingErrorException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '500':
          description: Internal Server Error (something went wrong)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
    delete:
      tags:
        - User.Avatar
      summary: >-
        Delete an Avatar for user: recursively deletes all images associated
        with the current user and the relevant user organization.
      description: |-

        Required scopes: IDP_USER_DELETE
      security:
        - BearerAuth: []
        - BasicAuth: []
      responses:
        '204':
          description: No content
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '500':
          description: Internal Server Error (something went wrong)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
    put:
      tags:
        - User.Avatar
      summary: >-
        upload custom Avatar for the user. Only certain file sizes are allowed
        for upload. Also create a copy for the corresponding user organization.
      description: |-

        Required scopes: IDP_USER_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      requestBody:
        description: >-
          custom image must be send in request body as multipart/form-data as
          file!
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CustomAvatarDto'
      responses:
        '200':
          description: Public URL of the uploaded avatar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarDto'
        '400':
          description: Invalid request body, processing/uploading avatar exceptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidBodyException:
                  $ref: '#/components/examples/InvalidBodyException'
                FileTransferErrorException:
                  $ref: '#/components/examples/FileTransferErrorException'
                ImageProcessingErrorException:
                  $ref: '#/components/examples/ImageProcessingErrorException'
                No avatar in the request body:
                  $ref: '#/components/examples/InvalidBodyException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '413':
          description: File size too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                File size too large:
                  $ref: '#/components/examples/InvalidFileSizeException'
        '415':
          description: Invalid file type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Invalid file type:
                  $ref: '#/components/examples/InvalidFileTypeException'
        '500':
          description: Internal Server Error (something went wrong)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
components:
  securitySchemes:
    BearerAuth:
      type: http
      bearerFormat: JWT
      scheme: bearer
    BasicAuth:
      type: http
      scheme: basic
  schemas:
    AvatarDto:
      properties:
        url:
          type: string
          description: URL of the created/uploaded avatar
      required:
        - url
      example:
        url: https://dali.s3.helmut.cloud/some_avatar.webp
    CustomAvatarDto:
      properties:
        file:
          type: string
          description: The custom image to upload
          format: binary
      required:
        - file
      example:
        file: "PNG\r\n\x1A\n\0\0\0\rIHDR\0\0\0..."
    CustomError:
      properties:
        code:
          type: string
          description: >-
            "A helmut cloud custom error code following this schema: [Custom
            Error
            Codes](https://development-guideline.pages.moovit-sp.com/en/hcloud/customErrorCodes.html)"
        error:
          type: string
          description: 'Name of the error in the following format: name.of.error'
        message:
          type: string
          description: Error description
      required:
        - code
        - error
        - message
      example: null
  examples:
    InvalidParameterException:
      value:
        code: 007.000.0003
        error: invalid.parameter
        message: >-
          Failed to validate 'string' parameter 'MyVar' - A non-empty value is
          expected
    InvalidBodyException:
      value:
        code: 007.000.0004
        error: invalid.body
        message: No user avatar attached in the request body.
    AuthenticationTokenMissingException:
      value:
        code: 007.001.0002
        error: missing.auth.token
        message: Expected an authentication token that has not been provided
    NotAuthorizedException:
      value:
        code: 007.001.0001
        error: unauthorized
        message: You're not authorized
    WrongAuthenticationTokenException:
      value:
        code: 007.001.0003
        error: wrong.auth.token
        message: Your authentication token is invalid
    InsufficientAccessRightException:
      value:
        code: 007.001.0004
        error: insufficient.rights
        message: You have not enough rights to access/manipulate this resource
    InvalidFileSizeException:
      value:
        code: 007.026.0001
        error: invalid.filesize
        message: The maximum allowed file size is 256 kb
    InvalidFileTypeException:
      value:
        code: 007.026.0002
        error: invalid.mimetype
        message: File type 'image/avif' is not allowed
    InternalServerErrorException:
      value:
        code: 007.000.0002
        error: internal.server.error
        message: An internal server error has occurred
    ImageProcessingErrorException:
      value:
        code: 007.026.0003
        error: image.processing.error
        message: An error occurred while processing the image
    FileTransferErrorException:
      value:
        code: 007.026.0004
        error: file.transfer.error
        message: An error occurred while transferring the file
    OrganizationNotFoundException:
      value:
        code: 007.007.0001
        error: organization.not.found
        message: Organization not found
    SpaceInsufficientPermissionException:
      value:
        code: 007.010.0003
        error: space.insufficient.permission
        message: You do not have the required permission
    SpaceNotFoundException:
      value:
        code: 007.010.0001
        error: space.not.found
        message: Given space not found
