openapi: 3.0.0
info:
  title: hcloud - Dali
  description: >-
    Dali manages avatars for entities like users, teams, organizations and
    others.
  version: 1.0.0
  contact:
    name: MoovIT Software Products GmbH
    url: https://www.moovit-sp.com
    email: info@moovit-sp.com
servers:
  - url: https://eu-central-1.helmut.cloud/api/dali
    description: EU-Central production server
  - url: https://na-west-1.helmut.cloud/api/dali
    description: NA-West production server
  - url: https://eu-dev-1.app.helmut.cloud/api/dali
    description: EU development server
  - url: http://localhost/api/dali
    description: Localhost
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    patAuth:
      type: http
      scheme: bearer
      bearerFormat: PAT
    basicAuth:
      type: http
      scheme: basic
  schemas:
    CustomError:
      type: object
      properties:
        error:
          type: string
          description: Error name
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Error message
      required:
        - error
        - code
        - message
      description: API errors obey this shape
    CustomAvatarDto:
      type: object
      properties:
        avatar:
          type: string
          description: >-
            Image file to upload as avatar. Allowed formats: webp, png, jpg,
            jpeg, gif, bmp, tiff (image size: 150x150). Max file size: 256 kb
          format: binary
          example: <binary>
      required:
        - avatar
      description: Custom image must be send in request body as multipart/form-data as file
    AvatarDto:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: URL of the created/uploaded avatar
          example: https://dali.s3.helmut.cloud/some_avatar.webp
      required:
        - url
  parameters: {}
paths:
  /v1/avatar/org/{orgName}/applications/oauth/{appId}:
    post:
      security:
        - bearerAuth:
            - idp:organization:write
        - basicAuth:
            - idp:organization:write
        - patAuth:
            - idp:organization:write
      summary: Create a new avatar for the OAuth application
      tags:
        - OAuthApp.Avatar
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
                description: >-
                  Name of the organization (only alphanumeric characters,
                  hyphens and dots are allowed; it should contain between 3 and
                  64 characters)
                example: MoovIT-Software-Products-GmbH
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
                description: >-
                  Name of the user's private organization, allowed everything
                  defined in the RFC for the email specification (it should
                  contain between 3 and 255 characters)
                example: hmc@helmut.cloud
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            minLength: 24
            maxLength: 24
            format: hexadecimal
            description: >-
              ID of the OAuth application (ObjectId identifier, consists of 24
              hexadecimal digits)
          required: true
          name: appId
          in: path
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      responses:
        '201':
          description: Public URL of the created avatar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarDto'
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'appId' | An error occurred while transferring the
            file | An error occurred while processing the image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'appId':
                  summary: Failed to validate 'path' parameter 'appId'
                  description: Failed to validate 'path' parameter 'appId' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'appId' - {error}
                An error occurred while transferring the file:
                  summary: An error occurred while transferring the file
                  value:
                    code: 007.026.0004
                    error: file.transfer.error
                    message: An error occurred while transferring the file
                An error occurred while processing the image:
                  summary: An error occurred while processing the image
                  value:
                    code: 007.026.0003
                    error: image.processing.error
                    message: An error occurred while processing the image
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 007.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 007.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 007.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['idp:organization:write'] not included in
            authorization | User's organization role is insufficient. Must be at
            least ADMIN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['idp:organization:write'] not included in authorization:
                  summary: >-
                    Required scopes ['idp:organization:write'] not included in
                    authorization
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least ADMIN:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    ADMIN
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 007.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 007.000.0002
                    error: internal.server.error
                    message: something went wrong
    delete:
      security:
        - bearerAuth:
            - idp:organization:write
        - basicAuth:
            - idp:organization:write
        - patAuth:
            - idp:organization:write
      summary: Delete avatar for the OAuth application
      tags:
        - OAuthApp.Avatar
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
                description: >-
                  Name of the organization (only alphanumeric characters,
                  hyphens and dots are allowed; it should contain between 3 and
                  64 characters)
                example: MoovIT-Software-Products-GmbH
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
                description: >-
                  Name of the user's private organization, allowed everything
                  defined in the RFC for the email specification (it should
                  contain between 3 and 255 characters)
                example: hmc@helmut.cloud
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            minLength: 24
            maxLength: 24
            format: hexadecimal
            description: >-
              ID of the OAuth application (ObjectId identifier, consists of 24
              hexadecimal digits)
          required: true
          name: appId
          in: path
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      responses:
        '204':
          description: No Content
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'appId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'appId':
                  summary: Failed to validate 'path' parameter 'appId'
                  description: Failed to validate 'path' parameter 'appId' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'appId' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 007.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 007.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 007.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['idp:organization:write'] not included in
            authorization | User's organization role is insufficient. Must be at
            least ADMIN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['idp:organization:write'] not included in authorization:
                  summary: >-
                    Required scopes ['idp:organization:write'] not included in
                    authorization
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least ADMIN:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    ADMIN
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 007.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 007.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/avatar/org/{orgName}/spaces/cosmo/{spaceName}:
    post:
      security:
        - bearerAuth:
            - cosmo:space:write
        - basicAuth:
            - cosmo:space:write
        - patAuth:
            - cosmo:space:write
      summary: Create a new avatar for the Cosmo Space
      tags:
        - Cosmo.Space.Avatar
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
                description: >-
                  Name of the organization (only alphanumeric characters,
                  hyphens and dots are allowed; it should contain between 3 and
                  64 characters)
                example: MoovIT-Software-Products-GmbH
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
                description: >-
                  Name of the user's private organization, allowed everything
                  defined in the RFC for the email specification (it should
                  contain between 3 and 255 characters)
                example: hmc@helmut.cloud
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            minLength: 1
            maxLength: 32
            pattern: ^[\w-.]{1,32}$
            description: >-
              Name of the space (only alphanumeric characters, hyphens and dots
              are allowed; it should contain between 1 and 32 characters)
            example: Helmut4
          required: true
          name: spaceName
          in: path
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      responses:
        '201':
          description: Public URL of the created avatar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarDto'
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'spaceName' | Failed to validate 'string' parameter
            'spaceName' | An error occurred while transferring the file | An
            error occurred while processing the image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'spaceName':
                  summary: Failed to validate 'path' parameter 'spaceName'
                  description: Failed to validate 'path' parameter 'spaceName' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'spaceName' - {error}
                Failed to validate 'string' parameter 'spaceName':
                  summary: Failed to validate 'string' parameter 'spaceName'
                  description: >-
                    Failed to validate 'string' parameter 'spaceName' - Space
                    name must be provided
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: >-
                      Failed to validate 'string' parameter 'spaceName' - Space
                      name must be provided
                An error occurred while transferring the file:
                  summary: An error occurred while transferring the file
                  value:
                    code: 007.026.0004
                    error: file.transfer.error
                    message: An error occurred while transferring the file
                An error occurred while processing the image:
                  summary: An error occurred while processing the image
                  value:
                    code: 007.026.0003
                    error: image.processing.error
                    message: An error occurred while processing the image
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 007.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 007.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 007.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['cosmo:space:write'] not included in authorization
            | User's organization role is insufficient. Must be at least MEMBER
            | You have not enough rights to access/manipulate this resource |
            You do not have the required permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['cosmo:space:write'] not included in authorization:
                  summary: >-
                    Required scopes ['cosmo:space:write'] not included in
                    authorization
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least MEMBER:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    MEMBER
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                You have not enough rights to access/manipulate this resource:
                  summary: >-
                    You have not enough rights to access/manipulate this
                    resource
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                You do not have the required permission:
                  summary: You do not have the required permission
                  value:
                    code: 007.010.0003
                    error: space.insufficient.permission
                    message: You do not have the required permission
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 007.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 007.000.0002
                    error: internal.server.error
                    message: something went wrong
    delete:
      security:
        - bearerAuth:
            - cosmo:space:delete
        - basicAuth:
            - cosmo:space:delete
        - patAuth:
            - cosmo:space:delete
      summary: Delete avatar for the Cosmo Space
      tags:
        - Cosmo.Space.Avatar
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
                description: >-
                  Name of the organization (only alphanumeric characters,
                  hyphens and dots are allowed; it should contain between 3 and
                  64 characters)
                example: MoovIT-Software-Products-GmbH
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
                description: >-
                  Name of the user's private organization, allowed everything
                  defined in the RFC for the email specification (it should
                  contain between 3 and 255 characters)
                example: hmc@helmut.cloud
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            minLength: 1
            maxLength: 32
            pattern: ^[\w-.]{1,32}$
            description: >-
              Name of the space (only alphanumeric characters, hyphens and dots
              are allowed; it should contain between 1 and 32 characters)
            example: Helmut4
          required: true
          name: spaceName
          in: path
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      responses:
        '204':
          description: No Content
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'spaceName' | Failed to validate 'string' parameter
            'spaceName'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'spaceName':
                  summary: Failed to validate 'path' parameter 'spaceName'
                  description: Failed to validate 'path' parameter 'spaceName' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'spaceName' - {error}
                Failed to validate 'string' parameter 'spaceName':
                  summary: Failed to validate 'string' parameter 'spaceName'
                  description: >-
                    Failed to validate 'string' parameter 'spaceName' - Space
                    name must be provided
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: >-
                      Failed to validate 'string' parameter 'spaceName' - Space
                      name must be provided
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 007.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 007.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 007.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['cosmo:space:delete'] not included in authorization
            | User's organization role is insufficient. Must be at least MEMBER
            | You have not enough rights to access/manipulate this resource |
            You do not have the required permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['cosmo:space:delete'] not included in authorization:
                  summary: >-
                    Required scopes ['cosmo:space:delete'] not included in
                    authorization
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least MEMBER:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    MEMBER
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                You have not enough rights to access/manipulate this resource:
                  summary: >-
                    You have not enough rights to access/manipulate this
                    resource
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                You do not have the required permission:
                  summary: You do not have the required permission
                  value:
                    code: 007.010.0003
                    error: space.insufficient.permission
                    message: You do not have the required permission
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 007.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 007.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/avatar/org/{orgName}/spaces/high5/{spaceName}/pools/{poolName}:
    post:
      security:
        - bearerAuth:
            - high5:space:write
        - basicAuth:
            - high5:space:write
        - patAuth:
            - high5:space:write
      summary: Create a new avatar for the High5 Pool
      tags:
        - High5.Pool.Avatar
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
                description: >-
                  Name of the organization (only alphanumeric characters,
                  hyphens and dots are allowed; it should contain between 3 and
                  64 characters)
                example: MoovIT-Software-Products-GmbH
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
                description: >-
                  Name of the user's private organization, allowed everything
                  defined in the RFC for the email specification (it should
                  contain between 3 and 255 characters)
                example: hmc@helmut.cloud
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            minLength: 1
            maxLength: 32
            pattern: ^[\w-.]{1,32}$
            description: >-
              Name of the space (only alphanumeric characters, hyphens and dots
              are allowed; it should contain between 1 and 32 characters)
            example: Helmut4
          required: true
          name: spaceName
          in: path
        - schema:
            type: string
            minLength: 1
            maxLength: 128
            pattern: ^[\w-.]{1,128}$
            description: >-
              Name of the pool (only alphanumeric characters, underscores,
              hyphens and dots are allowed; it should contain between 1 and 128
              characters)
            example: My-Pool
          required: true
          name: poolName
          in: path
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      responses:
        '201':
          description: Public URL of the created avatar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarDto'
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'spaceName' | Failed to validate 'path' parameter
            'poolName' | Failed to validate 'string' parameter 'spaceName' | An
            error occurred while transferring the file | An error occurred while
            processing the image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'spaceName':
                  summary: Failed to validate 'path' parameter 'spaceName'
                  description: Failed to validate 'path' parameter 'spaceName' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'spaceName' - {error}
                Failed to validate 'path' parameter 'poolName':
                  summary: Failed to validate 'path' parameter 'poolName'
                  description: Failed to validate 'path' parameter 'poolName' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'poolName' - {error}
                Failed to validate 'string' parameter 'spaceName':
                  summary: Failed to validate 'string' parameter 'spaceName'
                  description: >-
                    Failed to validate 'string' parameter 'spaceName' - Space
                    name must be provided
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: >-
                      Failed to validate 'string' parameter 'spaceName' - Space
                      name must be provided
                An error occurred while transferring the file:
                  summary: An error occurred while transferring the file
                  value:
                    code: 007.026.0004
                    error: file.transfer.error
                    message: An error occurred while transferring the file
                An error occurred while processing the image:
                  summary: An error occurred while processing the image
                  value:
                    code: 007.026.0003
                    error: image.processing.error
                    message: An error occurred while processing the image
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 007.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 007.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 007.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['high5:space:write'] not included in authorization
            | User's organization role is insufficient. Must be at least MEMBER
            | You have not enough rights to access/manipulate this resource |
            You do not have the required permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['high5:space:write'] not included in authorization:
                  summary: >-
                    Required scopes ['high5:space:write'] not included in
                    authorization
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least MEMBER:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    MEMBER
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                You have not enough rights to access/manipulate this resource:
                  summary: >-
                    You have not enough rights to access/manipulate this
                    resource
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                You do not have the required permission:
                  summary: You do not have the required permission
                  value:
                    code: 007.010.0003
                    error: space.insufficient.permission
                    message: You do not have the required permission
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 007.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 007.000.0002
                    error: internal.server.error
                    message: something went wrong
    delete:
      security:
        - bearerAuth:
            - high5:space:delete
        - basicAuth:
            - high5:space:delete
        - patAuth:
            - high5:space:delete
      summary: Delete avatar for the High5 Pool
      tags:
        - High5.Pool.Avatar
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
                description: >-
                  Name of the organization (only alphanumeric characters,
                  hyphens and dots are allowed; it should contain between 3 and
                  64 characters)
                example: MoovIT-Software-Products-GmbH
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
                description: >-
                  Name of the user's private organization, allowed everything
                  defined in the RFC for the email specification (it should
                  contain between 3 and 255 characters)
                example: hmc@helmut.cloud
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            minLength: 1
            maxLength: 32
            pattern: ^[\w-.]{1,32}$
            description: >-
              Name of the space (only alphanumeric characters, hyphens and dots
              are allowed; it should contain between 1 and 32 characters)
            example: Helmut4
          required: true
          name: spaceName
          in: path
        - schema:
            type: string
            minLength: 1
            maxLength: 128
            pattern: ^[\w-.]{1,128}$
            description: >-
              Name of the pool (only alphanumeric characters, underscores,
              hyphens and dots are allowed; it should contain between 1 and 128
              characters)
            example: My-Pool
          required: true
          name: poolName
          in: path
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      responses:
        '204':
          description: No Content
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'spaceName' | Failed to validate 'path' parameter
            'poolName' | Failed to validate 'string' parameter 'spaceName'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'spaceName':
                  summary: Failed to validate 'path' parameter 'spaceName'
                  description: Failed to validate 'path' parameter 'spaceName' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'spaceName' - {error}
                Failed to validate 'path' parameter 'poolName':
                  summary: Failed to validate 'path' parameter 'poolName'
                  description: Failed to validate 'path' parameter 'poolName' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'poolName' - {error}
                Failed to validate 'string' parameter 'spaceName':
                  summary: Failed to validate 'string' parameter 'spaceName'
                  description: >-
                    Failed to validate 'string' parameter 'spaceName' - Space
                    name must be provided
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: >-
                      Failed to validate 'string' parameter 'spaceName' - Space
                      name must be provided
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 007.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 007.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 007.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['high5:space:delete'] not included in authorization
            | User's organization role is insufficient. Must be at least MEMBER
            | You have not enough rights to access/manipulate this resource |
            You do not have the required permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['high5:space:delete'] not included in authorization:
                  summary: >-
                    Required scopes ['high5:space:delete'] not included in
                    authorization
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least MEMBER:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    MEMBER
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                You have not enough rights to access/manipulate this resource:
                  summary: >-
                    You have not enough rights to access/manipulate this
                    resource
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                You do not have the required permission:
                  summary: You do not have the required permission
                  value:
                    code: 007.010.0003
                    error: space.insufficient.permission
                    message: You do not have the required permission
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 007.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 007.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/avatar/org/{orgName}/spaces/high5/{spaceName}:
    post:
      security:
        - bearerAuth:
            - high5:space:write
        - basicAuth:
            - high5:space:write
        - patAuth:
            - high5:space:write
      summary: Create a new avatar for the High5 Space
      tags:
        - High5.Space.Avatar
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
                description: >-
                  Name of the organization (only alphanumeric characters,
                  hyphens and dots are allowed; it should contain between 3 and
                  64 characters)
                example: MoovIT-Software-Products-GmbH
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
                description: >-
                  Name of the user's private organization, allowed everything
                  defined in the RFC for the email specification (it should
                  contain between 3 and 255 characters)
                example: hmc@helmut.cloud
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            minLength: 1
            maxLength: 32
            pattern: ^[\w-.]{1,32}$
            description: >-
              Name of the space (only alphanumeric characters, hyphens and dots
              are allowed; it should contain between 1 and 32 characters)
            example: Helmut4
          required: true
          name: spaceName
          in: path
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      responses:
        '201':
          description: Public URL of the created avatar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarDto'
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'spaceName' | Failed to validate 'string' parameter
            'spaceName' | An error occurred while transferring the file | An
            error occurred while processing the image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'spaceName':
                  summary: Failed to validate 'path' parameter 'spaceName'
                  description: Failed to validate 'path' parameter 'spaceName' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'spaceName' - {error}
                Failed to validate 'string' parameter 'spaceName':
                  summary: Failed to validate 'string' parameter 'spaceName'
                  description: >-
                    Failed to validate 'string' parameter 'spaceName' - Space
                    name must be provided
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: >-
                      Failed to validate 'string' parameter 'spaceName' - Space
                      name must be provided
                An error occurred while transferring the file:
                  summary: An error occurred while transferring the file
                  value:
                    code: 007.026.0004
                    error: file.transfer.error
                    message: An error occurred while transferring the file
                An error occurred while processing the image:
                  summary: An error occurred while processing the image
                  value:
                    code: 007.026.0003
                    error: image.processing.error
                    message: An error occurred while processing the image
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 007.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 007.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 007.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['high5:space:write'] not included in authorization
            | User's organization role is insufficient. Must be at least MEMBER
            | You have not enough rights to access/manipulate this resource |
            You do not have the required permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['high5:space:write'] not included in authorization:
                  summary: >-
                    Required scopes ['high5:space:write'] not included in
                    authorization
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least MEMBER:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    MEMBER
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                You have not enough rights to access/manipulate this resource:
                  summary: >-
                    You have not enough rights to access/manipulate this
                    resource
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                You do not have the required permission:
                  summary: You do not have the required permission
                  value:
                    code: 007.010.0003
                    error: space.insufficient.permission
                    message: You do not have the required permission
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 007.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 007.000.0002
                    error: internal.server.error
                    message: something went wrong
    delete:
      security:
        - bearerAuth:
            - high5:space:delete
        - basicAuth:
            - high5:space:delete
        - patAuth:
            - high5:space:delete
      summary: Delete avatar for the High5 Space
      tags:
        - High5.Space.Avatar
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
                description: >-
                  Name of the organization (only alphanumeric characters,
                  hyphens and dots are allowed; it should contain between 3 and
                  64 characters)
                example: MoovIT-Software-Products-GmbH
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
                description: >-
                  Name of the user's private organization, allowed everything
                  defined in the RFC for the email specification (it should
                  contain between 3 and 255 characters)
                example: hmc@helmut.cloud
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            minLength: 1
            maxLength: 32
            pattern: ^[\w-.]{1,32}$
            description: >-
              Name of the space (only alphanumeric characters, hyphens and dots
              are allowed; it should contain between 1 and 32 characters)
            example: Helmut4
          required: true
          name: spaceName
          in: path
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      responses:
        '204':
          description: No Content
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'spaceName' | Failed to validate 'string' parameter
            'spaceName'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'spaceName':
                  summary: Failed to validate 'path' parameter 'spaceName'
                  description: Failed to validate 'path' parameter 'spaceName' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'spaceName' - {error}
                Failed to validate 'string' parameter 'spaceName':
                  summary: Failed to validate 'string' parameter 'spaceName'
                  description: >-
                    Failed to validate 'string' parameter 'spaceName' - Space
                    name must be provided
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: >-
                      Failed to validate 'string' parameter 'spaceName' - Space
                      name must be provided
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 007.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 007.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 007.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['high5:space:delete'] not included in authorization
            | User's organization role is insufficient. Must be at least MEMBER
            | You have not enough rights to access/manipulate this resource |
            You do not have the required permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['high5:space:delete'] not included in authorization:
                  summary: >-
                    Required scopes ['high5:space:delete'] not included in
                    authorization
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least MEMBER:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    MEMBER
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                You have not enough rights to access/manipulate this resource:
                  summary: >-
                    You have not enough rights to access/manipulate this
                    resource
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                You do not have the required permission:
                  summary: You do not have the required permission
                  value:
                    code: 007.010.0003
                    error: space.insufficient.permission
                    message: You do not have the required permission
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 007.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 007.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/avatar/org/{orgName}:
    post:
      security:
        - bearerAuth:
            - idp:organization:write
        - basicAuth:
            - idp:organization:write
        - patAuth:
            - idp:organization:write
      summary: Create a new Avatar for organization
      tags:
        - Organization.Avatar
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
                description: >-
                  Name of the organization (only alphanumeric characters,
                  hyphens and dots are allowed; it should contain between 3 and
                  64 characters)
                example: MoovIT-Software-Products-GmbH
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
                description: >-
                  Name of the user's private organization, allowed everything
                  defined in the RFC for the email specification (it should
                  contain between 3 and 255 characters)
                example: hmc@helmut.cloud
          required: true
          name: orgName
          in: path
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      responses:
        '201':
          description: Public URL of the created avatar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarDto'
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | An error occurred
            while transferring the file | An error occurred while processing the
            image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                An error occurred while transferring the file:
                  summary: An error occurred while transferring the file
                  value:
                    code: 007.026.0004
                    error: file.transfer.error
                    message: An error occurred while transferring the file
                An error occurred while processing the image:
                  summary: An error occurred while processing the image
                  value:
                    code: 007.026.0003
                    error: image.processing.error
                    message: An error occurred while processing the image
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 007.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 007.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 007.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['idp:organization:write'] not included in
            authorization | User's organization role is insufficient. Must be at
            least ADMIN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['idp:organization:write'] not included in authorization:
                  summary: >-
                    Required scopes ['idp:organization:write'] not included in
                    authorization
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least ADMIN:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    ADMIN
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 007.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 007.000.0002
                    error: internal.server.error
                    message: something went wrong
    delete:
      security:
        - bearerAuth:
            - idp:organization:delete
        - basicAuth:
            - idp:organization:delete
        - patAuth:
            - idp:organization:delete
      summary: Delete an Avatar for organization
      tags:
        - Organization.Avatar
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
                description: >-
                  Name of the organization (only alphanumeric characters,
                  hyphens and dots are allowed; it should contain between 3 and
                  64 characters)
                example: MoovIT-Software-Products-GmbH
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
                description: >-
                  Name of the user's private organization, allowed everything
                  defined in the RFC for the email specification (it should
                  contain between 3 and 255 characters)
                example: hmc@helmut.cloud
          required: true
          name: orgName
          in: path
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      responses:
        '204':
          description: No Content
        '400':
          description: Failed to validate 'path' parameter 'orgName'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 007.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 007.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 007.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['idp:organization:delete'] not included in
            authorization | User's organization role is insufficient. Must be at
            least ADMIN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['idp:organization:delete'] not included in authorization:
                  summary: >-
                    Required scopes ['idp:organization:delete'] not included in
                    authorization
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least ADMIN:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    ADMIN
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 007.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 007.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/avatar/org/{orgName}/service-accounts/{userId}:
    post:
      security:
        - bearerAuth:
            - idp:organization:write
        - basicAuth:
            - idp:organization:write
        - patAuth:
            - idp:organization:write
      summary: Create a new avatar for the service account
      tags:
        - ServiceAccount.Avatar
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
                description: >-
                  Name of the organization (only alphanumeric characters,
                  hyphens and dots are allowed; it should contain between 3 and
                  64 characters)
                example: MoovIT-Software-Products-GmbH
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
                description: >-
                  Name of the user's private organization, allowed everything
                  defined in the RFC for the email specification (it should
                  contain between 3 and 255 characters)
                example: hmc@helmut.cloud
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            minLength: 24
            maxLength: 24
            format: hexadecimal
            description: >-
              ID of the service account (ObjectId identifier, consists of 24
              hexadecimal digits)
          required: true
          name: userId
          in: path
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      responses:
        '201':
          description: Public URL of the created avatar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarDto'
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'userId' | An error occurred while transferring the
            file | An error occurred while processing the image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'userId':
                  summary: Failed to validate 'path' parameter 'userId'
                  description: Failed to validate 'path' parameter 'userId' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'userId' - {error}
                An error occurred while transferring the file:
                  summary: An error occurred while transferring the file
                  value:
                    code: 007.026.0004
                    error: file.transfer.error
                    message: An error occurred while transferring the file
                An error occurred while processing the image:
                  summary: An error occurred while processing the image
                  value:
                    code: 007.026.0003
                    error: image.processing.error
                    message: An error occurred while processing the image
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 007.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 007.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 007.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['idp:organization:write'] not included in
            authorization | User's organization role is insufficient. Must be at
            least MEMBER
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['idp:organization:write'] not included in authorization:
                  summary: >-
                    Required scopes ['idp:organization:write'] not included in
                    authorization
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least MEMBER:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    MEMBER
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 007.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 007.000.0002
                    error: internal.server.error
                    message: something went wrong
    delete:
      security:
        - bearerAuth:
            - idp:organization:delete
        - basicAuth:
            - idp:organization:delete
        - patAuth:
            - idp:organization:delete
      summary: Delete avatar for the service account
      tags:
        - ServiceAccount.Avatar
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
                description: >-
                  Name of the organization (only alphanumeric characters,
                  hyphens and dots are allowed; it should contain between 3 and
                  64 characters)
                example: MoovIT-Software-Products-GmbH
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
                description: >-
                  Name of the user's private organization, allowed everything
                  defined in the RFC for the email specification (it should
                  contain between 3 and 255 characters)
                example: hmc@helmut.cloud
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            minLength: 24
            maxLength: 24
            format: hexadecimal
            description: >-
              ID of the service account (ObjectId identifier, consists of 24
              hexadecimal digits)
          required: true
          name: userId
          in: path
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      responses:
        '204':
          description: No Content
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'userId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'userId':
                  summary: Failed to validate 'path' parameter 'userId'
                  description: Failed to validate 'path' parameter 'userId' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'userId' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 007.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 007.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 007.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['idp:organization:delete'] not included in
            authorization | User's organization role is insufficient. Must be at
            least MEMBER
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['idp:organization:delete'] not included in authorization:
                  summary: >-
                    Required scopes ['idp:organization:delete'] not included in
                    authorization
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least MEMBER:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    MEMBER
                  value:
                    code: 007.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 007.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 007.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/avatar/org/{orgName}/teams/{teamName}:
    post:
      security:
        - bearerAuth:
            - idp:organization:write
        - basicAuth:
            - idp:organization:write
        - patAuth:
            - idp:organization:write
      summary: Create a new avatar for the team
      tags:
        - Team.Avatar
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
                description: >-
                  Name of the organization (only alphanumeric characters,
                  hyphens and dots are allowed; it should contain between 3 and
                  64 characters)
                example: MoovIT-Software-Products-GmbH
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
                description: >-
                  Name of the user's private organization, allowed everything
                  defined in the RFC for the email specification (it should
                  contain between 3 and 255 characters)
                example: hmc@helmut.cloud
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            minLength: 3
            maxLength: 64
            pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
            description: >-
              Name of the team (only alphanumeric characters, hyphens and dots
              are allowed; it should contain between 3 and 64 characters)
            example: Research-and-development-department.1
          required: true
          name: teamName
          in: path
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      responses:
        '201':
          description: Public URL of the created avatar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarDto'
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'teamName' | An error occurred while transferring
            the file | An error occurred while processing the image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'teamName':
                  summary: Failed to validate 'path' parameter 'teamName'
                  description: Failed to validate 'path' parameter 'teamName' - {error}
                  value:
                    code: 007.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'teamName' - {error}
                An error occurred while transferring the file:
                  summary: An error occurred while transferring the file
                  value:
                    code: 007.026.0004
                    error: file.transfer.error
                    message: An error occurred while transferring the file
                An error occurred while processing the image:
                  summary: An error occurred while processing the image
                  value:
                    code: 007.026.0003
                    error: image.processing.error
                    message: An error occurred while processing the image
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 007.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 007.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
[...]
