openapi: 3.0.0
info:
  title: hcloud - Fuse
  version: 0.0.4-930
  contact:
    name: MoovIT Software Products GmbH
    url: https://www.moovit-sp.com
    email: info@moovit-sp.com
  description: Fuse handles everything around cronjobs.
servers:
  - url: https://eu-central-1.helmut.cloud/api/fuse
    description: EU-Central production server
  - url: https://na-west-1.helmut.cloud/api/fuse
    description: NA-West production server
  - url: https://eu-dev-1.app.helmut.cloud/api/fuse
    description: EU development server
  - url: http://localhost/api/fuse
    description: Localhost
paths:
  /v1/org/{orgName}/spaces/{spaceName}/jobs/{cronjobId}:
    get:
      tags:
        - Cronjob
      summary: Retrieve a cronjob by its ID
      description: |-

        Required organization role: MEMBER\
        Required space permission: READ\
        Required scopes: FUSE_SPACE_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/CronjobID'
        - $ref: '#/components/parameters/NextExecution'
      responses:
        '200':
          description: Cronjob object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CronjobDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Cronjob id is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least READ:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Cronjob not found:
                  $ref: '#/components/examples/CronjobNotFoundException'
        default:
          description: Unexpected error
    put:
      tags:
        - Cronjob
      summary: Updates a cronjob
      description: |-

        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: FUSE_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/CronjobID'
        - $ref: '#/components/parameters/NextExecution'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CronjobCreateDto'
      responses:
        '200':
          description: Updated cronjob object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CronjobDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                CronjobInvalidExpressionException:
                  $ref: '#/components/examples/CronjobInvalidExpressionException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Cronjob id is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Cronjob not found:
                  $ref: '#/components/examples/CronjobNotFoundException'
        default:
          description: Unexpected error
    delete:
      tags:
        - Cronjob
      summary: Deletes a cronjob
      description: |-

        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: FUSE_SPACE_DELETE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/CronjobID'
      responses:
        '204':
          description: No content
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Cronjob id is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Cronjob not found:
                  $ref: '#/components/examples/CronjobNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/jobs/search:
    post:
      tags:
        - Cronjob
      summary: >-
        Retrieves all cronjobs that match the provided search filter. Will
        return all cronjobs of the specified space if no search filter is
        provided.
      description: |-

        Required organization role: MEMBER\
        Required space permission: READ\
        Required scopes: FUSE_SPACE_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/PageParameter'
        - $ref: '#/components/parameters/NextExecution'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
      responses:
        '200':
          description: List of filtered Cronjobs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpaceDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid body:
                  $ref: '#/components/examples/InvalidBodyException'
                  summary: Invalid body
                Invalid filter:
                  $ref: '#/components/examples/InvalidFilterException'
                  summary: Invalid search filter
                Invalid pagination parameters (limit/page):
                  $ref: '#/components/examples/InvalidParameterException'
                  summary: Invalid limit or page
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least READ:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/jobs:
    post:
      tags:
        - Cronjob
      summary: Creates a new cronjob
      description: |-

        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: FUSE_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/NextExecution'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CronjobCreateDto'
        required: true
      responses:
        '201':
          description: Cronjob object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CronjobDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                CronjobInvalidExpressionException:
                  $ref: '#/components/examples/CronjobInvalidExpressionException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/jobs/{cronjobId}/expression:
    patch:
      tags:
        - Cronjob
      summary: Updates the quartz cron expression of the cronjob
      description: |-

        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: FUSE_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/CronjobID'
        - $ref: '#/components/parameters/NextExecution'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CronjobExpressionPatchDto'
        required: true
      responses:
        '200':
          description: Updated cronjob object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CronjobDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                CronjobInvalidExpressionException:
                  $ref: '#/components/examples/CronjobInvalidExpressionException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Cronjob id is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Cronjob not found:
                  $ref: '#/components/examples/CronjobNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/jobs/{cronjobId}/enabled:
    patch:
      tags:
        - Cronjob
      summary: Sets the cronjob's enabled flag
      description: |-

        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: FUSE_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/CronjobID'
        - $ref: '#/components/parameters/NextExecution'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CronjobEnabledPatchDto'
        required: true
      responses:
        '200':
          description: Updated cronjob object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CronjobDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Cronjob id is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Cronjob not found:
                  $ref: '#/components/examples/CronjobNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/jobs/{cronjobId}/next:
    get:
      tags:
        - Cronjob
      summary: >-
        Retrieves the timestamps (in milliseconds, UTC+0) of the next n cronjob
        executions.
      description: |-

        Required organization role: MEMBER\
        Required space permission: READ\
        Required scopes: FUSE_SPACE_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/CronjobID'
        - name: amount
          in: query
          description: >-
            Amount of execution-timestamps that should be returned, min: 1, max:
            10, default: 3
          required: false
          schema:
            type: number
            default: 3
      responses:
        '200':
          description: >-
            Array holding the timestamps (in milliseconds, UTC+0) for the next n
            executions of the cronjob
          content:
            application/json:
              schema:
                type: array
                items:
                  type: number
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Cronjob id is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least READ:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Cronjob not found:
                  $ref: '#/components/examples/CronjobNotFoundException'
        default:
          description: Unexpected error
  /v1/cron/resolve:
    post:
      tags:
        - Cronjob
      summary: >-
        Resolve a Quartz cron expression along with a timezone to get the next
        execution(s)
      security:
        - BearerAuth: []
        - BasicAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CronPatternDto'
        required: true
      responses:
        '200':
          description: >-
            Array holding the timestamps (in milliseconds, in UTC) for the next
            amount executions for given Quartz expression
          content:
            application/json:
              schema:
                type: array
                items:
                  type: number
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                CronjobInvalidExpressionException:
                  $ref: '#/components/examples/CronjobInvalidExpressionException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/jobs/{cronjobId}/logs/search:
    post:
      tags:
        - CronjobLog
      summary: Search cronjob logs for one cronjob
      description: |-

        Required organization role: MEMBER\
        Required space permission: READ\
        Required scopes: FUSE_SPACE_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/CronjobID'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/PageParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
      responses:
        '200':
          description: List of cronjob logs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CronjobLogDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Cronjob id is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid body:
                  $ref: '#/components/examples/InvalidBodyException'
                  summary: Invalid body
                Invalid filter:
                  $ref: '#/components/examples/InvalidFilterException'
                  summary: Invalid search filter
                Invalid pagination parameters (limit/page):
                  $ref: '#/components/examples/InvalidParameterException'
                  summary: Invalid limit or page
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least READ:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Cronjob not found:
                  $ref: '#/components/examples/CronjobNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/jobs/{cronjobId}/logs/{cronjobLogId}:
    get:
      tags:
        - CronjobLog
      summary: Retrieves a cronjob log by its ID
      description: |-

        Required organization role: MEMBER\
        Required space permission: READ\
        Required scopes: FUSE_SPACE_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/CronjobID'
        - $ref: '#/components/parameters/CronjobLogID'
      responses:
        '200':
          description: Cronjob log object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CronjobLogDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Cronjob id is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least READ:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                CronjobLogNotFoundException:
                  $ref: '#/components/examples/CronjobLogNotFoundException'
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Cronjob not found:
                  $ref: '#/components/examples/CronjobNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}:
    get:
      tags:
        - Space
      summary: Retrieves a Space by its name
      description: |-

        Required organization role: MEMBER\
        Required space permission: READ\
        Required scopes: FUSE_SPACE_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
      responses:
        '200':
          description: Space object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least READ:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
    delete:
      tags:
        - Space
      summary: >-
        Deletes a Space by its name along with all related cronjobs and cronjob
        logs.
      description: |-

        Required organization role: MEMBER\
        Required space permission: OWNER\
        Required scopes: FUSE_SPACE_DELETE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
      responses:
        '204':
          description: No content
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least OWNER:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/search:
    post:
      tags:
        - Space
      summary: >-
        Retrieves all spaces of an organization that match the provided search
        filter. Will return all spaces if no search filter is provided.
      description: |-

        Required organization role: MEMBER\
        Required scopes: FUSE_SPACE_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/PageParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
      responses:
        '200':
          description: List of filtered Spaces
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpaceDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid body:
                  $ref: '#/components/examples/InvalidBodyException'
                  summary: Invalid body
                Invalid filter:
                  $ref: '#/components/examples/InvalidFilterException'
                  summary: Invalid search filter
                Invalid pagination parameters (limit/page):
                  $ref: '#/components/examples/InvalidParameterException'
                  summary: Invalid limit or page
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces:
    post:
      tags:
        - Space
      summary: Creates a new Space in the given Organization
      description: |-

        Required organization role: ADMIN\
        Required scopes: FUSE_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpaceCreateDto'
        required: true
      responses:
        '201':
          description: Space object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                SpaceNameInUseException:
                  $ref: '#/components/examples/SpaceNameInUseException'
                InvalidBodyException:
                  $ref: '#/components/examples/InvalidBodyException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                License quota exceeded:
                  $ref: '#/components/examples/LicenseQuotaExceededException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/name:
    patch:
      tags:
        - Space
      summary: Renames a Space
      description: |-

        Required organization role: ADMIN\
        Required space permission: MANAGE\
        Required scopes: FUSE_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpacePatchDto'
        required: true
      responses:
        '200':
          description: Updated Space
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                SpaceNameInUseException:
                  $ref: '#/components/examples/SpaceNameInUseException'
                InvalidBodyException:
                  $ref: '#/components/examples/InvalidBodyException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/permissions/search:
    post:
      tags:
        - Space.Permissions
      summary: >-
        For the specified space, will retrieve all space permissions that match
        the provided search filter or all space permissions if no search filter
        is provided.
      description: |-

        Required organization role: MEMBER\
        Required space permission: MANAGE\
        Required scopes: FUSE_SPACE_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/PageParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
      responses:
        '200':
          description: List of filtered Spaces permissions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpaceEntityPermissionDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid body:
                  $ref: '#/components/examples/InvalidBodyException'
                  summary: Invalid body
                Invalid filter:
                  $ref: '#/components/examples/InvalidFilterException'
                  summary: Invalid search filter
                Invalid pagination parameters (limit/page):
                  $ref: '#/components/examples/InvalidParameterException'
                  summary: Invalid limit or page
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least MANAGE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/permissions/user:
    put:
      tags:
        - Space.Permissions
      summary: Add, update, delete a users space's permission
      description: |-

        Required organization role: MEMBER\
        Required space permission: MANAGE\
        Required scopes: FUSE_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpaceUserPermissionDto'
        required: true
      responses:
        '200':
          description: Updated space entity permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceEntityPermissionDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least MANAGE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationMemberNotFoundException:
                  $ref: '#/components/examples/OrganizationMemberNotFoundException'
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/permissions/team:
    put:
      tags:
        - Space.Permissions
      summary: Add, update, delete a team's spaces permission
      description: |-

        Required organization role: MEMBER\
        Required space permission: MANAGE\
        Required scopes: FUSE_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpaceTeamPermissionDto'
        required: true
      responses:
        '200':
          description: Updated space entity permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceEntityPermissionDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                SpaceInvalidOwnerException:
                  $ref: '#/components/examples/SpaceInvalidOwnerException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least MANAGE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                TeamNotFoundException:
                  $ref: '#/components/examples/TeamNotFoundException'
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
components:
  securitySchemes:
    BearerAuth:
      type: http
      bearerFormat: JWT
      scheme: bearer
    BasicAuth:
      type: http
      scheme: basic
  schemas:
    AvatarDto:
      properties:
        url:
          type: string
          description: URL to the avatar
      required:
        - url
      example:
        url: https://pub-1e0d69034e2942f79ef26dae05343340.r2.dev/image.webp
    CronPatternDto:
      properties:
        expression:
          type: string
          description: Quartz cron expression
        timezone:
          type: string
          description: Timezone of the Quartz expression in IANA format, e.g. Europe/Berlin
        amount:
          type: number
          description: Amount of returned execution-dates
      required:
        - expression
        - timezone
        - amount
      example:
        expression: 0 0 12 ? JUL,AUG 2 2024
        timezone: Europe/London
        amount: 5
    CronjobCreateDto:
      properties:
        name:
          type: string
          description: Name for the cronjob
        expression:
          type: string
          description: Quartz cron expression
        targetUrl:
          type: string
          description: Target URL. The Cronjob will execute HTTP calls to this URL
        httpMethod:
          $ref: '#/components/schemas/HttpMethodEnum'
          description: HTTP method, e.g. GET, POST, PUT, DELETE
        acceptInvalidSSL:
          type: boolean
        timezone:
          type: string
          description: Timezone of the Quartz expression in IANA format, e.g. Europe/Berlin
        description:
          type: string
          description: Description of the cronjob
        headers:
          type: array
          items:
            $ref: '#/components/schemas/Header'
          description: Headers for the HTTP request as key value pairs
        body:
          type: string
          description: Body for the HTTP request, limited to 1024kb
        enabled:
          type: boolean
          description: Whether the cronjob is enabled
        lastStatus:
          type: number
          description: HTTP status code of the cronjob last execution result
        lastTriggered:
          type: number
          description: Last triggered date of the cronjob as unix timestamp
        hmacSettings:
          $ref: '#/components/schemas/HmacSettingsIncomingDto'
          description: HMAC settings of the new cronjob
      required:
        - name
        - expression
        - targetUrl
        - httpMethod
        - timezone
        - enabled
      example:
        name: My cronjob
        expression: 0 0 12 ? * * *
        targetUrl: http://www.gitlab.com
        httpMethod: POST
        acceptInvalidSSL: false
        timezone: Europe/London
        enabled: false
    CronjobDto:
      properties:
        _id:
          type: string
          description: ID of the cronjob
        name:
          type: string
          description: Name of the cronjob
        expression:
          type: string
          description: Quartz cron expression
        organization:
          $ref: '#/components/schemas/ReducedOrganization'
          description: Organization the cronjob belongs to
        creator:
          $ref: '#/components/schemas/ReducedUser'
          description: Creator of the cronjob
        space:
          $ref: '#/components/schemas/ReducedSpace'
          description: Space the cronjob belongs to
        targetUrl:
          type: string
          description: Target URL. The Cronjob will execute HTTP calls to this URL
        httpMethod:
          $ref: '#/components/schemas/HttpMethodEnum'
          description: >-
            HTTP method for the requests made by the cronjob, e.g. GET, POST,
            PUT, DELETE
        acceptInvalidSSL:
          type: boolean
          description: Whether to accept invalid SSL certificates
        timezone:
          type: string
          description: Timezone of the Quartz expression in IANA format, e.g. Europe/Berlin
        description:
          type: string
          description: Description of the cronjob
        headers:
          type: array
          items:
            $ref: '#/components/schemas/Header'
          description: >-
            Headers (as key value pairs) for the HTTP requests that will be
            triggered by the cronjob
        body:
          type: string
          description: Body for the HTTP request
        enabled:
          type: boolean
          description: Switch for turning the cronjob on/off
        createDate:
          type: number
          description: Create date of the cronjob as unix timestamp
        modifyDate:
          type: number
          description: Date of last modification of the cronjob as unix timestamp
        nextExecution:
          type: array
          items:
            type: number
          description: Dates of next executions of the cronjob as unix timestamp
        lastStatus:
          type: number
          description: HTTP status code of the cronjob last execution result
        lastTriggered:
          type: number
          description: Last triggered date of the cronjob as unix timestamp
        hmacSettings:
          $ref: '#/components/schemas/HmacSettingsDto'
          description: HMAC settings for this cronjob
      required:
        - _id
        - name
        - expression
        - organization
        - space
        - targetUrl
        - httpMethod
        - acceptInvalidSSL
        - timezone
        - createDate
        - modifyDate
      example:
        _id: 63d7d7408f32c094b42c8130
        name: My cronjob
        expression: 0 0 12 ? * * *
        organization:
          _id: 6436bb9988821e8f6400c2f8
          name: DEV-software
          avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
        creator:
          _id: 64180bfafe4fbcd791493ef4
          name: Account MSP
          avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
        space:
          _id: 63ecb429ee5ede1101f25d33
          name: SpaceName
          avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
        targetUrl: http://www.gitlab.com
        httpMethod: POST
        acceptInvalidSSL: false
        timezone: Europe/London
        headers: []
        createDate: 1676457001
        modifyDate: 1676457001
    CronjobEnabledPatchDto:
      properties:
        enabled:
          type: boolean
          description: Boolean flag
      required:
        - enabled
      example:
        enabled: true
    CronjobExpressionPatchDto:
      properties:
        expression:
          type: string
          description: Quartz cron expression
      required:
        - expression
      example:
        expression: 0 0 12 ? * * *
    CronjobLogDto:
      properties:
        _id:
          type: string
          description: ID of the cronjobLog
        cronjob:
          $ref: '#/components/schemas/ReducedCronjob'
          description: Cronjob the log belongs to
        statusCode:
          type: number
          description: Statuscode of the cronjob request result
        organization:
          $ref: '#/components/schemas/ReducedOrganization'
          description: Organization the cronjob belongs to
        creator:
          $ref: '#/components/schemas/ReducedUser'
          description: Creator of the cronjob
        space:
          $ref: '#/components/schemas/ReducedSpace'
          description: Fuse space the cronjob belongs to
        headers:
          type: array
          items:
            $ref: '#/components/schemas/Header'
          description: Optional headers - improve description here
        body:
          type: string
          description: Optional body  - improve description here
        createDate:
          type: number
          description: Create date of the cronjob as unix timestamp
      required:
        - _id
        - cronjob
        - statusCode
        - organization
        - creator
        - space
        - createDate
      example:
        _id: 63d7d7408f32c094b42c8130
        cronjob:
          _id: 63d7d7408f32c094b42c8130
          name: My cronjob
        statusCode: 200
        organization:
          _id: 6436bb9988821e8f6400c2f8
          name: DEV-software
          avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
        creator:
          _id: 64180bfafe4fbcd791493ef4
          name: Account MSP
          avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
        space:
          _id: 63ecb429ee5ede1101f25d33
          name: SpaceName
          avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
        headers:
          - key: Authorization
            value: some token
        body: '{ request: ''body'' }'
        createDate: 1676457001
    CustomError:
      properties:
        code:
          type: string
          description: >-
            "A helmut cloud custom error code following this schema: [Custom
            Error
            Codes](https://development-guideline.pages.moovit-sp.com/en/hcloud/customErrorCodes.html)"
        error:
          type: string
          description: 'Name of the error in the following format: name.of.error'
        message:
          type: string
          description: Error description
      required:
        - code
        - error
        - message
      example: null
    HmacHashingAlgo:
      enum:
        - SHA-1
        - SHA-256
      type: string
      description: |
        * SHA-1 - SHA1 hashing algorithm
        * SHA-256 - SHA256 hashing algorithm
    HmacSettingsDto:
      properties:
        headerName:
          type: string
          description: Name of the header containing the HMAC
        algorithm:
          $ref: '#/components/schemas/HmacHashingAlgo'
          description: Hashing algorithm used in the HMAC
        secret:
          type: string
          description: Base64 encoded secret used in the HMAC
      required:
        - headerName
        - algorithm
        - secret
      example:
        headerName: X-HMAC-hcloud
        algorithm: SHA-256
        secret: CiXbc2Vao5Bova7onoOpBeyVopvwcsunsfor+HzSSLs=
    HmacSettingsIncomingDto:
      properties:
        headerName:
          type: string
          description: Name of the header used in the request sent out by the cronjob
        secret:
          type: string
          description: Base64 encoded secret used in the HMAC
        algorithm:
          $ref: '#/components/schemas/HmacHashingAlgo'
          description: Hashing algorithm used in the HMAC
      required:
        - headerName
        - algorithm
      example:
        headerName: X-HMAC-hcloud
        algorithm: SHA-256
    HttpMethodEnum:
      enum:
        - GET
        - POST
        - PUT
        - PATCH
        - DELETE
      type: string
      description: ''
    Search:
      properties:
        filters:
          type: array
          items:
            $ref: '#/components/schemas/SearchFilter'
          description: A list of filters
        sorting:
          $ref: '#/components/schemas/Sorting'
          description: The sorting definition
      example:
        filters:
          - type: DATE
            key: modifyDate
            comparator: less than
            value: 1681912446650
        sorting:
          direction: DESC
          fields:
            - name
            - company
    SearchFilterComparatorBoolean:
      enum:
        - is
        - is not
      type: string
      description: |
        * is - Boolean equals the specified boolean value
        * is not - Boolean does not equal the specified boolean value
    SearchFilterComparatorDate:
      enum:
        - is
        - is not
        - greater than
        - less than
        - greater than or equal
        - less than or equal
      type: string
      description: >
        * is - Date equals the specified date value

        * is not - Date does not equal the specified date value

        * greater than - Date is more recent than the specified date value

        * less than - Date is older than the specified date value

        * greater than or equal - Date is more recent or equal to the specified
        date value

        * less than or equal - Date is older than or equal to the specified date
        value
    SearchFilterComparatorNumber:
      enum:
        - is
        - is not
        - greater than
        - less than
        - greater than or equal
        - less than or equal
      type: string
      description: >
        * is - Number equals the specified numeric value

        * is not - Number does not equal the specified numeric value

        * greater than - Number is greater than the specified numeric value

        * less than - Number is less than the specified numeric value

        * greater than or equal - Number is greater than or equal to the
        specified numeric value

        * less than or equal - Number is less than or equal to the specified
        numeric value
    SearchFilterComparatorString:
      enum:
        - is
        - is not
        - starts with
        - ends with
        - contains
      type: string
      description: |
        * is - String equals the specified string value
        * is not - String does not equal the specified string value
        * starts with - String starts with the specified string value
        * ends with - String ends with the specified string value
        * contains - String contains the specified string value
    SearchFilterType:
      enum:
        - STRING
        - SELECT
        - MULTISELECT
        - TYPEAHEAD
        - NUMBER
        - DATE
        - BOOLEAN
      type: string
      description: |
        * STRING - Filter by a string value
        * SELECT - Filter by a value from a set of possible choices
        * MULTISELECT - Filter by multiple values from a set of possible choices
        * TYPEAHEAD - Filter by ???
        * NUMBER - Filter by a numeric value
        * DATE - Filter by a Date value
        * BOOLEAN - Filter by a boolean flag
    SortDirection:
      enum:
        - ASC
        - DESC
      type: string
      description: |
        * ASC - Ascending order
        * DESC - Descending order
    Sorting:
      properties:
        direction:
          $ref: '#/components/schemas/SortDirection'
        fields:
          type: array
          items:
            type: string
          description: The fields to consider when performing the sorting of the result.
      example:
        direction: DESC
        fields:
          - name
          - company
    SpaceCreateDto:
      properties:
        name:
          type: string
          description: Name of the space
      required:
        - name
      example:
        name: SpaceName
    SpaceDto:
      properties:
        _id:
          type: string
          description: ID of the space
        name:
          type: string
          description: Name of the space
        avatarUrl:
          type: string
          description: URL for the avatar of the space
        organization:
          $ref: '#/components/schemas/ReducedOrganization'
          description: Organization the space belongs to
        creator:
          $ref: '#/components/schemas/ReducedUser'
          description: Creator of the space
        highestPermissionOfUser:
          $ref: '#/components/schemas/SpacePermission'
          description: >-
            Highest permission the requesting user has in this space, be it his
            own or the permission of a team he is part of
        createDate:
          type: number
          description: Create date of the space as unix timestamp
        modifyDate:
          type: number
          description: Date of the last modification of the space as unix timestamp
      required:
        - _id
        - name
        - avatarUrl
        - organization
        - createDate
        - modifyDate
      example:
        _id: 63ecb429ee5ede1101f25d33
        name: SpaceName
        avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
        organization:
          _id: 6436bb9988821e8f6400c2f8
          name: DEV-software
          avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
        creator:
          _id: 64180bfafe4fbcd791493ef4
          name: Account MSP
          avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
        highestPermissionOfUser: OWNER
        createDate: 1676457001
        modifyDate: 1676457001
    SpaceEntity:
      enum:
        - team
        - user
      type: string
      description: |
        * team - This space entity is a team
        * user - This space entity is a user
    SpaceEntityPermissionDto:
      properties:
        organization:
          $ref: '#/components/schemas/ReducedOrganization'
          description: The organization the space belongs to
        space:
          $ref: '#/components/schemas/ReducedSpace'
          description: Space the design belongs to
        entityId:
          type: string
          description: ID of the entity (user or team)
        entityName:
          type: string
          description: Name of the entity
        type:
          $ref: '#/components/schemas/SpaceEntity'
          description: Type of the entity
        permission:
          $ref: '#/components/schemas/SpacePermission'
          description: Permission the entity has within the space
        avatarUrl:
          type: string
          description: URL of the entity's avatar
        serviceAccount:
          type: boolean
          description: Is service account
      required:
        - organization
        - space
        - entityId
        - entityName
        - type
        - permission
        - avatarUrl
      example:
        organization:
          _id: 6436bb9988821e8f6400c2f8
          name: DEV-software
          avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
        space:
          _id: 63ecb429ee5ede1101f25d33
          name: SpaceName
          avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
        entityId: 63c7e64ff912d31ffa27a5b4
        entityName: Account MSP
        type: user
        permission: OWNER
        avatarUrl: https://dali.s3.helmut.cloud/no_avatar.webp
        serviceAccount: false
    SpacePatchDto:
      properties:
        newSpaceName:
          type: string
          description: New name for the space
      required:
        - newSpaceName
      example:
        newSpaceName: new_space_name
    SpacePermission:
      enum:
        - NONE
        - READ
        - WRITE
        - MANAGE
        - OWNER
      type: string
      description: >
        * NONE - Used to remove all permissions from a user.

        * READ - Permission to read space information

        * WRITE - Permission to read and write space information and execute

        * MANAGE - Permission to read and write space information, execute and
        manage user permissions

        * OWNER - Permission to read and write space information, execute,
        manage user permissions and delete the space
    SpaceTeamPermissionDto:
      properties:
        teamName:
          type: string
          description: Name of the team
        permission:
          $ref: '#/components/schemas/SpacePermission'
          description: Permission the team shall have in the space
      required:
        - teamName
        - permission
      example:
        teamName: a cool team name
        permission: MANAGE
    SpaceUserPermissionDto:
      properties:
        userId:
          type: string
          description: ID of the user
        permission:
          $ref: '#/components/schemas/SpacePermission'
          description: Permission the user shall have in the space
      required:
        - userId
        - permission
      example:
        userId: 63c7e64ff912d31ffa27a5b4
        permission: OWNER
    Header:
      properties:
        key:
          type: string
          description: The header's key
        value:
          type: string
          description: The header's value
      required:
        - key
        - value
      example:
        key: X-Custom-Header
        value: some-interesting-value
    ReducedCronjob:
      properties:
        _id:
          type: string
          description: ID of the cronjob
        name:
          type: string
          description: Name of the cronjob
      required:
        - _id
        - name
      example:
        _id: 63c7e64fc912d31ffa27a5b4
        name: Do something
    ReducedOrganization:
      properties:
        _id:
          type: string
          description: ID of the organization
        name:
          type: string
          description: Name of the organization
        avatarUrl:
          type: string
          description: URL of the avatar of the organization
      required:
        - _id
        - name
        - avatarUrl
      example:
        _id: 63c7e64ff912d31ffa27a5b4
        name: Moovit Software Products
        avatarUrl: https://example.com/asset/some_avatar.webp
    ReducedSpace:
      properties:
        _id:
          type: string
          description: ID of the space
        name:
          type: string
          description: Name of the space
        avatarUrl:
          type: string
          description: URL of the space avatar
      required:
        - _id
        - name
        - avatarUrl
      example:
        _id: 63c7e64ff912d31ffa27a5b4
        name: MySpace
        avatarUrl: https://example.com/asset/some_avatar.webp
    ReducedUser:
      properties:
        _id:
          type: string
          description: ID of the user
        name:
          type: string
          description: Name of the user
        avatarUrl:
          type: string
          description: URL of the avatar of the user
      required:
        - _id
        - name
        - avatarUrl
      example:
        _id: 63c7e64ff912d31ffa27a5b4
        name: Helmut Mc Cloud
        avatarUrl: https://example.com/asset/some_avatar.webp
    SearchFilter:
      properties:
        type:
          description: The type of the filter
          $ref: '#/components/schemas/SearchFilterType'
        key:
          type: string
          description: The search key
        comparator:
          description: The search comparator
          oneOf:
            - $ref: '#/components/schemas/SearchFilterComparatorString'
            - $ref: '#/components/schemas/SearchFilterComparatorNumber'
            - $ref: '#/components/schemas/SearchFilterComparatorDate'
            - $ref: '#/components/schemas/SearchFilterComparatorBoolean'
        value:
          description: The value searching for
          oneOf:
            - type: string
            - type: array
              items:
                type: string
            - type: boolean
            - type: number
      required:
        - type
        - key
        - comparator
        - value
      example:
        type: STRING
        key: name
        comparator: starts with
        value: Editor-
  parameters:
    CronjobID:
      in: path
      name: cronjobId
      schema:
        type: string
        minLength: 24
        maxLength: 24
        example: 70d5ec35c2fa070014ab8c3b
      required: true
      description: >-
        ID of the Cronjob (ObjectId identifier, consists of 24 hexadecimal
        digits)
    CronjobLogID:
      in: path
      name: cronjobLogId
      schema:
        type: string
        minLength: 24
        maxLength: 24
        example: 31d5ec35c2fa070014ab8c7b
      required: true
      description: >-
        ID of the Cronjob log (ObjectId identifier, consists of 24 hexadecimal
        digits)
    OrgName:
      in: path
      name: orgName
      schema:
        type: string
        minLength: 3
        maxLength: 64
        example: MoovIT-Software-Products-GmbH
      required: true
      description: >-
        Name of the organization (only alphanumeric characters, hyphens and dots
        are allowed; it should contain between 3 and 64 characters)
    SpaceName:
      in: path
      name: spaceName
      schema:
        type: string
        minLength: 1
        maxLength: 32
        example: Helmut4
      required: true
      description: >-
        Name of the space (only alphanumeric characters, hyphens and dots are
        allowed; it should contain between 1 and 32 characters)
    LimitParameter:
      in: query
      name: limit
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
      required: false
      description: Max number of items to return. Integer between 1 and 100.
    PageParameter:
      in: query
      name: page
      schema:
        type: integer
        minimum: 0
        default: 0
      required: false
      description: Designates the current page, when using a limit. Minimum value is 0.
    NextExecution:
      in: query
      name: nextExecution
      schema:
        type: boolean
        default: false
      required: false
      description: >-
        Alongside the cronjob also retrieve the timestamps for three next
        executions (for the specified timezone, in milliseconds).
  examples:
    NotAuthorizedException:
      value:
        code: 003.001.0001
        error: unauthorized
        message: You're not authorized
    InsufficientAccessRightException:
      value:
        code: 003.001.0004
        error: insufficient.rights
        message: You have not enough rights to access/manipulate this resource
    SpaceNotFoundException:
      value:
        code: 003.010.0001
        error: space.not.found
        message: Given space not found
    SpaceNameInUseException:
      value:
        code: 003.010.0002
        error: space.name.in.use
        message: Given space name is already in use
    SpaceInsufficientPermissionException:
      value:
        code: 003.010.0003
        error: space.insufficient.permission
        message: You do not have the required permission
    CronjobNotFoundException:
      value:
        code: 003.020.0001
        error: cronjob.not.found
        message: Given cronjob not found
    CronjobInvalidExpressionException:
      value:
        code: 003.020.0003
        error: cronjob.invalid.expression
        message: >-
          Given cronjob expression is either not a valid quartz format, uses
          advanced expressions that are not supported or holds a value other
          than 0 for the 'seconds' field (seconds are currently not allowed)
    CronjobLogNotFoundException:
      value:
        code: 003.020.0004
        error: cronjob.log.not.found
        message: Given cronjob log not found
    SpaceRequiresOwnerException:
      value:
        code: 003.010.0006
        error: space.requires.owner
        message: >-
          A space must have at least one owner. Removing or changing the
          role/permissions of the last owner is not possible.
    TeamNotFoundException:
      value:
        code: 003.008.0001
        error: team.not.found
        message: Team does not exist
    OrganizationMemberNotFoundException:
      value:
        code: 003.002.0001
        error: organization.member.not.found
        message: User is not member of the organization
    InvalidFilterException:
      value:
        code: 003.023.0001
        error: search.invalid.filter
        message: The value of the filter property '<field name>' is invalid
    InvalidBodyException:
      value:
        code: 003.000.0004
        error: invalid.body
        message: <detailed message about what failed validation>
    InvalidParameterException:
      value:
        code: 003.000.0003
        error: invalid.parameter
        message: >-
          Failed to validate '<path | query>' parameter '<parameter name>' -
          <cause of validation failure>
    AuthenticationTokenMissingException:
      value:
        code: 003.001.0002
        error: missing.auth.token
        message: Expected an authentication token that has not been provided
    WrongAuthenticationTokenException:
      value:
        code: 003.001.0003
        error: wrong.auth.token
        message: Your authentication token is invalid
    LicenseQuotaExceededException:
      value:
        code: 003.032.0001
        error: license.quota.exceeded
        message: You have exceeded the assigned quota for this action.
    OrganizationNotFoundException:
      value:
        code: 003.007.0001
        error: organization.not.found
        message: Organization not found
    SpaceInvalidOwnerException:
      value:
        code: 003.010.0004
        error: space.invalid.owner
        message: A team cannot be the owner of a space
