openapi: 3.0.0
info:
  title: hcloud - IdP
  version: 0.0.143-2414
  contact:
    name: MoovIT Software Products GmbH
    url: https://www.moovit-sp.com
    email: info@moovit-sp.com
  description: >-
    The Identity Provider (IdP) handles everything around user entities in the
    helmut cloud. Registration, Authentication, User related preference
    management are performed within this application.
servers:
  - url: https://eu-central-1.helmut.cloud/api/account
    description: EU-Central production server
  - url: https://na-west-1.helmut.cloud/api/account
    description: NA-West production server
  - url: https://eu-dev-1.app.helmut.cloud/api/account
    description: EU development server
  - url: http://localhost/api/account
    description: Localhost
paths:
  /v1/org/{orgName}/settings/domains:
    get:
      tags:
        - Organization.Settings.Domains
      summary: Get all domains associated with an organization
      description: |-

        Required organization role: ADMIN
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
      responses:
        '200':
          description: List of domains
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DomainDto'
        '400':
          description: Invalid Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Invalid path parameter for organization name:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                PatExpiredException:
                  $ref: '#/components/examples/PatExpiredException'
                  summary: The token has expired
                TokenExpiredException:
                  $ref: '#/components/examples/TokenExpiredException'
                  summary: The token has expired
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                SessionExpiredException:
                  $ref: '#/components/examples/SessionExpiredException'
                  summary: The user session has expired
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Basic auth cannot be used because 2FA is enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                BasicAuthDisabledInFavorOf2FAException:
                  $ref: '#/components/examples/BasicAuthDisabledInFavorOf2FAException'
                Not a member of the organization:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Insufficient organization role. Must be at least ADMIN:
                  $ref: '#/components/examples/OrganizationInsufficientRoleException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
    post:
      tags:
        - Organization.Settings.Domains
      summary: Creates a new domain for an organization
      description: |-

        Required organization role: ADMIN
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainCreateDto'
      responses:
        '201':
          description: Created domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDto'
        '400':
          description: Invalid body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidBodyException:
                  $ref: '#/components/examples/InvalidBodyException'
                Invalid path parameter for organization name:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                PatExpiredException:
                  $ref: '#/components/examples/PatExpiredException'
                  summary: The token has expired
                TokenExpiredException:
                  $ref: '#/components/examples/TokenExpiredException'
                  summary: The token has expired
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                SessionExpiredException:
                  $ref: '#/components/examples/SessionExpiredException'
                  summary: The user session has expired
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                LicenseQuotaExceededException:
                  $ref: '#/components/examples/LicenseQuotaExceededException'
                BasicAuthDisabledInFavorOf2FAException:
                  $ref: '#/components/examples/BasicAuthDisabledInFavorOf2FAException'
                Not a member of the organization:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Insufficient organization role. Must be at least ADMIN:
                  $ref: '#/components/examples/OrganizationInsufficientRoleException'
        '404':
          description: User does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        '409':
          description: Domain already assigned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                DomainAlreadyAssignedException:
                  $ref: '#/components/examples/DomainAlreadyAssignedException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/settings/domains/{domainName}/verify:
    patch:
      tags:
        - Organization.Settings.Domains
      summary: Verifies a domain for an organization
      description: |-

        Required organization role: ADMIN
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/DomainName'
      responses:
        '200':
          description: Verified domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDto'
        '400':
          description: Invalid path parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidParameterException:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid path parameter for organization name:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                PatExpiredException:
                  $ref: '#/components/examples/PatExpiredException'
                  summary: The token has expired
                TokenExpiredException:
                  $ref: '#/components/examples/TokenExpiredException'
                  summary: The token has expired
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                SessionExpiredException:
                  $ref: '#/components/examples/SessionExpiredException'
                  summary: The user session has expired
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Basic auth cannot be used because 2FA is enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                BasicAuthDisabledInFavorOf2FAException:
                  $ref: '#/components/examples/BasicAuthDisabledInFavorOf2FAException'
                Not a member of the organization:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Insufficient organization role. Must be at least ADMIN:
                  $ref: '#/components/examples/OrganizationInsufficientRoleException'
        '404':
          description: Domain does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                DomainNotFoundException:
                  $ref: '#/components/examples/DomainNotFoundException'
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        '409':
          description: Domain already verified or belongs to another organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                DomainAlreadyVerifiedException:
                  $ref: '#/components/examples/DomainAlreadyVerifiedException'
                DomainBelongsToAnotherOrganizationException:
                  $ref: >-
                    #/components/examples/DomainBelongsToAnotherOrganizationException
        '428':
          description: The domain verification failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                DomainVerificationFailedException:
                  $ref: '#/components/examples/DomainVerificationFailedException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/settings/domains/{domainName}:
    delete:
      tags:
        - Organization.Settings.Domains
      summary: Deletes a domain for an organization
      description: |-

        Required organization role: ADMIN
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/DomainName'
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid path parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidParameterException:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid path parameter for organization name:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                PatExpiredException:
                  $ref: '#/components/examples/PatExpiredException'
                  summary: The token has expired
                TokenExpiredException:
                  $ref: '#/components/examples/TokenExpiredException'
                  summary: The token has expired
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                SessionExpiredException:
                  $ref: '#/components/examples/SessionExpiredException'
                  summary: The user session has expired
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Basic auth cannot be used because 2FA is enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                BasicAuthDisabledInFavorOf2FAException:
                  $ref: '#/components/examples/BasicAuthDisabledInFavorOf2FAException'
                Not a member of the organization:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Insufficient organization role. Must be at least ADMIN:
                  $ref: '#/components/examples/OrganizationInsufficientRoleException'
        '404':
          description: Domain does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                DomainNotFoundException:
                  $ref: '#/components/examples/DomainNotFoundException'
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
  /v1/guest:
    post:
      tags:
        - Guest
      summary: Create a guest user
      description: Create a guest user by providing an email and HMAC
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuestCreateDto'
      responses:
        '200':
          description: Guest object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        default:
          description: Unexpected error
    put:
      tags:
        - Guest
      summary: Login a guest user
      description: Login as a guest user by providing an email and HMAC
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuestLoginDto'
      responses:
        '200':
          description: Guest object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        default:
          description: Unexpected error
  /v1/guest/email/{email}:
    get:
      tags:
        - Guest
      summary: Check email's guest status
      description: Check if a certain email is associated with a guest account
      parameters:
        - name: email
          in: path
          description: Email of the guest account
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '"no user" | "not guest" | "guest"'
          content:
            application/json:
              schema:
                type: string
        default:
          description: Unexpected error
  /v1/org/{orgName}/license:
    get:
      tags:
        - Organization.License
      summary: Get the current license applied to the organization
      description: |-

        Required scopes: IDP_ORGANIZATION_READ\
        Required role: MEMBER
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
      responses:
        '200':
          description: License
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseDto'
        '400':
          description: Invalid Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Invalid path parameter for organization name:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                PatExpiredException:
                  $ref: '#/components/examples/PatExpiredException'
                  summary: The token has expired
                TokenExpiredException:
                  $ref: '#/components/examples/TokenExpiredException'
                  summary: The token has expired
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                SessionExpiredException:
                  $ref: '#/components/examples/SessionExpiredException'
                  summary: The user session has expired
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Basic auth cannot be used because 2FA is enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                BasicAuthDisabledInFavorOf2FAException:
                  $ref: '#/components/examples/BasicAuthDisabledInFavorOf2FAException'
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Not a member of the organization:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
    put:
      tags:
        - Organization.License
      summary: Update the license of the organization
      description: |-

        Required scopes: IDP_ORGANIZATION_ADMIN\
        Required role: OWNER
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LicenseUpdateDto'
        required: true
      responses:
        '200':
          description: License
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseDto'
        '400':
          description: Invalid body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidBodyException:
                  $ref: '#/components/examples/InvalidBodyException'
                Invalid path parameter for organization name:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                PatExpiredException:
                  $ref: '#/components/examples/PatExpiredException'
                  summary: The token has expired
                TokenExpiredException:
                  $ref: '#/components/examples/TokenExpiredException'
                  summary: The token has expired
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                SessionExpiredException:
                  $ref: '#/components/examples/SessionExpiredException'
                  summary: The user session has expired
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UnassignedLicenseException:
                  $ref: '#/components/examples/UnassignedLicenseException'
                BasicAuthDisabledInFavorOf2FAException:
                  $ref: '#/components/examples/BasicAuthDisabledInFavorOf2FAException'
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Not a member of the organization:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Insufficient organization role. Must be at least OWNER:
                  $ref: '#/components/examples/OrganizationInsufficientRoleException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                FailedToFetchLicenseException:
                  $ref: '#/components/examples/FailedToFetchLicenseException'
  /v1/login:
    post:
      tags:
        - Login
      summary: >-
        Endpoint to validate user credentials and authorize user against the
        system
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLoginDto'
      responses:
        '200':
          description: User object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        '400':
          description: Invalid query parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidParameterException:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Invalid TOTP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserTotpInvalidException:
                  $ref: '#/components/examples/UserTotpInvalidException'
        default:
          description: Unexpected error
  /v1/login/verify/totp:
    post:
      tags:
        - Login
      summary: Endpoint to validate user totp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserTotpDto'
        required: true
      responses:
        '204':
          description: If either totp is valid or user has totp not enabled
        '400':
          description: Invalid body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidBodyException:
                  $ref: '#/components/examples/InvalidBodyException'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Forbidden exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserTotpInvalidException:
                  $ref: '#/components/examples/UserTotpInvalidException'
        default:
          description: Unexpected error
  /v1/login/forgot_password:
    post:
      tags:
        - Login
      summary: >-
        Initiate the password reset process. An email will be sent to the user
        to move to

        the next phase.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidBodyException:
                  $ref: '#/components/examples/InvalidBodyException'
        '409':
          description: Invalid Captcha
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                RegistrationInvalidCaptchaException:
                  $ref: '#/components/examples/RegistrationInvalidCaptchaException'
        '500':
          description: Internal Server Error - Unable to send the email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
  /v1/login/pre:
    get:
      tags:
        - Login
      summary: Endpoint to get the way to proceed with the authentication
      parameters:
        - name: email
          in: query
          description: Email of the user
          required: true
          schema:
            type: string
        - name: origin
          in: query
          description: Origin of the request. Used when the response path is EXTERNAL.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginPreDto'
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidParameterException:
                  $ref: '#/components/examples/InvalidParameterException'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
  /v1/login/oidc:
    get:
      tags:
        - Login.OpenID Connect
      summary: Authenticate a user against a 3rd party using OAuth/OpenID Connect
      description: Redirects a user to the provider's login page
      parameters:
        - name: origin
          in: query
          description: >-
            Starting URL of the process. After obtaining the credentials, the
            user will be redirected back to this url
          required: true
          schema:
            type: string
        - name: hint
          in: query
          description: >-
            Valid email address of the user that wants to login. Hint must be
            defined when provider is not.
          required: false
          schema:
            type: string
        - name: provider
          in: query
          description: >-
            Provider to use for the process. Only optional

            if the user is part of an organization that has a preferred OIDC
            provider and an associated

            email that matches the user's. The list of available providers can
            be found in the public config endpoint.
          required: false
          schema:
            type: string
      responses:
        '302':
          description: >-
            Redirect to the providers page to proceed with the authentication
            process
        '400':
          description: Invalid query parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidParameterException:
                  $ref: '#/components/examples/InvalidParameterException'
        '404':
          description: Specified provider does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OIDCProviderNotFoundException:
                  $ref: '#/components/examples/OIDCProviderNotFoundException'
  /v1/login/saml/metadata.xml:
    get:
      tags:
        - Login.SAML
      summary: |-
        Obtain the metadata XML file with information about HCloud as
                 a SAML 2.0 Service Provider
      responses:
        '200':
          description: Metadata.xml file.
          content:
            application/xml: {}
  /v1/login/saml:
    get:
      tags:
        - Login.SAML
      summary: Start the login process using the SAML2.0 protocol
      parameters:
        - name: origin
          in: query
          description: |-
            A URL marking the starting point of the login process.
                                          At the end the user will be redirected back to this URL
                                          with token=\<JWT\> added to the query string.
          required: true
          schema:
            type: string
        - name: email
          in: query
          description: |-
            The user's email. The email domain will be used to determine
                                         the appropriate SAML 2.0 provider to use going forward.
          required: true
          schema:
            type: string
      responses:
        '302':
          description: User gets redirected to the SAML IdP's login page.
        '400':
          description: Invalid query parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidParameterException:
                  $ref: '#/components/examples/InvalidParameterException'
        '404':
          description: There is no SAML IdP associated with the email used
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                SAMLProviderNotFoundException:
                  $ref: '#/components/examples/SAMLProviderNotFoundException'
  /v1/login/saml/assert:
    post:
      tags:
        - Login.SAML
      summary: Callback URL for the login process using the SAML2.0 protocol
      description: >-
        It is required that the HTTP Post SAML binding be used in this
        operation. <a
        href="https://docs.oasis-open.org/security/saml/v2.0/saml-bindings-2.0-os.pdf">SAML
        2.0 Bindings (Section 3.5)</a>
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SAMLResponse'
      responses:
        '302':
          description: User gets redirected to the SAML IdP's login page.
        '400':
          description: >-
            State received in the RelayState property of the body is invalid or
            the response is missing an email assertion.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidBodyException:
                  $ref: '#/components/examples/InvalidBodyException'
                InvalidLoginStateException:
                  $ref: '#/components/examples/InvalidLoginStateException'
                MissingEmailAssertionException:
                  $ref: '#/components/examples/MissingEmailAssertionException'
        '404':
          description: Login state not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                LoginStateNotFoundException:
                  $ref: '#/components/examples/LoginStateNotFoundException'
                SAMLProviderNotFoundException:
                  $ref: '#/components/examples/SAMLProviderNotFoundException'
  /v1/messages/search:
    post:
      tags:
        - Messages
      summary: >-
        Retrieves all messages to the specified user that match the provided
        search filter. Will return all user messages if no filter provided.
      description: ''
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/MessageID'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/PageParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
      responses:
        '200':
          description: List of message objects that match the provided search filters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MessageDto'
        '400':
          description: Invalid body or search filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Invalid body:
                  $ref: '#/components/examples/InvalidBodyException'
                  summary: Invalid body
                Invalid filter:
                  $ref: '#/components/examples/InvalidFilterException'
                  summary: Invalid search filter
                Invalid pagination parameters (limit/page):
                  $ref: '#/components/examples/InvalidParameterException'
                  summary: Invalid limit or page
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                PatExpiredException:
                  $ref: '#/components/examples/PatExpiredException'
                  summary: The token has expired
                TokenExpiredException:
                  $ref: '#/components/examples/TokenExpiredException'
                  summary: The token has expired
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                SessionExpiredException:
                  $ref: '#/components/examples/SessionExpiredException'
                  summary: The user session has expired
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Basic auth cannot be used because 2FA is enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                BasicAuthDisabledInFavorOf2FAException:
                  $ref: '#/components/examples/BasicAuthDisabledInFavorOf2FAException'
        default:
          description: Unexpected error
  /v1/messages/{messageId}:
    get:
      tags:
        - Message
      summary: Retrieves a message by it's ID
      description: ''
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/MessageID'
      responses:
        '200':
          description: Requested message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageDto'
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidParameterException:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                PatExpiredException:
                  $ref: '#/components/examples/PatExpiredException'
                  summary: The token has expired
                TokenExpiredException:
                  $ref: '#/components/examples/TokenExpiredException'
                  summary: The token has expired
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                SessionExpiredException:
                  $ref: '#/components/examples/SessionExpiredException'
                  summary: The user session has expired
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Insufficient access right
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                BasicAuthDisabledInFavorOf2FAException:
                  $ref: '#/components/examples/BasicAuthDisabledInFavorOf2FAException'
        '404':
          description: Message not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                MessageNotFoundException:
                  $ref: '#/components/examples/MessageNotFoundException'
        default:
          description: Unexpected error
    delete:
      tags:
        - Message
      summary: Delete message by ID
      description: ''
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/MessageID'
      responses:
        '204':
          description: No content
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                PatExpiredException:
                  $ref: '#/components/examples/PatExpiredException'
                  summary: The token has expired
                TokenExpiredException:
                  $ref: '#/components/examples/TokenExpiredException'
                  summary: The token has expired
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                SessionExpiredException:
                  $ref: '#/components/examples/SessionExpiredException'
                  summary: The user session has expired
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Insufficient access right
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                BasicAuthDisabledInFavorOf2FAException:
                  $ref: '#/components/examples/BasicAuthDisabledInFavorOf2FAException'
        '404':
          description: Message not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                MessageNotFoundException:
                  $ref: '#/components/examples/MessageNotFoundException'
        default:
          description: Unexpected error
  /v1/messages/{messageId}/read:
    patch:
      tags:
        - Message
      summary: Set the status of the received message as read or unread
      description: ''
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/MessageID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessagePatchDto'
      responses:
        '200':
          description: Updated message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageDto'
        '400':
          description: Invalid body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidBodyException:
                  $ref: '#/components/examples/InvalidBodyException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                PatExpiredException:
                  $ref: '#/components/examples/PatExpiredException'
                  summary: The token has expired
                TokenExpiredException:
                  $ref: '#/components/examples/TokenExpiredException'
                  summary: The token has expired
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                SessionExpiredException:
                  $ref: '#/components/examples/SessionExpiredException'
                  summary: The user session has expired
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Insufficient access right
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                BasicAuthDisabledInFavorOf2FAException:
                  $ref: '#/components/examples/BasicAuthDisabledInFavorOf2FAException'
        '404':
          description: Message not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                MessageNotFoundException:
                  $ref: '#/components/examples/MessageNotFoundException'
        default:
          description: Unexpected error
  /v1/login/oauth/authorize:
    get:
      tags:
        - Login.OAuth
      summary: OAuth Authorization Endpoint
      description: |-
        Request access code for the user
        Required scopes: HCLOUD_FULL
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: response_type
          in: query
          description: >-
            Tells the authorization server which grant to execute. Currently
            only "code" is supported.
          required: false
          schema:
            type: string
        - name: client_id
          in: query
          description: The ID of the application that is asking for authorization
          required: false
          schema:
            type: string
        - name: redirect_uri
          in: query
          description: A successful response will redirect to this URI
          required: false
          schema:
            type: string
        - name: scope
          in: query
          description: >-
            Space-delimited list of hcloud permissions that the application
            requires as well as openId if required.
          required: false
          schema:
            type: string
        - name: state
          in: query
          description: >-
            Optional value, used for security purposes (XSRF) or to store
            non-sensitive information between requests.
                                           If this request parameter is set in the request, then it is returned to the application as part of the redirect_uri with no changes.
          required: false
          schema:
            type: string
      responses:
        '302':
          description: >-
            Redirects to the redirect URL with the authorization code in the
            query string
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                PatExpiredException:
                  $ref: '#/components/examples/PatExpiredException'
                  summary: The token has expired
                TokenExpiredException:
                  $ref: '#/components/examples/TokenExpiredException'
                  summary: The token has expired
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                SessionExpiredException:
                  $ref: '#/components/examples/SessionExpiredException'
                  summary: The user session has expired
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Basic auth cannot be used because 2FA is enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                BasicAuthDisabledInFavorOf2FAException:
                  $ref: '#/components/examples/BasicAuthDisabledInFavorOf2FAException'
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        default:
          description: Unexpected error
    post:
      tags:
        - Login.OAuth
      summary: OAuth Authorization Endpoint
      description: |-
        Request access code for the user
        Required scopes: HCLOUD_FULL
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: response_type
          in: query
          description: >-
            Tells the authorization server which grant to execute. Currently
            only "code" is supported.
          required: false
          schema:
            type: string
        - name: client_id
          in: query
          description: ID of the application that is asking for authorization
          required: false
          schema:
            type: string
        - name: redirect_uri
          in: query
          description: Successful response will redirect to this URI
          required: false
          schema:
            type: string
        - name: scope
          in: query
          description: >-
            Space-delimited list of hcloud permissions that the application
            requires as well as openId if required.
          required: false
          schema:
            type: string
        - name: state
          in: query
          description: >-
            Optional value, used for security purposes (XSRF) or to store
            non-sensitive information between requests.
                                           If this request parameter is set in the request, then it is returned to the application as part of the redirect_uri with no changes.
          required: false
          schema:
            type: string
      responses:
        '302':
          description: >-
            Redirects to the redirect URL with the authorization code in the
            query string
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                PatExpiredException:
                  $ref: '#/components/examples/PatExpiredException'
                  summary: The token has expired
                TokenExpiredException:
                  $ref: '#/components/examples/TokenExpiredException'
                  summary: The token has expired
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                SessionExpiredException:
                  $ref: '#/components/examples/SessionExpiredException'
                  summary: The user session has expired
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Basic auth cannot be used because 2FA is enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                BasicAuthDisabledInFavorOf2FAException:
                  $ref: '#/components/examples/BasicAuthDisabledInFavorOf2FAException'
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        default:
          description: Unexpected error
  /v1/login/oauth/info:
    get:
      tags:
        - Login.OAuth
      summary: OAuth Preflight Info Endpoint
      description: |-
        This endpoint servers as a pseudo **authorize endpoint**.
                     It will return an error if the user has not given permission to it yet or
                     it will redirect like the **authorize endpoint** if the user has already consented to the scopes specified.\
        Required scopes: HCLOUD_FULL
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: response_type
          in: query
          description: >-
            Tells the authorization server which grant to execute. Currently
            only "code" is supported.
          required: false
          schema:
            type: string
        - name: client_id
          in: query
          description: The ID of the application that is asking for authorization
          required: false
          schema:
            type: string
        - name: redirect_uri
          in: query
          description: A successful response will redirect to this URI
          required: false
          schema:
            type: string
        - name: scope
          in: query
          description: >-
            Space-delimited list of hcloud permissions that the application
            requires as well as openId if required.
          required: false
          schema:
            type: string
        - name: state
          in: query
          description: >-
            Optional value, used for security purposes (XSRF) or to store
            non-sensitive information between requests.
                                           If this request parameter is set in the request, then it is returned to the application as part of the redirect_uri with no changes.
          required: false
          schema:
            type: string
      responses:
        '302':
          description: >-
            Redirects to the redirect URL with the authorization code in the
            query string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OAuthConsentNotGivenException:
                  $ref: '#/components/examples/OAuthConsentNotGivenException'
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                PatExpiredException:
                  $ref: '#/components/examples/PatExpiredException'
                  summary: The token has expired
                TokenExpiredException:
                  $ref: '#/components/examples/TokenExpiredException'
                  summary: The token has expired
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                SessionExpiredException:
                  $ref: '#/components/examples/SessionExpiredException'
                  summary: The user session has expired
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Basic auth cannot be used because 2FA is enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                BasicAuthDisabledInFavorOf2FAException:
                  $ref: '#/components/examples/BasicAuthDisabledInFavorOf2FAException'
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        default:
          description: Unexpected error
  /v1/login/oauth/access_token:
    post:
      tags:
        - Login.OAuth
      summary: OAuth Token Endpoint
      description: >-
        Use this endpoint to exchange a code for an access token. The code can
        be obtained via the authorization endpoint.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthTokenRequestDto'
        required: true
      responses:
        '200':
          description: OAuth object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenEndpointResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenEndpointErrorResponseDto'
        '415':
          description: Unsupported Media Type exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OAuthInvalidContentTypeException:
                  $ref: '#/components/examples/OAuthInvalidContentTypeException'
        default:
          description: Unexpected error
  /v1/login/oauth/app/{clientId}:
    get:
      tags:
        - Login.OAuth
      summary: OAuth App public info by clientId
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: clientId
          in: path
          description: Client ID of the OAuth application
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthAppPublicInfoDto'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                PatExpiredException:
                  $ref: '#/components/examples/PatExpiredException'
                  summary: The token has expired
                TokenExpiredException:
                  $ref: '#/components/examples/TokenExpiredException'
                  summary: The token has expired
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                SessionExpiredException:
                  $ref: '#/components/examples/SessionExpiredException'
                  summary: The user session has expired
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Basic auth cannot be used because 2FA is enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                BasicAuthDisabledInFavorOf2FAException:
                  $ref: '#/components/examples/BasicAuthDisabledInFavorOf2FAException'
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: OAuth app does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OAuthAppNotFoundException:
                  $ref: '#/components/examples/OAuthAppNotFoundException'
        default:
          description: Unexpected error
  /v1/org:
    post:
      tags:
        - Organization
      summary: Create a new organization with the creator as the first member
      description: |-

        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCreateDto'
      responses:
        '201':
          description: Created organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDto'
        '400':
          description: Invalid body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidBodyException:
                  $ref: '#/components/examples/InvalidBodyException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                PatExpiredException:
                  $ref: '#/components/examples/PatExpiredException'
                  summary: The token has expired
                TokenExpiredException:
                  $ref: '#/components/examples/TokenExpiredException'
                  summary: The token has expired
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                SessionExpiredException:
                  $ref: '#/components/examples/SessionExpiredException'
                  summary: The user session has expired
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Basic auth cannot be used because 2FA is enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                BasicAuthDisabledInFavorOf2FAException:
                  $ref: '#/components/examples/BasicAuthDisabledInFavorOf2FAException'
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: User does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
        '409':
          description: Organization already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationAlreadyExistWithNameException:
                  $ref: >-
                    #/components/examples/OrganizationAlreadyExistWithNameException
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                FailedToFetchLicenseException:
                  $ref: '#/components/examples/FailedToFetchLicenseException'
        default:
          description: Unexpected error
  /v1/org/{orgName}:
    get:
      tags:
        - Organization
      summary: Retrieves an organization by it's name
      description: |-

        Required organization role: MEMBER\
        Required scopes: IDP_ORGANIZATION_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - name: teamsOfUser
          in: query
          description: >-
            If true, an additional property holding all teams that the
            requesting user is part of and that belong to the organization will
            be returned.
          required: false
          schema:
            type: boolean
        - name: totalMemberCount
          in: query
          description: >-
            If true, an additional property holding the total member count of
            the organization will be returned.
          required: false
          schema:
            type: boolean
        - name: membersSample
          in: query
          description: >-
            If set, an additional property holding a sample of members will be
            returned. The provided number represents the max. size of the
            sample.
          required: false
          schema:
            type: number
        - name: license
          in: query
          description: >-
            If set, an additional property holding the organization's license
            will be included.
          required: false
          schema:
            type: boolean
        - name: userId
          in: query
          description: >-
            If set, the organization role included in the response will of this
            user instead of the one associated with the token used in the
            request.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Requested organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDto'
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidParameterException:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid path parameter for organization name:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                PatExpiredException:
                  $ref: '#/components/examples/PatExpiredException'
                  summary: The token has expired
                TokenExpiredException:
                  $ref: '#/components/examples/TokenExpiredException'
                  summary: The token has expired
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                SessionExpiredException:
                  $ref: '#/components/examples/SessionExpiredException'
                  summary: The user session has expired
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Basic auth cannot be used because 2FA is enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                BasicAuthDisabledInFavorOf2FAException:
                  $ref: '#/components/examples/BasicAuthDisabledInFavorOf2FAException'
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Not a member of the organization:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
    patch:
      tags:
        - Organization
      summary: Update an organization by it's name
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationPatchDto'
      responses:
        '200':
          description: Updated organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDto'
        '400':
          description: Invalid body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidBodyException:
                  $ref: '#/components/examples/InvalidBodyException'
                Invalid path parameter for organization name:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                PatExpiredException:
                  $ref: '#/components/examples/PatExpiredException'
                  summary: The token has expired
                TokenExpiredException:
                  $ref: '#/components/examples/TokenExpiredException'
                  summary: The token has expired
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                SessionExpiredException:
                  $ref: '#/components/examples/SessionExpiredException'
                  summary: The user session has expired
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Basic auth cannot be used because 2FA is enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                BasicAuthDisabledInFavorOf2FAException:
                  $ref: '#/components/examples/BasicAuthDisabledInFavorOf2FAException'
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Not a member of the organization:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Insufficient organization role. Must be at least ADMIN:
                  $ref: '#/components/examples/OrganizationInsufficientRoleException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
    delete:
      tags:
        - Organization
      summary: Delete Organization by name
      description: |-

        Required organization role: OWNER\
        Required scopes: IDP_ORGANIZATION_DELETE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
      responses:
        '204':
          description: No content
        '400':
          description: Invalid Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Invalid path parameter for organization name:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                PatExpiredException:
                  $ref: '#/components/examples/PatExpiredException'
                  summary: The token has expired
                TokenExpiredException:
                  $ref: '#/components/examples/TokenExpiredException'
                  summary: The token has expired
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                SessionExpiredException:
                  $ref: '#/components/examples/SessionExpiredException'
                  summary: The user session has expired
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Basic auth cannot be used because 2FA is enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                BasicAuthDisabledInFavorOf2FAException:
                  $ref: '#/components/examples/BasicAuthDisabledInFavorOf2FAException'
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Operation disabled for user organizations:
                  $ref: >-
                    #/components/examples/UserOrganizationOperationDisabledException
                Not a member of the organization:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Insufficient organization role. Must be at least OWNER:
                  $ref: '#/components/examples/OrganizationInsufficientRoleException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/members/search:
    post:
      tags:
        - Organization.Members
      summary: Search organization members with search filters
      description: |-

        Required organization role: MEMBER\
        Required scopes: IDP_ORGANIZATION_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/PageParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgMemberSearch'
      responses:
        '200':
          description: List of organization member objects that match the search filter
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationMemberDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidFilterException:
                  $ref: '#/components/examples/InvalidFilterException'
                InvalidBodyException:
                  $ref: '#/components/examples/InvalidBodyException'
                Invalid query parameter (limit, page):
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid path parameter for organization name:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                PatExpiredException:
                  $ref: '#/components/examples/PatExpiredException'
                  summary: The token has expired
                TokenExpiredException:
                  $ref: '#/components/examples/TokenExpiredException'
                  summary: The token has expired
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                SessionExpiredException:
                  $ref: '#/components/examples/SessionExpiredException'
                  summary: The user session has expired
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Basic auth cannot be used because 2FA is enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                BasicAuthDisabledInFavorOf2FAException:
                  $ref: '#/components/examples/BasicAuthDisabledInFavorOf2FAException'
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Not a member of the organization:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/members/{userId}/role:
    patch:
      tags:
        - Organization.Members
      summary: Patch an organization member's role in the Organization
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/UserID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgMemberPatchDto'
      responses:
        '200':
          description: Organization member object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMemberDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidBodyException:
                  $ref: '#/components/examples/InvalidBodyException'
                Invalid userId path parameter:
                  $ref: '#/components/examples/InvalidParameterException'
                OrganizationMustHaveOwnerException:
                  $ref: '#/components/examples/OrganizationMustHaveOwnerException'
                Invalid path parameter for organization name:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                PatExpiredException:
                  $ref: '#/components/examples/PatExpiredException'
                  summary: The token has expired
                TokenExpiredException:
                  $ref: '#/components/examples/TokenExpiredException'
                  summary: The token has expired
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                SessionExpiredException:
                  $ref: '#/components/examples/SessionExpiredException'
                  summary: The user session has expired
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Basic auth cannot be used because 2FA is enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                BasicAuthDisabledInFavorOf2FAException:
                  $ref: '#/components/examples/BasicAuthDisabledInFavorOf2FAException'
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Operation disabled for user organizations:
                  $ref: >-
                    #/components/examples/UserOrganizationOperationDisabledException
                Not a member of the organization:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Insufficient organization role. Must be at least ADMIN:
                  $ref: '#/components/examples/OrganizationInsufficientRoleException'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
                OrganizationMemberNotFoundException:
                  $ref: '#/components/examples/OrganizationMemberNotFoundException'
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/members/{userId}:
    delete:
      tags:
        - Organization.Members
      summary: Remove a user from an organization by the organization user id
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/UserID'
      responses:
        '204':
          description: No content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Invalid userId path parameter:
                  $ref: '#/components/examples/InvalidParameterException'
                OrganizationMustHaveOwnerException:
                  $ref: '#/components/examples/OrganizationMustHaveOwnerException'
                Invalid path parameter for organization name:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                PatExpiredException:
                  $ref: '#/components/examples/PatExpiredException'
                  summary: The token has expired
                TokenExpiredException:
                  $ref: '#/components/examples/TokenExpiredException'
                  summary: The token has expired
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                SessionExpiredException:
                  $ref: '#/components/examples/SessionExpiredException'
                  summary: The user session has expired
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Basic auth cannot be used because 2FA is enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                BasicAuthDisabledInFavorOf2FAException:
                  $ref: '#/components/examples/BasicAuthDisabledInFavorOf2FAException'
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Operation disabled for user organizations:
                  $ref: >-
                    #/components/examples/UserOrganizationOperationDisabledException
                Not a member of the organization:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Insufficient organization role. Must be at least ADMIN:
                  $ref: '#/components/examples/OrganizationInsufficientRoleException'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
                OrganizationMemberNotFoundException:
                  $ref: '#/components/examples/OrganizationMemberNotFoundException'
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
    get:
      tags:
        - Organization.Members
      summary: Get an organization member by the user ID
      description: |-

        Required organization role: MEMBER\
        Required scopes: IDP_ORGANIZATION_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: Organization member object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMemberDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Invalid userId path parameter:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid path parameter for organization name:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                PatExpiredException:
                  $ref: '#/components/examples/PatExpiredException'
                  summary: The token has expired
                TokenExpiredException:
                  $ref: '#/components/examples/TokenExpiredException'
                  summary: The token has expired
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                SessionExpiredException:
                  $ref: '#/components/examples/SessionExpiredException'
                  summary: The user session has expired
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Basic auth cannot be used because 2FA is enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                BasicAuthDisabledInFavorOf2FAException:
                  $ref: '#/components/examples/BasicAuthDisabledInFavorOf2FAException'
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Not a member of the organization:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationMemberNotFoundException:
                  $ref: '#/components/examples/OrganizationMemberNotFoundException'
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/members/{userId}/executionTarget:
    patch:
      tags:
        - Organization.Members
      summary: Set whether or not this user should be considered an execution target
      description: >-
        A member can set its execution target to true or false.

        A manager of an organization can set the execution target of any other
        member to false, but not to true.

        Only the member itself (when userId is the same as the ID of the request
        user) can set to true.\

        Required organization role: MEMBER | MANAGER\

        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/UserID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgMemberExecutionTargetPatchDto'
        required: true
      responses:
        '200':
          description: Updated organization member object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMemberDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidBodyException:
                  $ref: '#/components/examples/InvalidBodyException'
                Invalid userId path parameter:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid path parameter for organization name:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                PatExpiredException:
                  $ref: '#/components/examples/PatExpiredException'
                  summary: The token has expired
                TokenExpiredException:
                  $ref: '#/components/examples/TokenExpiredException'
                  summary: The token has expired
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                SessionExpiredException:
                  $ref: '#/components/examples/SessionExpiredException'
                  summary: The user session has expired
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Basic auth cannot be used because 2FA is enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                BasicAuthDisabledInFavorOf2FAException:
                  $ref: '#/components/examples/BasicAuthDisabledInFavorOf2FAException'
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Not a member of the organization:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Insufficient organization role. Must be at least MANAGER:
                  $ref: '#/components/examples/OrganizationInsufficientRoleException'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationMemberNotFoundException:
                  $ref: '#/components/examples/OrganizationMemberNotFoundException'
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
[...]
