openapi: 3.0.0
info:
  title: hcloud - IdP
  description: >-
    The Identity Provider (IdP) handles everything around user entities in the
    helmut cloud. Registration, Authentication, User related preference
    management are performed within this application
  version: 1.0.0
  contact:
    name: MoovIT Software Products GmbH
    url: https://www.moovit-sp.com
    email: info@moovit-sp.com
servers:
  - url: https://eu-central-1.helmut.cloud/api/account
    description: EU-Central production server
  - url: https://na-west-1.helmut.cloud/api/account
    description: NA-West production server
  - url: https://eu-dev-1.app.helmut.cloud/api/account
    description: EU development server
  - url: http://localhost/api/account
    description: Localhost
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    patAuth:
      type: http
      scheme: bearer
      bearerFormat: PAT
    basicAuth:
      type: http
      scheme: basic
  schemas:
    CustomError:
      type: object
      properties:
        error:
          type: string
          description: Error name
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Error message
      required:
        - error
        - code
        - message
      description: API errors obey this shape
    DomainCreateDto:
      type: object
      properties:
        name:
          type: string
          pattern: >-
            ^(?=.{1,253}$)(?!-)[A-Za-z0-9-]{1,63}(?<!-)(\.(?!-)[A-Za-z0-9-]{1,63}(?<!-))*\.[A-Za-z]{2,}$
          description: Fully qualified domain name
          example: example.helmut.cloud
      required:
        - name
      description: Object containing a fully qualified domain name
      example:
        name: example.helmut.cloud
    GuestCreateDto:
      type: object
      properties:
        email:
          type: string
          format: email
          description: Email of the guest
          example: john.doe@helmut.cloud
        hmac:
          type: string
          description: Url-safe base64 representation of the HMAC of the email address
          example: am9obi5kb2VAaGVsbXV0LmNsb3Vk
        name:
          type: string
          minLength: 1
          description: Name of the guest account
          example: John Doe
      required:
        - email
        - hmac
        - name
      description: Represents the data required to register a new guest user
      example:
        email: john.doe@helmut.cloud
        hmac: am9obi5kb2VAaGVsbXV0LmNsb3Vk
        name: John Doe
    GuestLoginDto:
      type: object
      properties:
        email:
          type: string
          format: email
          description: Email of the guest
          example: john.doe@helmut.cloud
        hmac:
          type: string
          description: Url-safe base64 representation of the HMAC of the email address
          example: am9obi5kb2VAaGVsbXV0LmNsb3Vk
      required:
        - email
        - hmac
      description: Contains credentials required for guest login
      example:
        email: john.doe@helmut.cloud
        hmac: am9obi5kb2VAaGVsbXV0LmNsb3Vk
    RecipientType:
      type: string
      enum:
        - USER
        - TEAM
        - ORGANIZATION
      default: USER
      description: Message recipient type (single user or group of users)
      example: USER
    MessageCreateDto:
      type: object
      properties:
        to:
          type: string
          description: >-
            Specifies the recipient of the message. Depending on the selected
            recipient type, this field may contain an individual’s email
            address, a team name, or an organization name
          example: john.doe@helmut.cloud
        recipient:
          $ref: '#/components/schemas/RecipientType'
        orgName:
          type: string
          minLength: 3
          maxLength: 64
          pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
          description: >-
            Optional name of the organization (should be specified only when
            sending message to team members)
          example: Devs
        title:
          type: string
          maxLength: 255
          description: Optional title of the message
          example: Welcome to the team!
        subject:
          type: string
          maxLength: 255
          description: Optional subject of the message
          example: Your onboarding details
        message:
          type: string
          maxLength: 5000
          description: Content of the message
          example: Hello and welcome to our platform...
        link:
          type: string
          description: Optional link related to a referenced ressource
          example: Broadcasters1
      required:
        - to
        - message
      description: >-
        The input structure for sending a message to a user, team, or
        organization.
      example:
        to: john.doe@helmut.cloud
        recipient: USER
        title: Welcome
        subject: Getting Started
        message: Hello and welcome to our platform!
        link: Broadcasters1
    MessagePatchDto:
      type: object
      properties:
        read:
          type: boolean
          description: Indicates whether the message has been read
          example: true
      required:
        - read
      description: DTO for patching message read status
      example:
        read: true
    OAuthAppCreateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 255
          description: Name of the OAuthApp
          example: SevTest
        description:
          type: string
          maxLength: 255
          description: Optional description of the OAuthApp
          example: A test OAuthApp
        homepage:
          type: string
          format: uri
          description: Optional homepage URL for the OAuthApp
          example: https://github.com/
        callback:
          type: array
          items:
            type: string
          description: Callback URI for the OAuthApp
          example:
            - https://openidconnect.net/callback
      required:
        - name
        - callback
      description: The input structure for creating a new OAuth application.
      example:
        name: SevTest
        description: A test OAuthApp
        homepage: https://github.com/
        callback:
          - https://openidconnect.net/callback
    OAuthDeviceAuthorizationRequestDto:
      type: object
      properties:
        client_id:
          type: string
          format: uuid
          description: HcloudClientId of the OAuth app
          example: 30ed05e3-4065-4c2c-b537-e4c411854b6f
        scope:
          type: string
          description: Scope that the access token should be granted
          example: profile email
      required:
        - client_id
      description: OAuth request for device authorization
      example:
        client_id: 30ed05e3-4065-4c2c-b537-e4c411854b6f
        scope: profile email
    OAuthDeviceDecisionStatus:
      type: string
      enum:
        - APPROVED
        - REJECTED
      description: Status to set
      example: APPROVED
    OAuthDeviceDecisionDto:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/OAuthDeviceDecisionStatus'
      required:
        - status
      description: OAuth Device Decision Status
    OAuthDeviceTokenRequestDto:
      type: object
      properties:
        grant_type:
          type: string
          enum:
            - urn:ietf:params:oauth:grant-type:device_code
          description: Device flow grant type
          example: urn:ietf:params:oauth:grant-type:device_code
        client_id:
          type: string
          description: HcloudClientId of the OAuth app
        device_code:
          type: string
          description: Device code generated in the authorization request.
      required:
        - grant_type
        - client_id
        - device_code
      description: OAuth device token request object
    OAuthSecretCreateDto:
      type: object
      properties:
        secretName:
          type: string
          maxLength: 255
          pattern: ^[\w\-.]+$
          description: Name of the new secret
          example: default
      required:
        - secretName
      description: The input structure for creating a new OAuth secret.
      example:
        secretName: default
    GrantType:
      type: string
      enum:
        - authorization_code
        - refresh_token
      description: Type of authorization grant.
      example: authorization_code
    OAuthTokenRequestDto:
      type: object
      properties:
        grant_type:
          $ref: '#/components/schemas/GrantType'
        code:
          type: string
          description: >-
            Code from the OAuth code grant. Will be ignored if the grant type is
            not authorization_code
          example: 32f63f0b8033d77d31b5a4eb77db9c30
        refresh_token:
          type: string
          description: >-
            RefreshToken from the OAuth token grant. Required in the
            refresh_token grant and ignored in the authorization_code grant
          example: some-refresh-token
        client_id:
          type: string
          description: HcloudClientId of the OAuth app
          example: 30ed05e3-4065-4c2c-b537-e4c411854b6f
        client_secret:
          type: string
          description: Client secret of the OAuth app
          example: >-
            secret_a976faeab2af78f3036ab3cd3773d28346d0d26aaec02f81699c4f1847148bc6
        redirect_uri:
          type: string
          description: >-
            Callback URI of the OAuth app. If a redirect_uri was sent in the
            authorization phase, then it must be sent again. Optional for the
            authorization_code grant and ignored in the refresh_token grant
          example: https://yourredirect.url
        scope:
          type: string
          description: >-
            Scope that the access token should be granted. Optional for the
            refresh_token grant and ignored in the authorization_code grant. The
            requested scope MUST NOT include any scope not originally granted,
            and if omitted is treated as equal to the scope originally granted
          example: hcloud:full
      required:
        - grant_type
        - client_id
        - client_secret
      description: >-
        The input structure for requesting an OAuth access token using either
        authorization_code or refresh_token grant.
      example:
        grant_type: authorization_code
        code: 32f63f0b8033d77d31b5a4eb77db9c30
        client_id: 30ed05e3-4065-4c2c-b537-e4c411854b6f
        client_secret: >-
          secret_a976faeab2af78f3036ab3cd3773d28346d0d26aaec02f81699c4f1847148bc6
        redirect_uri: https://yourredirect.url
    OrganizationCreateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 64
          pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
          description: >-
            Name of the organization (only alphanumeric characters, hyphens and
            dots are allowed; it should contain between 3 and 64 characters)
          example: MoovIT-Software-Products-GmbH
        company:
          type: string
          minLength: 1
          maxLength: 255
          pattern: ^[\w-. ]{1,255}$
          description: >-
            Name of the company the organization belongs to (only alphanumeric
            characters, underscores, hyphens, dots and spaces are allowed; it
            should contain between 1 and 255 characters)
          example: Moovit SP
      required:
        - name
      description: The input structure for creating a new organization
      example:
        name: Devs
        company: Moovit SP
    OrganizationPatchDto:
      type: object
      properties:
        company:
          type: string
          minLength: 1
          maxLength: 255
          pattern: ^[\w-. ]{1,255}$
          description: >-
            Name of the company the organization belongs to (only alphanumeric
            characters, underscores, hyphens, dots and spaces are allowed; it
            should contain between 1 and 255 characters)
          example: Moovit SP
      required:
        - company
      description: The input structure for updating organization
      example:
        company: Moovit SP
    LicenseUpdateDto:
      type: object
      properties:
        identifier:
          type: string
          maxLength: 64
          description: Identifier of the license
          example: 201fd106-f0b0-4ae8-beb1-94ca0d765c82
      required:
        - identifier
      description: The input structure for updating a license identifier
      example:
        identifier: 201fd106-f0b0-4ae8-beb1-94ca0d765c82
    OrgMemberExecutionTargetPatchDto:
      type: object
      properties:
        executionTarget:
          type: boolean
          description: >-
            Boolean flag that determines if this user can be an execution target
            for this organization.
          example: true
      required:
        - executionTarget
      description: >-
        The input structure for updating the execution target status of an
        organization member.
      example:
        executionTarget: true
    OrganizationRole:
      type: string
      enum:
        - MEMBER
        - MANAGER
        - ADMIN
        - OWNER
      description: Role the user shall have in the Organization
      example: MEMBER
    OrgMemberInvitationCreateDto:
      type: object
      properties:
        email:
          type: string
          format: email
          description: Email of the user
          example: hmc@helmut.cloud
        role:
          $ref: '#/components/schemas/OrganizationRole'
        allowNonRegisteredUsers:
          type: boolean
          description: >-
            If non-registered users are allowed and the email is not bound to an
            HCloud user, then a registration email will be sent to this email.
            Upon registration, the user will be added automatically to the
            organization.
          example: false
        targetUrl:
          type: string
          format: uri
          description: >-
            URL to create the redirect link in the email. It will default to
            https://app.helmut.cloud.
          example: https://app.helmut.cloud
      required:
        - email
        - role
      description: Request data for inviting a user to an organization
      example:
        email: hmc@helmut.cloud
        role: MEMBER
        allowNonRegisteredUsers: false
        targetUrl: https://app.helmut.cloud
    OrgMemberInvitationPatchDto:
      type: object
      properties:
        accept:
          type: boolean
          description: True to accept. False to reject
          example: true
      required:
        - accept
      description: >-
        The input structure for accepting or rejecting an organization
        invitation.
      example:
        accept: true
    OrgMemberInvitationsCreateDto:
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/OrgMemberInvitationCreateDto'
          minItems: 1
      required:
        - users
      description: Request data for inviting a list of users to an organization
    OrgMemberPatchDto:
      type: object
      properties:
        role:
          allOf:
            - $ref: '#/components/schemas/OrganizationRole'
            - description: New role the member shall have in the Organization
              example: ADMIN
      required:
        - role
      description: The input structure for updating a member's role in the organization.
      example:
        role: ADMIN
    SearchFilterType:
      type: string
      enum:
        - STRING
        - SELECT
        - MULTISELECT
        - TYPEAHEAD
        - NUMBER
        - DATE
        - BOOLEAN
      description: |-
        * STRING - Filter by a string value
        * SELECT - Filter by a value from a set of possible choices
        * MULTISELECT - Filter by multiple values from a set of possible choices
        * TYPEAHEAD - Filter by ???
        * NUMBER - Filter by a numeric value
        * DATE - Filter by a Date value
        * BOOLEAN - Filter by a boolean flag
      example: NUMBER
    SearchFilterComparatorString:
      type: string
      enum:
        - is
        - is not
        - starts with
        - ends with
        - contains
      description: |-
        * is - String equals the specified string value
        * is not - String does not equal the specified string value
        * starts with - String starts with the specified string value
        * ends with - String ends with the specified string value
        * contains - String contains the specified string value
      example: starts with
    SearchFilterString:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SearchFilterType'
        key:
          type: string
          description: The search key
        comparator:
          $ref: '#/components/schemas/SearchFilterComparatorString'
        value:
          anyOf:
            - type: string
            - type: array
              items:
                type: string
          description: The value searching for
      required:
        - type
        - key
        - comparator
        - value
      description: >-
        Filter for string-based fields, accepts a single string or an array of
        strings as the filter value
    SearchFilterSelect:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SearchFilterType'
        key:
          type: string
          description: The search key
        allowedValues:
          type: array
          items:
            type: string
        comparator:
          $ref: '#/components/schemas/SearchFilterComparatorString'
        value:
          anyOf:
            - type: string
            - type: array
              items:
                type: string
          description: The value searching for
      required:
        - type
        - key
        - allowedValues
        - comparator
        - value
      description: >-
        Filter for fields with predefined selectable values, allows string
        comparators and accepts either a single value or multiple values from
        the allowed set
    SearchFilterMultiSelect:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SearchFilterType'
        key:
          type: string
          description: The search key
        allowedValues:
          type: array
          items:
            type: string
        comparator:
          $ref: '#/components/schemas/SearchFilterComparatorString'
        value:
          type: array
          items:
            type: string
          description: The value searching for
      required:
        - type
        - key
        - allowedValues
        - comparator
        - value
      description: >-
        Filter for fields that support multiple selections from a predefined
        list, accepts an array of strings and applies string-based comparators
    SearchFilterTypeahead:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SearchFilterType'
        key:
          type: string
          description: The search key
        allowedValues:
          type: array
          items:
            type: string
        comparator:
          $ref: '#/components/schemas/SearchFilterComparatorString'
        value:
          type: string
          description: The value searching for
      required:
        - type
        - key
        - allowedValues
        - comparator
        - value
      description: >-
        Filter designed for typeahead fields, accepts a single string value and
        applies string comparators against a list of allowed values
    SearchFilterComparatorNumber:
      type: string
      enum:
        - is
        - is not
        - greater than
        - less than
        - greater than or equal
        - less than or equal
      description: >-
        * is - Number equals the specified numeric value

        * is not - Number does not equal the specified numeric value

        * greater than - Number is greater than the specified numeric value

        * less than - Number is less than the specified numeric value

        * greater than or equal - Number is greater than or equal to the
        specified numeric value

        * less than or equal - Number is less than or equal to the specified
        numeric value
      example: greater than or equal
    SearchFilterNumber:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SearchFilterType'
        key:
          type: string
          description: The search key
        comparator:
          $ref: '#/components/schemas/SearchFilterComparatorNumber'
        value:
          type: number
          description: The value searching for
      required:
        - type
        - key
        - comparator
        - value
      description: Filter for numeric fields, accepts a single number as the filter value
    SearchFilterComparatorDate:
      type: string
      enum:
        - is
        - is not
        - greater than
        - less than
        - greater than or equal
        - less than or equal
      description: >-
        * is - Date equals the specified date value

        * is not - Date does not equal the specified date value

        * greater than - Date is more recent than the specified date value

        * less than - Date is older than the specified date value

        * greater than or equal - Date is more recent or equal to the specified
        date value

        * less than or equal - Date is older than or equal to the specified date
        value
      example: less than
    SearchFilterDate:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SearchFilterType'
        key:
          type: string
          description: The search key
        comparator:
          $ref: '#/components/schemas/SearchFilterComparatorDate'
        value:
          type: number
          description: The value searching for
      required:
        - type
        - key
        - comparator
        - value
      description: >-
        Filter for date or timestamp fields, uses date-based comparators and
        accepts a numeric value representing the date (e.g., Unix timestamp)
    SearchFilterComparatorBoolean:
      type: string
      enum:
        - is
        - is not
      description: |-
        * is - Boolean equals the specified boolean value
        * is not - Boolean does not equal the specified boolean value
      example: is not
    SearchFilterBoolean:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SearchFilterType'
        key:
          type: string
          description: The search key
        comparator:
          $ref: '#/components/schemas/SearchFilterComparatorBoolean'
        value:
          type: boolean
          description: The value searching for
      required:
        - type
        - key
        - comparator
        - value
      description: Filter for boolean fields, accepts a boolean value
    SearchFilter:
      anyOf:
        - $ref: '#/components/schemas/SearchFilterString'
        - $ref: '#/components/schemas/SearchFilterSelect'
        - $ref: '#/components/schemas/SearchFilterMultiSelect'
        - $ref: '#/components/schemas/SearchFilterTypeahead'
        - $ref: '#/components/schemas/SearchFilterNumber'
        - $ref: '#/components/schemas/SearchFilterDate'
        - $ref: '#/components/schemas/SearchFilterBoolean'
      description: Filter for searching
      example:
        type: STRING
        key: name
        comparator: starts with
        value: Editor-
    SortDirection:
      type: string
      enum:
        - ASC
        - DESC
      description: |-
        * ASC - Ascending order
        * DESC - Descending order
      example: DESC
    Sorting:
      type: object
      properties:
        direction:
          $ref: '#/components/schemas/SortDirection'
        fields:
          type: array
          items:
            type: string
            minLength: 1
          description: The fields to consider when performing the sorting of the result
      description: The sorting definition
      example:
        direction: DESC
        fields:
          - name
          - company
    Search:
      type: object
      properties:
        filters:
          type: array
          items:
            $ref: '#/components/schemas/SearchFilter'
          description: A list of filters
        sorting:
          $ref: '#/components/schemas/Sorting'
      description: >-
        Defines the search parameters used to query objects of various types.
        Includes optional filters for narrowing down results and a sorting
        definition to control the order of returned data
      example:
        filters:
          - type: DATE
            key: modifyDate
            comparator: less than
            value: 1681912446650
        sorting:
          direction: DESC
          fields:
            - name
            - company
    OrgMemberSearch:
      allOf:
        - $ref: '#/components/schemas/Search'
        - type: object
          properties:
            excludeTeamByName:
              type: string
              minLength: 3
              maxLength: 64
              pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              description: Name of team whose members shall not be returned
              example: Dev-Ops
            excludeServiceAccounts:
              type: boolean
              description: Exclude service accounts from search result
              example: true
      description: >-
        Search input structure for querying organization members with filters,
        sorting, and exclusions.
      example:
        filters:
          - type: DATE
            key: modifyDate
            comparator: less than
            value: 1681912446650
        sorting:
          direction: DESC
          fields:
            - name
            - company
        excludeTeamByName: Dev-Ops
        excludeServiceAccounts: true
    Scope:
      type: string
      enum:
        - hcloud:full
        - idp:email:read
        - idp:user:read
        - idp:user:write
        - idp:user:delete
        - openid
        - idp:organization:read
        - idp:organization:write
        - idp:organization:delete
        - idp:organization:admin
        - high5:space:read
        - high5:space:execute
        - high5:space:write
        - high5:space:delete
        - fuse:space:read
        - fuse:space:execute
        - fuse:space:write
        - fuse:space:delete
        - cosmo:space:read
        - cosmo:space:write
        - cosmo:space:delete
      description: >-
        * hcloud:full - Full access to HCloud

        * idp:email:read - Access to email read operations

        * idp:user:read - Access to read operations of users

        * idp:user:write - Access to read and write operations of users

        * idp:user:delete - Access to read, write and delete operations of users

        * openid - Used for OAuth authentication requests. Used in the OpenID
        Connect protocol

        * idp:organization:read - Access to read operations of organizations

        * idp:organization:write - Access to read and write operations of
        organizations

        * idp:organization:delete - Access to read, write and delete operations
        of organizations

        * idp:organization:admin - Access to read, write and delete operations
        of organizations and ability to manage its members

        * high5:space:read - Access to read operations of spaces

        * high5:space:execute - Access to the ability to start execution of
        streams of spaces

        * high5:space:write - Access to read and write operations of spaces

        * high5:space:delete - Access to read, write and delete operations of
        spaces

        * fuse:space:read - Access to read operations of spaces

        * fuse:space:execute - Access to the ability to start execution of
        streams of spaces

        * fuse:space:write - Access to read and write operations of spaces

        * fuse:space:delete - Access to read, write and delete operations of
        spaces

        * cosmo:space:read - Access to read operations of spaces

        * cosmo:space:write - Access to read and write operations of spaces

        * cosmo:space:delete - Access to read, write and delete operations of
        spaces
      example: idp:organization:write
    PatCreateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 64
          pattern: ^[\w-. ]{1,64}$
          description: >-
            Name of the Personal Access Token (only alphanumeric characters,
            underscores, hyphens, dots and spaces are allowed; it should contain
            between 1 and 64 characters)
          example: Private auth token
        expiration:
          type: number
          description: Expiration as unix timestamp or no expiration if missing
          example: 1668415213314
        scopes:
          type: array
          items:
            $ref: '#/components/schemas/Scope'
          minItems: 1
          description: Set of scopes the user of the PAT is allowed to access
          example:
            - high5:space:read
            - high5:space:execute
        token:
          type: string
          minLength: 6
          maxLength: 6
          pattern: ^\d{6}$
          description: TOTP token. Must be defined if the user has 2FA enabled
          example: '451379'
      required:
        - name
        - scopes
      description: The required input structure for creating a Personal Access Token (PAT)
      example:
        name: private auth token
        expiration: 1668415213314
        scopes:
          - high5:space:read
          - high5:space:execute
        token: '451379'
    PatRegenerateDto:
      type: object
      properties:
        token:
          type: string
          minLength: 6
          maxLength: 6
          pattern: ^\d{6}$
          description: TOTP token. Must be defined if the user has 2FA enabled
          example: '451379'
      description: The input structure for regenerating a Personal Access Token (PAT)
      example:
        token: '451379'
    PatUpdateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 64
          pattern: ^[\w-. ]{1,64}$
          description: >-
            Name of the Personal Access Token (only alphanumeric characters,
            underscores, hyphens, dots and spaces are allowed; it should contain
            between 1 and 64 characters)
          example: Private auth token
        expiration:
          type: number
          description: >-
            UNIX timestamp with new expiration. Use the value -1 to make the
            token never expire.
          example: -1
        scopes:
          type: array
          items:
            $ref: '#/components/schemas/Scope'
          description: Set of scopes the user of the PAT is allowed to access
          example:
            - high5:space:read
            - high5:space:execute
        token:
          type: string
          minLength: 6
          maxLength: 6
          pattern: ^\d{6}$
          description: TOTP token. Must be defined if the user has 2FA enabled.
          example: '451379'
      description: The input structure for updating an existing Personal Access Token (PAT)
      example:
        name: private token
        expiration: -1
        scopes:
          - high5:space:read
          - high5:space:execute
        token: '451379'
    SAMLProviderCreateDto:
      type: object
      properties:
        ssoLoginURL:
          type: string
          format: uri
          description: URL used for Single Sign-On
          example: https://example.com/login
        ssoLogoutURL:
          type: string
          format: uri
          description: URL used for Single Logout
          example: https://example.com/logout
        certificates:
          type: array
          items:
            type: string
          minItems: 1
          description: The .pem files with the certificates used to validate signatures.
          format: binary
          example:
            - "-----BEGIN CERTIFICATE-----\r\nMIIDEzCCAfugAwIBAgIJG6QUfOLmCkjUMA0GCSqGSIb3DQEBCwUAMCcxJTAjBgNV\r\nBAMTHGhjbG91ZC1pZHAtdGVzdC5ldS5hdXRoMC5jb20wHhcNMjMwNDAzMTI1MDAw\r\nWhcNMzYxMjEwMTI1MDAwWjAnMSUwIwYDVQQDExxoY2xvdWQtaWRwLXRlc3QuZXUu\r\nYXV0aDAuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt06DwZ6C\r\n8M7m/jbiRzYrJ715A3OktUiQuUZdutfFoGc+l+/qh+TUJHg58gcZmAnDxSy2dTlE\r\nlcF0GjOmRsOq6mdYUEHiTmRayoPfi08FJzD2/O9J9tl7wYvbCqfNbC7AfgzbGbAW\r\nRGGlB5mIamssdCAZLMChfyYsDXsux5reRCmf+ZexZWEhr7/qIqtcLu/r72+83ihf\r\nHNIQdLX89TPujsyQ58Wrw8N9KS+jE7e5oLytxHZqH7GpiOn1NvxX2ey6Xl9RKv3N\r\nKNEA9Ayxd/X3UZrYMQ6OiX+o7Oywg9eLR67PGcuyRu6eUTSP6r0pnkqxV4jF7aFu\r\n0TWB7FMiqlc07QIDAQABo0IwQDAPBgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBQp\r\nzjA+jRxdhN4RKAY1x4y64dOp5DAOBgNVHQ8BAf8EBAMCAoQwDQYJKoZIhvcNAQEL\r\nBQADggEBAEHN/kj/07CqlOxbmsufA7mGMiV05YWBkVSIhpusm9xnT8mAfQO7y0pu\r\ntHvrBGnzgMG1L2iFOWnxhxHyd3LrMz/CQS/xxis5ypX+LmJ3BS/47UdkAK3kS1jB\r\nnk9LV1kXHJf/RikT3v2XODwVEVZCN6WCmMlIY0uw2HWdY/3Ayx71S+JOIxIvfw7h\r\nMaxdIDh+JDH9w3VTofb91V2/x0bNQQVwbgLdHVqSFWsVn1NWOrMc6J1kFGpLM+KY\r\nk2I0HFMXLzDMzw/jQG400BslLTfOLKAtGxBEBMnnIMqsRONTFEGgSAPAXl4v0Ifn\r\nNbsaQ9QA34+Vxi6DSEpfL3KcPEUm17o=\r\n-----END CERTIFICATE-----"
            - "-----BEGIN CERTIFICATE-----\r\nMIIDEzCCAfugAwIBAgIJG6QUfOLmCkjUMA0GCSqGSIb3DQEBCwUAMCcxJTAjBgNV\r\nBAMTHGhjbG91ZC1pZHAtdGVzdC5ldS5hdXRoMC5jb20wHhcNMjMwNDAzMTI1MDAw\r\nWhcNMzYxMjEwMTI1MDAwWjAnMSUwIwYDVQQDExxoY2xvdWQtaWRwLXRlc3QuZXUu\r\nYXV0aDAuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt06DwZ6C\r\n8M7m/jbiRzYrJ715A3OktUiQuUZdutfFoGc+l+/qh+TUJHg58gcZmAnDxSy2dTlE\r\nlcF0GjOmRsOq6mdYUEHiTmRayoPfi08FJzD2/O9J9tl7wYvbCqfNbC7AfgzbGbAW\r\nRGGlB5mIamssdCAZLMChfyYsDXsux5reRCmf+ZexZWEhr7/qIqtcLu/r72+83ihf\r\nHNIQdLX89TPujsyQ58Wrw8N9KS+jE7e5oLytxHZqH7GpiOn1NvxX2ey6Xl9RKv3N\r\nKNEA9Ayxd/X3UZrYMQ6OiX+o7Oywg9eLR67PGcuyRu6eUTSP6r0pnkqxV4jF7aFu\r\n0TWB7FMiqlc07QIDAQABo0IwQDAPBgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBQp\r\nzjA+jRxdhN4RKAY1x4y64dOp5DAOBgNVHQ8BAf8EBAMCAoQwDQYJKoZIhvcNAQEL\r\nBQADggEBAEHN/kj/07CqlOxbmsufA7mGMiV05YWBkVSIhpusm9xnT8mAfQO7y0pu\r\ntHvrBGnzgMG1L2iFOWnxhxHyd3LrMz/CQS/xxis5ypX+LmJ3BS/47UdkAK3kS1jB\r\nnk9LV1kXHJf/RikT3v2XODwVEVZCN6WCmMlIY0uw2HWdY/3Ayx71S+JOIxIvfw7h\r\nMaxdIDh+JDH9w3VTofb91V2/x0bNQQVwbgLdHVqSFWsVn1NWOrMc6J1kFGpLM+KY\r\nk2I0HFMXLzDMzw/jQG400BslLTfOLKAtGxBEBMnnIMqsRONTFEGgSAPAXl4v0Ifn\r\nNbsaQ9QA34+Vxi6DSEpfL3KcPEUm17o=\r\n-----END CERTIFICATE-----"
        allowUnencryptedAssertion:
          type: boolean
          description: Flag to allow assertions to not be encrypted
          example: true
      required:
        - ssoLoginURL
        - ssoLogoutURL
        - certificates
      description: Payload for creating a new SAML provider configuration
      example:
        ssoLoginURL: https://example.com/login
        ssoLogoutURL: https://example.com/logout
        certificates:
          - "-----BEGIN CERTIFICATE-----\r\nMIIDEzCCAfugAwIBAgIJG6QUfOLmCkjUMA0GCSqGSIb3DQEBCwUAMCcxJTAjBgNV\r\nBAMTHGhjbG91ZC1pZHAtdGVzdC5ldS5hdXRoMC5jb20wHhcNMjMwNDAzMTI1MDAw\r\nWhcNMzYxMjEwMTI1MDAwWjAnMSUwIwYDVQQDExxoY2xvdWQtaWRwLXRlc3QuZXUu\r\nYXV0aDAuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt06DwZ6C\r\n8M7m/jbiRzYrJ715A3OktUiQuUZdutfFoGc+l+/qh+TUJHg58gcZmAnDxSy2dTlE\r\nlcF0GjOmRsOq6mdYUEHiTmRayoPfi08FJzD2/O9J9tl7wYvbCqfNbC7AfgzbGbAW\r\nRGGlB5mIamssdCAZLMChfyYsDXsux5reRCmf+ZexZWEhr7/qIqtcLu/r72+83ihf\r\nHNIQdLX89TPujsyQ58Wrw8N9KS+jE7e5oLytxHZqH7GpiOn1NvxX2ey6Xl9RKv3N\r\nKNEA9Ayxd/X3UZrYMQ6OiX+o7Oywg9eLR67PGcuyRu6eUTSP6r0pnkqxV4jF7aFu\r\n0TWB7FMiqlc07QIDAQABo0IwQDAPBgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBQp\r\nzjA+jRxdhN4RKAY1x4y64dOp5DAOBgNVHQ8BAf8EBAMCAoQwDQYJKoZIhvcNAQEL\r\nBQADggEBAEHN/kj/07CqlOxbmsufA7mGMiV05YWBkVSIhpusm9xnT8mAfQO7y0pu\r\ntHvrBGnzgMG1L2iFOWnxhxHyd3LrMz/CQS/xxis5ypX+LmJ3BS/47UdkAK3kS1jB\r\nnk9LV1kXHJf/RikT3v2XODwVEVZCN6WCmMlIY0uw2HWdY/3Ayx71S+JOIxIvfw7h\r\nMaxdIDh+JDH9w3VTofb91V2/x0bNQQVwbgLdHVqSFWsVn1NWOrMc6J1kFGpLM+KY\r\nk2I0HFMXLzDMzw/jQG400BslLTfOLKAtGxBEBMnnIMqsRONTFEGgSAPAXl4v0Ifn\r\nNbsaQ9QA34+Vxi6DSEpfL3KcPEUm17o=\r\n-----END CERTIFICATE-----"
          - "-----BEGIN CERTIFICATE-----\r\nMIIDEzCCAfugAwIBAgIJG6QUfOLmCkjUMA0GCSqGSIb3DQEBCwUAMCcxJTAjBgNV\r\nBAMTHGhjbG91ZC1pZHAtdGVzdC5ldS5hdXRoMC5jb20wHhcNMjMwNDAzMTI1MDAw\r\nWhcNMzYxMjEwMTI1MDAwWjAnMSUwIwYDVQQDExxoY2xvdWQtaWRwLXRlc3QuZXUu\r\nYXV0aDAuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt06DwZ6C\r\n8M7m/jbiRzYrJ715A3OktUiQuUZdutfFoGc+l+/qh+TUJHg58gcZmAnDxSy2dTlE\r\nlcF0GjOmRsOq6mdYUEHiTmRayoPfi08FJzD2/O9J9tl7wYvbCqfNbC7AfgzbGbAW\r\nRGGlB5mIamssdCAZLMChfyYsDXsux5reRCmf+ZexZWEhr7/qIqtcLu/r72+83ihf\r\nHNIQdLX89TPujsyQ58Wrw8N9KS+jE7e5oLytxHZqH7GpiOn1NvxX2ey6Xl9RKv3N\r\nKNEA9Ayxd/X3UZrYMQ6OiX+o7Oywg9eLR67PGcuyRu6eUTSP6r0pnkqxV4jF7aFu\r\n0TWB7FMiqlc07QIDAQABo0IwQDAPBgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBQp\r\nzjA+jRxdhN4RKAY1x4y64dOp5DAOBgNVHQ8BAf8EBAMCAoQwDQYJKoZIhvcNAQEL\r\nBQADggEBAEHN/kj/07CqlOxbmsufA7mGMiV05YWBkVSIhpusm9xnT8mAfQO7y0pu\r\ntHvrBGnzgMG1L2iFOWnxhxHyd3LrMz/CQS/xxis5ypX+LmJ3BS/47UdkAK3kS1jB\r\nnk9LV1kXHJf/RikT3v2XODwVEVZCN6WCmMlIY0uw2HWdY/3Ayx71S+JOIxIvfw7h\r\nMaxdIDh+JDH9w3VTofb91V2/x0bNQQVwbgLdHVqSFWsVn1NWOrMc6J1kFGpLM+KY\r\nk2I0HFMXLzDMzw/jQG400BslLTfOLKAtGxBEBMnnIMqsRONTFEGgSAPAXl4v0Ifn\r\nNbsaQ9QA34+Vxi6DSEpfL3KcPEUm17o=\r\n-----END CERTIFICATE-----"
        allowUnencryptedAssertion: true
    SAMLProviderPatchDto:
      type: object
      properties:
        certificates:
          type: array
          items:
            type: string
          minItems: 1
          description: The .pem files with the certificates used to valid signatures.
          format: binary
          example:
            - "-----BEGIN CERTIFICATE-----\r\nMIIDEzCCAfugAwIBAgIJG6QUfOLmCkjUMA0GCSqGSIb3DQEBCwUAMCcxJTAjBgNV\r\nBAMTHGhjbG91ZC1pZHAtdGVzdC5ldS5hdXRoMC5jb20wHhcNMjMwNDAzMTI1MDAw\r\nWhcNMzYxMjEwMTI1MDAwWjAnMSUwIwYDVQQDExxoY2xvdWQtaWRwLXRlc3QuZXUu\r\nYXV0aDAuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt06DwZ6C\r\n8M7m/jbiRzYrJ715A3OktUiQuUZdutfFoGc+l+/qh+TUJHg58gcZmAnDxSy2dTlE\r\nlcF0GjOmRsOq6mdYUEHiTmRayoPfi08FJzD2/O9J9tl7wYvbCqfNbC7AfgzbGbAW\r\nRGGlB5mIamssdCAZLMChfyYsDXsux5reRCmf+ZexZWEhr7/qIqtcLu/r72+83ihf\r\nHNIQdLX89TPujsyQ58Wrw8N9KS+jE7e5oLytxHZqH7GpiOn1NvxX2ey6Xl9RKv3N\r\nKNEA9Ayxd/X3UZrYMQ6OiX+o7Oywg9eLR67PGcuyRu6eUTSP6r0pnkqxV4jF7aFu\r\n0TWB7FMiqlc07QIDAQABo0IwQDAPBgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBQp\r\nzjA+jRxdhN4RKAY1x4y64dOp5DAOBgNVHQ8BAf8EBAMCAoQwDQYJKoZIhvcNAQEL\r\nBQADggEBAEHN/kj/07CqlOxbmsufA7mGMiV05YWBkVSIhpusm9xnT8mAfQO7y0pu\r\ntHvrBGnzgMG1L2iFOWnxhxHyd3LrMz/CQS/xxis5ypX+LmJ3BS/47UdkAK3kS1jB\r\nnk9LV1kXHJf/RikT3v2XODwVEVZCN6WCmMlIY0uw2HWdY/3Ayx71S+JOIxIvfw7h\r\nMaxdIDh+JDH9w3VTofb91V2/x0bNQQVwbgLdHVqSFWsVn1NWOrMc6J1kFGpLM+KY\r\nk2I0HFMXLzDMzw/jQG400BslLTfOLKAtGxBEBMnnIMqsRONTFEGgSAPAXl4v0Ifn\r\nNbsaQ9QA34+Vxi6DSEpfL3KcPEUm17o=\r\n-----END CERTIFICATE-----"
            - "-----BEGIN CERTIFICATE-----\r\nMIIDEzCCAfugAwIBAgIJG6QUfOLmCkjUMA0GCSqGSIb3DQEBCwUAMCcxJTAjBgNV\r\nBAMTHGhjbG91ZC1pZHAtdGVzdC5ldS5hdXRoMC5jb20wHhcNMjMwNDAzMTI1MDAw\r\nWhcNMzYxMjEwMTI1MDAwWjAnMSUwIwYDVQQDExxoY2xvdWQtaWRwLXRlc3QuZXUu\r\nYXV0aDAuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt06DwZ6C\r\n8M7m/jbiRzYrJ715A3OktUiQuUZdutfFoGc+l+/qh+TUJHg58gcZmAnDxSy2dTlE\r\nlcF0GjOmRsOq6mdYUEHiTmRayoPfi08FJzD2/O9J9tl7wYvbCqfNbC7AfgzbGbAW\r\nRGGlB5mIamssdCAZLMChfyYsDXsux5reRCmf+ZexZWEhr7/qIqtcLu/r72+83ihf\r\nHNIQdLX89TPujsyQ58Wrw8N9KS+jE7e5oLytxHZqH7GpiOn1NvxX2ey6Xl9RKv3N\r\nKNEA9Ayxd/X3UZrYMQ6OiX+o7Oywg9eLR67PGcuyRu6eUTSP6r0pnkqxV4jF7aFu\r\n0TWB7FMiqlc07QIDAQABo0IwQDAPBgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBQp\r\nzjA+jRxdhN4RKAY1x4y64dOp5DAOBgNVHQ8BAf8EBAMCAoQwDQYJKoZIhvcNAQEL\r\nBQADggEBAEHN/kj/07CqlOxbmsufA7mGMiV05YWBkVSIhpusm9xnT8mAfQO7y0pu\r\ntHvrBGnzgMG1L2iFOWnxhxHyd3LrMz/CQS/xxis5ypX+LmJ3BS/47UdkAK3kS1jB\r\nnk9LV1kXHJf/RikT3v2XODwVEVZCN6WCmMlIY0uw2HWdY/3Ayx71S+JOIxIvfw7h\r\nMaxdIDh+JDH9w3VTofb91V2/x0bNQQVwbgLdHVqSFWsVn1NWOrMc6J1kFGpLM+KY\r\nk2I0HFMXLzDMzw/jQG400BslLTfOLKAtGxBEBMnnIMqsRONTFEGgSAPAXl4v0Ifn\r\nNbsaQ9QA34+Vxi6DSEpfL3KcPEUm17o=\r\n-----END CERTIFICATE-----"
      required:
        - certificates
      description: Payload for updating SAML provider certificates
      example:
        certificates:
          - "-----BEGIN CERTIFICATE-----\r\nMIIDEzCCAfugAwIBAgIJG6QUfOLmCkjUMA0GCSqGSIb3DQEBCwUAMCcxJTAjBgNV\r\nBAMTHGhjbG91ZC1pZHAtdGVzdC5ldS5hdXRoMC5jb20wHhcNMjMwNDAzMTI1MDAw\r\nWhcNMzYxMjEwMTI1MDAwWjAnMSUwIwYDVQQDExxoY2xvdWQtaWRwLXRlc3QuZXUu\r\nYXV0aDAuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt06DwZ6C\r\n8M7m/jbiRzYrJ715A3OktUiQuUZdutfFoGc+l+/qh+TUJHg58gcZmAnDxSy2dTlE\r\nlcF0GjOmRsOq6mdYUEHiTmRayoPfi08FJzD2/O9J9tl7wYvbCqfNbC7AfgzbGbAW\r\nRGGlB5mIamssdCAZLMChfyYsDXsux5reRCmf+ZexZWEhr7/qIqtcLu/r72+83ihf\r\nHNIQdLX89TPujsyQ58Wrw8N9KS+jE7e5oLytxHZqH7GpiOn1NvxX2ey6Xl9RKv3N\r\nKNEA9Ayxd/X3UZrYMQ6OiX+o7Oywg9eLR67PGcuyRu6eUTSP6r0pnkqxV4jF7aFu\r\n0TWB7FMiqlc07QIDAQABo0IwQDAPBgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBQp\r\nzjA+jRxdhN4RKAY1x4y64dOp5DAOBgNVHQ8BAf8EBAMCAoQwDQYJKoZIhvcNAQEL\r\nBQADggEBAEHN/kj/07CqlOxbmsufA7mGMiV05YWBkVSIhpusm9xnT8mAfQO7y0pu\r\ntHvrBGnzgMG1L2iFOWnxhxHyd3LrMz/CQS/xxis5ypX+LmJ3BS/47UdkAK3kS1jB\r\nnk9LV1kXHJf/RikT3v2XODwVEVZCN6WCmMlIY0uw2HWdY/3Ayx71S+JOIxIvfw7h\r\nMaxdIDh+JDH9w3VTofb91V2/x0bNQQVwbgLdHVqSFWsVn1NWOrMc6J1kFGpLM+KY\r\nk2I0HFMXLzDMzw/jQG400BslLTfOLKAtGxBEBMnnIMqsRONTFEGgSAPAXl4v0Ifn\r\nNbsaQ9QA34+Vxi6DSEpfL3KcPEUm17o=\r\n-----END CERTIFICATE-----"
          - "-----BEGIN CERTIFICATE-----\r\nMIIDEzCCAfugAwIBAgIJG6QUfOLmCkjUMA0GCSqGSIb3DQEBCwUAMCcxJTAjBgNV\r\nBAMTHGhjbG91ZC1pZHAtdGVzdC5ldS5hdXRoMC5jb20wHhcNMjMwNDAzMTI1MDAw\r\nWhcNMzYxMjEwMTI1MDAwWjAnMSUwIwYDVQQDExxoY2xvdWQtaWRwLXRlc3QuZXUu\r\nYXV0aDAuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt06DwZ6C\r\n8M7m/jbiRzYrJ715A3OktUiQuUZdutfFoGc+l+/qh+TUJHg58gcZmAnDxSy2dTlE\r\nlcF0GjOmRsOq6mdYUEHiTmRayoPfi08FJzD2/O9J9tl7wYvbCqfNbC7AfgzbGbAW\r\nRGGlB5mIamssdCAZLMChfyYsDXsux5reRCmf+ZexZWEhr7/qIqtcLu/r72+83ihf\r\nHNIQdLX89TPujsyQ58Wrw8N9KS+jE7e5oLytxHZqH7GpiOn1NvxX2ey6Xl9RKv3N\r\nKNEA9Ayxd/X3UZrYMQ6OiX+o7Oywg9eLR67PGcuyRu6eUTSP6r0pnkqxV4jF7aFu\r\n0TWB7FMiqlc07QIDAQABo0IwQDAPBgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBQp\r\nzjA+jRxdhN4RKAY1x4y64dOp5DAOBgNVHQ8BAf8EBAMCAoQwDQYJKoZIhvcNAQEL\r\nBQADggEBAEHN/kj/07CqlOxbmsufA7mGMiV05YWBkVSIhpusm9xnT8mAfQO7y0pu\r\ntHvrBGnzgMG1L2iFOWnxhxHyd3LrMz/CQS/xxis5ypX+LmJ3BS/47UdkAK3kS1jB\r\nnk9LV1kXHJf/RikT3v2XODwVEVZCN6WCmMlIY0uw2HWdY/3Ayx71S+JOIxIvfw7h\r\nMaxdIDh+JDH9w3VTofb91V2/x0bNQQVwbgLdHVqSFWsVn1NWOrMc6J1kFGpLM+KY\r\nk2I0HFMXLzDMzw/jQG400BslLTfOLKAtGxBEBMnnIMqsRONTFEGgSAPAXl4v0Ifn\r\nNbsaQ9QA34+Vxi6DSEpfL3KcPEUm17o=\r\n-----END CERTIFICATE-----"
    SAMLResponse:
      type: object
      properties:
        RelayState:
          type: string
          minLength: 24
          maxLength: 24
          format: hexadecimal
          description: State value forwarded by the SAML IdP
          example: 8164031fd36f1412ecc7a8e5
        SAMLResponse:
          type: string
          description: >-
            Base64 URL encoded XML string containing the response as per the <a
            href="https://docs.oasis-open.org/security/saml/v2.0/saml-bindings-2.0-os.pdf">SAML
            2.0 HTTP POST binding (Section 3.5)</a>
          example: PHNhbWxwOlJlc3BvbnNlPmV4YW1wbGU8L3NhbWxwOlJlc3BvbnNlPg==
      required:
        - RelayState
        - SAMLResponse
      description: Payload containing RelayState and Base64-encoded SAML response
      example:
        RelayState: 8164031fd36f1412ecc7a8e5
        SAMLResponse: PHNhbWxwOlJlc3BvbnNlPmV4YW1wbGU8L3NhbWxwOlJlc3BvbnNlPg==
    ServiceAccountCreateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 255
          pattern: ^(?!-)(?!.*--)[\w-. ]{3,255}(?<!-)$
          description: Service account name
          example: ci-worker
      required:
        - name
      description: Payload for creating a new service account
      example:
        name: ci-worker
    High5SpacePermission:
      type: string
      enum:
        - NONE
        - READ
        - EXECUTE
        - WRITE
        - MANAGE
        - OWNER
      description: The permission the user has within the space
      example: OWNER
    ServiceAccountPatchPermissionDto:
      type: object
      properties:
        permission:
          $ref: '#/components/schemas/High5SpacePermission'
      required:
        - permission
      description: Users permissions within the space
      example:
        permission: OWNER
    TeamCreateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 64
          pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
          description: >-
            Name of the team (only alphanumeric characters, hyphens and dots are
            allowed; it should contain between 3 and 64 characters)
          example: Research-and-development-department.1
        userIds:
          type: array
          items:
            type: string
            minLength: 24
            maxLength: 24
            format: hexadecimal
          minItems: 1
          maxItems: 1000
          description: Array of user database IDs that should be part of the team
          example:
            - 761b2de208337dc792b65f93
            - 385b2de208337dc792b65f38
            - 97ab2de208337dc792b65f11
      required:
        - name
        - userIds
      description: Payload for creating a new team with a name and list of user IDs
      example:
        name: Devs_Team
        userIds:
          - 761b2de208337dc792b65f93
          - 385b2de208337dc792b65f38
          - 97ab2de208337dc792b65f11
    UsersOperation:
      type: string
      enum:
        - ADD
        - REMOVE
        - SET
      description: >-
        Define which operation should be performed with the provided users array
        on the existing users array
      example: ADD
    TeamPatchDto:
      type: object
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 64
          pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
          description: >-
            Name of the team (only alphanumeric characters, hyphens and dots are
            allowed; it should contain between 3 and 64 characters)
          example: Research-and-development-department.1
        userIds:
          type: array
          items:
            type: string
            minLength: 24
            maxLength: 24
            format: hexadecimal
          minItems: 1
          maxItems: 1000
          description: Array of user database IDs that should be part of the team
          example:
            - 761b2de208337dc792b65f93
            - 385b2de208337dc792b65f38
            - 97ab2de208337dc792b65f11
        usersOperation:
          $ref: '#/components/schemas/UsersOperation'
      description: >-
        Payload for updating a team, including optional name, user list, and
        operation type
      example:
        name: Devs_Team
        userIds:
          - 761b2de208337dc792b65f93
          - 385b2de208337dc792b65f38
          - 97ab2de208337dc792b65f11
        usersOperation: ADD
    TeamResolveDto:
      type: object
      properties:
        teamIds:
          type: array
          items:
            type: string
            minLength: 24
            maxLength: 24
            format: hexadecimal
          minItems: 1
          description: List of team IDs to be resolved
          example:
            - 761b2de208337dc792b65f93
            - 385b2de208337dc792b65f38
            - 97ab2de208337dc792b65f11
        organizationId:
          type: string
          minLength: 24
          maxLength: 24
          format: hexadecimal
          description: >-
            ID of an organization. Will not resolve teams that are not part of
            this organization. In essence, guarantees that all teams are of the
            same organization.
          example: 563b2de208337dc792b65dc2
      required:
        - teamIds
      description: >-
        Payload for resolving teams by their IDs, optionally scoped to a
        specific organization
      example:
        teamIds:
          - 761b2de208337dc792b65f93
          - 385b2de208337dc792b65f38
          - 97ab2de208337dc792b65f11
        organizationId: 563b2de208337dc792b65dc2
    UserTotpDto:
      type: object
      properties:
        email:
          type: string
          format: email
          description: Email of the user
          example: hmc@helmut.cloud
        token:
          type: string
          minLength: 6
          maxLength: 6
          pattern: ^\d{6}$
          description: Token to match against a TOTP secret if 2FA is enabled
          example: '467932'
      required:
        - email
        - token
      description: Payload for verifying a TOTP token during 2FA authentication
      example:
        email: hmc@helmut.cloud
        token: '467932'
    UserTotpRecoverCodeDto:
      type: object
      properties:
        email:
          type: string
          format: email
          description: Email of the user
          example: hmc@helmut.cloud
        password:
          type: string
          minLength: 8
          pattern: ^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$
          description: Password of the user
          example: Anewpassword!123
        code:
          type: string
          format: uuid
          description: Code to match against the TOTP recoverCodes
          example: e5065bc6-14f5-43cf-a13b-7970d4aa9630
      required:
        - email
        - password
        - code
      description: >-
        Payload for verifying a TOTP recovery code using email, password, and
        recovery UUID
      example:
        email: hmc@helmut.cloud
        password: Anewpassword!123
        code: e5065bc6-14f5-43cf-a13b-7970d4aa9630
    UserTotpTokenDto:
      type: object
      properties:
        token:
          type: string
          minLength: 6
          maxLength: 6
          pattern: ^\d{6}$
          description: Token to match against a TOTP secret
          example: '462810'
      required:
        - token
      description: Payload for verifying a TOTP token
      example:
        token: '462810'
    ForgotPasswordDto:
      type: object
      properties:
        email:
          type: string
          format: email
          description: Email of the user that forgot their password
          example: hmc@helmut.cloud
        captcha:
          type: string
          minLength: 1
          description: Valid google reCAPTCHAV2
          example: D6vS8kM
        targetUrl:
          type: string
          format: uri
          description: >-
            URL create the redirect link in the email. It will default to
            https://app.helmut.cloud
          example: app.helmut.cloud
      required:
        - email
        - captcha
      description: >-
        Payload for requesting a password reset, including user email, CAPTCHA
        token, and optional target URL
      example:
        email: hmc@helmut.cloud
        captcha: D6vS8kM
        targetUrl: https://app.helmut.cloud
    Views:
      type: string
      enum:
        - save_last_view
        - /account
        - /high5
        - /fuse
        - /cosmo
      description: Last view the user was in
      example: /account
    GeneralSettingsLastVisitPatchDto:
      type: object
      properties:
        lastUrl:
          type: string
          minLength: 1
          maxLength: 2048
          description: Last URL visited by the user
          example: /account/settings
        lastView:
          $ref: '#/components/schemas/Views'
      description: >-
        Payload for updating the user's last visited URL and view in general
        settings
      example:
        lastUrl: /account/settings
        lastView: /account
    Language:
      type: string
      enum:
        - en
        - de
      description: New language
      example: en
    Entrypoint:
      type: string
      enum:
        - DEFAULT
        - HIGH5
        - FUSE
        - COSMO
        - LAST_VISITED
      description: New entrypoint in helmut.cloud
      example: HIGH5
    DateFormat:
      type: string
      enum:
        - YYYY-MM-DDTHH:mm:ss
        - YYYY-MM-DD hh:mm:ss a
        - MM/DD/YYYY hh:mm:ss a
        - Day, Month DD, YYYY at hh:mm:ss a
        - DD/MM/YYYY HH:mm:ss
        - Day DD Month YYYY at HH:mm:ss
        - DD.MM.YYYY HH:mm:ss
        - Day, DD. Month YYYY at HH:mm:ss
      description: New format to use for dates
      example: Day DD Month YYYY at HH:mm:ss
    Theme:
      type: string
      enum:
        - DARK
        - LIGHT
        - DARK_HIGH_CONTRAST
        - LIGHT_HIGH_CONTRAST
        - SYSTEM_DEFAULT
      description: Theme to use
      example: SYSTEM_DEFAULT
    GeneralSettingsPatchDto:
      type: object
      properties:
        lastUrl:
          type: string
          minLength: 1
          maxLength: 2048
          description: Last URL visited by the user
          example: /account/settings
        lastView:
          $ref: '#/components/schemas/Views'
        timezone:
          type: string
          description: IANA timezone
          example: Europe/Lisbon
        language:
          $ref: '#/components/schemas/Language'
        entrypoint:
          $ref: '#/components/schemas/Entrypoint'
        dateFormat:
          $ref: '#/components/schemas/DateFormat'
        theme:
          $ref: '#/components/schemas/Theme'
      description: >-
        Payload for updating general settings such as last visited URL, view,
        timezone, language, entrypoint, date format, and theme
      example:
        lastUrl: /account/settings
        lastView: /account
        timezone: Europe/Lisbon
        language: en
        entrypoint: HIGH5
        dateFormat: Day DD Month YYYY at HH:mm:ss
        theme: SYSTEM_DEFAULT
    NotificationSettingsPatchDto:
      type: object
      properties:
        organizationInvitationEmail:
          type: boolean
          description: Enable/disable email notification when invited to an organization
          example: true
        systemNotifications:
          type: boolean
          description: Enable/disable system notifications
          example: false
        cosmoNotifications:
          type: boolean
          description: Enable/disable cosmo notifications
          example: true
      description: >-
        Payload for updating notification preferences such as organization
        invites, system, and cosmo alerts
      example:
        organizationInvitationEmail: true
        systemNotifications: false
        cosmoNotifications: true
    UserChangePasswordDto:
      type: object
      properties:
        old:
          type: string
          description: Old password
          example: OldPass123!
        new:
          type: string
          minLength: 8
          pattern: ^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$
          description: >-
            New password (must include uppercase, lowercase, number, and special
            character)
          example: NewPass456@
        token:
          type: string
          minLength: 6
          maxLength: 6
          pattern: ^\d{6}$
          description: >-
            TOTP token to validate the user's authenticity. Only required if the
            user has 2FA enabled.
          example: '935482'
      required:
        - old
        - new
      description: >-
        Payload for changing a user's password, including old and new passwords
        and optional 2FA token
      example:
        old: OldPass123!
        new: NewPass456@
        token: '935482'
    UserLoginDto:
      type: object
      properties:
        email:
          type: string
          format: email
          description: Email of the user
          example: hmc@helmut.cloud
        password:
          type: string
          minLength: 8
          pattern: /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/
          description: Password of the user
          example: 123&/(Password
        token:
          type: string
          minLength: 6
          maxLength: 6
          pattern: ^\d{6}$
          description: Token to match against a TOTP secret if 2FA is enabled
          example: '937482'
      required:
        - email
        - password
      description: >-
        Payload for user login, including email, password, and optional 2FA
        token
      example:
        email: hmc@helmut.cloud
        password: 123&/(Password
        token: '937482'
    UserPatchDto:
      type: object
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 255
          pattern: ^(?!-)(?!.*--)[\w-. ]{3,255}(?<!-)$
          description: >-
            Name of the user (only alphanumeric characters, underscores,
            hyphens, dots and spaces are allowed; it should contain between 3
            and 255 characters)
          example: Helmut Mc Cloud
        email:
          type: string
          format: email
          description: Email of the user
          example: hmc@helmut.cloud
        password:
          type: string
          minLength: 8
          pattern: ^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$
          description: Password of the user
          example: MySuperSecurePassword123!
        company:
          type: string
          minLength: 1
          maxLength: 255
          pattern: ^[\w-. ]{1,255}$
          description: >-
            Name of the company the organization belongs to (only alphanumeric
            characters, underscores, hyphens, dots and spaces are allowed; it
            should contain between 1 and 255 characters)
          example: Moovit SP
        activeOrganization:
          anyOf:
            - type: string
              minLength: 3
              maxLength: 64
              pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              description: >-
                Name of the organization (only alphanumeric characters, hyphens
                and dots are allowed; it should contain between 3 and 64
                characters)
              example: MoovIT-Software-Products-GmbH
            - type: string
              minLength: 3
              maxLength: 255
              pattern: ^[\w-+@.]{3,255}$
              description: >-
                Name of the user's private organization, allowed everything
                defined in the RFC for the email specification (it should
                contain between 3 and 255 characters)
              example: hmc@helmut.cloud
          description: Name of the currently active organization of the user
          example: Video Editors
      description: >-
        Payload for updating user profile fields such as name, email, password,
        company, and active organization
      example:
        name: Helmut Mc Cloud
        email: hmc@helmut.cloud
        password: MySuperSecurePassword123!
        company: Moovit Software Products
        activeOrganization: Video Editors
    UserRegistrationDto:
      type: object
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 255
          pattern: ^(?!-)(?!.*--)[\w-. ]{3,255}(?<!-)$
          description: >-
            Name of the user (only alphanumeric characters, underscores,
            hyphens, dots and spaces are allowed; it should contain between 3
            and 255 characters)
          example: Helmut Mc Cloud
        email:
          type: string
          format: email
          description: Email of the user
          example: hmc@helmut.cloud
        password:
          type: string
          minLength: 8
          pattern: ^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$
          description: Password of the user
          example: MySuperSecurePassword123!
        company:
          type: string
          minLength: 1
          maxLength: 255
          pattern: ^[\w-. ]{1,255}$
          description: >-
            Name of the company the organization belongs to (only alphanumeric
            characters, underscores, hyphens, dots and spaces are allowed; it
            should contain between 1 and 255 characters)
          example: Moovit SP
        captcha:
          type: string
          minLength: 1
          description: Valid google reCAPTCHAV2
          example: A6bmQ7n38
        language:
          allOf:
            - $ref: '#/components/schemas/Language'
            - description: Define the user's language
              example: de
        timezone:
          type: string
          description: Define the user's timezone
          example: Europe/Lisbon
        targetUrl:
          type: string
          format: uri
          description: >-
            URL to create the redirect link in the email. Defaults to
            https://app.helmut.cloud.
          example: https://app.helmut.cloud
      required:
        - name
        - email
        - password
        - captcha
      description: >-
        Payload for user registration, including credentials, optional company,
        language, timezone, and redirect URL
      example:
        name: Helmut Mc Cloud
        email: hmc@helmut.cloud
        password: MySuperSecurePassword123!
        company: Moovit Software Products
        captcha: A6bmQ7n38
        language: de
        timezone: Europe/Lisbon
        targetUrl: https://app.helmut.cloud
    UserResendRegistrationEmailDto:
      type: object
      properties:
        email:
          type: string
          format: email
          description: Email of the user
          example: hmc@helmut.cloud
        targetUrl:
          type: string
          format: uri
          description: >-
            URL to create the redirect link in the email. It will default to
            https://app.helmut.cloud.
          example: https://app.helmut.cloud
      required:
        - email
      description: >-
        Payload for resending a registration email, including user email and
        optional redirect URL
      example:
        email: hmc@helmut.cloud
        targetUrl: https://app.helmut.cloud
    UserResetPasswordDto:
      type: object
      properties:
        email:
          type: string
          format: email
          description: Email of the user
          example: hmc@helmut.cloud
        nonce:
          type: string
          description: Nonce generated in the 1st phase of the password reset process.
          example: d6e65091-5810-4dc8-a321-9ea59f49e4fa
        newPassword:
          type: string
          pattern: ^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$
          description: New password
          example: Anewpassword!123
        totpToken:
          type: string
          description: TOTP token. Required only if the user has 2FA enabled.
          example: '237112'
      required:
        - email
        - nonce
        - newPassword
      description: >-
        Payload for resetting a user's password, including email, nonce, new
        password, and optional 2FA token
      example:
        email: hmc@helmut.cloud
        nonce: d6e65091-5810-4dc8-a321-9ea59f49e4fa
        newPassword: Anewpassword!123
        totpToken: '237112'
    UserResolveDto:
      type: object
      properties:
        userIds:
          type: array
          items:
            type: string
            minLength: 24
            maxLength: 24
            pattern: ^[a-fA-F0-9]{24}$
            description: >-
              ID of the user (ObjectId identifier, consists of 24 hexadecimal
              digits)
            example: 671b7de208337dc792b65f93
          minItems: 1
          description: List of user IDs to be resolved
          example:
            - 761b2de208337dc792b65f93
            - 385b2de208337dc792b65f38
            - 97ab2de208337dc792b65f11
        organizationId:
          type: string
          minLength: 24
          maxLength: 24
          format: hexadecimal
          description: >-
            ID of an organization. Will not resolve users that are not members
            of this organization. In essence, guarantees that all users are
            members of the same organization.
          example: 563b2de208337dc792b65dc2
        email:
          type: string
          format: email
          description: >-
            Email of a user. Must be undefined if userIds are defined and
            vice-versa.
          example: hmc@helmut.cloud
      description: >-
        Payload for resolving users by ID or email, optionally scoped to an
        organization
      example:
        userIds:
          - 761b2de208337dc792b65f93
          - 385b2de208337dc792b65f38
          - 97ab2de208337dc792b65f11
        organizationId: 563b2de208337dc792b65dc2
    UserVerifyRegistrationDto:
      type: object
      properties:
        email:
          type: string
          format: email
          description: Email of the user
          example: hmc@helmut.cloud
        verificationCode:
          type: string
          format: uuid
          description: Verification code
          example: 2ba23e43-a549-48e2-8ce0-832b8ad13729
      required:
        - email
        - verificationCode
      description: Payload for verifying user registration via email and verification code
      example:
        email: hmc@helmut.cloud
        verificationCode: 2ba23e43-a549-48e2-8ce0-832b8ad13729
    AvatarDto:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: URL to the avatar
          example: https://dali.s3.helmut.cloud/no_avatar.webp
      required:
        - url
      description: Avatar create object
    ReducedOrganization:
      type: object
      properties:
        _id:
          type: string
          format: hexadecimal
          description: Unique identifier of the organization
          example: 4d572a052ed0690e5d580da0
        name:
          type: string
          description: Name of the organization
          example: Acme-Corporation
        avatarUrl:
          type: string
          format: uri
          description: URL to the avatar image of the organization
          example: https://example.com/org-avatar.webp
      required:
        - _id
        - name
        - avatarUrl
      description: >-
        Simplified representation of an organization object used for referencing
        or displaying minimal organization details
      example:
        _id: 82f7e64ff912d31ffa27a5b7
        name: Moovit Software Products
        avatarUrl: https://example.com/asset/some_avatar.webp
    VerificationStatus:
      type: string
      enum:
        - verified
        - waiting
        - error
      description: |-
        * verified - Domain is verified
        * waiting - Domain is waiting for verification
        * error - Domain is not verified
      example: waiting
    ReducedUser:
      type: object
      properties:
        _id:
          type: string
          format: hexadecimal
          description: Unique identifier of the user
          example: 65562d052ed0590e5d580ca0
        name:
          type: string
          description: Full name of the user
          example: John Doe
        email:
          type: string
          format: email
          description: Email address of the user
          example: john.doe@example.com
        avatarUrl:
          type: string
          format: uri
          description: URL to the user's avatar image
          example: https://example.com/avatar.webp
        isGuest:
          type: boolean
          description: Indicates if the user is a guest
          example: false
        isAgent:
          type: boolean
          description: Indicates if the user is an agent
          example: true
      required:
        - _id
        - name
        - email
        - avatarUrl
      description: >-
        Simplified representation of a user object used for referencing or
        displaying minimal user details
      example:
        _id: 3817e64ff912d31ffa27a571
        name: Helmut Mc Cloud
        email: mcloud@helmut.cloud
        avatarUrl: https://example.com/asset/some_avatar.webp
        isGuest: false
        isAgent: false
    DomainDto:
      type: object
      properties:
        _id:
          type: string
          format: hexadecimal
          description: ID of the domain
          example: 3824021ff36f1412ecc7a263
        name:
          type: string
          description: Fully qualified domain name (FQDN)
          example: apple.test
        organization:
          $ref: '#/components/schemas/ReducedOrganization'
        verified:
          type: boolean
          description: Whether the domain is verified or not
          example: true
        verificationStatus:
          $ref: '#/components/schemas/VerificationStatus'
        uuid:
          type: string
          format: uuid
          description: UUID used in the verification process
          example: 8de11b9b-9807-4b78-a6e4-412bda0e85c7
        creator:
          $ref: '#/components/schemas/ReducedUser'
        createDate:
          type: number
          description: Unix timestamp of when the domain was created.
          example: 1680251765050
        modifyDate:
          type: number
          description: Unix timestamp of when the domain was last modified.
          example: 1680251765050
      required:
        - _id
        - name
        - organization
        - verified
        - verificationStatus
        - uuid
        - creator
        - createDate
        - modifyDate
      description: >-
        Represents a domain associated with an organization, including
        verification and ownership metadata.
      example:
        _id: 3824021ff36f1412ecc7a263
        name: apple.test
        organization:
          _id: 6284c915f173f39d71bb8b83
          name: Devs
          avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
        verified: true
        verificationStatus: verified
        uuid: 8de11b9b-9807-4b78-a6e4-412bda0e85c7
        creator:
          _id: 5814c915f173f39d71bb8b83
          name: Helmut Mc Cloud
          email: hmc@helmut.cloud
          avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
          isGuest: false
        createDate: 1680251765050
        modifyDate: 1680251765050
    UserDto:
      type: object
      properties:
        _id:
          type: string
          format: hexadecimal
          description: ID of the User
          example: 5684c915f173f39d71bb8bd7
        name:
          type: string
          description: Name of the User
          example: Helmut Mc Cloud
        email:
          type: string
          format: email
          description: Email of the User
          example: hmc@helmut.cloud
        company:
          type: string
          description: Optional field holding the company of the user
          example: Moovit Software Products
        activeOrganization:
          type: string
          description: Name of the organization the user is currently active in
          example: Video Editors
        avatarUrl:
          type: string
          format: uri
          description: URL of the avatar
          example: https://app.helmut.cloud/asset/no_avatar.webp
        createDate:
          type: number
          description: Creation date of the user
          example: 1665569820033
        modifyDate:
          type: number
          description: Date of last database entry modification
          example: 1666361487534
        activeScopes:
          type: array
          items:
            $ref: '#/components/schemas/Scope'
          description: Set of scopes the user allowed to access if token auth is in process
          example:
            - idp:organization:admin
        isAgent:
          type: boolean
          description: Boolean flag marking the user as an agent
          example: true
        isGuest:
          type: boolean
          description: Boolean flag marking the user as a guest
          example: false
        lastActive:
          type: number
          description: Time of the last activity of the user
          example: 1666361487534
      required:
        - _id
        - name
        - email
        - activeOrganization
        - avatarUrl
        - createDate
        - modifyDate
        - lastActive
      description: User object
      example:
        _id: 5684c915f173f39d71bb8bd7
        name: Helmut Mc Cloud
        email: hmc@helmut.cloud
        company: Moovit Software Products
        activeOrganization: Video Editors
        avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
        createDate: 1665569820033
        modifyDate: 1666361487534
        activeScopes:
          - idp:organization:admin
        isAgent: true
        isGuest: false
        lastActive: 1666361487534
    LicenseTier:
      type: string
      enum:
        - FREE
        - PRO
        - ENTERPRISE
      description: Tier of the license
      example: PRO
    LicenseType:
      type: string
      enum:
        - PRODUCTION
        - POC
        - THIRD_PARTY
      description: Type of the license
      example: PRODUCTION
    LicenseDto:
      type: object
      properties:
        tier:
          $ref: '#/components/schemas/LicenseTier'
        type:
          $ref: '#/components/schemas/LicenseType'
        billingId:
          type: string
          description: ID of the billing
          example: ''
        quota:
          type: object
          properties:
            idp:
              type: object
              properties:
                organization:
                  type: object
                  properties:
                    members:
                      type: object
                      properties:
                        quota:
                          type: number
                      required:
                        - quota
                    agents:
                      type: object
                      properties:
                        quota:
                          type: number
                      required:
                        - quota
                    teams:
                      type: object
                      properties:
                        quota:
                          type: number
                      required:
                        - quota
                    domains:
                      type: object
                      properties:
                        quota:
                          type: number
                      required:
                        - quota
                    logPeriodInDays:
                      type: number
                  required:
                    - members
                    - agents
                    - teams
                    - domains
                    - logPeriodInDays
              required:
                - organization
              description: License quota for the IDP service
            high5:
              type: object
              properties:
                spaces:
                  type: object
                  properties:
                    quota:
                      type: number
                    catalogs:
                      type: object
                      properties:
                        quota:
                          type: number
                      required:
                        - quota
                    customCatalogs:
                      type: object
                      properties:
                        quota:
                          type: number
                      required:
                        - quota
                    customNodes:
                      type: object
                      properties:
                        quota:
                          type: number
                      required:
                        - quota
                    webhooks:
                      type: object
                      properties:
                        quota:
                          type: number
                        logs:
                          type: object
                          properties:
                            quota:
                              type: number
                          required:
                            - quota
                      required:
                        - quota
                        - logs
                    secrets:
                      type: object
                      properties:
                        quota:
                          type: number
                      required:
                        - quota
                    events:
                      type: object
                      properties:
                        quota:
                          type: number
                        streams:
                          type: object
                          properties:
                            quota:
                              type: number
                          required:
                            - quota
                      required:
                        - quota
                        - streams
                    databases:
                      type: object
                      properties:
                        quota:
                          type: number
                        documents:
                          type: object
                          properties:
                            quota:
                              type: number
                          required:
                            - quota
                      required:
                        - quota
                        - documents
                  required:
                    - quota
                    - catalogs
                    - customCatalogs
                    - customNodes
                    - webhooks
                    - secrets
                    - events
                    - databases
                executionsPerMonth:
                  type: object
                  properties:
                    quota:
                      type: number
                  required:
                    - quota
              required:
                - spaces
                - executionsPerMonth
              description: License quota for the High5 service
            fuse:
              type: object
              properties:
                spaces:
                  type: object
                  properties:
                    quota:
                      type: number
                    jobs:
                      type: object
                      properties:
                        quota:
                          type: number
                        logs:
                          type: object
                          properties:
                            quota:
                              type: number
                          required:
                            - quota
                      required:
                        - quota
                        - logs
                  required:
                    - quota
                    - jobs
                secondBaseExecutions:
                  type: boolean
              required:
                - spaces
                - secondBaseExecutions
              description: License quota for the Fuse service
            friday:
              type: object
              properties:
                spaces:
                  type: object
                  properties:
                    quota:
                      type: number
                    databases:
                      type: object
                      properties:
                        quota:
                          type: number
                        documents:
                          type: object
                          properties:
                            quota:
                              type: number
                          required:
                            - quota
                      required:
                        - quota
                        - documents
                  required:
                    - quota
                    - databases
              required:
                - spaces
              description: License quota for the Friday service
          required:
            - idp
            - high5
            - fuse
            - friday
          description: Quota assigned to this license
        creator:
          allOf:
            - $ref: '#/components/schemas/ReducedUser'
            - description: Creator of the license
        contact:
          allOf:
            - $ref: '#/components/schemas/ReducedUser'
            - description: Contact for the license
        expireDate:
          type: number
          description: Expiry date of the license
          example: -1
        createDate:
          type: number
          description: Creation date of the license
          example: 1706191554
      required:
        - tier
        - type
        - quota
        - expireDate
        - createDate
      description: >-
        Represents a license configuration including tier, type, quota, and
        metadata.
      example: &ref_1
        tier: PRO
        type: PRODUCTION
        quota:
          idp:
            organization:
              members:
                quota: 50
              agents:
                quota: 5
              teams:
                quota: 15
              domains:
                quota: 10
              logPeriodInDays: 90
          high5:
            spaces:
              quota: 20
              catalogs:
                quota: 20
              customCatalogs:
                quota: 10
              customNodes:
                quota: 100
              webhooks:
                quota: 50
                logs:
                  quota: 200
              secrets:
                quota: 25
              events:
                quota: 15
                streams:
                  quota: 25
              databases:
                quota: 25
                documents:
                  quota: 100
            executionsPerMonth:
              quota: 300
          fuse:
            spaces:
              quota: 20
              jobs:
                quota: 30
                logs:
                  quota: 200
            secondBaseExecutions: true
          friday:
            spaces:
              quota: 20
              databases:
                quota: 20
                documents:
                  quota: 100
        expireDate: -1
        createDate: 1706191554
    LoginPath:
      type: string
      enum:
        - LOGIN
        - VERIFY_EMAIL
        - REGISTER
        - EXTERNAL
      description: Path to take to move forward in authentication
      example: LOGIN
    LoginPreDto:
      type: object
      properties:
        path:
          $ref: '#/components/schemas/LoginPath'
        location:
          type: string
          description: >-
            Only defined if path is EXTERNAL. Will point to the location where
            authentication should continue
      required:
        - path
      description: >-
        Represents the next step in the login process, including redirect
        location if applicable.
      example:
        path: LOGIN
    MessageType:
      type: string
      enum:
        - SYSTEM
        - USER
      description: Defines the message type (system or user)
      example: USER
    MessageDto:
      type: object
      properties:
        _id:
          type: string
          format: hexadecimal
          description: Unique identifier of the message
          example: 7354c915f173f39d71bb8a75
        from:
          allOf:
            - $ref: '#/components/schemas/ReducedUser'
            - description: Sender of the message
        to:
          allOf:
            - $ref: '#/components/schemas/ReducedUser'
            - description: Recipient of the message
        title:
          type: string
          description: Title of the message
          example: Software updates
        subject:
          type: string
          description: Subject of the message
          example: Latest changes
        message:
          type: string
          description: Content of the message
          example: Some important message!
        read:
          type: boolean
          description: Indicates whether the message has been read
          example: false
        type:
          $ref: '#/components/schemas/MessageType'
        createDate:
          type: number
          description: Creation date of the message
          example: 1675569825179
      required:
        - _id
        - from
        - to
        - message
        - read
        - type
        - createDate
      description: >-
        Represents a message exchanged between users, including metadata and
        read status.
      example:
        _id: 7354c915f173f39d71bb8a75
        from:
          _id: 6184c915f173f39d71bb8b87
          name: Helmut Mc Cloud
          email: hmc@helmut.cloud
          avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
          isGuest: false
        to:
          _id: 73d25431614a64c2974c7152
          name: John Doe
          email: john.doe@helmut.cloud
          avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
          isGuest: false
        title: Software updates
        subject: Latest changes
        message: Some important message!
        read: false
        type: USER
        createDate: 1675569825179
    OAuthAppPublicInfoDto:
      type: object
      properties:
        _id:
          type: string
          format: hexadecimal
          description: ID of the OAuthApp
          example: 63ca7c7683160ed3ad9162ff
        name:
          type: string
          description: Name of the OAuthApp
          example: SevTest
        organization:
          allOf:
            - $ref: '#/components/schemas/ReducedOrganization'
            - description: Organization the OAuth app belongs to
              example:
                _id: 3284c915f173f39d71bb8b83
                name: Devs
                avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
        creator:
          allOf:
            - $ref: '#/components/schemas/ReducedUser'
            - description: Creator of the OAuthApp
              example:
                _id: 7184c915f173f39d71bb8b83
                name: Helmut Mc Cloud
                email: hmc@helmut.cloud
                avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
                isGuest: false
        avatarUrl:
          type: string
          format: uri
          description: URL of the OAuthApp avatar
          example: https://app.helmut.cloud/asset/no_avatar.webp
        clientId:
          type: string
          format: uuid
          description: Client ID to be used in the connected backend
          example: 30ed05e3-4065-4c2c-b537-e4c411854b6f
        description:
          type: string
          description: Optional description of the OAuthApp
          example: A test OAuthApp
        homepage:
          type: string
          format: uri
          description: Optional homepage URL for the OAuthApp
          example: https://github.com/
        createDate:
          type: number
          description: Creation date of the OAuthApp
          example: 1673527923627
        modifyDate:
          type: number
          description: Last modification date of the OAuthApp
          example: 1673527923627
      required:
        - _id
        - name
        - organization
        - creator
        - avatarUrl
        - clientId
        - createDate
        - modifyDate
      description: >-
        Public information about an OAuth application, including metadata and
        ownership
    OAuthTokenEndpointResponseDto:
      type: object
      properties:
        access_token:
          type: string
          description: Token used for authentication with the resource server.
          example: >-
            eyJhbGciOiJIUzI1NiIsInR5cCI6ImF0K2p3dCJ9.eyJzY29wZSI6WyJpZHA6ZW1haWw6cmVhZCIsImlkcDp1c2VyOnJlYWQiLCJpZHA6b3JnYW5pemF0aW9uOnJlYWQiLCJvcGVuaWQiXSwiaWF0IjoxNjkyODgxOTUzLCJleHAiOjE2OTI4ODU1NTMsImF1ZCI6IjkzZWVmNzkyLTUwYzctNGExNi04MjRiLTBhOTQxYmE1OTQzNiIsImlzcyI6ImhlbG11dC5jbG91ZCIsImp0aSI6ImViYzk5YjBlLTAxZTYtNDA3OC05MTYzLTlhMTIzZDhiYTM5MSJ9.Pp4GB9ZC7HaNkYWW3PTDjxotTlsjLNvJprfWcuPJDsk
        token_type:
          type: string
          description: Type of the access_token.
          example: Bearer
        expires_in:
          type: number
          description: Time in seconds until the access_token becomes invalid.
          example: 3600
        refresh_token:
          type: string
          description: >-
            Token that can be exchanged for another access_token without the
            end-user.
          example: 1bb324ef-b97a-415f-ad99-5d0e7081f4ad
        scope:
          type: string
          description: >-
            Scope granted to the access_token. If not defined, then the scope
            granted is equal to what was requested
          example: idp:email:read idp:user:read idp:organization:read openid
        id_token:
          type: string
          description: >-
            OpenID Connect ID token. Will be present if 'openid' is part of the
            scope requested
          example: >-
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE2OTI4ODE5NTMsImV4cCI6MTY5Mjg4NTU1MywiYXVkIjoiOTNlZWY3OTItNTBjNy00YTE2LTgyNGItMGE5NDFiYTU5NDM2IiwiaXNzIjoiaGVsbXV0LmNsb3VkIiwic3ViIjoiNjRlNjBiYTIxMThhZTE5YTBmZDRlNDMxIn0.xXwLGeVpvioN_W1J92MNxrW_wrhny1PH-ZSwSiDwh7s
      required:
        - access_token
        - token_type
        - expires_in
      description: Successful response from the OAuth 2.0 token endpoint
      example:
        access_token: >-
          eyJhbGciOiJIUzI1NiIsInR5cCI6ImF0K2p3dCJ9.eyJzY29wZSI6WyJpZHA6ZW1haWw6cmVhZCIsImlkcDp1c2VyOnJlYWQiLCJpZHA6b3JnYW5pemF0aW9uOnJlYWQiLCJvcGVuaWQiXSwiaWF0IjoxNjkyODgxOTUzLCJleHAiOjE2OTI4ODU1NTMsImF1ZCI6IjkzZWVmNzkyLTUwYzctNGExNi04MjRiLTBhOTQxYmE1OTQzNiIsImlzcyI6ImhlbG11dC5jbG91ZCIsImp0aSI6ImViYzk5YjBlLTAxZTYtNDA3OC05MTYzLTlhMTIzZDhiYTM5MSJ9.Pp4GB9ZC7HaNkYWW3PTDjxotTlsjLNvJprfWcuPJDsk
        token_type: Bearer
        expires_in: 3600
        refresh_token: 1bb324ef-b97a-415f-ad99-5d0e7081f4ad
        scope: idp:email:read idp:user:read idp:organization:read openid
        id_token: >-
          eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE2OTI4ODE5NTMsImV4cCI6MTY5Mjg4NTU1MywiYXVkIjoiOTNlZWY3OTItNTBjNy00YTE2LTgyNGItMGE5NDFiYTU5NDM2IiwiaXNzIjoiaGVsbXV0LmNsb3VkIiwic3ViIjoiNjRlNjBiYTIxMThhZTE5YTBmZDRlNDMxIn0.xXwLGeVpvioN_W1J92MNxrW_wrhny1PH-ZSwSiDwh7s
    OAuthDeviceResponseDto:
      type: object
      properties:
        device_code:
          type: string
          description: Device code
          example: KCb89Icp8H7kffAbA9Gs2LmtkSLsuPU85bJNH8qXe8VIy5w-I8RZEG60R0qk4pJB
        user_code:
          type: string
          description: User code
          example: oa5L-2T2C
        verification_uri:
          type: string
          format: uri
          description: Partial verification URI
          example: https://app.helmut.cloud/oauth/device/authorize
        verification_uri_complete:
          type: string
          format: uri
          description: Complete verification URI
          example: https://app.helmut.cloud/oauth/device/authorize?user_code=oa5L-2T2C
        expires_in:
          type: number
          description: TTL of the device and user codes in seconds
          example: 90
        interval:
          type: number
          description: Minimum polling interval allowed for the clients in seconds
          example: 3
      required:
        - device_code
        - user_code
        - verification_uri
        - verification_uri_complete
        - expires_in
        - interval
      description: Response returned by the device authorization endpoint
      example:
        device_code: KCb89Icp8H7kffAbA9Gs2LmtkSLsuPU85bJNH8qXe8VIy5w-I8RZEG60R0qk4pJB
        user_code: oa5L-2T2C
        verification_uri: https://app.helmut.cloud/oauth/device/authorize
        verification_uri_complete: https://app.helmut.cloud/oauth/device/authorize?user_code=oa5L-2T2C
        expires_in: 90
        interval: 3
    OAuthDeviceUserCodeResponseDto:
      type: object
      properties:
        scopes:
          type: array
          items:
            $ref: '#/components/schemas/Scope'
          description: Scopes requested by the client
          example:
            - cosmo:space:delete
        app:
          allOf:
            - $ref: '#/components/schemas/OAuthAppPublicInfoDto'
            - description: OAuth application involved in the authentication attempt
              example: &ref_0
                _id: 67ca7c7683160ed3ad9162ff
                name: SevTest
                organization:
                  _id: 6284c915f173f39d71bb8b83
                  name: Helmut Mc Cloud
                  avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
                creator:
                  _id: 6184c915f173f39d71bb8b83
                  name: Helmut Mc Cloud
                  email: hmc@helmut.cloud
                  avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
                  isGuest: false
                avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
                clientId: 30ed05e3-4065-4c2c-b537-e4c411854b6f
                description: A test OAuthApp
                homepage: https://github.com/
                createDate: 1673527923627
                modifyDate: 1673527923627
      required:
        - scopes
        - app
      description: >-
        Response shown to the user after initiating the device authorization
        flow
      example:
        scopes:
          - cosmo:space:delete
        app: *ref_0
    ReducedTeamDto:
      type: object
      properties:
        _id:
          type: string
          format: hexadecimal
          description: ID of the team
          example: 63ca7c7683160ed3ad91629f
        name:
          type: string
          description: Name of the team
          example: DEVS_Team
        avatarUrl:
          type: string
          format: uri
          description: URL of the avatar
          example: https://app.helmut.cloud/asset/no_avatar.webp
      required:
        - _id
        - name
        - avatarUrl
      description: Represents a minimal team object with ID, name, and avatar URL.
      example:
        _id: 63ca7c7683160ed3ad91629f
        name: DEVS_Team
        avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
    OrganizationDto:
      type: object
      properties:
        _id:
          type: string
          format: hexadecimal
          description: ID of the organization
          example: 62a17641614a64c2974c9481
        name:
          type: string
          description: Name of the organization
          example: Devs
        creator:
          $ref: '#/components/schemas/ReducedUser'
        company:
          type: string
          description: Company the organization belongs to
          example: Moovit SP
        isUserOrganization:
          type: boolean
          description: Defines if it's a user organization
          example: false
        createDate:
          type: number
          description: Creation date of the organization
          example: 1660922024145
        modifyDate:
          type: number
          description: Date of last database entry modification
          example: 1765432168438
        roleOfUser:
          allOf:
            - $ref: '#/components/schemas/OrganizationRole'
            - description: >-
                * MEMBER - Standard member of an organization

                * MANAGER - Member of an organization that has the ability to
                manage certain aspects of the organization's members

                * ADMIN - Member of an organization that has the ability to
                manage all aspects of the organization's members

                * OWNER - Member of an organization that has the ability to
                manage all aspects of the organization's members. Only this
                member can delete the organization
        executionTarget:
          type: boolean
          description: >-
            Whether or not the current request user is set as an executionTarget
            in this organization
          example: false
        avatarUrl:
          type: string
          format: uri
          description: Url of the avatar
          example: https://app.helmut.cloud/asset/no_avatar.webp
        membersSample:
          type: array
          items:
            $ref: '#/components/schemas/ReducedUser'
          description: >-
            Array holding a limited number of organization members (used for
            preview purposes)
          example:
            - _id: 73d25431614a64c2974c7152
              name: John Doe
              email: john.doe@helmut.cloud
              avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
              isGuest: false
        totalMemberCount:
          type: number
          description: Total number of members the organization holds
          example: 2
        teamsOfUser:
          type: array
          items:
            $ref: '#/components/schemas/ReducedTeamDto'
          description: >-
            Teams that the requesting user is part of and that belong to the
            organization
          example: []
        license:
          allOf:
            - $ref: '#/components/schemas/LicenseDto'
            - description: License of the organization
      required:
        - _id
        - name
        - creator
        - company
        - isUserOrganization
        - createDate
        - modifyDate
        - roleOfUser
        - executionTarget
        - avatarUrl
      description: >-
        Represents an organization entity including metadata, ownership, and
        user-specific context.
      example:
        _id: 62a17641614a64c2974c9481
        name: Devs
        creator:
          _id: 1784c915f173f39d71bb8b61
          name: Helmut Mc Cloud
          email: hmc@helmut.cloud
          avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
          isGuest: false
        company: Moovit SP
        isUserOrganization: false
        createDate: 1660922024145
        modifyDate: 1765432168438
        roleOfUser: OWNER
        executionTarget: false
        avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
        membersSample:
          - _id: 73d25431614a64c2974c7152
            name: John Doe
            email: john.doe@helmut.cloud
            avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
            isGuest: false
        totalMemberCount: 2
        license: *ref_1
    OrganizationMemberDto:
      type: object
      properties:
        _id:
          type: string
          format: hexadecimal
[...]
