openapi: 3.0.0
info:
  title: hcloud - IdP
  version: 0.0.143-1746
  contact:
    name: MoovIT Software Products GmbH
    url: https://www.moovit-sp.com
    email: info@moovit-sp.com
  description: >-
    The Identity Provider (IdP) handles everything around user entities in the
    helmut cloud. Registration, Authentication, User related preference
    management are performed within this application.
servers:
  - url: https://eu-central-1.helmut.cloud/api/account
    description: EU-Central production server
  - url: https://na-west-1.helmut.cloud/api/account
    description: NA-West production server
  - url: https://eu-dev-1.app.helmut.cloud/api/account
    description: EU development server
  - url: http://localhost/api/account
    description: Localhost
paths:
  /v1/org/{orgName}/settings/domains:
    get:
      tags:
        - Organization.Settings.Domains
      summary: Get all domains associated with an organization
      description: |-

        Required organization role: ADMIN
      security:
        - BearerAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of domains
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DomainDto'
        '403':
          description: Insufficient access rights. Must be member of the organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationInsufficientRoleException:
                  $ref: '#/components/examples/OrganizationInsufficientRoleException'
        '404':
          description: Organization does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
    post:
      tags:
        - Organization.Settings.Domains
      summary: Creates a new domain for an organization
      description: |-

        Required organization role: ADMIN
      security:
        - BearerAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainCreateDto'
      responses:
        '201':
          description: Created domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDto'
        '403':
          description: Insufficient access rights. Must have admin role in the organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationInsufficientRoleException:
                  $ref: '#/components/examples/OrganizationInsufficientRoleException'
        '404':
          description: Organization does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        '409':
          description: Domain already assigned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                DomainAlreadyAssignedException:
                  $ref: '#/components/examples/DomainAlreadyAssignedException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/settings/domains/{domainName}/verify:
    patch:
      tags:
        - Organization.Settings.Domains
      summary: Verifies a domain for an organization
      description: |-

        Required organization role: ADMIN
      security:
        - BearerAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: domainName
          in: path
          description: Domain name (FQDN)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Verified domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDto'
        '403':
          description: >-
            Insufficient access rights. Must have manager role in the
            organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationInsufficientRoleException:
                  $ref: '#/components/examples/OrganizationInsufficientRoleException'
        '404':
          description: Domain does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                DomainNotFoundException:
                  $ref: '#/components/examples/DomainNotFoundException'
                DomainCannotBeResolvedException:
                  $ref: '#/components/examples/DomainCannotBeResolvedException'
        '428':
          description: The domain verification failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                DomainVerificationFailedException:
                  $ref: '#/components/examples/DomainVerificationFailedException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/settings/domains/{domainName}:
    delete:
      tags:
        - Organization.Settings.Domains
      summary: Deletes a domain for an organization
      description: |-

        Required organization role: ADMIN
      security:
        - BearerAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: domainName
          in: path
          description: Domain name (FQDN)
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '403':
          description: Insufficient access rights. Must have admin role in the organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationInsufficientRoleException:
                  $ref: '#/components/examples/OrganizationInsufficientRoleException'
        '404':
          description: Domain does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                DomainNotFoundException:
                  $ref: '#/components/examples/DomainNotFoundException'
        default:
          description: Unexpected error
  /v1/config:
    get:
      tags:
        - Config
      summary: Get the public config
      responses:
        '200':
          description: Config object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicConfig'
        default:
          description: Unexpected error
  /v1/org/{orgName}/license:
    get:
      tags:
        - Organization.License
      summary: Get the current license applied to the organization
      description: |-

        Required scopes: IDP_ORGANIZATION_READ
        Required role: MEMBER
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
      responses:
        '200':
          description: License
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseDto'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
    put:
      tags:
        - Organization.License
      summary: Update the license of the organization
      description: |-

        Required scopes: IDP_ORGANIZATION_ADMIN
        Required role: OWNER
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LicenseUpdateDto'
        required: true
      responses:
        '200':
          description: License
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseDto'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UnassignedLicenseException:
                  $ref: '#/components/examples/UnassignedLicenseException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                FailedToFetchLicenseException:
                  $ref: '#/components/examples/FailedToFetchLicenseException'
  /v1/login:
    post:
      tags:
        - Login
      summary: >-
        Endpoint to validate user credentials and authorize user against the
        system
      requestBody:
        content:
          .application/json:
            schema:
              $ref: '#/components/schemas/UserLoginDto'
      responses:
        '200':
          description: User object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        default:
          description: Unexpected error
  /v1/login/verify/totp:
    post:
      tags:
        - Login
      summary: Endpoint to validate user totp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserTotpDto'
        required: true
      responses:
        '204':
          description: If either totp is valid or user has totp not enabled
        '403':
          description: Forbidden exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserTotpInvalidException:
                  $ref: '#/components/examples/UserTotpInvalidException'
        default:
          description: Unexpected error
  /v1/login/forgot_password:
    post:
      tags:
        - Login
      summary: >-
        Initiate the password reset process. An email will be sent to the user
        to move to

        the next phase.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordDto'
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error - Unable to send the email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
  /v1/login/pre:
    get:
      tags:
        - Login
      summary: Endpoint to get the way to proceed with the authentication
      parameters:
        - name: email
          in: query
          description: Email of the user
          required: true
          schema:
            type: string
        - name: origin
          in: query
          description: Origin of the request. Used when the response path is EXTERNAL.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginPreDto'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
  /v1/login/oidc:
    get:
      tags:
        - Login.OpenID Connect
      summary: Authenticate a user against a 3rd party using OAuth/OpenID Connect
      description: Redirects a user to the provider's login page
      parameters:
        - name: origin
          in: query
          description: >-
            Starting URL of the process. After obtaining the credentials, the
            user will be redirected back to this url
          required: true
          schema:
            type: string
        - name: hint
          in: query
          description: >-
            Valid email address of the user that wants to login. Hint must be
            defined when provider is not.
          required: false
          schema:
            type: string
        - name: provider
          in: query
          description: >-
            Provider to use for the process. Only optional

            if the user is part of an organization that has a preferred OIDC
            provider and an associated

            email that matches the user's. The list of available providers can
            be found in the public config endpoint.
          required: false
          schema:
            type: string
      responses:
        '302':
          description: >-
            Redirect to the providers page to proceed with the authentication
            process
        '404':
          description: Specified provider does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OIDCProviderNotFoundException:
                  $ref: '#/components/examples/OIDCProviderNotFoundException'
  /v1/login/saml/metadata.xml:
    get:
      tags:
        - Login.SAML
      summary: |-
        Obtain the metadata XML file with information about HCloud as
                 a SAML 2.0 Service Provider
      responses:
        '200':
          description: Metadata.xml file.
          content:
            application/xml: {}
  /v1/login/saml:
    get:
      tags:
        - Login.SAML
      summary: Start the login process using the SAML2.0 protocol
      parameters:
        - name: origin
          in: query
          description: |-
            A URL marking the starting point of the login process.
                                          At the end the user will be redirected back to this URL
                                          with token=\<JWT\> added to the query string.
          required: true
          schema:
            type: string
        - name: email
          in: query
          description: |-
            The user's email. The email domain will be used to determine
                                         the appropriate SAML 2.0 provider to use going forward.
          required: true
          schema:
            type: string
      responses:
        '302':
          description: User gets redirected to the SAML IdP's login page.
        '404':
          description: There is no SAML IdP associated with the email used
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                SAMLProviderNotFoundException:
                  $ref: '#/components/examples/SAMLProviderNotFoundException'
  /v1/login/saml/assert:
    post:
      tags:
        - Login.SAML
      summary: Callback URL for the login process using the SAML2.0 protocol
      description: >-
        It is required that the HTTP Post SAML binding be used in this
        operation. <a
        href="https://docs.oasis-open.org/security/saml/v2.0/saml-bindings-2.0-os.pdf">SAML
        2.0 Bindings (Section 3.5)</a>
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SAMLResponse'
      responses:
        '302':
          description: User gets redirected to the SAML IdP's login page.
        '400':
          description: >-
            State received in the RelayState property of the body is invalid or
            the response is missing an email assertion.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidLoginStateException:
                  $ref: '#/components/examples/InvalidLoginStateException'
                MissingEmailAssertionException:
                  $ref: '#/components/examples/MissingEmailAssertionException'
  /v1/login/oauth/authorize:
    get:
      tags:
        - Login.OAuth
      summary: OAuth Authorization Endpoint
      description: |-
        Request access code for the user
        Required scopes: HCLOUD_FULL
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: response_type
          in: query
          description: >-
            Tells the authorization server which grant to execute. Currently
            only "code" is supported.
          required: false
          schema:
            type: string
        - name: client_id
          in: query
          description: The ID of the application that is asking for authorization
          required: false
          schema:
            type: string
        - name: redirect_uri
          in: query
          description: A successful response will redirect to this URI
          required: false
          schema:
            type: string
        - name: scope
          in: query
          description: >-
            Space-delimited list of hcloud permissions that the application
            requires as well as openId if required.
          required: false
          schema:
            type: string
        - name: state
          in: query
          description: >-
            Optional value, used for security purposes (XSRF) or to store
            non-sensitive information between requests.
                                           If this request parameter is set in the request, then it is returned to the application as part of the redirect_uri with no changes.
          required: false
          schema:
            type: string
      responses:
        '302':
          description: >-
            Redirects to the redirect URL with the authorization code in the
            query string
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        default:
          description: Unexpected error
    post:
      tags:
        - Login.OAuth
      summary: OAuth Authorization Endpoint
      description: |-
        Request access code for the user
        Required scopes: HCLOUD_FULL
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: response_type
          in: query
          description: >-
            Tells the authorization server which grant to execute. Currently
            only "code" is supported.
          required: false
          schema:
            type: string
        - name: client_id
          in: query
          description: ID of the application that is asking for authorization
          required: false
          schema:
            type: string
        - name: redirect_uri
          in: query
          description: Successful response will redirect to this URI
          required: false
          schema:
            type: string
        - name: scope
          in: query
          description: >-
            Space-delimited list of hcloud permissions that the application
            requires as well as openId if required.
          required: false
          schema:
            type: string
        - name: state
          in: query
          description: >-
            Optional value, used for security purposes (XSRF) or to store
            non-sensitive information between requests.
                                           If this request parameter is set in the request, then it is returned to the application as part of the redirect_uri with no changes.
          required: false
          schema:
            type: string
      responses:
        '302':
          description: >-
            Redirects to the redirect URL with the authorization code in the
            query string
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        default:
          description: Unexpected error
  /v1/login/oauth/access_token:
    post:
      tags:
        - Login.OAuth
      summary: OAuth Token Endpoint
      description: >-
        Use this endpoint to exchange a code for an access token. The code can
        be obtained via the authorization endpoint.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthTokenRequestDto'
        required: true
      responses:
        '200':
          description: OAuth object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenEndpointResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenEndpointErrorResponseDto'
              examples:
                OAuthTokenEndpointInvalidGrantErrorResponseDto:
                  $ref: >-
                    #/components/examples/OAuthTokenEndpointInvalidGrantErrorResponseDto
                OAuthTokenEndpointInvalidClientErrorResponseDto:
                  $ref: >-
                    #/components/examples/OAuthTokenEndpointInvalidClientErrorResponseDto
                OAuthTokenEndpointInvalidScopeErrorResponseDto:
                  $ref: >-
                    #/components/examples/OAuthTokenEndpointInvalidScopeErrorResponseDto
                OAuthTokenEndpointInvalidRequestErrorResponseDto:
                  $ref: >-
                    #/components/examples/OAuthTokenEndpointInvalidRequestErrorResponseDto
                OAuthTokenEndpointUnsupportedGrantErrorResponseDto:
                  $ref: >-
                    #/components/examples/OAuthTokenEndpointUnsupportedGrantErrorResponseDto
                OAuthTokenEndpointUnauthorizedClientErrorResponseDto:
                  $ref: >-
                    #/components/examples/OAuthTokenEndpointUnauthorizedClientErrorResponseDto
        '415':
          description: Unsupported Media Type exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OAuthInvalidContentTypeException:
                  $ref: '#/components/examples/OAuthInvalidContentTypeException'
        default:
          description: Unexpected error
  /v1/org:
    post:
      tags:
        - Organization
      summary: Create a new organization with the creator as the first member
      description: |-

        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      requestBody:
        content:
          .application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCreateDto'
      responses:
        '201':
          description: Created organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDto'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '404':
          description: User does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
        '409':
          description: Organization already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationAlreadyExistWithNameException:
                  $ref: >-
                    #/components/examples/OrganizationAlreadyExistWithNameException
        default:
          description: Unexpected error
  /v1/org/{orgName}:
    get:
      tags:
        - Organization
      summary: Retrieves an organization by it's name
      description: |-

        Required organization role: MEMBER\
        Required scopes: IDP_ORGANIZATION_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: teamsOfUser
          in: query
          description: >-
            If true, an additional property holding all teams that the
            requesting user is part of and that belong to the organization will
            be returned.
          required: false
          schema:
            type: boolean
        - name: totalMemberCount
          in: query
          description: >-
            If true, an additional property holding the total member count of
            the organization will be returned.
          required: false
          schema:
            type: boolean
        - name: membersSample
          in: query
          description: >-
            If set, an additional property holding a sample of members will be
            returned. The provided number represents the max. size of the
            sample.
          required: false
          schema:
            type: number
        - name: license
          in: query
          description: >-
            If set, an additional property holding the organization's license
            will be included.
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Requested organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDto'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Insufficient rights exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Organization does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
    patch:
      tags:
        - Organization
      summary: Update an organization by it's name
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
      requestBody:
        content:
          .application/json:
            schema:
              $ref: '#/components/schemas/OrganizationPatchDto'
      responses:
        '200':
          description: Updated organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDto'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Insufficient rights exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Organization does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
    delete:
      tags:
        - Organization
      summary: Delete Organization by name
      description: |-

        Required organization role: OWNER\
        Required scopes: IDP_ORGANIZATION_DELETE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No content
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserOrganizationOperationDisabledException:
                  $ref: >-
                    #/components/examples/UserOrganizationOperationDisabledException
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Organization does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/members/search:
    post:
      tags:
        - Organization.Members
      summary: Search organization members with search filters
      description: |-

        Required organization role: MEMBER\
        Required scopes: IDP_ORGANIZATION_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/PageParameter'
      requestBody:
        content:
          .application/json:
            schema:
              $ref: '#/components/schemas/OrgMemberSearch'
      responses:
        '200':
          description: List of organization member objects that match the search filter
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationMemberDto'
        '400':
          description: Invalid filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidFilterException:
                  $ref: '#/components/examples/InvalidFilterException'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Insufficient rights exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Organization does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/members/{userId}/role:
    patch:
      tags:
        - Organization.Members
      summary: Patch an organization member's role in the Organization
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of organization the user should be added to
          required: true
          schema:
            type: string
        - name: userId
          in: path
          description: ID of the user
          required: true
          schema:
            type: string
      requestBody:
        content:
          .application/json:
            schema:
              $ref: '#/components/schemas/OrgMemberPatchDto'
      responses:
        '200':
          description: Organization member object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMemberDto'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Your role in the organization does not have the required permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationInsufficientRoleException:
                  $ref: '#/components/examples/OrganizationInsufficientRoleException'
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: User does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/members/{userId}:
    delete:
      tags:
        - Organization.Members
      summary: Remove a user from an organization by the organization user id
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of organization the user should be removed from
          required: true
          schema:
            type: string
        - name: userId
          in: path
          description: ID of user that should be removed
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No content
        '400':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationMustHaveOwnerException:
                  $ref: '#/components/examples/OrganizationMustHaveOwnerException'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserOrganizationOperationDisabledException:
                  $ref: >-
                    #/components/examples/UserOrganizationOperationDisabledException
                OrganizationInsufficientRoleException:
                  $ref: '#/components/examples/OrganizationInsufficientRoleException'
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
                OrganizationMemberNotFoundException:
                  $ref: '#/components/examples/OrganizationMemberNotFoundException'
        default:
          description: Unexpected error
    get:
      tags:
        - Organization.Members
      summary: Get an organization member by the user ID
      description: |-

        Required organization role: MANAGER\
        Required scopes: IDP_ORGANIZATION_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: userId
          in: path
          description: ID of the user from IDP, not the member ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Organization member object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMemberDto'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Insufficient rights exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Member does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationMemberNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/members/{userId}/executionTarget:
    patch:
      tags:
        - Organization.Members
      summary: Set whether or not this user should be considered an execution target
      description: |-

        Required organization role: MEMBER\
        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: userId
          in: path
          description: ID of the user from IDP, not the member ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgMemberExecutionTargetPatchDto'
        required: true
      responses:
        '200':
          description: Updated organization member object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMemberDto'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Insufficient rights exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Member does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationMemberNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/members:
    delete:
      tags:
        - Organization.Members
      summary: Leave shared organization by the request of member
      description: |-

        Required organization role: MEMBER\
        Required scopes: IDP_ORGANIZATION_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of organization the user should be deleted from
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Your role in the organization does not have the required permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationInsufficientRoleException:
                  $ref: '#/components/examples/OrganizationInsufficientRoleException'
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: User does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/members/invitations/search:
    post:
      tags:
        - Organization.Members.Invitations
      summary: >-
        Retrieves all invitations to the specified organization that match the
        provided search filter. Will return all organization invitations if no
        filter provided.
      description: |-

        Required organization role: MANAGER\
        Required scopes: IDP_ORGANIZATION_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/PageParameter'
      requestBody:
        content:
          .application/json:
            schema:
              $ref: '#/components/schemas/Search'
      responses:
        '200':
          description: List of invitation objects that match the provided search filters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationMemberInvitationDto'
        '400':
          description: Invalid filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidFilterException:
                  $ref: '#/components/examples/InvalidFilterException'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Insufficient rights exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Resource not exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/members/invitations:
    post:
      tags:
        - Organization.Members.Invitations
      summary: Invite a member to an organization
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of organization the user should be added to
          required: true
          schema:
            type: string
      requestBody:
        content:
          .application/json:
            schema:
              $ref: '#/components/schemas/OrgMemberInvitationCreateDto'
        required: true
      responses:
        '201':
          description: Created invitation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMemberInvitationDto'
        '400':
          description: User is already part of organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationMemberAlreadyExistsException:
                  $ref: >-
                    #/components/examples/OrganizationMemberAlreadyExistsException
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Operation is disabled for user organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserOrganizationOperationDisabledException:
                  $ref: >-
                    #/components/examples/UserOrganizationOperationDisabledException
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Resource not exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvitationAlreadySentException:
                  $ref: '#/components/examples/InvitationAlreadySentException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/members/invitations/{invitationId}/approval:
    patch:
      tags:
        - Organization.Members.Invitations
      summary: Accept/Reject an invitation to an organization
      description: |-

        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of organization the user should be added to
          required: true
          schema:
            type: string
        - name: invitationId
          in: path
          description: ID of the invitation
          required: true
          schema:
            type: string
      requestBody:
        content:
          .application/json:
            schema:
              $ref: '#/components/schemas/OrgMemberInvitationPatchDto'
        required: true
      responses:
        '200':
          description: Patched invitation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMemberInvitationDto'
        '400':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvitationAlreadyRespondedException:
                  $ref: '#/components/examples/InvitationAlreadyRespondedException'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Operation is disabled for user organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserOrganizationOperationDisabledException:
                  $ref: >-
                    #/components/examples/UserOrganizationOperationDisabledException
        '404':
          description: Resource not exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
                InvitationNotFoundException:
                  $ref: '#/components/examples/InvitationNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/members/invitations/{invitationId}/resend:
    post:
      tags:
        - Organization.Members.Invitations
      summary: Resend the invitation email
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of organization the user should be added to
          required: true
          schema:
            type: string
        - name: invitationId
          in: path
          description: ID of the invitation
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No content
        '400':
          description: User already responded to the invitation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvitationAlreadyRespondedException:
                  $ref: '#/components/examples/InvitationAlreadyRespondedException'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Operation is disabled for user organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserOrganizationOperationDisabledException:
                  $ref: >-
                    #/components/examples/UserOrganizationOperationDisabledException
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Resource not exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvitationResendLimitException:
                  $ref: '#/components/examples/InvitationResendLimitException'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/members/invitations/{invitationId}:
    delete:
      tags:
        - Organization.Members.Invitations
      summary: Cancel an invitation
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of organization the user should be added to
          required: true
          schema:
            type: string
        - name: invitationId
          in: path
          description: ID of the invitation
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Insufficient rights exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
                InvitationNotFoundException:
                  $ref: '#/components/examples/InvitationNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/settings/applications/oauth/search:
    post:
      tags:
        - Organization.Settings.Application
      summary: search oAuthApps of the active organization
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_ADMIN
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/PageParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
      responses:
        '200':
          description: List of filtered oAuthApp objects of the active organization
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OAuthAppDto'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Insufficient rights exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/settings/applications/oauth:
    post:
      tags:
        - Organization.Settings.Application
      summary: Create a new oauth app within an organization
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_ADMIN
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
      requestBody:
        content:
          .application/json:
            schema:
              $ref: '#/components/schemas/OAuthAppCreateDto'
      responses:
        '201':
          description: Created oAuthApp
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthAppDto'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Insufficient rights exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: User does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
        '409':
          description: OAuthApp already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OAuthAppAlreadyExistWithNameException:
                  $ref: '#/components/examples/OAuthAppAlreadyExistWithNameException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/settings/applications/oauth/{oAuthAppId}:
    get:
      tags:
        - Organization.Settings.Application
      summary: Retrieves an organization's oAuthApp by its id
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_ADMIN
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: oAuthAppId
          in: path
          description: ID of the oAuthApp
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Requested oAuthApp
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthAppDto'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Insufficient rights exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: oAuthApp does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OAuthAppNotFoundException:
                  $ref: '#/components/examples/OAuthAppNotFoundException'
        default:
          description: Unexpected error
    put:
      tags:
        - Organization.Settings.Application
      summary: Update an oAuthApp by its id
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_ADMIN
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: oAuthAppId
          in: path
          description: ID of the oAuthApp
          required: true
          schema:
            type: string
      requestBody:
        content:
          .application/json:
            schema:
              $ref: '#/components/schemas/OAuthAppCreateDto'
      responses:
        '200':
          description: Requested oAuthApp
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthAppDto'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Insufficient rights exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: oAuthApp does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OAuthAppNotFoundException:
                  $ref: '#/components/examples/OAuthAppNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/settings/applications/oauth/{oauthAppId}:
    delete:
      tags:
        - Organization.Settings.Application
      summary: Delete OAuthApp
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_ADMIN
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: oauthAppId
          in: path
          description: ID of the oAuthApp
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No content
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Insufficient rights exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: oAuthApp does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OAuthAppNotFoundException:
                  $ref: '#/components/examples/OAuthAppNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/settings/applications/oauth/{oauthAppId}/secret:
    post:
      tags:
        - Organization.Settings.Application
      summary: Creates a new secret inside an existing oAuthApp
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_ADMIN
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: oauthAppId
          in: path
          description: ID of the oAuthApp
          required: true
          schema:
            type: string
      requestBody:
        content:
          .application/json:
            schema:
              $ref: '#/components/schemas/OAuthSecretCreateDto'
      responses:
        '201':
          description: oAuthApp containing the new secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthAppDto'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Insufficient rights exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: oAuthApp does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OAuthAppNotFoundException:
                  $ref: '#/components/examples/OAuthAppNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/settings/applications/oauth/{oauthAppId}/secret/{name}:
    delete:
      tags:
        - Organization.Settings.Application
      summary: Delete a secret of an oAuthApp
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_ADMIN
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: oauthAppId
          in: path
          description: ID of the oAuthApp
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: Name of the secret to delete
          required: true
          schema:
            type: string
      responses:
        '200':
          description: oAuthApp without the deleted secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthAppDto'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Insufficient rights exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: oAuthApp does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OAuthAppNotFoundException:
                  $ref: '#/components/examples/OAuthAppNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/teams:
    post:
      tags:
        - Organization.Team
      summary: Create a new team
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
      requestBody:
        content:
          .application/json:
            schema:
              $ref: '#/components/schemas/TeamCreateDto'
      responses:
        '201':
          description: Created team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamDto'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                OrganizationInsufficientRoleException:
                  $ref: '#/components/examples/OrganizationInsufficientRoleException'
                UserAccountNotActiveException:
                  $ref: '#/components/examples/UserAccountNotActiveException'
        '404':
          description: User does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                OrganizationMemberNotFoundException:
                  $ref: '#/components/examples/OrganizationMemberNotFoundException'
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
        '409':
          description: Team already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                TeamAlreadyExistException:
                  $ref: '#/components/examples/TeamAlreadyExistException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/teams/{teamName}:
    delete:
      tags:
        - Organization.Team
      summary: Delete Team
      description: |-

        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: teamName
          in: path
          description: Name of the team
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No content
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationInsufficientRoleException:
                  $ref: '#/components/examples/OrganizationInsufficientRoleException'
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Team does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                TeamNotFoundException:
                  $ref: '#/components/examples/TeamNotFoundException'
        default:
          description: Unexpected error
    patch:
      tags:
        - Organization.Team
      summary: Patch a team by its name
      description: |-

        Required organization role: MANAGER\
        Required scopes: IDP_ORGANIZATION_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: teamName
          in: path
          description: Name of the team
          required: true
          schema:
            type: string
      requestBody:
        content:
          .application/json:
            schema:
              $ref: '#/components/schemas/TeamPatchDto'
      responses:
        '200':
          description: Updated team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamDto'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationInsufficientRoleException:
                  $ref: '#/components/examples/OrganizationInsufficientRoleException'
                UserAccountNotActiveException:
                  $ref: '#/components/examples/UserAccountNotActiveException'
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: User does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                TeamNotFoundException:
                  $ref: '#/components/examples/TeamNotFoundException'
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                OrganizationMemberNotFoundException:
                  $ref: '#/components/examples/OrganizationMemberNotFoundException'
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
        default:
          description: Unexpected error
    get:
      tags:
        - Organization.Team
      summary: Get a team by its name
      description: |-

        Required organization role: MEMBER\
        Required scopes: IDP_ORGANIZATION_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: teamName
          in: path
          description: Name of the team
          required: true
          schema:
            type: string
        - name: membersLimit
          in: query
          description: >-
            Max number ob members that shall be returned in the team object. If
            not defined, no members will be returned.
          required: false
          schema:
            type: number
      responses:
        '200':
          description: Team object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamDto'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationInsufficientRoleException:
                  $ref: '#/components/examples/OrganizationInsufficientRoleException'
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: User does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                TeamNotFoundException:
                  $ref: '#/components/examples/TeamNotFoundException'
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/teams/search:
    post:
      tags:
        - Organization.Team
      summary: >-
        Search all teams of organization by organization name and the supplied
        filters
      description: |-

        Required organization role: MEMBER\
        Required scopes: IDP_ORGANIZATION_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: totalMemberCount
          in: query
          description: >-
            If true, an additional property holding the total member count of
            the organization will be returned.
          required: false
          schema:
            type: boolean
        - name: membersSample
          in: query
          description: >-
            If set, an additional property holding a sample of members will be
            returned. The provided number represents the max size of the sample.
          required: false
          schema:
            type: number
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/PageParameter'
      requestBody:
        content:
          .application/json:
            schema:
              $ref: '#/components/schemas/Search'
      responses:
        '200':
          description: List of teams
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamDto'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationInsufficientRoleException:
                  $ref: '#/components/examples/OrganizationInsufficientRoleException'
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: User does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/teams/{teamName}/members/search:
    post:
      tags:
        - Organization.Team
      summary: Search for members of a team
      description: |-

        Required organization role: MEMBER\
        Required scopes: IDP_ORGANIZATION_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: teamName
          in: path
          description: Name of the team
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/PageParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
      responses:
        '200':
          description: List of members
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamMemberDto'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationInsufficientRoleException:
                  $ref: '#/components/examples/OrganizationInsufficientRoleException'
                InsufficientAccessRightException:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: User does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                TeamNotFoundException:
                  $ref: '#/components/examples/TeamNotFoundException'
        default:
          description: Unexpected error
  /v1/register:
    post:
      tags:
        - Register
      summary: Register a user in hcloud system
      requestBody:
        content:
          .application/json:
            schema:
              $ref: '#/components/schemas/UserRegistrationDto'
      responses:
        '200':
          description: >-
            User object. Will only be returned if user validation is skipped via
            captcha.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        '204':
          description: No content
        '409':
          description: User already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserAlreadyExistException:
                  $ref: '#/components/examples/UserAlreadyExistException'
        default:
          description: Unexpected error
  /v1/register/verify:
    patch:
      tags:
        - Register
      summary: Verify a previous registration
      requestBody:
        content:
          .application/json:
            schema:
              $ref: '#/components/schemas/UserVerifyRegistrationDto'
      responses:
        '200':
          description: User object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        '403':
          description: Registration verification failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                RegistrationVerificationCodeInvalidException:
                  $ref: >-
                    #/components/examples/RegistrationVerificationCodeInvalidException
        '404':
          description: User does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
        default:
          description: Unexpected error
  /v1/register/complete:
    patch:
      tags:
        - Register
      summary: >-
        Complete a registration that was not triggered by /v1/register, e.g. via
        an organization invitation
      requestBody:
        content:
          .application/json:
            schema:
              $ref: '#/components/schemas/UserCompleteRegistrationDto'
      responses:
        '200':
          description: User object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        '403':
          description: Registration verification failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                RegistrationVerificationCodeInvalidException:
                  $ref: >-
                    #/components/examples/RegistrationVerificationCodeInvalidException
        default:
          description: Unexpected error
  /v1/register/resendRegistrationEmail:
    patch:
      tags:
        - Register
      summary: Generate a new email verification code and resend the verification email
      requestBody:
        content:
          .application/json:
            schema:
              $ref: '#/components/schemas/UserResendRegistrationEmailDto'
      responses:
        '204':
          description: no content
        '403':
          description: User's email is not allowed in helmut cloud
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserEmailNotAllowedException:
                  $ref: '#/components/examples/UserEmailNotAllowedException'
        '404':
          description: User does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
        '409':
          description: >-
            Verification email resend limit exceeded (one message per hour is
            allowed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                VerificationEmailResendLimitException:
                  $ref: '#/components/examples/VerificationEmailResendLimitException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/settings/domains/saml:
    get:
      tags:
        - Organization.Settings.Domains.SAML
      summary: Gets all providers for an organization
      description: |-

        Required organization role: ADMIN
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Available SAML IdPs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FullSAMLProviderDto'
        '401':
          description: Not Authorized exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '404':
          description: User/Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                UserNotFoundException:
                  $ref: '#/components/examples/UserNotFoundException'
                OrganizationNotFoundException:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/settings/domains/{domainName}/saml:
    post:
      tags:
        - Organization.Settings.Domains.SAML
      summary: Creates a new provider for the specified domain in an organization
      description: >-
        Creates a new provider for the specified domain in an organization.

        There are multiple ways the process can fail besides
        authentication/authorization:

        - The domain is not verified

        - The certificates sent are invalid

        - There is already an IdP associated with this organization and domain


        Required organization role: ADMIN
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: domainName
          in: path
          description: Name of the domain
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          Important note regarding the example request body shown below:
          Provider data must be send as multipart/form-data with the
          certificates as files, not strings!
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SAMLProviderCreateDto'
      responses:
        '201':
          description: Created SAMLProvider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SAMLProviderDto'
        '400':
          description: Invalid Certificate or unverified domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                SAMLInvalidCertificateException:
[...]
