openapi: 3.0.0
info:
  title: hcloud - Mothership
  description: Mothership manages agent status and connections.
  version: 1.0.0
  contact:
    name: MoovIT Software Products GmbH
    url: https://www.moovit-sp.com
    email: info@moovit-sp.com
servers:
  - url: https://eu-central-1.helmut.cloud/api/mothership
    description: EU-Central production server
  - url: https://na-west-1.helmut.cloud/api/mothership
    description: NA-West production server
  - url: https://eu-dev-1.app.helmut.cloud/api/mothership
    description: EU development server
  - url: http://localhost/api/mothership
    description: Localhost
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    patAuth:
      type: http
      scheme: bearer
      bearerFormat: PAT
    basicAuth:
      type: http
      scheme: basic
  schemas:
    CustomError:
      type: object
      properties:
        error:
          type: string
          description: Error name
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Error message
      required:
        - error
        - code
        - message
      description: API errors obey this shape
    AgentConnectDto:
      type: object
      properties:
        memberToken:
          type: string
          description: Token bound to a member of the organization
        email:
          type: string
          format: email
          description: Email of the member
          example: john.doe@example.com
      required:
        - memberToken
        - email
      description: >-
        Required data for connecting an agent to the organization. Includes a
        unique member token and the member's email address for authentication
        and identification purposes
    AgentStatus:
      type: string
      enum:
        - BUSY
        - IDLE
      description: Status of the agent
      example: IDLE
    AgentHelloAgainDto:
      type: object
      properties:
        cpuUtilization:
          type: number
          minimum: 0
          maximum: 100
          description: Current CPU utilization in the agent machine
          example: 2
        memoryUsed:
          type: number
          minimum: 0
          description: Amount of RAM in use on the agent machine in bytes
          example: 34007285760
        uptime:
          type: number
          minimum: 0
          description: Uptime of the agent machine in seconds
          example: 288273
        status:
          $ref: '#/components/schemas/AgentStatus'
      required:
        - cpuUtilization
        - memoryUsed
        - uptime
        - status
      description: >-
        Payload sent by an agent to periodically signal its active status to the
        Mothership and provide updated runtime statistics. Includes current CPU
        usage, memory consumption, system uptime, and operational status
    AgentHelloDto:
      type: object
      properties:
        cpuUtilization:
          type: number
          minimum: 0
          maximum: 100
          description: Current CPU utilization in the agent machine
          example: 2
        memoryUsed:
          type: number
          minimum: 0
          description: Amount of RAM in use on the agent machine in bytes
          example: 34007285760
        uptime:
          type: number
          minimum: 0
          description: Uptime of the agent machine in seconds
          example: 288273
        status:
          $ref: '#/components/schemas/AgentStatus'
        nickname:
          type: string
          description: Nickname for the agent
          example: jb-local
        bundleVersion:
          type: string
          description: Version of the agent bundle
          example: 4.1.0-dev-17
        installerVersion:
          type: string
          description: Version of the agent installer
          example: 2.5.0
        ip:
          type: string
          description: IP of the agent. If omitted will be derived from the network stack
          example: 10.172.3.119
      required:
        - cpuUtilization
        - memoryUsed
        - uptime
        - status
      description: >-
        Initial payload sent by an agent to announce its presence to the
        Mothership. This data confirms the agent is online and may include basic
        system metadata or registration details required for establishing
        communication
    AgentRegisterDto:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          description: UUID of the agent
          example: dcf1c58a-0806-4f6d-9530-d4fe0d8672d3
        cpu:
          type: string
          description: CPU model of the agent machine
          example: Intel(R) Core(TM) i9-9980HK CPU @ 2.40GHz
        cpuUtilization:
          type: number
          minimum: 0
          maximum: 100
          description: Current CPU utilization on the agent machine
          example: 2
        memoryTotal:
          type: number
          minimum: 0
          description: Total RAM capacity of the agent machine in bytes
          example: 34359738368
        memoryUsed:
          type: number
          minimum: 0
          description: Amount of RAM in use on the agent machine in bytes
          example: 34007285760
        hostname:
          type: string
          format: hostname
          description: Host name of the agent machine
          example: 2019-jb.local
        nickname:
          type: string
          description: Nickname for the agent
          example: jb-local
        osPlatform:
          type: string
          description: OS platform installed on the agent machine
          example: darwin
        osRelease:
          type: string
          description: OS release installed on the agent machine
          example: 23.0.0
        osVersion:
          type: string
          description: OS version installed on the agent machine
          example: >-
            Darwin Kernel Version 23.0.0: Fri Sep 15 14:42:42 PDT 2023;
            root:xnu-10002.1.13~1/RELEASE_X86_64
        uptime:
          type: number
          minimum: 0
          description: Uptime of the agent machine in seconds
          example: 288273
        status:
          $ref: '#/components/schemas/AgentStatus'
        publicKey:
          type: string
          description: Key used for secret exchange with the agent
      required:
        - uuid
        - cpu
        - cpuUtilization
        - memoryTotal
        - memoryUsed
        - hostname
        - nickname
        - osPlatform
        - osRelease
        - osVersion
        - uptime
        - status
        - publicKey
      description: >-
        Payload used to register a new agent with the Mothership. Contains
        detailed hardware and system metadata, including CPU model, memory
        usage, operating system information, uptime, and a public key for secure
        communication. This data helps identify and authenticate the agent,
        establish its operational status, and initiate secure interactions
    ReducedUser:
      type: object
      properties:
        _id:
          type: string
          format: hexadecimal
          description: Unique identifier of the user
          example: 65562d052ed0590e5d580ca0
        name:
          type: string
          description: Full name of the user
          example: John Doe
        email:
          type: string
          format: email
          description: Email address of the user
          example: john.doe@example.com
        avatarUrl:
          type: string
          format: uri
          description: URL to the user's avatar image
          example: https://example.com/avatar.webp
        isGuest:
          type: boolean
          description: Indicates if the user is a guest
          example: false
        isAgent:
          type: boolean
          description: Indicates if the user is an agent
          example: true
      required:
        - _id
        - name
        - email
        - avatarUrl
      description: >-
        Simplified representation of a user object used for referencing or
        displaying minimal user details
      example:
        _id: 3817e64ff912d31ffa27a571
        name: Helmut Mc Cloud
        email: mcloud@helmut.cloud
        avatarUrl: https://example.com/asset/some_avatar.webp
        isGuest: false
        isAgent: false
    TargetAgentDto:
      type: object
      properties:
        _id:
          type: string
          format: hexadecimal
          description: ID of the agent
          example: 65562d052ed0590e5d580ca0
        uuid:
          type: string
          format: uuid
          description: UUID of the agent
          example: dcf1c58a-0806-4f6d-9530-d4fe0d8672d3
        ip:
          type: string
          description: IP of the agent
          example: 10.172.3.119
        cpu:
          type: string
          description: CPU model of the agent machine
          example: Intel(R) Core(TM) i9-9980HK CPU @ 2.40GHz
        cpuUtilization:
          type: number
          description: Current CPU utilization on the agent machine
          example: 2
        memoryTotal:
          type: number
          description: Total RAM capacity of the agent machine in bytes
          example: 34359738368
        memoryUsed:
          type: number
          description: Amount of RAM in use on the agent machine in bytes
          example: 34007285760
        hostname:
          type: string
          format: hostname
          description: Host name of the agent machine
          example: 2019-jb.local
        nickname:
          type: string
          description: Nickname for the agent
          example: jb-local
        osPlatform:
          type: string
          description: OS platform installed on the agent machine
          example: darwin
        osRelease:
          type: string
          description: OS release installed on the agent machine
          example: 23.0.0
        osVersion:
          type: string
          description: OS version installed on the agent machine
          example: >-
            Darwin Kernel Version 23.0.0: Fri Sep 15 14:42:42 PDT 2023;
            root:xnu-10002.1.13~1/RELEASE_X86_64
        uptime:
          type: number
          description: Uptime of the agent connection to the organization
          example: 288273
        status:
          $ref: '#/components/schemas/AgentStatus'
        createDate:
          type: number
          description: Date of the agent's first hello to the mothership
          example: 1697726857196
        modifyDate:
          type: number
          description: Date of the agent's last communication to the mothership
          example: 1697726857196
        bundleVersion:
          type: string
          description: Version of the agent bundle
          example: 4.1.0-dev-17
        installerVersion:
          type: string
          description: Version of the agent installer
          example: 2.5.0
        target:
          $ref: '#/components/schemas/ReducedUser'
      required:
        - _id
        - uuid
        - cpu
        - cpuUtilization
        - memoryTotal
        - memoryUsed
        - hostname
        - nickname
        - osPlatform
        - osRelease
        - osVersion
        - uptime
        - status
        - createDate
        - modifyDate
        - target
      description: >-
        Detailed representation of a registered agent within the system,
        including hardware specifications, operating system details, connection
        status, and metadata required for monitoring and orchestration
    SearchFilterType:
      type: string
      enum:
        - STRING
        - SELECT
        - MULTISELECT
        - TYPEAHEAD
        - NUMBER
        - DATE
        - BOOLEAN
      description: |-
        * STRING - Filter by a string value
        * SELECT - Filter by a value from a set of possible choices
        * MULTISELECT - Filter by multiple values from a set of possible choices
        * TYPEAHEAD - Filter by ???
        * NUMBER - Filter by a numeric value
        * DATE - Filter by a Date value
        * BOOLEAN - Filter by a boolean flag
      example: NUMBER
    SearchFilterComparatorString:
      type: string
      enum:
        - is
        - is not
        - starts with
        - ends with
        - contains
      description: |-
        * is - String equals the specified string value
        * is not - String does not equal the specified string value
        * starts with - String starts with the specified string value
        * ends with - String ends with the specified string value
        * contains - String contains the specified string value
      example: starts with
    SearchFilterString:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SearchFilterType'
        key:
          type: string
          description: The search key
        comparator:
          $ref: '#/components/schemas/SearchFilterComparatorString'
        value:
          anyOf:
            - type: string
            - type: array
              items:
                type: string
          description: The value searching for
      required:
        - type
        - key
        - comparator
        - value
      description: >-
        Filter for string-based fields, accepts a single string or an array of
        strings as the filter value
    SearchFilterSelect:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SearchFilterType'
        key:
          type: string
          description: The search key
        allowedValues:
          type: array
          items:
            type: string
        comparator:
          $ref: '#/components/schemas/SearchFilterComparatorString'
        value:
          anyOf:
            - type: string
            - type: array
              items:
                type: string
          description: The value searching for
      required:
        - type
        - key
        - allowedValues
        - comparator
        - value
      description: >-
        Filter for fields with predefined selectable values, allows string
        comparators and accepts either a single value or multiple values from
        the allowed set
    SearchFilterMultiSelect:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SearchFilterType'
        key:
          type: string
          description: The search key
        allowedValues:
          type: array
          items:
            type: string
        comparator:
          $ref: '#/components/schemas/SearchFilterComparatorString'
        value:
          type: array
          items:
            type: string
          description: The value searching for
      required:
        - type
        - key
        - allowedValues
        - comparator
        - value
      description: >-
        Filter for fields that support multiple selections from a predefined
        list, accepts an array of strings and applies string-based comparators
    SearchFilterTypeahead:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SearchFilterType'
        key:
          type: string
          description: The search key
        allowedValues:
          type: array
          items:
            type: string
        comparator:
          $ref: '#/components/schemas/SearchFilterComparatorString'
        value:
          type: string
          description: The value searching for
      required:
        - type
        - key
        - allowedValues
        - comparator
        - value
      description: >-
        Filter designed for typeahead fields, accepts a single string value and
        applies string comparators against a list of allowed values
    SearchFilterComparatorNumber:
      type: string
      enum:
        - is
        - is not
        - greater than
        - less than
        - greater than or equal
        - less than or equal
      description: >-
        * is - Number equals the specified numeric value

        * is not - Number does not equal the specified numeric value

        * greater than - Number is greater than the specified numeric value

        * less than - Number is less than the specified numeric value

        * greater than or equal - Number is greater than or equal to the
        specified numeric value

        * less than or equal - Number is less than or equal to the specified
        numeric value
      example: greater than or equal
    SearchFilterNumber:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SearchFilterType'
        key:
          type: string
          description: The search key
        comparator:
          $ref: '#/components/schemas/SearchFilterComparatorNumber'
        value:
          type: number
          description: The value searching for
      required:
        - type
        - key
        - comparator
        - value
      description: Filter for numeric fields, accepts a single number as the filter value
    SearchFilterComparatorDate:
      type: string
      enum:
        - is
        - is not
        - greater than
        - less than
        - greater than or equal
        - less than or equal
      description: >-
        * is - Date equals the specified date value

        * is not - Date does not equal the specified date value

        * greater than - Date is more recent than the specified date value

        * less than - Date is older than the specified date value

        * greater than or equal - Date is more recent or equal to the specified
        date value

        * less than or equal - Date is older than or equal to the specified date
        value
      example: less than
    SearchFilterDate:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SearchFilterType'
        key:
          type: string
          description: The search key
        comparator:
          $ref: '#/components/schemas/SearchFilterComparatorDate'
        value:
          type: number
          description: The value searching for
      required:
        - type
        - key
        - comparator
        - value
      description: >-
        Filter for date or timestamp fields, uses date-based comparators and
        accepts a numeric value representing the date (e.g., Unix timestamp)
    SearchFilterComparatorBoolean:
      type: string
      enum:
        - is
        - is not
      description: |-
        * is - Boolean equals the specified boolean value
        * is not - Boolean does not equal the specified boolean value
      example: is not
    SearchFilterBoolean:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SearchFilterType'
        key:
          type: string
          description: The search key
        comparator:
          $ref: '#/components/schemas/SearchFilterComparatorBoolean'
        value:
          type: boolean
          description: The value searching for
      required:
        - type
        - key
        - comparator
        - value
      description: Filter for boolean fields, accepts a boolean value
    SearchFilter:
      anyOf:
        - $ref: '#/components/schemas/SearchFilterString'
        - $ref: '#/components/schemas/SearchFilterSelect'
        - $ref: '#/components/schemas/SearchFilterMultiSelect'
        - $ref: '#/components/schemas/SearchFilterTypeahead'
        - $ref: '#/components/schemas/SearchFilterNumber'
        - $ref: '#/components/schemas/SearchFilterDate'
        - $ref: '#/components/schemas/SearchFilterBoolean'
      description: Filter for searching
      example:
        type: STRING
        key: name
        comparator: starts with
        value: Editor-
    SortDirection:
      type: string
      enum:
        - ASC
        - DESC
      description: |-
        * ASC - Ascending order
        * DESC - Descending order
      example: DESC
    Sorting:
      type: object
      properties:
        direction:
          $ref: '#/components/schemas/SortDirection'
        fields:
          type: array
          items:
            type: string
            minLength: 1
          description: The fields to consider when performing the sorting of the result
      description: The sorting definition
      example:
        direction: DESC
        fields:
          - name
          - company
    Search:
      type: object
      properties:
        filters:
          type: array
          items:
            $ref: '#/components/schemas/SearchFilter'
          description: A list of filters
        sorting:
          $ref: '#/components/schemas/Sorting'
      description: >-
        Defines the search parameters used to query objects of various types.
        Includes optional filters for narrowing down results and a sorting
        definition to control the order of returned data
      example:
        filters:
          - type: DATE
            key: modifyDate
            comparator: less than
            value: 1681912446650
        sorting:
          direction: DESC
          fields:
            - name
            - company
    AgentDto:
      type: object
      properties:
        _id:
          type: string
          format: hexadecimal
          description: ID of the agent
          example: 65562d052ed0590e5d580ca0
        uuid:
          type: string
          format: uuid
          description: UUID of the agent
          example: dcf1c58a-0806-4f6d-9530-d4fe0d8672d3
        ip:
          type: string
          description: IP of the agent
          example: 10.172.3.119
        cpu:
          type: string
          description: CPU model of the agent machine
          example: Intel(R) Core(TM) i9-9980HK CPU @ 2.40GHz
        cpuUtilization:
          type: number
          description: Current CPU utilization on the agent machine
          example: 2
        memoryTotal:
          type: number
          description: Total RAM capacity of the agent machine in bytes
          example: 34359738368
        memoryUsed:
          type: number
          description: Amount of RAM in use on the agent machine in bytes
          example: 34007285760
        hostname:
          type: string
          format: hostname
          description: Host name of the agent machine
          example: 2019-jb.local
        nickname:
          type: string
          description: Nickname for the agent
          example: jb-local
        osPlatform:
          type: string
          description: OS platform installed on the agent machine
          example: darwin
        osRelease:
          type: string
          description: OS release installed on the agent machine
          example: 23.0.0
        osVersion:
          type: string
          description: OS version installed on the agent machine
          example: >-
            Darwin Kernel Version 23.0.0: Fri Sep 15 14:42:42 PDT 2023;
            root:xnu-10002.1.13~1/RELEASE_X86_64
        uptime:
          type: number
          description: Uptime of the agent machine in seconds
          example: 288273
        status:
          $ref: '#/components/schemas/AgentStatus'
        createDate:
          type: number
          description: Date of the agent's first hello to the mothership
          example: 1697726857196
        modifyDate:
          type: number
          description: Date of the agent's last communication to the mothership
          example: 1697726857196
        bundleVersion:
          type: string
          description: Version of the agent bundle
          example: 4.1.0-dev-17
        installerVersion:
          type: string
          description: Version of the agent installer
          example: 2.5.0
      required:
        - _id
        - uuid
        - cpu
        - cpuUtilization
        - memoryTotal
        - memoryUsed
        - hostname
        - nickname
        - osPlatform
        - osRelease
        - osVersion
        - uptime
        - status
        - createDate
        - modifyDate
      description: >-
        Detailed representation of a registered agent within the system,
        including hardware specifications, operating system details, connection
        status, and metadata required for monitoring and orchestration
    SecretExchangeDto:
      type: object
      properties:
        secret:
          type: string
          format: byte
          description: >-
            Base64 encoded encrypted secret. The encryption key used is the
            public key sent in the register request. The secret itself is a
            base64 encoded HMAC symmetric key
          example: SGVsbXV0IENsb3Vk==
      required:
        - secret
      description: >-
        Encrypted HMAC key transferred securely during agent onboarding, encoded
        in base64 format
    StatsDto:
      type: object
      properties:
        orgName:
          type: string
          description: Name of the organization
          example: Moovit SP GmbH
        connectedAgents:
          type: number
          minimum: 0
          description: Total number of connected agents within the organization
          example: 3
      required:
        - orgName
        - connectedAgents
      description: Aggregated license usage statistics for a given organization
      example:
        orgName: Moovit SP GmbH
        connectedAgents: 3
  parameters: {}
paths:
  /v1/agent:
    delete:
      summary: Delete a registered agent. Requires an hello to obtain the token
      tags:
        - Agent
      responses:
        '204':
          description: No Content
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 009.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/org/{orgName}/connect/search:
    post:
      security:
        - bearerAuth: []
        - basicAuth: []
        - patAuth: []
      summary: Search the available execution targets for a given organization
      tags:
        - Connect
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
                description: >-
                  Name of the organization (only alphanumeric characters,
                  hyphens and dots are allowed; it should contain between 3 and
                  64 characters)
                example: MoovIT-Software-Products-GmbH
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
                description: >-
                  Name of the user's private organization, allowed everything
                  defined in the RFC for the email specification (it should
                  contain between 3 and 255 characters)
                example: hmc@helmut.cloud
          required: true
          name: orgName
          in: path
        - schema:
            type: number
            minimum: 1
            maximum: 100
            default: 25
            description: Page size
          required: false
          name: limit
          in: query
        - schema:
            type: number
            nullable: true
            minimum: 0
            default: 0
            description: Page index
          required: false
          name: page
          in: query
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
      responses:
        '200':
          description: List of target agents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TargetAgentDto'
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'query' parameter 'limit' | Failed to validate 'query' parameter
            'page'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 009.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'query' parameter 'limit':
                  summary: Failed to validate 'query' parameter 'limit'
                  description: Failed to validate 'query' parameter 'limit' - {error}
                  value:
                    code: 009.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'query' parameter 'limit' - {error}
                Failed to validate 'query' parameter 'page':
                  summary: Failed to validate 'query' parameter 'page'
                  description: Failed to validate 'query' parameter 'page' - {error}
                  value:
                    code: 009.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'query' parameter 'page' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 009.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 009.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 009.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: User's organization role is insufficient. Must be at least MEMBER
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                User's organization role is insufficient. Must be at least MEMBER:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    MEMBER
                  value:
                    code: 009.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 009.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 009.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/org/{orgName}/connect:
    post:
      summary: Connect to a given organization
      tags:
        - Connect
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
                description: >-
                  Name of the organization (only alphanumeric characters,
                  hyphens and dots are allowed; it should contain between 3 and
                  64 characters)
                example: MoovIT-Software-Products-GmbH
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
                description: >-
                  Name of the user's private organization, allowed everything
                  defined in the RFC for the email specification (it should
                  contain between 3 and 255 characters)
                example: hmc@helmut.cloud
          required: true
          name: orgName
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentConnectDto'
      responses:
        '200':
          description: No Content
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Agent is offline |
            Agent already connected to this organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 009.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Agent is offline:
                  summary: Agent is offline
                  value:
                    code: 009.030.0002
                    error: agent.offline
                    message: Agent is offline
                Agent already connected to this organization.:
                  summary: Agent already connected to this organization.
                  value:
                    code: 009.030.0004
                    error: agent.already.connected
                    message: Agent already connected to this organization.
        '403':
          description: User's organization role is insufficient. Must be at least MEMBER
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                User's organization role is insufficient. Must be at least MEMBER:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    MEMBER
                  value:
                    code: 009.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 009.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 009.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/org/{orgName}/connect/{email}:
    delete:
      summary: Disconnect from a given organization
      tags:
        - Disconnect
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
                description: >-
                  Name of the organization (only alphanumeric characters,
                  hyphens and dots are allowed; it should contain between 3 and
                  64 characters)
                example: MoovIT-Software-Products-GmbH
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
                description: >-
                  Name of the user's private organization, allowed everything
                  defined in the RFC for the email specification (it should
                  contain between 3 and 255 characters)
                example: hmc@helmut.cloud
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            minLength: 1
            format: email
            description: Email address
            example: john.doe@helmut.cloud
          required: true
          name: email
          in: path
      responses:
        '204':
          description: No Content
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'email' | Agent not connected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 009.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'email':
                  summary: Failed to validate 'path' parameter 'email'
                  description: Failed to validate 'path' parameter 'email' - {error}
                  value:
                    code: 009.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'email' - {error}
                Agent not connected:
                  summary: Agent not connected
                  value:
                    code: 009.030.0005
                    error: agent.not.connected
                    message: Agent not connected
        '500':
          description: something went wrong | Database issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 009.000.0002
                    error: internal.server.error
                    message: something went wrong
                Database issues.:
                  summary: Database issues.
                  value:
                    code: 009.000.0002
                    error: internal.server.error
                    message: Database issues.
  /v1/connect/{email}:
    delete:
      summary: Disconnect as a target
      tags:
        - Disconnect
      parameters:
        - schema:
            type: string
            minLength: 1
            format: email
            description: Email address
            example: john.doe@helmut.cloud
          required: true
          name: email
          in: path
      responses:
        '200':
          description: No Content
        '400':
          description: Failed to validate 'path' parameter 'email'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'email':
                  summary: Failed to validate 'path' parameter 'email'
                  description: Failed to validate 'path' parameter 'email' - {error}
                  value:
                    code: 009.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'email' - {error}
        '500':
          description: something went wrong | Database issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 009.000.0002
                    error: internal.server.error
                    message: something went wrong
                Database issues.:
                  summary: Database issues.
                  value:
                    code: 009.000.0002
                    error: internal.server.error
                    message: Database issues.
  /v1/hello:
    post:
      summary: Say hello to the mothership to signify that an agent is online
      tags:
        - Hello
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentHelloDto'
      responses:
        '200':
          description: The agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDto'
        '401':
          description: >-
            Expected an authentication token that has not been provided | You're
            not authorized | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 009.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 009.001.0001
                    error: unauthorized
                    message: You're not authorized
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 009.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '500':
          description: something went wrong | Database issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 009.000.0002
                    error: internal.server.error
                    message: something went wrong
                Database issues.:
                  summary: Database issues.
                  value:
                    code: 009.000.0002
                    error: internal.server.error
                    message: Database issues.
  /v1/hello/again:
    patch:
      summary: >-
        Say hello again to the mothership to signify that an agent is still
        online and update its stats
      tags:
        - Hello
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentHelloAgainDto'
      responses:
        '200':
          description: The agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDto'
        '400':
          description: Agent is offline
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Agent is offline:
                  summary: Agent is offline
                  value:
                    code: 009.030.0002
                    error: agent.offline
                    message: Agent is offline
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 009.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/register:
    post:
      summary: Register an agent with the mothership
      tags:
        - Register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentRegisterDto'
      responses:
        '201':
          description: Agent registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretExchangeDto'
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 009.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/org/{orgName}/stats:
    get:
      security:
        - bearerAuth: []
        - basicAuth: []
        - patAuth: []
      description: Provides detailed license usage metrics for a given organization
      summary: Retrieve usage statistics for a specific organization
      tags:
        - Organization
        - Statistics
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
                description: >-
                  Name of the organization (only alphanumeric characters,
                  hyphens and dots are allowed; it should contain between 3 and
                  64 characters)
                example: MoovIT-Software-Products-GmbH
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
                description: >-
                  Name of the user's private organization, allowed everything
                  defined in the RFC for the email specification (it should
                  contain between 3 and 255 characters)
                example: hmc@helmut.cloud
          required: true
          name: orgName
          in: path
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      responses:
        '200':
          description: Statistics information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsDto'
        '400':
          description: Failed to validate 'path' parameter 'orgName'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 009.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 009.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 009.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 009.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: User's organization role is insufficient. Must be at least ADMIN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                User's organization role is insufficient. Must be at least ADMIN:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    ADMIN
                  value:
                    code: 009.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 009.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 009.000.0002
                    error: internal.server.error
                    message: something went wrong
