openapi: 3.0.0
info:
  title: hcloud - Friday
  version: 0.0.1-5
  contact:
    name: MoovIT Software Products GmbH
    url: https://www.moovit-sp.com
    email: info@moovit-sp.com
  description: Friday can be used as key > value store with data manipulation features.
servers:
  - url: https://eu-central-1.helmut.cloud/api/friday
    description: EU-Central production server
  - url: https://na-west-1.helmut.cloud/api/friday
    description: NA-West production server
  - url: https://eu-dev-1.app.helmut.cloud/api/friday
    description: EU development server
  - url: http://localhost/api/friday
    description: Localhost
paths:
  /v1/org/{orgName}/spaces/{spaceName}/databases/search:
    post:
      tags:
        - Database
      summary: Search databases of a space
      description: |-

        Required organization role: MEMBER\
        Required space permission: READ\
        Required scopes: FRIDAY_SPACE_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/PageParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
      responses:
        '200':
          description: List of databases that match the search filter
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DatabaseDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid body:
                  $ref: '#/components/examples/InvalidBodyException'
                  summary: Invalid body
                Invalid filter:
                  $ref: '#/components/examples/InvalidFilterException'
                  summary: Invalid search filter
                Invalid pagination parameters (limit/page):
                  $ref: '#/components/examples/InvalidParameterException'
                  summary: Invalid limit or page
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least READ:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/databases/{dbName}:
    get:
      tags:
        - Database
      summary: Search for a database by it's name
      description: |-

        Required organization role: MEMBER\
        Required space permission: READ\
        Required scopes: FRIDAY_SPACE_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/DatabaseName'
      responses:
        '200':
          description: Database object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Database name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least READ:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Database not found:
                  $ref: '#/components/examples/DatabaseNotFoundException'
        default:
          description: Unexpected error
    delete:
      tags:
        - Database
      summary: Delete a database by it's name
      description: |-

        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: FRIDAY_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/DatabaseName'
      responses:
        '204':
          description: No content
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Database name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Database not found:
                  $ref: '#/components/examples/DatabaseNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/databases:
    post:
      tags:
        - Database
      summary: Create a new database for a space
      description: |-

        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: FRIDAY_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseCreateDto'
      responses:
        '201':
          description: Database object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseDto'
        '400':
          description: Bad request exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                DatabaseNameInUseException:
                  $ref: '#/components/examples/DatabaseNameInUseException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/databases/{dbName}/name:
    patch:
      tags:
        - Database
      summary: Change name of the database
      description: |-
        Change a database's name by providing a new one
        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: FRIDAY_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/DatabaseName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabasePatchDto'
        required: true
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseDto'
        '400':
          description: Bad request exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                DatabaseNameInUseException:
                  $ref: '#/components/examples/DatabaseNameInUseException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Database name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Database not found:
                  $ref: '#/components/examples/DatabaseNotFoundException'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/databases/{dbName}/documents/{key}/push:
    patch:
      tags:
        - DocumentArray
      summary: Add one or more elements to the end of an array
      description: |-

        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: FRIDAY_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/DatabaseName'
        - $ref: '#/components/parameters/DocumentKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentPatchDto'
        required: true
      responses:
        '200':
          description: Updated document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidBodyException:
                  $ref: '#/components/examples/InvalidBodyException'
                DocumentTypeMismatchException:
                  $ref: '#/components/examples/DocumentTypeMismatchException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Database name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Document key must be provided:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Database not found:
                  $ref: '#/components/examples/DatabaseNotFoundException'
                Document not found:
                  $ref: '#/components/examples/DocumentNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/databases/{dbName}/documents/{key}/unshift:
    patch:
      tags:
        - DocumentArray
      summary: Add one or more elements to the beginning of an array
      description: |-

        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: FRIDAY_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/DatabaseName'
        - $ref: '#/components/parameters/DocumentKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentPatchDto'
        required: true
      responses:
        '200':
          description: Updated document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidBodyException:
                  $ref: '#/components/examples/InvalidBodyException'
                DocumentTypeMismatchException:
                  $ref: '#/components/examples/DocumentTypeMismatchException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Database name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Document key must be provided:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Database not found:
                  $ref: '#/components/examples/DatabaseNotFoundException'
                Document not found:
                  $ref: '#/components/examples/DocumentNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/databases/{dbName}/documents/{key}/index/{index}:
    delete:
      tags:
        - DocumentArray
      summary: Delete element with specified index from the array
      description: |-

        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: FRIDAY_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/DatabaseName'
        - $ref: '#/components/parameters/DocumentKey'
        - $ref: '#/components/parameters/ArrayIndex'
      responses:
        '200':
          description: Updated document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                DocumentTypeMismatchException:
                  $ref: '#/components/examples/DocumentTypeMismatchException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Database name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Document key must be provided:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Database not found:
                  $ref: '#/components/examples/DatabaseNotFoundException'
                Document not found:
                  $ref: '#/components/examples/DocumentNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/databases/{dbName}/documents/search:
    post:
      tags:
        - Document
      summary: Search for documents by database name and search filter
      description: |-

        Required organization role: MEMBER\
        Required space permission: READ\
        Required scopes: FRIDAY_SPACE_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/DatabaseName'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/PageParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
      responses:
        '200':
          description: List of documents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Database name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid body:
                  $ref: '#/components/examples/InvalidBodyException'
                  summary: Invalid body
                Invalid filter:
                  $ref: '#/components/examples/InvalidFilterException'
                  summary: Invalid search filter
                Invalid pagination parameters (limit/page):
                  $ref: '#/components/examples/InvalidParameterException'
                  summary: Invalid limit or page
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least READ:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Database not found:
                  $ref: '#/components/examples/DatabaseNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/databases/{dbName}/documents/{key}:
    get:
      tags:
        - Document
      summary: Get document by it's key
      description: |-

        Required organization role: MEMBER\
        Required space permission: READ\
        Required scopes: FRIDAY_SPACE_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/DatabaseName'
        - $ref: '#/components/parameters/DocumentKey'
      responses:
        '200':
          description: Document object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Database name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least READ:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                DocumentNotFoundException:
                  $ref: '#/components/examples/DocumentNotFoundException'
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Database not found:
                  $ref: '#/components/examples/DatabaseNotFoundException'
        default:
          description: Unexpected error
    put:
      tags:
        - Document
      summary: Patch a document
      description: |-
        Update the data stored in the document if their type matches.
        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: FRIDAY_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/DatabaseName'
        - $ref: '#/components/parameters/DocumentKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentPatchDto'
        required: true
      responses:
        '200':
          description: Updated document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InvalidBodyException:
                  $ref: '#/components/examples/InvalidBodyException'
                DocumentTypeMismatchException:
                  $ref: '#/components/examples/DocumentTypeMismatchException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Database name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Document key must be provided:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Database not found:
                  $ref: '#/components/examples/DatabaseNotFoundException'
                Document not found:
                  $ref: '#/components/examples/DocumentNotFoundException'
        default:
          description: Unexpected error
    delete:
      tags:
        - Document
      summary: Delete a document from the database
      description: |-

        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: FRIDAY_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/DatabaseName'
        - $ref: '#/components/parameters/DocumentKey'
      responses:
        '204':
          description: No content
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Database name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Document key must be provided:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Database not found:
                  $ref: '#/components/examples/DatabaseNotFoundException'
                Document not found:
                  $ref: '#/components/examples/DocumentNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/databases/{dbName}/documents:
    post:
      tags:
        - Document
      summary: Add a new document to the database
      description: |-

        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: FRIDAY_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/DatabaseName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentCreateDto'
      responses:
        '201':
          description: Document object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Database name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
                License quota exceeded:
                  $ref: '#/components/examples/LicenseQuotaExceededException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Database not found:
                  $ref: '#/components/examples/DatabaseNotFoundException'
        '409':
          description: Resource conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                DocumentAlreadyExistWithKeyException:
                  $ref: '#/components/examples/DocumentAlreadyExistWithKeyException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/databases/{dbName}/documents/{key}/inc:
    patch:
      tags:
        - DocumentNumber
      summary: Increment the numeric value stored in the document by one
      description: |-

        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: FRIDAY_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/DatabaseName'
        - $ref: '#/components/parameters/DocumentKey'
      responses:
        '200':
          description: Updated document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                DocumentTypeMismatchException:
                  $ref: '#/components/examples/DocumentTypeMismatchException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Database name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Document key must be provided:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Database not found:
                  $ref: '#/components/examples/DatabaseNotFoundException'
                Document not found:
                  $ref: '#/components/examples/DocumentNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/databases/{dbName}/documents/{key}/inc/{value}:
    patch:
      tags:
        - DocumentNumber
      summary: Increase the numeric value stored in the document by custom value
      description: |-

        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: FRIDAY_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/DatabaseName'
        - $ref: '#/components/parameters/DocumentKey'
      responses:
        '200':
          description: Updated document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                DocumentTypeMismatchException:
                  $ref: '#/components/examples/DocumentTypeMismatchException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Database name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Document key must be provided:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Database not found:
                  $ref: '#/components/examples/DatabaseNotFoundException'
                Document not found:
                  $ref: '#/components/examples/DocumentNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/databases/{dbName}/documents/{key}/dec:
    patch:
      tags:
        - DocumentNumber
      summary: Decrement the numeric value stored in the document by one
      description: |-

        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: FRIDAY_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/DatabaseName'
        - $ref: '#/components/parameters/DocumentKey'
      responses:
        '200':
          description: Updated document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                DocumentTypeMismatchException:
                  $ref: '#/components/examples/DocumentTypeMismatchException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Database name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Document key must be provided:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Database not found:
                  $ref: '#/components/examples/DatabaseNotFoundException'
                Document not found:
                  $ref: '#/components/examples/DocumentNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/databases/{dbName}/documents/{key}/dec/{value}:
    patch:
      tags:
        - DocumentNumber
      summary: Subtract the numeric value stored in the document by custom value
      description: |-

        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: FRIDAY_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/DatabaseName'
        - $ref: '#/components/parameters/DocumentKey'
      responses:
        '200':
          description: Updated document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                DocumentTypeMismatchException:
                  $ref: '#/components/examples/DocumentTypeMismatchException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Database name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Document key must be provided:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Database not found:
                  $ref: '#/components/examples/DatabaseNotFoundException'
                Document not found:
                  $ref: '#/components/examples/DocumentNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}:
    get:
      tags:
        - Space
      summary: Retrieves a Space by its name
      description: |-

        Required organization role: MEMBER\
        Required space permission: READ\
        Required scopes: FRIDAY_SPACE_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
      responses:
        '200':
          description: Space object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least READ:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
    delete:
      tags:
        - Space
      summary: Deletes a Space by its name.
      description: |-

        Required organization role: MEMBER\
        Required space permission: OWNER\
        Required scopes: FRIDAY_SPACE_DELETE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
      responses:
        '204':
          description: No content
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least OWNER:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/search:
    post:
      tags:
        - Space
      summary: >-
        Retrieves all spaces of an organization that match the provided search
        filter. Will return all spaces if no search filter is provided.
      description: |-

        Required organization role: MEMBER\
        Required scopes: FRIDAY_SPACE_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/PageParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
      responses:
        '200':
          description: List of filtered Spaces
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpaceDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid body:
                  $ref: '#/components/examples/InvalidBodyException'
                  summary: Invalid body
                Invalid filter:
                  $ref: '#/components/examples/InvalidFilterException'
                  summary: Invalid search filter
                Invalid pagination parameters (limit/page):
                  $ref: '#/components/examples/InvalidParameterException'
                  summary: Invalid limit or page
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces:
    post:
      tags:
        - Space
      summary: Creates a new Space in the given Organization
      description: |-

        Required organization role: ADMIN\
        Required scopes: FRIDAY_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpaceCreateDto'
        required: true
      responses:
        '201':
          description: Space object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                SpaceNameInUseException:
                  $ref: '#/components/examples/SpaceNameInUseException'
                InvalidBodyException:
                  $ref: '#/components/examples/InvalidBodyException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                License quota exceeded:
                  $ref: '#/components/examples/LicenseQuotaExceededException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/name:
    patch:
      tags:
        - Space
      summary: Renames a Space
      description: |-

        Required organization role: ADMIN\
        Required space permission: MANAGE\
        Required scopes: FRIDAY_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpacePatchDto'
        required: true
      responses:
        '200':
          description: Updated Space
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                SpaceNameInUseException:
                  $ref: '#/components/examples/SpaceNameInUseException'
                InvalidBodyException:
                  $ref: '#/components/examples/InvalidBodyException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/permissions/search:
    post:
      tags:
        - Space.Permissions
      summary: >-
        For the specified space, will retrieve all space permissions that match
        the provided search filter or all space permissions if no search filter
        is provided.
      description: |-

        Required organization role: MEMBER\
        Required space permission: MANAGE\
        Required scopes: FRIDAY_SPACE_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/PageParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
      responses:
        '200':
          description: List of filtered Spaces permissions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpaceEntityPermissionDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid body:
                  $ref: '#/components/examples/InvalidBodyException'
                  summary: Invalid body
                Invalid filter:
                  $ref: '#/components/examples/InvalidFilterException'
                  summary: Invalid search filter
                Invalid pagination parameters (limit/page):
                  $ref: '#/components/examples/InvalidParameterException'
                  summary: Invalid limit or page
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least MANAGE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/permissions/user:
    put:
      tags:
        - Space.Permissions
      summary: Add, update, delete a users space's permission
      description: |-

        Required organization role: MEMBER\
        Required space permission: MANAGE\
        Required scopes: FRIDAY_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpaceUserPermissionDto'
        required: true
      responses:
        '200':
          description: Updated Space
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceEntityPermissionDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least MANAGE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                OrganizationMemberNotFoundException:
                  $ref: '#/components/examples/OrganizationMemberNotFoundException'
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/permissions/team:
    put:
      tags:
        - Space.Permissions
      summary: Add, update, delete a team's spaces permission
      description: |-

        Required organization role: MEMBER\
        Required space permission: MANAGE\
        Required scopes: FRIDAY_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgName'
        - $ref: '#/components/parameters/SpaceName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpaceTeamPermissionDto'
        required: true
      responses:
        '200':
          description: Updated Space
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceEntityPermissionDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                SpaceInvalidOwnerException:
                  $ref: '#/components/examples/SpaceInvalidOwnerException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least MANAGE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                TeamNotFoundException:
                  $ref: '#/components/examples/TeamNotFoundException'
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
components:
  securitySchemes:
    BearerAuth:
      type: http
      bearerFormat: JWT
      scheme: bearer
    BasicAuth:
      type: http
      scheme: basic
  schemas:
    CustomError:
      properties:
        code:
          type: string
          description: >-
            "A helmut cloud custom error code following this schema: [Custom
            Error
            Codes](https://development-guideline.pages.moovit-sp.com/en/hcloud/customErrorCodes.html)"
        error:
          type: string
          description: 'Name of the error in the following format: name.of.error'
        message:
          type: string
          description: Error description
      required:
        - code
        - error
        - message
      example: null
    DatabaseCreateDto:
      properties:
        name:
          type: string
          description: >-
            Name of the database (only alphanumeric characters, hyphens,
            underscores and dots are allowed, it should contain between 1 and
            128 symbols)
      required:
        - name
      example:
        name: Helmut4-Data-Storage
    DatabaseDto:
      properties:
        _id:
          type: string
          description: Object ID of the database
        name:
          type: string
          description: Name of the database
        space:
          $ref: '#/components/schemas/ReducedSpace'
          description: Space the database belongs to
        organization:
          $ref: '#/components/schemas/ReducedOrganization'
          description: Organization the database belongs to
        creator:
          $ref: '#/components/schemas/ReducedUser'
          description: Creator of the database
        createDate:
          type: number
          description: Date of creation as unix timestamp
      required:
        - _id
        - name
        - space
        - organization
        - createDate
      example:
        _id: 63c7e6e4eae82d8001b65305
        name: Helmut4-Data-Storage
        space:
          _id: 63ecb429ee5ede1101f25d33
          name: Helmut4
          avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
        organization:
          _id: 6436bb9988821e8f6400c2f8
          name: DEV-software
          avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
        creator:
          _id: 64180bfafe4fbcd791493ef4
          name: Account MSP
          avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
        createDate: 1674045156
    DatabasePatchDto:
      properties:
        name:
          type: string
          description: >-
            The new name of the database (only alphanumeric characters, hyphens,
            underscores and dots are allowed, it should contain between 1 and
            128 symbols)
      required:
        - name
      example:
        name: Helmut4-Data-Storage
    DocumentCreateDto:
      properties:
        key:
          type: string
          description: Key of the document
        type:
          $ref: '#/components/schemas/DocumentType'
          description: Type of the document value
        value:
          oneOf:
            - type: object
              additionalProperties: true
            - type: array
              items: {}
            - type: string
            - type: number
            - type: boolean
          description: >-
            Document value (data type must match the type specified in the type
            field)
      required:
        - key
        - type
        - value
      example:
        key: Helmut4-stream-executions-counter
        type: NUMBER
        value: 647931
    DocumentDto:
      properties:
        _id:
          type: string
          description: Database ID of the document
        key:
          type: string
          description: Key of the document
        database:
          type: string
          description: Database name the document belongs to
        space:
          $ref: '#/components/schemas/ReducedSpace'
          description: Space the document belongs to
        organization:
          $ref: '#/components/schemas/ReducedOrganization'
          description: Organization the document belongs to
        creator:
          $ref: '#/components/schemas/ReducedUser'
          description: Creator of the document
        type:
          $ref: '#/components/schemas/DocumentType'
          description: Type of data stored in the document
        value:
          oneOf:
            - type: object
              additionalProperties: true
            - type: array
              items: {}
            - type: string
            - type: number
            - type: boolean
          description: Data stored in the document
        createDate:
          type: number
          description: Date of creation as unix timestamp
        modifyDate:
          type: number
          description: Date of last modification as unix timestamp
      required:
        - _id
        - key
        - space
        - organization
        - type
        - value
        - createDate
        - modifyDate
      example:
        _id: 71c7e6e4eae82d8001b65303
        key: Helmut4-stream-executions-counter
        database: Helmut4-Data-Storage
        space:
          _id: 63ecb429ee5ede1101f25d33
          name: Helmut4
          avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
        organization:
          _id: 6436bb9988821e8f6400c2f8
          name: DEV-software
          avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
        creator:
          _id: 64180bfafe4fbcd791493ef4
          name: Account MSP
          avatarUrl: https://app.helmut.cloud/asset/no_avatar.webp
        type: NUMBER
        value: 647931
        createDate: 1774045156
        modifyDate: 1774047958
    DocumentPatchDto:
      properties:
        value:
          oneOf:
            - type: object
              additionalProperties: true
            - type: array
              items: {}
            - type: string
            - type: number
            - type: boolean
          description: >-
            Document value (data type must match the type specified in the type
            field of the existing document)
      required:
        - value
      example:
        value: 647931
    DocumentType:
      enum:
        - STRING
        - NUMBER
        - BOOLEAN
        - STRING_LIST
        - NUMBER_LIST
        - BOOLEAN_LIST
        - OBJECT
        - ARRAY
      type: string
      description: |
        * STRING - String data type.
        * NUMBER - Number data type.
        * BOOLEAN - Boolean data type.
        * STRING_LIST - Array of strings.
        * NUMBER_LIST - Array of numbers.
        * BOOLEAN_LIST - Array of boolean values.
        * OBJECT - Json object.
        * ARRAY - Array with values of any type.
    Search:
      properties:
        filters:
          type: array
          items:
            $ref: '#/components/schemas/SearchFilter'
          description: A list of filters
        sorting:
          $ref: '#/components/schemas/Sorting'
          description: The sorting definition
      example:
        filters:
          - type: DATE
            key: modifyDate
            comparator: less than
            value: 1681912446650
        sorting:
          direction: DESC
          fields:
            - name
[...]
