openapi: 3.0.0
info:
  title: hcloud - Cosmo
  description: Cosmo is a Media Asset Management platform.
  version: 1.0.0
  contact:
    name: MoovIT Software Products GmbH
    url: https://www.moovit-sp.com
    email: info@moovit-sp.com
servers:
  - url: https://eu-central-1.helmut.cloud/api/cosmo
    description: EU-Central production server
  - url: https://na-west-1.helmut.cloud/api/cosmo
    description: NA-West production server
  - url: https://eu-dev-1.app.helmut.cloud/api/cosmo
    description: EU development server
  - url: http://localhost/api/cosmo
    description: Localhost
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    patAuth:
      type: http
      scheme: bearer
      bearerFormat: PAT
    basicAuth:
      type: http
      scheme: basic
  schemas:
    CustomError:
      type: object
      properties:
        error:
          type: string
          description: Error name
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Error message
      required:
        - error
        - code
        - message
      description: API errors obey this shape
    SpaceCreateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 32
          pattern: ^[a-zA-Z0-9-.]{1,32}$
          description: Name for the created space
      required:
        - name
    AssetPatchLocationDto:
      type: object
      properties:
        locationId:
          type: string
          format: uuid
          description: Location ID
      required:
        - locationId
    MoveAssetDto:
      type: object
      properties:
        parentId:
          type: string
          format: uuid
          description: Parent ID
      required:
        - parentId
    AssetPatchDto:
      type: object
      properties:
        categories:
          type: array
          items:
            type: string
          description: New categories
          example:
            - cat1
            - cat2
        tags:
          type: array
          items:
            type: string
          description: New tags
          example:
            - tag1
            - tag2
    AssetSearchDto:
      type: object
      properties:
        filters:
          type: array
          items:
            oneOf:
              - oneOf:
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - type
                      type:
                        type: string
                        enum:
                          - STRING
                      value:
                        anyOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                      operator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                    required:
                      - key
                      - type
                      - value
                      - operator
                    description: STRING for type
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - type
                      type:
                        type: string
                        enum:
                          - SELECT
                      value:
                        anyOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                      operator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                      allowedValues:
                        type: array
                        items:
                          type: string
                    required:
                      - key
                      - type
                      - value
                      - operator
                      - allowedValues
                    description: SELECT for type
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - type
                      type:
                        type: string
                        enum:
                          - TYPEAHEAD
                      value:
                        type: string
                      operator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                      allowedValues:
                        type: array
                        items:
                          type: string
                    required:
                      - key
                      - type
                      - value
                      - operator
                      - allowedValues
                    description: TYPEAHEAD for type
                description: type filters
              - type: object
                properties:
                  key:
                    type: string
                    enum:
                      - id
                  type:
                    type: string
                    enum:
                      - STRING
                  value:
                    anyOf:
                      - type: string
                      - type: array
                        items:
                          type: string
                  operator:
                    type: string
                    enum:
                      - is
                      - is not
                required:
                  - key
                  - type
                  - value
                  - operator
                description: id filters
              - oneOf:
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - name
                      type:
                        type: string
                        enum:
                          - STRING
                      value:
                        anyOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                      operator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                    required:
                      - key
                      - type
                      - value
                      - operator
                    description: STRING for name
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - name
                      type:
                        type: string
                        enum:
                          - SELECT
                      value:
                        anyOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                      operator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                      allowedValues:
                        type: array
                        items:
                          type: string
                    required:
                      - key
                      - type
                      - value
                      - operator
                      - allowedValues
                    description: SELECT for name
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - name
                      type:
                        type: string
                        enum:
                          - TYPEAHEAD
                      value:
                        type: string
                      operator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                      allowedValues:
                        type: array
                        items:
                          type: string
                    required:
                      - key
                      - type
                      - value
                      - operator
                      - allowedValues
                    description: TYPEAHEAD for name
                description: name filters
          description: field filters
      required:
        - filters
    AssetCreateDto:
      type: object
      properties:
        name:
          type: string
          description: Asset name
          example: my-asset
        parentId:
          type: string
          format: uuid
          description: Parent ID
          example: 4bd96ba6-2be3-4cd4-91a3-8af692cf7f84
        parentType:
          type: string
          enum:
            - ASSET
            - SPACE
            - PRODUCTION
            - PROJECT
            - FOLDER
          description: Parent Type
          example: SPACE
        tags:
          type: array
          items:
            type: string
          description: Asset tags
          example:
            - tag1
            - tag2
        categories:
          type: array
          items:
            type: string
          description: Asset categories
          example:
            - category1
            - category2
      required:
        - name
        - parentId
        - parentType
      example:
        name: my-asset
        parentId: 4bd96ba6-2be3-4cd4-91a3-8af692cf7f84
        parentType: SPACE
        tags:
          - tag1
          - tag2
        categories:
          - category1
          - category2
    LocationCreateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 32
          pattern: ^[a-zA-Z0-9-.]{1,32}$
      required:
        - name
    ProductionCreateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 32
          pattern: ^[a-zA-Z0-9-.]{1,32}$
      required:
        - name
    NamespaceCreateDto:
      type: object
      properties:
        name:
          type: string
          description: Namespace name
          example: My Namespace
      required:
        - name
    LocationDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: ID of the location
          example: 6471393c-6dc5-4ab4-a390-a1568b7d1689
        name:
          type: string
          description: Name of the location
          example: My location
      required:
        - id
        - name
    FolderDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Folder ID
        name:
          type: string
          description: Folder name
      required:
        - id
        - name
      example:
        name: my-name
        id: fa7f41b9-7915-4a9c-bd6f-67ddfb03f73a
    FolderCreateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 32
          pattern: ^[a-zA-Z0-9-.]{1,32}$
          description: Folder name
          example: my folder
        parentId:
          type: string
          format: uuid
          description: Parent ID
          example: 4ba38673-c8bb-4541-b123-b542f91d5f07
        parentType:
          type: string
          enum:
            - ASSET
            - SPACE
            - PRODUCTION
            - PROJECT
            - FOLDER
          description: Parent Type
          example: SPACE
      required:
        - name
        - parentId
        - parentType
    FolderRenameDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 32
          pattern: ^[a-zA-Z0-9-.]{1,32}$
          description: Folder name
          example: my folder
      required:
        - name
    FolderMoveDto:
      type: object
      properties:
        parentId:
          type: string
          format: uuid
          description: Parent ID
          example: 4ba38673-c8bb-4541-b123-b542f91d5f07
      required:
        - parentId
    NamespaceDto:
      type: object
      properties:
        name:
          type: string
          description: Namespace name
          example: My Namespace
        id:
          type: string
          format: uuid
          description: Namespace ID
          example: 254b0fb5-7567-47a8-b655-d09a40c91b2f
      required:
        - name
        - id
    CommentDto:
      type: object
      properties:
        text:
          type: string
          description: Comment Text
          example: My Comment
        id:
          type: string
          format: uuid
          description: Comment ID
          example: 254b0fb5-7567-47a8-b655-d09a40c91b2f
      required:
        - text
        - id
    CommentCreateDto:
      allOf:
        - type: object
          properties:
            text:
              type: string
              maxLength: 2048
              description: Comment text
              example: This is my comment
            refId:
              type: string
              format: uuid
              description: ID of the item referenced
              example: 8a5cd9be-f983-4a1c-bfdb-3868152a87fe
          required:
            - text
            - refId
        - oneOf:
            - type: object
              properties:
                temporalReference:
                  type: string
                  enum:
                    - INSTANT
                frameNumber:
                  type: number
                  minimum: 0
                  exclusiveMinimum: true
              required:
                - temporalReference
                - frameNumber
            - type: object
              properties:
                temporalReference:
                  type: string
                  enum:
                    - RANGE
                  description: Kind of temporal reference
                frameNumber:
                  type: number
                  minimum: 0
                  exclusiveMinimum: true
                  description: Number of the starting frame
                duration:
                  type: number
                  minimum: 0
                  exclusiveMinimum: true
                  description: Number of frames
              required:
                - temporalReference
                - frameNumber
                - duration
            - type: object
              properties:
                temporalReference:
                  type: string
                  enum:
                    - NONE
              required:
                - temporalReference
    CommentEditDto:
      allOf:
        - type: object
          properties:
            text:
              type: string
              maxLength: 2048
              description: Comment text
              example: This is my comment
          required:
            - text
        - oneOf:
            - type: object
              properties:
                temporalReference:
                  type: string
                  enum:
                    - INSTANT
                frameNumber:
                  type: number
                  minimum: 0
                  exclusiveMinimum: true
              required:
                - temporalReference
                - frameNumber
            - type: object
              properties:
                temporalReference:
                  type: string
                  enum:
                    - RANGE
                  description: Kind of temporal reference
                frameNumber:
                  type: number
                  minimum: 0
                  exclusiveMinimum: true
                  description: Number of the starting frame
                duration:
                  type: number
                  minimum: 0
                  exclusiveMinimum: true
                  description: Number of frames
              required:
                - temporalReference
                - frameNumber
                - duration
            - type: object
              properties:
                temporalReference:
                  type: string
                  enum:
                    - NONE
              required:
                - temporalReference
  parameters: {}
paths:
  /v1/org/{orgName}/spaces:
    post:
      security:
        - bearerAuth:
            - high5:space:write
        - basicAuth:
            - high5:space:write
        - patAuth:
            - high5:space:write
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
            description: Organization name
          required: true
          name: orgName
          in: path
        - schema:
            type: boolean
            nullable: true
          required: false
          name: noAvatar
          in: query
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpaceCreateDto'
      responses:
        '400':
          description: >-
            Failed to validate 'query' parameter 'noAvatar' | Failed to validate
            'path' parameter 'orgName'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'query' parameter 'noAvatar':
                  summary: Failed to validate 'query' parameter 'noAvatar'
                  description: Failed to validate 'query' parameter 'noAvatar' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'query' parameter 'noAvatar' - {error}
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['high5:space:write'] not included in authorization
            | User's organization role is insufficient. Must be at least ADMIN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['high5:space:write'] not included in authorization:
                  summary: >-
                    Required scopes ['high5:space:write'] not included in
                    authorization
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least ADMIN:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    ADMIN
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 011.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 011.000.0002
                    error: internal.server.error
                    message: something went wrong
    get:
      security:
        - bearerAuth:
            - high5:space:write
        - basicAuth:
            - high5:space:write
        - patAuth:
            - high5:space:write
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
            description: Organization name
          required: true
          name: orgName
          in: path
        - schema:
            type: number
            minimum: 1
            maximum: 100
            default: 25
            description: Page size
          required: false
          name: limit
          in: query
        - schema:
            type: number
            minimum: 0
            default: 0
            description: Page index
          required: false
          name: page
          in: query
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      responses:
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'query' parameter 'limit' | Failed to validate 'query' parameter
            'page'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'query' parameter 'limit':
                  summary: Failed to validate 'query' parameter 'limit'
                  description: Failed to validate 'query' parameter 'limit' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'query' parameter 'limit' - {error}
                Failed to validate 'query' parameter 'page':
                  summary: Failed to validate 'query' parameter 'page'
                  description: Failed to validate 'query' parameter 'page' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'query' parameter 'page' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['high5:space:write'] not included in authorization
            | User's organization role is insufficient. Must be at least MEMBER
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['high5:space:write'] not included in authorization:
                  summary: >-
                    Required scopes ['high5:space:write'] not included in
                    authorization
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least MEMBER:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    MEMBER
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 011.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 011.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/org/{orgName}/spaces/{spaceId}/assets/search:
    post:
      security:
        - bearerAuth:
            - high5:space:read
        - basicAuth:
            - high5:space:read
        - patAuth:
            - high5:space:read
      summary: Search assets of space
      tags:
        - Space
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
            description: Organization name
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            format: uuid
          required: true
          name: spaceId
          in: path
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetSearchDto'
      responses:
        '200':
          description: Array of filtered assets
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  type:
                    type: string
                    enum:
                      - ASSET
                      - SPACE
                      - PRODUCTION
                      - PROJECT
                      - FOLDER
                    description: Item type
                  assetType:
                    type: string
                    enum:
                      - VIDEO
                      - IMAGE
                      - DOCUMENT
                      - UNKNOWN
                  breadcrumb:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: Item ID
                        name:
                          type: string
                          description: Item name
                        type:
                          type: string
                          enum:
                            - ASSET
                            - SPACE
                            - PRODUCTION
                            - PROJECT
                            - FOLDER
                          description: Item type
                      required:
                        - id
                        - name
                        - type
                  upload:
                    type: object
                    properties:
                      url:
                        type: string
                        format: uri
                      token:
                        type: string
                      expiration:
                        type: number
                      libraryId:
                        type: number
                      videoId:
                        type: string
                    required:
                      - url
                      - token
                      - expiration
                required:
                  - id
                  - name
                  - type
                  - assetType
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'spaceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'spaceId':
                  summary: Failed to validate 'path' parameter 'spaceId'
                  description: Failed to validate 'path' parameter 'spaceId' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'spaceId' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['high5:space:read'] not included in authorization |
            User's organization role is insufficient. Must be at least MEMBER
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['high5:space:read'] not included in authorization:
                  summary: >-
                    Required scopes ['high5:space:read'] not included in
                    authorization
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least MEMBER:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    MEMBER
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found | Given space not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 011.007.0001
                    error: organization.not.found
                    message: Organization not found
                Given space not found:
                  summary: Given space not found
                  value:
                    code: 011.010.0001
                    error: space.not.found
                    message: Given space not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 011.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/org/:orgName/spaces/:spaceId/assets:
    post:
      security:
        - bearerAuth: []
        - basicAuth: []
        - patAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetCreateDto'
      responses:
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 011.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/org/:orgName/spaces/:spaceId/assets/:assetId/location:
    patch:
      security:
        - bearerAuth: []
        - basicAuth: []
        - patAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetPatchLocationDto'
      responses:
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 011.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/org/:orgName/spaces/:spaceId/assets/:assetId:
    patch:
      security:
        - bearerAuth: []
        - basicAuth: []
        - patAuth: []
      summary: Patch an asset
      tags:
        - Asset
      parameters:
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetPatchDto'
      responses:
        '200':
          description: Patched asset
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  type:
                    type: string
                    enum:
                      - ASSET
                      - SPACE
                      - PRODUCTION
                      - PROJECT
                      - FOLDER
                    description: Item type
                  assetType:
                    type: string
                    enum:
                      - VIDEO
                      - IMAGE
                      - DOCUMENT
                      - UNKNOWN
                  breadcrumb:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: Item ID
                        name:
                          type: string
                          description: Item name
                        type:
                          type: string
                          enum:
                            - ASSET
                            - SPACE
                            - PRODUCTION
                            - PROJECT
                            - FOLDER
                          description: Item type
                      required:
                        - id
                        - name
                        - type
                  upload:
                    type: object
                    properties:
                      url:
                        type: string
                        format: uri
                      token:
                        type: string
                      expiration:
                        type: number
                      libraryId:
                        type: number
                      videoId:
                        type: string
                    required:
                      - url
                      - token
                      - expiration
                required:
                  - id
                  - name
                  - type
                  - assetType
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '404':
          description: Asset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Asset not found:
                  summary: Asset not found
                  value:
                    code: 011.038.0001
                    error: asset.not.found
                    message: Asset not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 011.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/assets/upload:
    put:
      parameters:
        - schema:
            type: string
          required: true
          name: token
          in: query
      responses:
        '400':
          description: Failed to validate 'query' parameter 'token'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'query' parameter 'token':
                  summary: Failed to validate 'query' parameter 'token'
                  description: Failed to validate 'query' parameter 'token' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'query' parameter 'token' - {error}
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 011.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/org/:orgName/spaces/:spaceId/assets/:assetId/move:
    put:
      security:
        - bearerAuth: []
        - basicAuth: []
        - patAuth: []
      summary: Move an asset
      tags:
        - Asset
      parameters:
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveAssetDto'
      responses:
        '200':
          description: Object representation of the moved object
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  type:
                    type: string
                    enum:
                      - ASSET
                      - SPACE
                      - PRODUCTION
                      - PROJECT
                      - FOLDER
                    description: Item type
                  assetType:
                    type: string
                    enum:
                      - VIDEO
                      - IMAGE
                      - DOCUMENT
                      - UNKNOWN
                  breadcrumb:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: Item ID
                        name:
                          type: string
                          description: Item name
                        type:
                          type: string
                          enum:
                            - ASSET
                            - SPACE
                            - PRODUCTION
                            - PROJECT
                            - FOLDER
                          description: Item type
                      required:
                        - id
                        - name
                        - type
                  upload:
                    type: object
                    properties:
                      url:
                        type: string
                        format: uri
                      token:
                        type: string
                      expiration:
                        type: number
                      libraryId:
                        type: number
                      videoId:
                        type: string
                    required:
                      - url
                      - token
                      - expiration
                required:
                  - id
                  - name
                  - type
                  - assetType
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '404':
          description: New parent not found | Asset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                New parent not found:
                  summary: New parent not found
                  value:
                    code: 011.037.0001
                    error: item.not.found
                    message: Item not found
                Asset not found:
                  summary: Asset not found
                  value:
                    code: 011.038.0001
                    error: asset.not.found
                    message: Asset not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 011.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/org/{orgName}/spaces/{spaceId}/locations:
    post:
      security:
        - bearerAuth:
            - high5:space:write
        - basicAuth:
            - high5:space:write
        - patAuth:
            - high5:space:write
      summary: Create a location
      tags:
        - Location
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
            description: Organization name
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            format: uuid
          required: true
          name: spaceId
          in: path
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationCreateDto'
      responses:
        '200':
          description: Create a location within a space
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationDto'
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'spaceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'spaceId':
                  summary: Failed to validate 'path' parameter 'spaceId'
                  description: Failed to validate 'path' parameter 'spaceId' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'spaceId' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['high5:space:write'] not included in authorization
            | User's organization role is insufficient. Must be at least ADMIN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['high5:space:write'] not included in authorization:
                  summary: >-
                    Required scopes ['high5:space:write'] not included in
                    authorization
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least ADMIN:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    ADMIN
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 011.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 011.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/org/{orgName}/spaces/{spaceId}/locations/{locationId}/assets/search:
    post:
      security:
        - bearerAuth:
            - high5:space:write
        - basicAuth:
            - high5:space:write
        - patAuth:
            - high5:space:write
      summary: Search assets of location
      tags:
        - Location
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
            description: Organization name
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            format: uuid
          required: true
          name: spaceId
          in: path
        - schema:
            type: string
            format: uuid
          required: true
          name: locationId
          in: path
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetSearchDto'
      responses:
        '200':
          description: Array of filtered assets
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  type:
                    type: string
                    enum:
                      - ASSET
                      - SPACE
                      - PRODUCTION
                      - PROJECT
                      - FOLDER
                    description: Item type
                  assetType:
                    type: string
                    enum:
                      - VIDEO
                      - IMAGE
                      - DOCUMENT
                      - UNKNOWN
                  breadcrumb:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: Item ID
                        name:
                          type: string
                          description: Item name
                        type:
                          type: string
                          enum:
                            - ASSET
                            - SPACE
                            - PRODUCTION
                            - PROJECT
                            - FOLDER
                          description: Item type
                      required:
                        - id
                        - name
                        - type
                  upload:
                    type: object
                    properties:
                      url:
                        type: string
                        format: uri
                      token:
                        type: string
                      expiration:
                        type: number
                      libraryId:
                        type: number
                      videoId:
                        type: string
                    required:
                      - url
                      - token
                      - expiration
                required:
                  - id
                  - name
                  - type
                  - assetType
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'spaceId' | Failed to validate 'path' parameter
            'locationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'spaceId':
                  summary: Failed to validate 'path' parameter 'spaceId'
                  description: Failed to validate 'path' parameter 'spaceId' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'spaceId' - {error}
                Failed to validate 'path' parameter 'locationId':
                  summary: Failed to validate 'path' parameter 'locationId'
                  description: Failed to validate 'path' parameter 'locationId' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'locationId' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['high5:space:write'] not included in authorization
            | User's organization role is insufficient. Must be at least ADMIN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['high5:space:write'] not included in authorization:
                  summary: >-
                    Required scopes ['high5:space:write'] not included in
                    authorization
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least ADMIN:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    ADMIN
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found | Given space not found | Location not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 011.007.0001
                    error: organization.not.found
                    message: Organization not found
                Given space not found:
                  summary: Given space not found
                  value:
                    code: 011.010.0001
                    error: space.not.found
                    message: Given space not found
                Location not found:
                  summary: Location not found
                  value:
                    code: 011.042.0001
                    error: location.not.found
                    message: Location not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 011.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/org/:orgName/spaces/:spaceId/productions:
    post:
      security:
        - bearerAuth:
            - high5:space:write
        - basicAuth:
            - high5:space:write
        - patAuth:
            - high5:space:write
      parameters:
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductionCreateDto'
      responses:
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['high5:space:write'] not included in authorization
            | User's organization role is insufficient. Must be at least ADMIN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['high5:space:write'] not included in authorization:
                  summary: >-
                    Required scopes ['high5:space:write'] not included in
                    authorization
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least ADMIN:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    ADMIN
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 011.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 011.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/org/{orgName}/spaces/{spaceId}/folders:
    post:
      security:
        - bearerAuth: []
        - basicAuth: []
        - patAuth: []
      summary: Create a folder
      tags:
        - Folder
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
            description: Organization name
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            format: uuid
            description: Space ID
          required: true
          name: spaceId
          in: path
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderCreateDto'
      responses:
        '201':
          description: Created folder
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderDto'
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'spaceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'spaceId':
                  summary: Failed to validate 'path' parameter 'spaceId'
                  description: Failed to validate 'path' parameter 'spaceId' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'spaceId' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: User's organization role is insufficient. Must be at least MEMBER
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                User's organization role is insufficient. Must be at least MEMBER:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    MEMBER
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 011.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 011.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/org/{orgName}/spaces/{spaceId}/folders/{folderId}/name:
    patch:
      security:
        - bearerAuth: []
        - basicAuth: []
        - patAuth: []
      summary: Rename a folder
      tags:
        - Folder
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
            description: Organization name
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            format: uuid
            description: Space ID
          required: true
          name: spaceId
          in: path
        - schema:
            type: string
            format: uuid
            description: Folder ID
          required: true
          name: folderId
          in: path
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderRenameDto'
      responses:
        '200':
          description: Renamed folder
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderDto'
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'spaceId' | Failed to validate 'path' parameter
            'folderId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'spaceId':
                  summary: Failed to validate 'path' parameter 'spaceId'
                  description: Failed to validate 'path' parameter 'spaceId' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'spaceId' - {error}
                Failed to validate 'path' parameter 'folderId':
                  summary: Failed to validate 'path' parameter 'folderId'
                  description: Failed to validate 'path' parameter 'folderId' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'folderId' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: User's organization role is insufficient. Must be at least MEMBER
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                User's organization role is insufficient. Must be at least MEMBER:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    MEMBER
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found | Folder not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 011.007.0001
                    error: organization.not.found
                    message: Organization not found
                Folder not found:
                  summary: Folder not found
                  value:
                    code: 011.039.0001
                    error: folder.not.found
                    message: Folder not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 011.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/org/{orgName}/spaces/{spaceId}/folders/{folderId}:
    get:
      security:
        - bearerAuth: []
        - basicAuth: []
        - patAuth: []
      summary: Fetch a folder
      tags:
        - Folder
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
            description: Organization name
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            format: uuid
            description: Space ID
          required: true
          name: spaceId
          in: path
        - schema:
            type: string
            format: uuid
            description: Folder ID
          required: true
          name: folderId
          in: path
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      responses:
        '200':
          description: Folder
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderDto'
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'spaceId' | Failed to validate 'path' parameter
            'folderId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'spaceId':
                  summary: Failed to validate 'path' parameter 'spaceId'
                  description: Failed to validate 'path' parameter 'spaceId' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'spaceId' - {error}
                Failed to validate 'path' parameter 'folderId':
                  summary: Failed to validate 'path' parameter 'folderId'
                  description: Failed to validate 'path' parameter 'folderId' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'folderId' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: User's organization role is insufficient. Must be at least MEMBER
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                User's organization role is insufficient. Must be at least MEMBER:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    MEMBER
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 011.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 011.000.0002
                    error: internal.server.error
                    message: something went wrong
    delete:
      security:
        - bearerAuth: []
        - basicAuth: []
        - patAuth: []
      summary: Delete a folder
      tags:
        - Folder
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
            description: Organization name
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            format: uuid
            description: Space ID
          required: true
          name: spaceId
          in: path
        - schema:
            type: string
            format: uuid
            description: Folder ID
          required: true
          name: folderId
          in: path
        - schema:
            anyOf:
              - type: string
                enum:
                  - 'false'
              - type: string
                enum:
                  - 'true'
            description: >-
              If set to false, will only succeed if the folder is empty. If set
              to true, it will always succeed, but delete all children in the
              process
          required: false
          name: force
          in: query
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      responses:
        '204':
          description: No Content
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'spaceId' | Failed to validate 'path' parameter
            'folderId' | Failed to validate 'query' parameter 'force'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'spaceId':
                  summary: Failed to validate 'path' parameter 'spaceId'
                  description: Failed to validate 'path' parameter 'spaceId' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'spaceId' - {error}
                Failed to validate 'path' parameter 'folderId':
                  summary: Failed to validate 'path' parameter 'folderId'
                  description: Failed to validate 'path' parameter 'folderId' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'folderId' - {error}
                Failed to validate 'query' parameter 'force':
                  summary: Failed to validate 'query' parameter 'force'
                  description: Failed to validate 'query' parameter 'force' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'query' parameter 'force' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: User's organization role is insufficient. Must be at least MEMBER
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                User's organization role is insufficient. Must be at least MEMBER:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    MEMBER
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found | Space not found | Folder not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 011.007.0001
                    error: organization.not.found
                    message: Organization not found
                Space not found:
                  summary: Space not found
                  value:
                    code: 011.010.0001
                    error: space.not.found
                    message: Given space not found
                Folder not found:
                  summary: Folder not found
                  value:
                    code: 011.039.0001
                    error: folder.not.found
                    message: Folder not found
        '409':
          description: Folder is not empty
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Folder not empty:
                  summary: Folder not empty
                  value:
                    code: 011.039.0002
                    error: folder.not.empty
                    message: Folder not empty
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 011.000.0002
                    error: internal.server.error
                    message: something went wrong
        '501':
          description: Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Force option is not yet implemented:
                  summary: Force option is not yet implemented
                  value:
                    code: 011.000.0006
                    error: not.implemented
                    message: Feature not implemented
[...]
