openapi: 3.0.0
info:
  title: hcloud - Cosmo
  description: Cosmo is a Media Asset Management platform.
  version: 1.0.0
  contact:
    name: MoovIT Software Products GmbH
    url: https://www.moovit-sp.com
    email: info@moovit-sp.com
servers:
  - url: https://eu-central-1.helmut.cloud/api/cosmo
    description: EU-Central production server
  - url: https://na-west-1.helmut.cloud/api/cosmo
    description: NA-West production server
  - url: https://eu-dev-1.app.helmut.cloud/api/cosmo
    description: EU development server
  - url: http://localhost/api/cosmo
    description: Localhost
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    patAuth:
      type: http
      scheme: bearer
      bearerFormat: PAT
    basicAuth:
      type: http
      scheme: basic
  schemas:
    CustomError:
      type: object
      properties:
        error:
          type: string
          description: Error name
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Error message
      required:
        - error
        - code
        - message
      description: API errors obey this shape
    sharePassword:
      type: string
      description: Share password
      example: super-safe
    ShareCreateDto:
      type: object
      properties:
        name:
          type: string
          description: Share name
        password:
          type: string
          description: Share password
          example: super-safe
        expires:
          type: number
          minimum: 0
          exclusiveMinimum: true
          description: UTC timestamp in milliseconds marking when the share should expire
          example: 1752057295637
        items:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          description: List of asset IDs that the share members will have access to.
          example:
            - ae13321a-522d-48da-9733-27c97bcab124
        permissions:
          type: array
          items:
            type: string
            enum:
              - VIEW_ASSETS
              - VIEW_ASSET_DETAILS
              - VIEW_ASSET_ACTIVITY
              - DOWNLOAD_ASSETS
              - CREATE_ASSETS
              - UPDATE_ASSETS
              - DELETE_ASSETS
              - COPY_ASSETS
              - MOVE_ASSETS
              - RENAME_ASSETS
              - SHARE_ASSETS
          minItems: 1
          description: List of the permissions to apply.
          example:
            - VIEW_ASSETS
        namespaces:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
              enum:
                - VIEW_NAMESPACES
                - EDIT_NAMESPACES
                - CREATE_NAMESPACES
                - DELETE_NAMESPACES
                - VIEW_ASSET_TAGS
                - WRITE_ASSET_TAGS
                - VIEW_ASSET_STATUS
                - WRITE_ASSET_STATUS
                - VIEW_ASSET_COMMENTS
                - CREATE_ASSET_COMMENTS
                - EDIT_ASSET_COMMENTS
                - DELETE_ASSET_COMMENTS
            minItems: 1
          description: >-
            Namespaces to include in the share. Share consumers will only able
            to read/write asset comments and statuses according to the
            permissions set in this map.
          example:
            rush:
              - VIEW_ASSET_STATUS
        users:
          type: array
          items:
            type: string
            format: email
          description: List of user to automatically add and notify of the share
      required:
        - name
        - items
        - permissions
    ShareLinkDto:
      type: object
      properties:
        password:
          type: string
          description: Share password
          example: super-safe
        shareIdHMAC:
          type: string
          description: HMAC of the shareId. Required if password is not present
    ShareAddUsersDto:
      type: object
      properties:
        password:
          type: string
          description: Share password
          example: super-safe
        users:
          type: array
          items:
            type: string
            format: email
          description: List of user to automatically add and notify of the share
      required:
        - users
    SharePatchDto:
      type: object
      properties:
        name:
          type: string
          description: Share name
        password:
          type: string
          description: Share password
          example: super-safe
        expires:
          type: number
          minimum: 0
          exclusiveMinimum: true
          description: UTC timestamp in milliseconds marking when the share should expire
          example: 1752057295637
        items:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          description: List of asset IDs that the share members will have access to.
          example:
            - ae13321a-522d-48da-9733-27c97bcab124
        permissions:
          type: array
          items:
            type: string
            enum:
              - VIEW_ASSETS
              - VIEW_ASSET_DETAILS
              - VIEW_ASSET_ACTIVITY
              - DOWNLOAD_ASSETS
              - CREATE_ASSETS
              - UPDATE_ASSETS
              - DELETE_ASSETS
              - COPY_ASSETS
              - MOVE_ASSETS
              - RENAME_ASSETS
              - SHARE_ASSETS
          minItems: 1
          description: List of the permissions to apply.
          example:
            - VIEW_ASSETS
        namespaces:
          type: object
          additionalProperties:
            anyOf:
              - type: array
                items:
                  type: string
                  enum:
                    - VIEW_NAMESPACES
                    - EDIT_NAMESPACES
                    - CREATE_NAMESPACES
                    - DELETE_NAMESPACES
                    - VIEW_ASSET_TAGS
                    - WRITE_ASSET_TAGS
                    - VIEW_ASSET_STATUS
                    - WRITE_ASSET_STATUS
                    - VIEW_ASSET_COMMENTS
                    - CREATE_ASSET_COMMENTS
                    - EDIT_ASSET_COMMENTS
                    - DELETE_ASSET_COMMENTS
                minItems: 1
              - nullable: true
              - nullable: true
          description: >-
            Namespaces to include in the share. Share consumers will only able
            to read/write asset comments and statuses according to the
            permissions set in this map. To remove permissions for a certain
            namespace, use the null value.
          example:
            rush:
              - VIEW_ASSET_STATUS
      description: Object used to patch shares
    DeleteSharesDto:
      type: object
      properties:
        shareIds:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          description: List of share IDs to delete
          example:
            - uuid-1
            - uuid-2
      required:
        - shareIds
    SpaceCreateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 32
          pattern: ^[\w-.]{1,32}$
          description: Name for the space
          example: my_space
      required:
        - name
    SpaceRenameDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 32
          pattern: ^[\w-.]{1,32}$
          description: Name for the space
          example: my_space
      required:
        - name
    High5SpaceInfoDto:
      type: object
      properties:
        high5_spaceName:
          type: string
          minLength: 1
          maxLength: 32
          pattern: ^[\w-.]{1,32}$
          description: Name for the space
          example: my_space
        executionTarget:
          type: string
          description: Email address or pool name for the execution target
          example: hmc@helmut.cloud or Pool-Party
      required:
        - high5_spaceName
        - executionTarget
    AssetPatchLocationDto:
      type: object
      properties:
        locationId:
          type: string
          format: uuid
          description: Location ID
      required:
        - locationId
    MoveAssetDto:
      type: object
      properties:
        parentId:
          type: string
          format: uuid
          description: Parent ID. If omitted, the asset will be placed at the root level.
          example: 24b9fe00-8cc2-4f15-bde7-72a8b2e3c7ef
    BulkMoveCopyAssetsDto:
      type: object
      properties:
        assetIds:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          description: List of asset/folder IDs to move
          example:
            - uuid-1
            - uuid-2
        parentId:
          type: string
          format: uuid
          description: >-
            ID of the target parent. If omitted, the assets will be placed at
            the root level.
          example: 24b9fe00-8cc2-4f15-bde7-72a8b2e3c7ef
        copy:
          type: boolean
          default: false
          description: Whether to copy the assets instead of moving them
          example: false
      required:
        - assetIds
    sorting:
      type: object
      properties:
        fields:
          type: array
          items:
            type: string
          description: Fields to sort by
          example:
            - name
        direction:
          type: string
          enum:
            - ASC
            - DESC
          description: Sort order
          example: ASC
      required:
        - fields
        - direction
    AssetSearchDto:
      type: object
      properties:
        filters:
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  key:
                    type: string
                    enum:
                      - type
                  type:
                    type: string
                    enum:
                      - STRING
                  value:
                    anyOf:
                      - type: string
                      - type: array
                        items:
                          type: string
                  comparator:
                    type: string
                    enum:
                      - is
                      - is not
                required:
                  - key
                  - type
                  - value
                  - comparator
                description: type filters
              - oneOf:
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - assetType
                      type:
                        type: string
                        enum:
                          - STRING
                      value:
                        anyOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                    required:
                      - key
                      - type
                      - value
                      - comparator
                    description: STRING for assetType
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - assetType
                      type:
                        type: string
                        enum:
                          - SELECT
                      value:
                        anyOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                      allowedValues:
                        type: array
                        items:
                          type: string
                    required:
                      - key
                      - type
                      - value
                      - comparator
                      - allowedValues
                    description: SELECT for assetType
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - assetType
                      type:
                        type: string
                        enum:
                          - TYPEAHEAD
                      value:
                        type: string
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                      allowedValues:
                        type: array
                        items:
                          type: string
                    required:
                      - key
                      - type
                      - value
                      - comparator
                      - allowedValues
                    description: TYPEAHEAD for assetType
                description: assetType filters
              - type: object
                properties:
                  key:
                    type: string
                    enum:
                      - id
                  type:
                    type: string
                    enum:
                      - STRING
                  value:
                    anyOf:
                      - type: string
                      - type: array
                        items:
                          type: string
                  comparator:
                    type: string
                    enum:
                      - is
                      - is not
                required:
                  - key
                  - type
                  - value
                  - comparator
                description: id filters
              - oneOf:
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - name
                      type:
                        type: string
                        enum:
                          - STRING
                      value:
                        anyOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                    required:
                      - key
                      - type
                      - value
                      - comparator
                    description: STRING for name
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - name
                      type:
                        type: string
                        enum:
                          - SELECT
                      value:
                        anyOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                      allowedValues:
                        type: array
                        items:
                          type: string
                    required:
                      - key
                      - type
                      - value
                      - comparator
                      - allowedValues
                    description: SELECT for name
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - name
                      type:
                        type: string
                        enum:
                          - TYPEAHEAD
                      value:
                        type: string
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                      allowedValues:
                        type: array
                        items:
                          type: string
                    required:
                      - key
                      - type
                      - value
                      - comparator
                      - allowedValues
                    description: TYPEAHEAD for name
                description: name filters
              - oneOf:
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - createDate
                      type:
                        type: string
                        enum:
                          - NUMBER
                      value:
                        type: number
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - greater than
                          - less than
                          - greater than or equal
                          - less than or equal
                    required:
                      - key
                      - type
                      - value
                      - comparator
                    description: NUMBER for createDate
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - createDate
                      type:
                        type: string
                        enum:
                          - DATE
                      value:
                        type: number
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - greater than
                          - less than
                          - greater than or equal
                          - less than or equal
                    required:
                      - key
                      - type
                      - value
                      - comparator
                    description: DATE for createDate
                description: createDate filters
              - oneOf:
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - modifyDate
                      type:
                        type: string
                        enum:
                          - NUMBER
                      value:
                        type: number
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - greater than
                          - less than
                          - greater than or equal
                          - less than or equal
                    required:
                      - key
                      - type
                      - value
                      - comparator
                    description: NUMBER for modifyDate
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - modifyDate
                      type:
                        type: string
                        enum:
                          - DATE
                      value:
                        type: number
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - greater than
                          - less than
                          - greater than or equal
                          - less than or equal
                    required:
                      - key
                      - type
                      - value
                      - comparator
                    description: DATE for modifyDate
                description: modifyDate filters
              - type: object
                properties:
                  key:
                    type: string
                    enum:
                      - size
                  type:
                    type: string
                    enum:
                      - NUMBER
                  value:
                    type: number
                  comparator:
                    type: string
                    enum:
                      - is
                      - is not
                      - greater than
                      - less than
                      - greater than or equal
                      - less than or equal
                required:
                  - key
                  - type
                  - value
                  - comparator
                description: size filters
              - oneOf:
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - extension
                      type:
                        type: string
                        enum:
                          - STRING
                      value:
                        anyOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                    required:
                      - key
                      - type
                      - value
                      - comparator
                    description: STRING for extension
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - extension
                      type:
                        type: string
                        enum:
                          - SELECT
                      value:
                        anyOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                      allowedValues:
                        type: array
                        items:
                          type: string
                    required:
                      - key
                      - type
                      - value
                      - comparator
                      - allowedValues
                    description: SELECT for extension
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - extension
                      type:
                        type: string
                        enum:
                          - TYPEAHEAD
                      value:
                        type: string
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                      allowedValues:
                        type: array
                        items:
                          type: string
                    required:
                      - key
                      - type
                      - value
                      - comparator
                      - allowedValues
                    description: TYPEAHEAD for extension
                description: extension filters
              - oneOf:
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - creator.name
                      type:
                        type: string
                        enum:
                          - STRING
                      value:
                        anyOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                    required:
                      - key
                      - type
                      - value
                      - comparator
                    description: STRING for creator.name
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - creator.name
                      type:
                        type: string
                        enum:
                          - SELECT
                      value:
                        anyOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                      allowedValues:
                        type: array
                        items:
                          type: string
                    required:
                      - key
                      - type
                      - value
                      - comparator
                      - allowedValues
                    description: SELECT for creator.name
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - creator.name
                      type:
                        type: string
                        enum:
                          - TYPEAHEAD
                      value:
                        type: string
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                      allowedValues:
                        type: array
                        items:
                          type: string
                    required:
                      - key
                      - type
                      - value
                      - comparator
                      - allowedValues
                    description: TYPEAHEAD for creator.name
                description: creator.name filters
              - type: object
                properties:
                  key:
                    type: string
                    enum:
                      - creator.id
                  type:
                    type: string
                    enum:
                      - STRING
                  value:
                    anyOf:
                      - type: string
                      - type: array
                        items:
                          type: string
                  comparator:
                    type: string
                    enum:
                      - is
                      - is not
                required:
                  - key
                  - type
                  - value
                  - comparator
                description: creator.id filters
              - type: object
                properties:
                  key:
                    type: string
                    enum:
                      - resolution
                  type:
                    type: string
                    enum:
                      - NUMBER
                  value:
                    type: number
                  comparator:
                    type: string
                    enum:
                      - is
                      - is not
                      - greater than
                      - less than
                      - greater than or equal
                      - less than or equal
                required:
                  - key
                  - type
                  - value
                  - comparator
                description: resolution filters
              - oneOf:
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - approvalStatus
                      type:
                        type: string
                        enum:
                          - STRING
                      value:
                        anyOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                    required:
                      - key
                      - type
                      - value
                      - comparator
                    description: STRING for approvalStatus
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - approvalStatus
                      type:
                        type: string
                        enum:
                          - SELECT
                      value:
                        anyOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                      allowedValues:
                        type: array
                        items:
                          type: string
                    required:
                      - key
                      - type
                      - value
                      - comparator
                      - allowedValues
                    description: SELECT for approvalStatus
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - approvalStatus
                      type:
                        type: string
                        enum:
                          - TYPEAHEAD
                      value:
                        type: string
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                      allowedValues:
                        type: array
                        items:
                          type: string
                    required:
                      - key
                      - type
                      - value
                      - comparator
                      - allowedValues
                    description: TYPEAHEAD for approvalStatus
                description: approvalStatus filters
          description: field filters
        sorting:
          $ref: '#/components/schemas/sorting'
    AssetRenameDto:
      type: object
      properties:
        name:
          type: string
          description: Media_Asset name
          example: my-asset
      required:
        - name
      example:
        name: my-asset
    BulkDownloadUrlsDto:
      type: object
      properties:
        assetIds:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          description: List of asset IDs to get download Urls from
          example:
            - uuid-1
            - uuid-2
        resolution:
          type: string
          enum:
            - original
            - '1080'
            - '720'
            - '480'
            - '360'
            - '240'
          description: Resolution for the download URLs
          example: original
      required:
        - assetIds
        - resolution
    AssetIdsDto:
      type: object
      properties:
        assetIds:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          description: List of asset IDs
          example:
            - uuid-1
            - uuid-2
      required:
        - assetIds
    AssetCreateDto:
      type: object
      properties:
        name:
          type: string
          description: Media_Asset name
          example: my-asset
        parentId:
          type: string
          format: uuid
          description: Parent ID. If omitted, the asset will be placed at the root level.
          example: 4bd96ba6-2be3-4cd4-91a3-8af692cf7f84
      required:
        - name
      example:
        name: my-asset
        parentId: 4bd96ba6-2be3-4cd4-91a3-8af692cf7f84
    AssetTrashDto:
      type: object
      properties:
        assetIds:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
      required:
        - assetIds
    AssetTrashRemoveDto:
      type: object
      properties:
        assetIds:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
      required:
        - assetIds
    LocationCreateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 32
          pattern: ^[\w-.]{1,32}$
      required:
        - name
    ProductionCreateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 32
          pattern: ^[\w-.]{1,32}$
      required:
        - name
    NamespaceSearchName:
      anyOf:
        - type: string
          minLength: 3
          maxLength: 64
          pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
        - type: string
          minLength: 3
          maxLength: 64
          pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
        - type: string
          enum:
            - '*'
        - type: array
          items:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              - type: string
                enum:
                  - '*'
      description: >-
        Use * to fetch from all namespaces. Can only be used if spaceName is
        also defined.
    NamespaceCreateDto:
      type: object
      properties:
        name:
          type: string
          description: Namespace name
          example: My Namespace
      required:
        - name
    ReferenceStatusPatchDto:
      type: object
      properties:
        status:
          type: string
          enum: &ref_1
            - approved
            - rejected
            - none
      required:
        - status
    TagCreateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 20
          pattern: ^[a-zA-Z0-9 ]{1,20}$
          description: Name for the tag
          example: my tag
        color:
          type: string
          minLength: 7
          maxLength: 7
          pattern: ^#([a-fA-F0-9]{3}|[a-fA-F0-9]{6})$
          description: Color for the tag
          example: '#4A90E2'
      required:
        - name
        - color
    TagUpdateDto:
      type: object
      properties:
        color:
          type: string
          minLength: 7
          maxLength: 7
          pattern: ^#([a-fA-F0-9]{3}|[a-fA-F0-9]{6})$
          description: Color for the tag
          example: '#4A90E2'
      required:
        - color
    CreateRoleDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 64
          description: Name of the role
          example: Reviewer
        permissions:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
              enum:
                - VIEW_SPACE
                - VIEW_MEMBERS
                - UPDATE_MEMBERS
                - VIEW_TRASHBIN
                - RECOVER_TRASHBIN
                - EMPTY_TRASHBIN
                - VIEW_ROLES
                - CREATE_ROLES
                - EDIT_ROLES
                - DELETE_ROLES
                - ASSIGN_USER_ROLES
                - UPDATE_SPACE_AVATAR
                - UPDATE_SPACE_NAME
                - DELETE_SPACE
                - CONNECT_HIGH5_SPACE
                - VIEW_ASSETS
                - VIEW_ASSET_DETAILS
                - VIEW_ASSET_ACTIVITY
                - DOWNLOAD_ASSETS
                - CREATE_ASSETS
                - UPDATE_ASSETS
                - DELETE_ASSETS
                - COPY_ASSETS
                - MOVE_ASSETS
                - RENAME_ASSETS
                - SHARE_ASSETS
                - VIEW_NAMESPACES
                - EDIT_NAMESPACES
                - CREATE_NAMESPACES
                - DELETE_NAMESPACES
                - VIEW_ASSET_TAGS
                - WRITE_ASSET_TAGS
                - VIEW_ASSET_STATUS
                - WRITE_ASSET_STATUS
                - VIEW_ASSET_COMMENTS
                - CREATE_ASSET_COMMENTS
                - EDIT_ASSET_COMMENTS
                - DELETE_ASSET_COMMENTS
                - VIEW_MENTIONS
                - VIEW_SHARES
                - EDIT_SHARES
                - DELETE_SHARES
                - ADD_USERS_TO_SHARES
                - REMOVE_USERS_FROM_SHARES
            minItems: 1
            description: Permissions to assign
            example:
              - VIEW_ASSETS
      required:
        - name
        - permissions
    PutRoleDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 64
          description: Name of the role
          example: Reviewer
        permissions:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
              enum:
                - VIEW_SPACE
                - VIEW_MEMBERS
                - UPDATE_MEMBERS
                - VIEW_TRASHBIN
                - RECOVER_TRASHBIN
                - EMPTY_TRASHBIN
                - VIEW_ROLES
                - CREATE_ROLES
                - EDIT_ROLES
                - DELETE_ROLES
                - ASSIGN_USER_ROLES
                - UPDATE_SPACE_AVATAR
                - UPDATE_SPACE_NAME
                - DELETE_SPACE
                - CONNECT_HIGH5_SPACE
                - VIEW_ASSETS
                - VIEW_ASSET_DETAILS
                - VIEW_ASSET_ACTIVITY
                - DOWNLOAD_ASSETS
                - CREATE_ASSETS
                - UPDATE_ASSETS
                - DELETE_ASSETS
                - COPY_ASSETS
                - MOVE_ASSETS
                - RENAME_ASSETS
                - SHARE_ASSETS
                - VIEW_NAMESPACES
                - EDIT_NAMESPACES
                - CREATE_NAMESPACES
                - DELETE_NAMESPACES
                - VIEW_ASSET_TAGS
                - WRITE_ASSET_TAGS
                - VIEW_ASSET_STATUS
                - WRITE_ASSET_STATUS
                - VIEW_ASSET_COMMENTS
                - CREATE_ASSET_COMMENTS
                - EDIT_ASSET_COMMENTS
                - DELETE_ASSET_COMMENTS
                - VIEW_MENTIONS
                - VIEW_SHARES
                - EDIT_SHARES
                - DELETE_SHARES
                - ADD_USERS_TO_SHARES
                - REMOVE_USERS_FROM_SHARES
            minItems: 1
            description: Permissions to assign
            example:
              - VIEW_ASSETS
      required:
        - name
        - permissions
    PutUserRoleDto:
      type: object
      properties:
        userId:
          type: string
          minLength: 24
          maxLength: 24
          format: hexadecimal
          description: ID of the user
          example: 67336a3f31ed8ecdc24e0080
      required:
        - userId
    PutTeamRoleDto:
      type: object
      properties:
        teamName:
          type: string
          minLength: 3
          maxLength: 64
          pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
          description: Name of the team
          example: My team
      required:
        - teamName
    ReducedUser:
      type: object
      properties:
        _id:
          type: string
          format: hex
          description: User ID
          example: 67336a3f31ed8ecdc24e0080
        name:
          type: string
          description: User Name
          example: Bob
        email:
          type: string
          description: User email
          example: bob@helmut.cloud
        avatarUrl:
          type: string
          format: uri
          description: URL to the user's avatar
          example: https://example.com
      required:
        - _id
        - name
        - email
        - avatarUrl
    SpaceDto:
      type: object
      properties:
        _id:
          type: string
          format: uuid
          description: ID of the space
          example: 641fa07a-2812-4d07-8de7-cd20daade955
        name:
          type: string
          description: Name of the space
          example: My Space
        createDate:
          type: number
          description: Creation date of the space as millisecond timestamp
          example: 1633072800000
        creator:
          $ref: '#/components/schemas/ReducedUser'
        avatarUrl:
          type: string
          format: uri
          description: URL of the avatar
          example: https://example.com/avatar.jpg
        high5_spaceName:
          type: string
          description: Name of the linked high5 space
          example: cosmo_space
        high5_executionTarget:
          type: string
          format: email
          description: Email address of the execution target for the high5 space
          example: hmc@helmut.cloud
      required:
        - _id
        - name
        - createDate
        - creator
        - avatarUrl
    BaseAssetDto:
      type: object
      properties:
        _id:
          type: string
          format: uuid
          description: Item ID
        name:
          type: string
          description: Item name
        type:
          type: string
          enum:
            - ASSET
            - MEDIA_ASSET
            - REFERENCE
            - SPACE
            - PRODUCTION
            - PROJECT
            - FOLDER
            - COMMENT
            - TAG
          description: Item type
      required:
        - _id
        - name
        - type
      example: &ref_0
        name: my space
        type: SPACE
        _id: 2e1d01be-fc17-4acd-a3d9-ddacedebc59f
    AssetDto:
      oneOf:
        - allOf:
            - $ref: '#/components/schemas/BaseAssetDto'
            - type: object
              properties:
                extension:
                  type: string
                  description: Media_Asset extension
                  example: .mov
                status:
                  type: string
                  enum:
                    - UPLOADING
                    - UPLOADED
                    - PROCESSING
                    - FINISHED
                    - WAITING
                    - FAILED
                  description: Upload status of the asset
                  example: FINISHED
                assetType:
                  type: string
                  enum:
                    - VIDEO
                    - IMAGE
                    - DOCUMENT
                    - UNKNOWN
                    - FOLDER
                  description: Media_Asset Type
                  example: VIDEO
                breadcrumb:
                  type: array
                  items:
                    $ref: '#/components/schemas/BaseAssetDto'
                duration:
                  type: number
                  description: Duration of the video if the asset is a video asset
                  example: 29.56
                frameRate:
                  type: number
                  description: Frame rate of the video if the asset is a video asset
                  example: 25
                thumbnailUrl:
                  type: string
                  format: uri
                  description: URL of the thumbnail
                  example: https://example.com/thumbnail.jpg
                previewUrl:
                  type: string
                  format: uri
                  description: URL of the preview
                  example: https://example.com/preview.jpg
                createDate:
                  type: number
                  minimum: 0
                  description: Date of creation
                  format: UNIX timestamp
                  example: 1747142773233
                modifyDate:
                  type: number
                  minimum: 0
                  description: Date of last change
                  format: UNIX timestamp
                  example: 1747142773233
                creator:
                  $ref: '#/components/schemas/ReducedUser'
                tag:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of the tag associated with the asset
                      example: Needs Review
                    color:
                      type: string
                      description: Color of the tag associated with the asset
                      example: '#4A90E2'
                  required:
                    - name
                    - color
                  description: Tag associated with the asset
                upload:
                  type: object
                  properties:
                    url:
                      type: string
                      format: uri
                    token:
                      type: string
                    expiration:
                      type: number
                    libraryId:
                      type: number
                    videoId:
                      type: string
                  required:
                    - url
                    - token
                    - expiration
                namespaces:
                  type: object
                  additionalProperties:
                    type: object
                    properties:
                      status:
                        type: string
                    required:
                      - status
                  description: Information about the asset across namespaces.
                  example:
                    rush:
                      status: approved
                permissions:
                  type: array
                  items:
                    type: string
                  description: Allowed operations on the asset
                  example:
                    - CAN_READ
              required:
                - createDate
                - modifyDate
                - creator
          example: *ref_0
    Unknown:
      type: object
      properties:
        name:
          type: string
          description: Name of the media
          example: original
        url:
          type: string
          format: uri
          description: >-
            URL to the media. Can be undefined if the media is still being
            uploaded
          example: https://example.com
        type:
          type: string
          enum:
            - UNKNOWN
          description: Media type
          example: UNKNOWN
      required:
        - name
        - type
    Image:
      type: object
      properties:
        name:
          type: string
          description: Name of the media
          example: thumbnail
        url:
          type: string
          format: uri
          description: >-
            URL to the media. Can be undefined if the media is still being
            uploaded
          example: https://example.com
        type:
          type: string
          enum:
            - IMAGE
          description: Media type
          example: IMAGE
      required:
        - name
        - type
    AudioMetadata:
      type: object
      properties:
        type:
          type: string
          enum:
            - AUDIO
          example: AUDIO
        codec:
          type: string
          example: aac
        channels:
          type: number
          example: 6
        channelLayout:
          type: string
          example: '5.1'
        bitRate:
          type: number
          example: 383960
        sampleRate:
          type: number
          example: 48000
      required:
        - type
        - codec
        - channels
        - channelLayout
        - bitRate
        - sampleRate
    VideoMetadata:
      type: object
      properties:
        type:
          type: string
          enum:
            - VIDEO
          example: VIDEO
        codec:
          type: string
          example: h264
        frameRate:
          type: number
          example: 25
        pixelFormat:
          type: string
          example: yuv420p
        aspectRatio:
          type: string
          example: '16:9'
        colorSpace:
          type: string
        width:
          type: number
          example: 1280
        height:
          type: number
          example: 720
        fieldOrder:
          type: string
        duration:
          type: number
          example: 29.56
        tcIn:
          type: string
          example: '0.000000'
        tcOut:
          type: string
        noOfFrames:
          type: number
          example: 739
        formatLongName:
          type: string
          example: QuickTime / MOV
      required:
        - type
        - codec
        - frameRate
        - pixelFormat
        - aspectRatio
        - width
        - height
        - fieldOrder
        - duration
        - tcIn
        - tcOut
        - formatLongName
      description: Video metadata
    AssetDetailedDto:
      oneOf:
        - allOf:
            - $ref: '#/components/schemas/BaseAssetDto'
            - type: object
              properties:
                extension:
                  type: string
                  description: Media_Asset extension
                  example: .mov
                status:
                  type: string
                  enum:
                    - UPLOADING
                    - UPLOADED
                    - PROCESSING
                    - FINISHED
                    - WAITING
                    - FAILED
                  description: Upload status of the asset
                  example: FINISHED
                assetType:
                  type: string
                  enum:
                    - VIDEO
                    - IMAGE
                    - DOCUMENT
                    - UNKNOWN
                    - FOLDER
                  description: Media_Asset Type
                  example: VIDEO
                breadcrumb:
                  type: array
                  items:
                    $ref: '#/components/schemas/BaseAssetDto'
                duration:
                  type: number
                  description: Duration of the video if the asset is a video asset
                  example: 29.56
                frameRate:
                  type: number
                  description: Frame rate of the video if the asset is a video asset
                  example: 25
                thumbnailUrl:
                  type: string
                  format: uri
                  description: URL of the thumbnail
                  example: https://example.com/thumbnail.jpg
                previewUrl:
                  type: string
                  format: uri
                  description: URL of the preview
                  example: https://example.com/preview.jpg
                createDate:
                  type: number
                  minimum: 0
                  description: Date of creation
                  format: UNIX timestamp
                  example: 1747142773233
                modifyDate:
                  type: number
                  minimum: 0
                  description: Date of last change
                  format: UNIX timestamp
                  example: 1747142773233
                creator:
                  $ref: '#/components/schemas/ReducedUser'
                tag:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of the tag associated with the asset
                      example: Needs Review
                    color:
                      type: string
                      description: Color of the tag associated with the asset
                      example: '#4A90E2'
                  required:
                    - name
                    - color
                  description: Tag associated with the asset
                upload:
                  type: object
                  properties:
                    url:
                      type: string
                      format: uri
                    token:
                      type: string
                    expiration:
                      type: number
                    libraryId:
                      type: number
                    videoId:
                      type: string
                  required:
                    - url
                    - token
                    - expiration
                namespaces:
                  type: object
                  additionalProperties:
                    type: object
                    properties:
                      status:
                        type: string
                    required:
                      - status
                  description: Information about the asset across namespaces.
                  example:
                    rush:
                      status: approved
                permissions:
                  type: array
                  items:
                    type: string
                  description: Allowed operations on the asset
                  example:
                    - CAN_READ
                media:
                  type: array
                  items:
                    oneOf:
                      - $ref: '#/components/schemas/Unknown'
                      - $ref: '#/components/schemas/Image'
                      - type: object
                        properties:
                          name:
                            type: string
                            description: Name of the media
                            example: original
                          url:
                            type: string
                            format: uri
                            description: >-
                              URL to the media. Can be undefined if the media is
                              still being uploaded
                            example: https://example.com
                          type:
                            type: string
                            enum:
                              - AUDIO
                            description: Media type
                            example: AUDIO
                          metadata:
                            type: array
                            items:
                              $ref: '#/components/schemas/AudioMetadata'
                            description: Media metadata
                        required:
                          - name
                          - type
                      - type: object
                        properties:
                          name:
                            type: string
                            description: Name of the media
                            example: original
                          url:
                            type: string
                            format: uri
                            description: >-
                              URL to the media. Can be undefined if the media is
                              still being uploaded
                            example: https://example.com
                          type:
                            type: string
                            enum:
                              - VIDEO
                            description: Media type
                            example: VIDEO
                          metadata:
                            type: array
                            items:
                              anyOf:
                                - $ref: '#/components/schemas/AudioMetadata'
                                - $ref: '#/components/schemas/VideoMetadata'
                            description: Media metadata
                        required:
                          - name
                          - type
              required:
                - createDate
                - modifyDate
                - creator
          example: *ref_0
    AssetPermissionsDto:
      type: object
      additionalProperties:
        type: array
        items:
          type: string
          enum:
            - VIEW_ASSETS
            - VIEW_ASSET_DETAILS
            - VIEW_ASSET_ACTIVITY
            - DOWNLOAD_ASSETS
            - CREATE_ASSETS
            - UPDATE_ASSETS
            - DELETE_ASSETS
            - COPY_ASSETS
            - MOVE_ASSETS
            - RENAME_ASSETS
            - SHARE_ASSETS
      example:
        37fd2155-98f7-4154-b2ed-a43715937f6a:
          - VIEW_ASSETS
    LocationDto:
      type: object
      properties:
        _id:
          type: string
          format: uuid
          description: ID of the location
          example: 6471393c-6dc5-4ab4-a390-a1568b7d1689
        name:
          type: string
          description: Name of the location
          example: My location
      required:
        - _id
        - name
    FolderCreateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
          description: Folder name
          example: my folder
        parentId:
          type: string
          format: uuid
          description: Parent ID. If omitted, the asset will be placed at the root level.
          example: 4bd96ba6-2be3-4cd4-91a3-8af692cf7f84
      required:
        - name
    NamespaceDto:
      type: object
      properties:
        _id:
          type: string
          format: uuid
          description: Namespace ID
          example: 254b0fb5-7567-47a8-b655-d09a40c91b2f
        name:
          type: string
          description: Namespace name
          example: My Namespace
      required:
        - _id
        - name
    AssetReferenceDto:
      allOf:
        - $ref: '#/components/schemas/BaseAssetDto'
        - type: object
          properties:
            extension:
              type: string
              description: Media_Asset extension
              example: .mov
            status:
              type: string
              enum:
                - UPLOADING
                - UPLOADED
                - PROCESSING
                - FINISHED
                - WAITING
                - FAILED
              description: Upload status of the asset
              example: FINISHED
            assetType:
              type: string
              enum:
                - VIDEO
                - IMAGE
                - DOCUMENT
                - UNKNOWN
                - FOLDER
              description: Media_Asset Type
              example: VIDEO
            breadcrumb:
              type: array
              items:
                $ref: '#/components/schemas/BaseAssetDto'
            duration:
              type: number
              description: Duration of the video if the asset is a video asset
              example: 29.56
            frameRate:
              type: number
              description: Frame rate of the video if the asset is a video asset
              example: 25
            thumbnailUrl:
              type: string
              format: uri
              description: URL of the thumbnail
              example: https://example.com/thumbnail.jpg
            previewUrl:
              type: string
              format: uri
              description: URL of the preview
              example: https://example.com/preview.jpg
            createDate:
              type: number
              minimum: 0
              description: Date of creation
              format: UNIX timestamp
              example: 1747142773233
            modifyDate:
              type: number
              minimum: 0
              description: Date of last change
              format: UNIX timestamp
              example: 1747142773233
            creator:
              $ref: '#/components/schemas/ReducedUser'
            tag:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the tag associated with the asset
                  example: Needs Review
                color:
                  type: string
                  description: Color of the tag associated with the asset
                  example: '#4A90E2'
              required:
                - name
                - color
              description: Tag associated with the asset
            upload:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                token:
                  type: string
                expiration:
                  type: number
                libraryId:
                  type: number
                videoId:
                  type: string
              required:
                - url
                - token
                - expiration
            namespaces:
              type: object
              additionalProperties:
                type: object
                properties:
                  status:
                    type: string
                required:
                  - status
              description: Information about the asset across namespaces.
              example:
                rush:
                  status: approved
            permissions:
              type: array
              items:
                type: string
              description: Allowed operations on the asset
              example:
                - CAN_READ
            reference:
              type: object
              properties:
                status:
                  type: string
              required:
                - status
          required:
            - createDate
            - modifyDate
            - creator
            - reference
      example: *ref_0
    ReferencePatchDto:
      type: object
      properties:
        status:
          type: string
          enum: *ref_1
      required:
        - status
    CommentDto:
      type: object
      properties:
        _id:
          type: string
          format: uuid
          description: Comment ID
          example: 254b0fb5-7567-47a8-b655-d09a40c91b2f
        text:
          type: string
          description: Comment Text
          example: My Comment
        createDate:
          type: number
          minimum: 0
          exclusiveMinimum: true
          description: Comment creation date
          example: 1746608457170
        timestamp:
          type: object
          properties:
            in:
              type: number
              minimum: 0
              description: Timecode IN
            out:
              type: number
              minimum: 0
              description: Timecode OUT
            color:
              type: string
              description: Comment color
          required:
            - in
            - color
          description: Timestamp the comment refers to
        creator:
          $ref: '#/components/schemas/ReducedUser'
        annotation:
          type: string
          description: Optional annotation for the comment
          example: >-
            PHN2ZyBpZD0ic3ZnIiB3aWR0aD0iNzI4IiBoZWlnaHQ9IjM4NCIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY2xhc3M9InNpemUtZnVsbCI+PHBhdGggZmlsbD0idHJhbnNwYXJlbnQiIHN0cm9rZT0ib2tsY2goNjIuMyUgMC4yMTQgMjU5LjgxNSkiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBkPSJNIC0yNS43OCwzMi44MSBDIC0yNy42Niw0Ni4zNSAtMzMuMjMsODguMDIgLTM1LjE2LDEwMC41MiBDIC0zNy4wOCwxMTMuMDIgLTM1LjM2LDk2LjM1IC0zNS40Miw5NS4zMSIgZGF0YS1kcmF1dV9pbmRleD0iMCI+PC9wYXRoPjxwYXRoIGZpbGw9InRyYW5zcGFyZW50IiBzdHJva2U9Im9rbGNoKDYyLjMlIDAuMjE0IDI1OS44MTUpIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgZD0iTSAtMjYuNTYsMzQuNjQgQyAtMjUuMzYsNDEuMDkgLTIyLjY2LDU4LjQ5IC0yMC41Nyw2Ni45MyBDIC0xOC40OSw3NS4zNiAtMTguMjMsNzcuMTQgLTE2LjE1LDc2LjgyIEMgLTE0LjA2LDc2LjUxIC0xNS4yMSw3Mi4wOCAtMTAuMTYsNjUuMzYgQyAtNS4xMCw1OC42NSA0LjM4LDQ5LjY0IDkuMTEsNDMuMjMgQyAxMy44NSwzNi44MiAxMy4zOSwzMC43OCAxMy41NCwzMy4zMyBDIDEzLjcwLDM1Ljg5IDEyLjQwLDQ1LjczIDkuOTAsNTUuOTkgQyA3LjQwLDY2LjI1IDMuMzksNzcuOTIgMS4wNCw4NC42NCBDIC0xLjMwLDkxLjM1IC0xLjI1LDg4LjU5IC0xLjgyLDg5LjU4IiBkYXRhLWRyYXV1X2luZGV4PSIxIj48L3BhdGg+PHBhdGggZmlsbD0idHJhbnNwYXJlbnQiIHN0cm9rZT0ib2tsY2goNjIuMyUgMC4yMTQgMjU5LjgxNSkiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBkPSJNIDUyLjA4LDQyLjcxIEMgNTEuMzAsNDIuMzQgNTMuNzAsNDEuNjcgNDguMTgsNDAuODkgQyA0Mi42Niw0MC4xMCAzMC4xNiwzNy42MCAyNC40OCwzOC44MCBDIDE4LjgwLDQwLjAwIDIxLjA5LDQzLjIzIDE5Ljc5LDQ2Ljg4IEMgMTguNDksNTAuNTIgMTcuMDMsNTIuNDAgMTcuOTcsNTcuMDMgQyAxOC45MSw2MS42NyAyMC43Myw2NS4yNiAyNC40OCw3MC4wNSBDIDI4LjIzLDc0Ljg0IDM0LjExLDc3LjQwIDM2LjcyLDgwLjk5IEMgMzkuMzIsODQuNTggMzguMjMsODUuNjMgMzcuNTAsODguMDIgQyAzNi43Nyw5MC40MiAzNC44NCw5MS43NyAzMy4wNyw5Mi45NyBDIDMxLjMwLDk0LjE3IDMzLjU0LDk0LjMyIDI4LjY1LDk0LjAxIEMgMjMuNzUsOTMuNzAgMTIuNzYsOTIuMTkgOC41OSw5MS40MSBDIDQuNDMsOTAuNjMgNy43MSw5MC4zNiA3LjgxLDkwLjEwIEMgNy45Miw4OS44NCA4Ljg1LDkwLjEwIDkuMTEsOTAuMTAiIGRhdGEtZHJhdXVfaW5kZXg9IjIiPjwvcGF0aD48cGF0aCBmaWxsPSJ0cmFuc3BhcmVudCIgc3Ryb2tlPSJva2xjaCg2Mi4zJSAwLjIxNCAyNTkuODE1KSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Ik0gNjYuOTMsMjUuMjYgQyA2Ni44MiwzMC42OCA2OC4yOCwzOS4zOCA2Ni40MSw1Mi4zNCBDIDY0LjUzLDY1LjMxIDU5LjQ4LDgzLjE4IDU3LjU1LDkwLjEwIEMgNTUuNjMsOTcuMDMgNTYuOTMsODcuNjAgNTYuNzcsODYuOTgiIGRhdGEtZHJhdXVfaW5kZXg9IjMiPjwvcGF0aD48cGF0aCBmaWxsPSJ0cmFuc3BhcmVudCIgc3Ryb2tlPSJva2xjaCg2Mi4zJSAwLjIxNCAyNTkuODE1KSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Ik0gNTMuMTMsMzMuNTkgQyA1My4yOCwzMy4zMyA0NS42OCwzMy44MCA1My45MSwzMi4yOSBDIDYyLjE0LDMwLjc4IDgzLjg1LDI4LjAyIDk0LjI3LDI2LjA0IEMgMTA0LjY5LDI0LjA2IDEwMS44MiwyMC4zMSAxMDUuOTksMjIuNDAgQyAxMTAuMTYsMjQuNDggMTEzLjA3LDMyLjg2IDExNS4xMCwzNi40NiBDIDExNy4xNCw0MC4wNSAxMTcuMjksMzguNDkgMTE2LjE1LDQwLjM2IEMgMTE1LjAwLDQyLjI0IDExNC41Myw0My40NCAxMDkuMzgsNDUuODMgQyAxMDQuMjIsNDguMjMgOTkuMDYsNTAuNDIgOTAuMzYsNTIuMzQgQyA4MS42Nyw1NC4yNyA3MC43OCw1NC44NCA2NS44OSw1NS40NyIgZGF0YS1kcmF1dV9pbmRleD0iNCI+PC9wYXRoPjwvc3ZnPg==
        mentions:
          type: array
          items:
            $ref: '#/components/schemas/ReducedUser'
          description: Array of mentioned users
        commentType:
          type: string
          enum:
            - COMMENT
            - REPLY
          description: Type of the comment
          example: COMMENT
        assetId:
          type: string
          format: uuid
          description: ID of the asset the comment refers to
          example: 254b0fb5-7567-47a8-b655-d09a40c91b2f
        replies:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
                format: uuid
              text:
                type: string
              createDate:
                type: number
              creator:
                $ref: '#/components/schemas/ReducedUser'
              commentType:
                type: string
                enum:
                  - COMMENT
                  - REPLY
                description: Type of the comment
                example: REPLY
              commentRef:
                type: string
                format: uuid
              assetId:
                type: string
                format: uuid
            required:
              - _id
              - text
              - createDate
              - creator
              - commentType
              - commentRef
              - assetId
          description: Replies to this comment
      required:
        - _id
        - text
        - createDate
        - creator
        - commentType
        - assetId
    CommentCreateDto:
      type: object
      properties:
        text:
          type: string
          maxLength: 2048
          description: Comment text
          example: This is my comment
        refId:
          type: string
          format: uuid
          description: ID of the item referenced
          example: 8a5cd9be-f983-4a1c-bfdb-3868152a87fe
        timestamp:
          type: object
          properties:
            in:
              type: number
              minimum: 0
              description: Timecode IN
            out:
              type: number
              minimum: 0
              description: Timecode OUT
            color:
              type: string
              description: Comment color
          required:
            - in
            - color
          description: Timestamp the comment refers to
        annotation:
          type: string
          description: Optional annotation for the comment
          example: >-
            PHN2ZyBpZD0ic3ZnIiB3aWR0aD0iNzI4IiBoZWlnaHQ9IjM4NCIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY2xhc3M9InNpemUtZnVsbCI+PHBhdGggZmlsbD0idHJhbnNwYXJlbnQiIHN0cm9rZT0ib2tsY2goNjIuMyUgMC4yMTQgMjU5LjgxNSkiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBkPSJNIC0yNS43OCwzMi44MSBDIC0yNy42Niw0Ni4zNSAtMzMuMjMsODguMDIgLTM1LjE2LDEwMC41MiBDIC0zNy4wOCwxMTMuMDIgLTM1LjM2LDk2LjM1IC0zNS40Miw5NS4zMSIgZGF0YS1kcmF1dV9pbmRleD0iMCI+PC9wYXRoPjxwYXRoIGZpbGw9InRyYW5zcGFyZW50IiBzdHJva2U9Im9rbGNoKDYyLjMlIDAuMjE0IDI1OS44MTUpIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgZD0iTSAtMjYuNTYsMzQuNjQgQyAtMjUuMzYsNDEuMDkgLTIyLjY2LDU4LjQ5IC0yMC41Nyw2Ni45MyBDIC0xOC40OSw3NS4zNiAtMTguMjMsNzcuMTQgLTE2LjE1LDc2LjgyIEMgLTE0LjA2LDc2LjUxIC0xNS4yMSw3Mi4wOCAtMTAuMTYsNjUuMzYgQyAtNS4xMCw1OC42NSA0LjM4LDQ5LjY0IDkuMTEsNDMuMjMgQyAxMy44NSwzNi44MiAxMy4zOSwzMC43OCAxMy41NCwzMy4zMyBDIDEzLjcwLDM1Ljg5IDEyLjQwLDQ1LjczIDkuOTAsNTUuOTkgQyA3LjQwLDY2LjI1IDMuMzksNzcuOTIgMS4wNCw4NC42NCBDIC0xLjMwLDkxLjM1IC0xLjI1LDg4LjU5IC0xLjgyLDg5LjU4IiBkYXRhLWRyYXV1X2luZGV4PSIxIj48L3BhdGg+PHBhdGggZmlsbD0idHJhbnNwYXJlbnQiIHN0cm9rZT0ib2tsY2goNjIuMyUgMC4yMTQgMjU5LjgxNSkiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBkPSJNIDUyLjA4LDQyLjcxIEMgNTEuMzAsNDIuMzQgNTMuNzAsNDEuNjcgNDguMTgsNDAuODkgQyA0Mi42Niw0MC4xMCAzMC4xNiwzNy42MCAyNC40OCwzOC44MCBDIDE4LjgwLDQwLjAwIDIxLjA5LDQzLjIzIDE5Ljc5LDQ2Ljg4IEMgMTguNDksNTAuNTIgMTcuMDMsNTIuNDAgMTcuOTcsNTcuMDMgQyAxOC45MSw2MS42NyAyMC43Myw2NS4yNiAyNC40OCw3MC4wNSBDIDI4LjIzLDc0Ljg0IDM0LjExLDc3LjQwIDM2LjcyLDgwLjk5IEMgMzkuMzIsODQuNTggMzguMjMsODUuNjMgMzcuNTAsODguMDIgQyAzNi43Nyw5MC40MiAzNC44NCw5MS43NyAzMy4wNyw5Mi45NyBDIDMxLjMwLDk0LjE3IDMzLjU0LDk0LjMyIDI4LjY1LDk0LjAxIEMgMjMuNzUsOTMuNzAgMTIuNzYsOTIuMTkgOC41OSw5MS40MSBDIDQuNDMsOTAuNjMgNy43MSw5MC4zNiA3LjgxLDkwLjEwIEMgNy45Miw4OS44NCA4Ljg1LDkwLjEwIDkuMTEsOTAuMTAiIGRhdGEtZHJhdXVfaW5kZXg9IjIiPjwvcGF0aD48cGF0aCBmaWxsPSJ0cmFuc3BhcmVudCIgc3Ryb2tlPSJva2xjaCg2Mi4zJSAwLjIxNCAyNTkuODE1KSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Ik0gNjYuOTMsMjUuMjYgQyA2Ni44MiwzMC42OCA2OC4yOCwzOS4zOCA2Ni40MSw1Mi4zNCBDIDY0LjUzLDY1LjMxIDU5LjQ4LDgzLjE4IDU3LjU1LDkwLjEwIEMgNTUuNjMsOTcuMDMgNTYuOTMsODcuNjAgNTYuNzcsODYuOTgiIGRhdGEtZHJhdXVfaW5kZXg9IjMiPjwvcGF0aD48cGF0aCBmaWxsPSJ0cmFuc3BhcmVudCIgc3Ryb2tlPSJva2xjaCg2Mi4zJSAwLjIxNCAyNTkuODE1KSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Ik0gNTMuMTMsMzMuNTkgQyA1My4yOCwzMy4zMyA0NS42OCwzMy44MCA1My45MSwzMi4yOSBDIDYyLjE0LDMwLjc4IDgzLjg1LDI4LjAyIDk0LjI3LDI2LjA0IEMgMTA0LjY5LDI0LjA2IDEwMS44MiwyMC4zMSAxMDUuOTksMjIuNDAgQyAxMTAuMTYsMjQuNDggMTEzLjA3LDMyLjg2IDExNS4xMCwzNi40NiBDIDExNy4xNCw0MC4wNSAxMTcuMjksMzguNDkgMTE2LjE1LDQwLjM2IEMgMTE1LjAwLDQyLjI0IDExNC41Myw0My40NCAxMDkuMzgsNDUuODMgQyAxMDQuMjIsNDguMjMgOTkuMDYsNTAuNDIgOTAuMzYsNTIuMzQgQyA4MS42Nyw1NC4yNyA3MC43OCw1NC44NCA2NS44OSw1NS40NyIgZGF0YS1kcmF1dV9pbmRleD0iNCI+PC9wYXRoPjwvc3ZnPg==
        mentions:
          type: array
          items:
            type: string
          description: Array of mentioned user IDs
          example:
            - 66b0994fa5bc5f142de5fb2f
            - 36b0294fa1bc5f142de5fc2f
      required:
        - text
        - refId
    CommentEditDto:
      type: object
      properties:
        text:
          type: string
          maxLength: 2048
          description: Comment text
          example: This is my comment
        timestamp:
          type: object
          properties:
            in:
              type: number
              minimum: 0
              description: Timecode IN
            out:
              type: number
              minimum: 0
              description: Timecode OUT
            color:
              type: string
              description: Comment color
          required:
            - in
            - color
          description: Timestamp the comment refers to
        annotation:
          type: string
          description: Optional annotation for the comment
          example: >-
            PHN2ZyBpZD0ic3ZnIiB3aWR0aD0iNzI4IiBoZWlnaHQ9IjM4NCIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY2xhc3M9InNpemUtZnVsbCI+PHBhdGggZmlsbD0idHJhbnNwYXJlbnQiIHN0cm9rZT0ib2tsY2goNjIuMyUgMC4yMTQgMjU5LjgxNSkiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBkPSJNIC0yNS43OCwzMi44MSBDIC0yNy42Niw0Ni4zNSAtMzMuMjMsODguMDIgLTM1LjE2LDEwMC41MiBDIC0zNy4wOCwxMTMuMDIgLTM1LjM2LDk2LjM1IC0zNS40Miw5NS4zMSIgZGF0YS1kcmF1dV9pbmRleD0iMCI+PC9wYXRoPjxwYXRoIGZpbGw9InRyYW5zcGFyZW50IiBzdHJva2U9Im9rbGNoKDYyLjMlIDAuMjE0IDI1OS44MTUpIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgZD0iTSAtMjYuNTYsMzQuNjQgQyAtMjUuMzYsNDEuMDkgLTIyLjY2LDU4LjQ5IC0yMC41Nyw2Ni45MyBDIC0xOC40OSw3NS4zNiAtMTguMjMsNzcuMTQgLTE2LjE1LDc2LjgyIEMgLTE0LjA2LDc2LjUxIC0xNS4yMSw3Mi4wOCAtMTAuMTYsNjUuMzYgQyAtNS4xMCw1OC42NSA0LjM4LDQ5LjY0IDkuMTEsNDMuMjMgQyAxMy44NSwzNi44MiAxMy4zOSwzMC43OCAxMy41NCwzMy4zMyBDIDEzLjcwLDM1Ljg5IDEyLjQwLDQ1LjczIDkuOTAsNTUuOTkgQyA3LjQwLDY2LjI1IDMuMzksNzcuOTIgMS4wNCw4NC42NCBDIC0xLjMwLDkxLjM1IC0xLjI1LDg4LjU5IC0xLjgyLDg5LjU4IiBkYXRhLWRyYXV1X2luZGV4PSIxIj48L3BhdGg+PHBhdGggZmlsbD0idHJhbnNwYXJlbnQiIHN0cm9rZT0ib2tsY2goNjIuMyUgMC4yMTQgMjU5LjgxNSkiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBkPSJNIDUyLjA4LDQyLjcxIEMgNTEuMzAsNDIuMzQgNTMuNzAsNDEuNjcgNDguMTgsNDAuODkgQyA0Mi42Niw0MC4xMCAzMC4xNiwzNy42MCAyNC40OCwzOC44MCBDIDE4LjgwLDQwLjAwIDIxLjA5LDQzLjIzIDE5Ljc5LDQ2Ljg4IEMgMTguNDksNTAuNTIgMTcuMDMsNTIuNDAgMTcuOTcsNTcuMDMgQyAxOC45MSw2MS42NyAyMC43Myw2NS4yNiAyNC40OCw3MC4wNSBDIDI4LjIzLDc0Ljg0IDM0LjExLDc3LjQwIDM2LjcyLDgwLjk5IEMgMzkuMzIsODQuNTggMzguMjMsODUuNjMgMzcuNTAsODguMDIgQyAzNi43Nyw5MC40MiAzNC44NCw5MS43NyAzMy4wNyw5Mi45NyBDIDMxLjMwLDk0LjE3IDMzLjU0LDk0LjMyIDI4LjY1LDk0LjAxIEMgMjMuNzUsOTMuNzAgMTIuNzYsOTIuMTkgOC41OSw5MS40MSBDIDQuNDMsOTAuNjMgNy43MSw5MC4zNiA3LjgxLDkwLjEwIEMgNy45Miw4OS44NCA4Ljg1LDkwLjEwIDkuMTEsOTAuMTAiIGRhdGEtZHJhdXVfaW5kZXg9IjIiPjwvcGF0aD48cGF0aCBmaWxsPSJ0cmFuc3BhcmVudCIgc3Ryb2tlPSJva2xjaCg2Mi4zJSAwLjIxNCAyNTkuODE1KSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Ik0gNjYuOTMsMjUuMjYgQyA2Ni44MiwzMC42OCA2OC4yOCwzOS4zOCA2Ni40MSw1Mi4zNCBDIDY0LjUzLDY1LjMxIDU5LjQ4LDgzLjE4IDU3LjU1LDkwLjEwIEMgNTUuNjMsOTcuMDMgNTYuOTMsODcuNjAgNTYuNzcsODYuOTgiIGRhdGEtZHJhdXVfaW5kZXg9IjMiPjwvcGF0aD48cGF0aCBmaWxsPSJ0cmFuc3BhcmVudCIgc3Ryb2tlPSJva2xjaCg2Mi4zJSAwLjIxNCAyNTkuODE1KSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Ik0gNTMuMTMsMzMuNTkgQyA1My4yOCwzMy4zMyA0NS42OCwzMy44MCA1My45MSwzMi4yOSBDIDYyLjE0LDMwLjc4IDgzLjg1LDI4LjAyIDk0LjI3LDI2LjA0IEMgMTA0LjY5LDI0LjA2IDEwMS44MiwyMC4zMSAxMDUuOTksMjIuNDAgQyAxMTAuMTYsMjQuNDggMTEzLjA3LDMyLjg2IDExNS4xMCwzNi40NiBDIDExNy4xNCw0MC4wNSAxMTcuMjksMzguNDkgMTE2LjE1LDQwLjM2IEMgMTE1LjAwLDQyLjI0IDExNC41Myw0My40NCAxMDkuMzgsNDUuODMgQyAxMDQuMjIsNDguMjMgOTkuMDYsNTAuNDIgOTAuMzYsNTIuMzQgQyA4MS42Nyw1NC4yNyA3MC43OCw1NC44NCA2NS44OSw1NS40NyIgZGF0YS1kcmF1dV9pbmRleD0iNCI+PC9wYXRoPjwvc3ZnPg==
      required:
        - text
    CommentEditAnnotationDto:
      type: object
      properties:
        annotation:
          type: string
          description: New annotation for the comment
          example: >-
            PHN2ZyBpZD0ic3ZnIiB3aWR0aD0iNzI4IiBoZWlnaHQ9IjM4NCIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY2xhc3M9InNpemUtZnVsbCI+PHBhdGggZmlsbD0idHJhbnNwYXJlbnQiIHN0cm9rZT0ib2tsY2goNjIuMyUgMC4yMTQgMjU5LjgxNSkiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBkPSJNIC0yNS43OCwzMi44MSBDIC0yNy42Niw0Ni4zNSAtMzMuMjMsODguMDIgLTM1LjE2LDEwMC41MiBDIC0zNy4wOCwxMTMuMDIgLTM1LjM2LDk2LjM1IC0zNS40Miw5NS4zMSIgZGF0YS1kcmF1dV9pbmRleD0iMCI+PC9wYXRoPjxwYXRoIGZpbGw9InRyYW5zcGFyZW50IiBzdHJva2U9Im9rbGNoKDYyLjMlIDAuMjE0IDI1OS44MTUpIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgZD0iTSAtMjYuNTYsMzQuNjQgQyAtMjUuMzYsNDEuMDkgLTIyLjY2LDU4LjQ5IC0yMC41Nyw2Ni45MyBDIC0xOC40OSw3NS4zNiAtMTguMjMsNzcuMTQgLTE2LjE1LDc2LjgyIEMgLTE0LjA2LDc2LjUxIC0xNS4yMSw3Mi4wOCAtMTAuMTYsNjUuMzYgQyAtNS4xMCw1OC42NSA0LjM4LDQ5LjY0IDkuMTEsNDMuMjMgQyAxMy44NSwzNi44MiAxMy4zOSwzMC43OCAxMy41NCwzMy4zMyBDIDEzLjcwLDM1Ljg5IDEyLjQwLDQ1LjczIDkuOTAsNTUuOTkgQyA3LjQwLDY2LjI1IDMuMzksNzcuOTIgMS4wNCw4NC42NCBDIC0xLjMwLDkxLjM1IC0xLjI1LDg4LjU5IC0xLjgyLDg5LjU4IiBkYXRhLWRyYXV1X2luZGV4PSIxIj48L3BhdGg+PHBhdGggZmlsbD0idHJhbnNwYXJlbnQiIHN0cm9rZT0ib2tsY2goNjIuMyUgMC4yMTQgMjU5LjgxNSkiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBkPSJNIDUyLjA4LDQyLjcxIEMgNTEuMzAsNDIuMzQgNTMuNzAsNDEuNjcgNDguMTgsNDAuODkgQyA0Mi42Niw0MC4xMCAzMC4xNiwzNy42MCAyNC40OCwzOC44MCBDIDE4LjgwLDQwLjAwIDIxLjA5LDQzLjIzIDE5Ljc5LDQ2Ljg4IEMgMTguNDksNTAuNTIgMTcuMDMsNTIuNDAgMTcuOTcsNTcuMDMgQyAxOC45MSw2MS42NyAyMC43Myw2NS4yNiAyNC40OCw3MC4wNSBDIDI4LjIzLDc0Ljg0IDM0LjExLDc3LjQwIDM2LjcyLDgwLjk5IEMgMzkuMzIsODQuNTggMzguMjMsODUuNjMgMzcuNTAsODguMDIgQyAzNi43Nyw5MC40MiAzNC44NCw5MS43NyAzMy4wNyw5Mi45NyBDIDMxLjMwLDk0LjE3IDMzLjU0LDk0LjMyIDI4LjY1LDk0LjAxIEMgMjMuNzUsOTMuNzAgMTIuNzYsOTIuMTkgOC41OSw5MS40MSBDIDQuNDMsOTAuNjMgNy43MSw5MC4zNiA3LjgxLDkwLjEwIEMgNy45Miw4OS44NCA4Ljg1LDkwLjEwIDkuMTEsOTAuMTAiIGRhdGEtZHJhdXVfaW5kZXg9IjIiPjwvcGF0aD48cGF0aCBmaWxsPSJ0cmFuc3BhcmVudCIgc3Ryb2tlPSJva2xjaCg2Mi4zJSAwLjIxNCAyNTkuODE1KSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Ik0gNjYuOTMsMjUuMjYgQyA2Ni44MiwzMC42OCA2OC4yOCwzOS4zOCA2Ni40MSw1Mi4zNCBDIDY0LjUzLDY1LjMxIDU5LjQ4LDgzLjE4IDU3LjU1LDkwLjEwIEMgNTUuNjMsOTcuMDMgNTYuOTMsODcuNjAgNTYuNzcsODYuOTgiIGRhdGEtZHJhdXVfaW5kZXg9IjMiPjwvcGF0aD48cGF0aCBmaWxsPSJ0cmFuc3BhcmVudCIgc3Ryb2tlPSJva2xjaCg2Mi4zJSAwLjIxNCAyNTkuODE1KSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Ik0gNTMuMTMsMzMuNTkgQyA1My4yOCwzMy4zMyA0NS42OCwzMy44MCA1My45MSwzMi4yOSBDIDYyLjE0LDMwLjc4IDgzLjg1LDI4LjAyIDk0LjI3LDI2LjA0IEMgMTA0LjY5LDI0LjA2IDEwMS44MiwyMC4zMSAxMDUuOTksMjIuNDAgQyAxMTAuMTYsMjQuNDggMTEzLjA3LDMyLjg2IDExNS4xMCwzNi40NiBDIDExNy4xNCw0MC4wNSAxMTcuMjksMzguNDkgMTE2LjE1LDQwLjM2IEMgMTE1LjAwLDQyLjI0IDExNC41Myw0My40NCAxMDkuMzgsNDUuODMgQyAxMDQuMjIsNDguMjMgOTkuMDYsNTAuNDIgOTAuMzYsNTIuMzQgQyA4MS42Nyw1NC4yNyA3MC43OCw1NC44NCA2NS44OSw1NS40NyIgZGF0YS1kcmF1dV9pbmRleD0iNCI+PC9wYXRoPjwvc3ZnPg==
      required:
        - annotation
    DeleteCommentsDto:
      type: object
      properties:
        commentIds:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          description: List of comment IDs to delete comments
          example:
            - uuid-1
            - uuid-2
      required:
        - commentIds
    ReducedOrganization:
      type: object
      properties:
        _id:
          type: string
          format: hex
          description: Organization ID
          example: 67336a3f31ed8ecdc24e0080
        name:
          type: string
          description: Organization Name
          example: Bob
        avatarUrl:
          type: string
          format: uri
          description: URL to the organization's avatar
          example: https://example.com
      required:
        - _id
        - name
        - avatarUrl
    ReducedSpace:
      type: object
      properties:
        _id:
          type: string
          format: uuid
          description: Space ID
          example: 8c773f25-aef8-427c-a009-32b7bb007802
        name:
          type: string
          description: Space Name
          example: Bob
        avatarUrl:
          type: string
          format: uri
          description: URL to the space's avatar
          example: https://example.com
      required:
        - _id
        - name
        - avatarUrl
    ShareDetailsDto:
      type: object
      properties:
        _id:
          type: string
          format: uuid
        name:
          type: string
        creator:
          $ref: '#/components/schemas/ReducedUser'
        createDate:
          type: number
        permissions:
          type: array
          items:
            type: string
            enum:
              - VIEW_ASSETS
              - VIEW_ASSET_DETAILS
              - VIEW_ASSET_ACTIVITY
              - DOWNLOAD_ASSETS
              - CREATE_ASSETS
              - UPDATE_ASSETS
              - DELETE_ASSETS
              - COPY_ASSETS
              - MOVE_ASSETS
              - RENAME_ASSETS
              - SHARE_ASSETS
          description: >-
            List of permissions granted to the share members over the share's
            assets.
          example:
            - VIEW_ASSETS
        users:
          type: array
          items:
            $ref: '#/components/schemas/ReducedUser'
          description: >-
            Array of the users associated with the share. Only present when
            searching shares of a space.
        organization:
          $ref: '#/components/schemas/ReducedOrganization'
        space:
          $ref: '#/components/schemas/ReducedSpace'
        password:
          type: string
          description: Share password
          example: super-safe
        expires:
          type: number
          minimum: 0
          exclusiveMinimum: true
          description: UTC timestamp in milliseconds marking when the share should expire
          example: 1752057295637
        items:
          type: array
          items:
            type: string
            format: uuid
          description: List of asset IDs that the share members have access to.
          example:
            - ae13321a-522d-48da-9733-27c97bcab124
      required:
        - _id
        - name
        - creator
        - createDate
        - permissions
        - items
      description: Extended share object that includes a more detailed permissions object.
    TagDto:
      type: object
      properties:
        _id:
          type: string
          format: uuid
          description: ID of the tag
          example: 641fa07a-2812-4d07-8de7-cd20daade955
        name:
          type: string
          description: Name of the tag
          example: My Tag
        color:
          type: string
          format: hex
          description: Color of the tag in HEX format
          example: '#ff0000'
      required:
        - _id
        - name
        - color
    PermissionsDto:
      type: object
      properties:
        space: &ref_2
          type: object
          additionalProperties:
            type: object
            properties:
              description:
                type: string
            required:
              - description
        namespace: *ref_2
        asset: *ref_2
        share: *ref_2
        user: *ref_2
      description: Map of all the permissions available in the Cosmo service
    ReducedTeam:
      type: object
      properties:
        _id:
          type: string
          format: hex
          description: Team ID
          example: 67336a3f31ed8ecdc24e0080
        name:
          type: string
          description: Team Name
          example: Bob
        avatarUrl:
          type: string
          format: uri
          description: URL to the team's avatar
          example: https://example.com
      required:
        - _id
        - name
        - avatarUrl
  parameters: {}
paths:
  /v1/org/{orgName}/spaces:
    post:
      security:
        - bearerAuth:
            - high5:space:write
        - basicAuth:
            - high5:space:write
        - patAuth:
            - high5:space:write
      summary: Create a space
      tags:
        - Space
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
            description: Organization name
          required: true
          name: orgName
          in: path
        - schema:
            type: boolean
            nullable: true
          required: false
          name: noAvatar
          in: query
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpaceCreateDto'
      responses:
        '201':
          description: Created space
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceDto'
        '400':
          description: >-
            Failed to validate 'query' parameter 'noAvatar' | Failed to validate
            'path' parameter 'orgName'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'query' parameter 'noAvatar':
                  summary: Failed to validate 'query' parameter 'noAvatar'
                  description: Failed to validate 'query' parameter 'noAvatar' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'query' parameter 'noAvatar' - {error}
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['high5:space:write'] not included in authorization
            | User's organization role is insufficient. Must be at least ADMIN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['high5:space:write'] not included in authorization:
                  summary: >-
                    Required scopes ['high5:space:write'] not included in
                    authorization
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least ADMIN:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    ADMIN
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 011.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 011.000.0002
                    error: internal.server.error
                    message: something went wrong
    get:
      security:
        - bearerAuth:
            - high5:space:write
        - basicAuth:
            - high5:space:write
        - patAuth:
            - high5:space:write
      summary: List spaces
      tags:
        - Space
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
            description: Organization name
          required: true
          name: orgName
          in: path
        - schema:
            type: number
            minimum: 1
            maximum: 100
            default: 25
            description: Page size
          required: false
          name: limit
          in: query
        - schema:
            type: number
            nullable: true
            minimum: 0
            default: 0
            description: Page index
          required: false
          name: page
          in: query
      responses:
        '200':
          description: Spaces of organization
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpaceDto'
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'query' parameter 'limit' | Failed to validate 'query' parameter
            'page'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'query' parameter 'limit':
                  summary: Failed to validate 'query' parameter 'limit'
                  description: Failed to validate 'query' parameter 'limit' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'query' parameter 'limit' - {error}
                Failed to validate 'query' parameter 'page':
                  summary: Failed to validate 'query' parameter 'page'
                  description: Failed to validate 'query' parameter 'page' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'query' parameter 'page' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['high5:space:write'] not included in authorization
            | User's organization role is insufficient. Must be at least MEMBER
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['high5:space:write'] not included in authorization:
                  summary: >-
                    Required scopes ['high5:space:write'] not included in
                    authorization
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least MEMBER:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    MEMBER
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
[...]
