openapi: 3.0.0
info:
  title: hcloud - Cosmo
  description: Cosmo is a Media Asset Management platform.
  version: 1.0.0
  contact:
    name: MoovIT Software Products GmbH
    url: https://www.moovit-sp.com
    email: info@moovit-sp.com
servers:
  - url: https://eu-central-1.helmut.cloud/api/cosmo
    description: EU-Central production server
  - url: https://na-west-1.helmut.cloud/api/cosmo
    description: NA-West production server
  - url: https://eu-dev-1.app.helmut.cloud/api/cosmo
    description: EU development server
  - url: http://localhost/api/cosmo
    description: Localhost
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    patAuth:
      type: http
      scheme: bearer
      bearerFormat: PAT
    basicAuth:
      type: http
      scheme: basic
  schemas:
    CustomError:
      type: object
      properties:
        error:
          type: string
          description: Error name
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Error message
      required:
        - error
        - code
        - message
      description: API errors obey this shape
    ShareCreateDto:
      type: object
      properties:
        name:
          type: string
          description: Share name
        password:
          type: string
          description: Share password
          example: super-safe
        expires:
          type: number
          minimum: 0
          exclusiveMinimum: true
          description: UTC timestamp in milliseconds marking when the share should expire
          example: 1752057295637
        items:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
              enum:
                - READ
                - WRITE
                - CREATE
                - COMMENT
                - CONTRIBUTE
                - DOWNLOAD
                - DELETE
                - READ_DETAILS
          description: >-
            Map of asset ID to the desired permissions that the share members
            will have relative to it. All shared assets have baseline READ
            permission,
          example:
            ae13321a-522d-48da-9733-27c97bcab124:
              - READ
        namespaces:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
              enum:
                - READ_COMMENTS
                - WRITE_COMMENTS
                - READ_STATUS
            minItems: 1
          description: >-
            Namespaces to include in the share. Share consumers will only able
            to read/write asset comments and statuses according to the
            permissions set in this map.
          example:
            rush:
              - READ_STATUS
        users:
          type: array
          items:
            type: string
            format: email
          description: List of user to automatically add and notify of the share
      required:
        - name
        - items
    ShareLinkDto:
      type: object
      properties:
        password:
          type: string
          description: Share password
          example: super-safe
    ShareAddUsersDto:
      type: object
      properties:
        password:
          type: string
          description: Share password
          example: super-safe
        users:
          type: array
          items:
            type: string
            format: email
          description: List of user to automatically add and notify of the share
      required:
        - users
    SpaceCreateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 32
          pattern: ^[\w-.]{1,32}$
          description: Name for the space
          example: my_space
      required:
        - name
    SpaceRenameDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 32
          pattern: ^[\w-.]{1,32}$
          description: Name for the space
          example: my_space
      required:
        - name
    High5SpaceInfoDto:
      type: object
      properties:
        high5_spaceName:
          type: string
          minLength: 1
          maxLength: 32
          pattern: ^[\w-.]{1,32}$
          description: Name for the space
          example: my_space
        executionTarget:
          type: string
          description: Email address or pool name for the execution target
          example: hmc@helmut.cloud or Pool-Party
      required:
        - high5_spaceName
        - executionTarget
    AssetPatchLocationDto:
      type: object
      properties:
        locationId:
          type: string
          format: uuid
          description: Location ID
      required:
        - locationId
    MoveAssetDto:
      type: object
      properties:
        parentId:
          type: string
          format: uuid
          description: Parent ID. If omitted, the asset will be placed at the root level.
          example: 24b9fe00-8cc2-4f15-bde7-72a8b2e3c7ef
    BulkMoveAssetsDto:
      type: object
      properties:
        assetIds:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          description: List of asset/folder IDs to move
          example:
            - uuid-1
            - uuid-2
        parentId:
          type: string
          format: uuid
          description: >-
            ID of the target parent. If omitted, the assets will be placed at
            the root level.
          example: 24b9fe00-8cc2-4f15-bde7-72a8b2e3c7ef
      required:
        - assetIds
    AssetPatchDto:
      type: object
      properties:
        categories:
          type: array
          items:
            type: string
          description: New categories
          example:
            - cat1
            - cat2
        tags:
          type: array
          items:
            type: string
          description: New tags
          example:
            - tag1
            - tag2
    AssetSearchDto:
      type: object
      properties:
        filters:
          type: array
          items:
            oneOf:
              - oneOf:
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - type
                      type:
                        type: string
                        enum:
                          - STRING
                      value:
                        anyOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                    required:
                      - key
                      - type
                      - value
                      - comparator
                    description: STRING for type
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - type
                      type:
                        type: string
                        enum:
                          - SELECT
                      value:
                        anyOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                      allowedValues:
                        type: array
                        items:
                          type: string
                    required:
                      - key
                      - type
                      - value
                      - comparator
                      - allowedValues
                    description: SELECT for type
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - type
                      type:
                        type: string
                        enum:
                          - TYPEAHEAD
                      value:
                        type: string
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                      allowedValues:
                        type: array
                        items:
                          type: string
                    required:
                      - key
                      - type
                      - value
                      - comparator
                      - allowedValues
                    description: TYPEAHEAD for type
                description: type filters
              - type: object
                properties:
                  key:
                    type: string
                    enum:
                      - id
                  type:
                    type: string
                    enum:
                      - STRING
                  value:
                    anyOf:
                      - type: string
                      - type: array
                        items:
                          type: string
                  comparator:
                    type: string
                    enum:
                      - is
                      - is not
                required:
                  - key
                  - type
                  - value
                  - comparator
                description: id filters
              - oneOf:
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - name
                      type:
                        type: string
                        enum:
                          - STRING
                      value:
                        anyOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                    required:
                      - key
                      - type
                      - value
                      - comparator
                    description: STRING for name
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - name
                      type:
                        type: string
                        enum:
                          - SELECT
                      value:
                        anyOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                      allowedValues:
                        type: array
                        items:
                          type: string
                    required:
                      - key
                      - type
                      - value
                      - comparator
                      - allowedValues
                    description: SELECT for name
                  - type: object
                    properties:
                      key:
                        type: string
                        enum:
                          - name
                      type:
                        type: string
                        enum:
                          - TYPEAHEAD
                      value:
                        type: string
                      comparator:
                        type: string
                        enum:
                          - is
                          - is not
                          - starts with
                          - ends with
                          - contains
                      allowedValues:
                        type: array
                        items:
                          type: string
                    required:
                      - key
                      - type
                      - value
                      - comparator
                      - allowedValues
                    description: TYPEAHEAD for name
                description: name filters
          description: field filters
      required:
        - filters
    AssetRenameDto:
      type: object
      properties:
        name:
          type: string
          description: Asset name
          example: my-asset
      required:
        - name
      example:
        name: my-asset
    BulkDownloadUrlsDto:
      type: object
      properties:
        assetIds:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          description: List of asset IDs to get download Urls from
          example:
            - uuid-1
            - uuid-2
        resolution:
          type: string
          enum:
            - original
            - '1080'
            - '720'
            - '480'
            - '360'
            - '240'
          description: Resolution for the download URLs
          example: original
      required:
        - assetIds
        - resolution
    AssetIdsDto:
      type: object
      properties:
        assetIds:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          description: List of asset IDs to get download Urls from
          example:
            - uuid-1
            - uuid-2
      required:
        - assetIds
    AssetCreateDto:
      type: object
      properties:
        name:
          type: string
          description: Asset name
          example: my-asset
        parentId:
          type: string
          format: uuid
          description: Parent ID. If omitted, the asset will be placed at the root level.
          example: 4bd96ba6-2be3-4cd4-91a3-8af692cf7f84
        tags:
          type: array
          items:
            type: string
          description: Asset tags
          example:
            - tag1
            - tag2
        categories:
          type: array
          items:
            type: string
          description: Asset categories
          example:
            - category1
            - category2
      required:
        - name
      example:
        name: my-asset
        parentId: 4bd96ba6-2be3-4cd4-91a3-8af692cf7f84
        tags:
          - tag1
          - tag2
        categories:
          - category1
          - category2
    AssetTrashDto:
      type: object
      properties:
        assetIds:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
      required:
        - assetIds
    AssetTrashRemoveDto:
      type: object
      properties:
        assetIds:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
      required:
        - assetIds
    LocationCreateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 32
          pattern: ^[\w-.]{1,32}$
      required:
        - name
    ProductionCreateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 32
          pattern: ^[\w-.]{1,32}$
      required:
        - name
    NamespaceSearchName:
      anyOf:
        - type: string
          minLength: 3
          maxLength: 64
          pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
        - type: string
          minLength: 3
          maxLength: 64
          pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
        - type: string
          enum:
            - '*'
        - type: array
          items:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              - type: string
                enum:
                  - '*'
      description: >-
        Use * to fetch from all namespaces. Can only be used if spaceName is
        also defined.
    NamespaceCreateDto:
      type: object
      properties:
        name:
          type: string
          description: Namespace name
          example: My Namespace
      required:
        - name
    ReferenceStatusPatchDto:
      type: object
      properties:
        status:
          type: string
          enum: &ref_0
            - approved
            - rejected
      required:
        - status
    ReducedUser:
      type: object
      properties:
        _id:
          type: string
          format: hex
          description: User ID
          example: 67336a3f31ed8ecdc24e0080
        name:
          type: string
          description: User Name
          example: Bob
        email:
          type: string
          description: User email
          example: bob@helmut.cloud
        avatarUrl:
          type: string
          format: uri
          description: URL to the user's avatar
          example: https://example.com
      required:
        - _id
        - name
        - email
        - avatarUrl
    SpaceDto:
      type: object
      properties:
        _id:
          type: string
          format: uuid
          description: ID of the space
          example: 641fa07a-2812-4d07-8de7-cd20daade955
        name:
          type: string
          description: Name of the space
          example: My Space
        createDate:
          type: number
          description: Creation date of the space as millisecond timestamp
          example: 1633072800000
        creator:
          $ref: '#/components/schemas/ReducedUser'
        avatarUrl:
          type: string
          format: uri
          description: URL of the avatar
          example: https://example.com/avatar.jpg
        high5_spaceName:
          type: string
          description: Name of the linked high5 space
          example: cosmo_space
        high5_executionTarget:
          type: string
          format: email
          description: Email address of the execution target for the high5 space
          example: hmc@helmut.cloud
      required:
        - _id
        - name
        - createDate
        - creator
        - avatarUrl
    ItemDto:
      type: object
      properties:
        _id:
          type: string
          format: uuid
          description: Item ID
        name:
          type: string
          description: Item name
        type:
          type: string
          enum:
            - ASSET
            - SPACE
            - PRODUCTION
            - PROJECT
            - FOLDER
            - COMMENT
          description: Item type
      required:
        - _id
        - name
        - type
      example:
        name: my space
        type: SPACE
        _id: 2e1d01be-fc17-4acd-a3d9-ddacedebc59f
    Unknown:
      type: object
      properties:
        name:
          type: string
          description: Name of the media
          example: original
        url:
          type: string
          format: uri
          description: >-
            URL to the media. Can be undefined if the media is still being
            uploaded
          example: https://example.com
        type:
          type: string
          enum:
            - UNKNOWN
          description: Media type
          example: UNKNOWN
      required:
        - name
        - type
    Image:
      type: object
      properties:
        name:
          type: string
          description: Name of the media
          example: thumbnail
        url:
          type: string
          format: uri
          description: >-
            URL to the media. Can be undefined if the media is still being
            uploaded
          example: https://example.com
        type:
          type: string
          enum:
            - IMAGE
          description: Media type
          example: IMAGE
      required:
        - name
        - type
    AudioMetadata:
      type: object
      properties:
        type:
          type: string
          enum:
            - AUDIO
          example: AUDIO
        codec:
          type: string
          example: aac
        channels:
          type: number
          example: 6
        channelLayout:
          type: string
          example: '5.1'
        bitRate:
          type: number
          example: 383960
        sampleRate:
          type: number
          example: 48000
      required:
        - type
        - codec
        - channels
        - channelLayout
        - bitRate
        - sampleRate
    VideoMetadata:
      type: object
      properties:
        type:
          type: string
          enum:
            - VIDEO
          example: VIDEO
        codec:
          type: string
          example: h264
        frameRate:
          type: number
          example: 25
        pixelFormat:
          type: string
          example: yuv420p
        aspectRatio:
          type: string
          example: '16:9'
        colorSpace:
          type: string
        width:
          type: number
          example: 1280
        height:
          type: number
          example: 720
        fieldOrder:
          type: string
        duration:
          type: number
          example: 29.56
        tcIn:
          type: string
          example: '0.000000'
        tcOut:
          type: string
        noOfFrames:
          type: number
          example: 739
        formatLongName:
          type: string
          example: QuickTime / MOV
      required:
        - type
        - codec
        - frameRate
        - pixelFormat
        - aspectRatio
        - width
        - height
        - fieldOrder
        - duration
        - tcIn
        - tcOut
        - noOfFrames
        - formatLongName
      description: Video metadata
    AssetDetailedDto:
      type: object
      properties:
        _id:
          type: string
          format: uuid
          description: Asset ID
          example: d11bdb05-d94a-4aa1-b6e2-32259a2c46e3
        name:
          type: string
          description: Asset Name
          example: myasset.mov
        type:
          type: string
          enum:
            - ASSET
            - SPACE
            - PRODUCTION
            - PROJECT
            - FOLDER
            - COMMENT
          description: Item type
        assetType:
          type: string
          enum:
            - VIDEO
            - IMAGE
            - DOCUMENT
            - UNKNOWN
            - FOLDER
          description: Asset Type
          example: VIDEO
        breadcrumb:
          type: array
          items:
            $ref: '#/components/schemas/ItemDto'
        duration:
          type: number
          description: Duration of the video if the asset is a video asset
          example: 29.56
        frameRate:
          type: number
          description: Frame rate of the video if the asset is a video asset
          example: 25
        thumbnailUrl:
          type: string
          format: uri
          description: URL of the thumbnail
          example: https://example.com/thumbnail.jpg
        previewUrl:
          type: string
          format: uri
          description: URL of the preview
          example: https://example.com/preview.jpg
        createDate:
          type: number
          minimum: 0
          description: Date of creation
          format: UNIX timestamp
          example: 1747142773233
        creator:
          $ref: '#/components/schemas/ReducedUser'
        upload:
          type: object
          properties:
            url:
              type: string
              format: uri
            token:
              type: string
            expiration:
              type: number
            libraryId:
              type: number
            videoId:
              type: string
          required:
            - url
            - token
            - expiration
        namespaces:
          type: object
          additionalProperties:
            type: object
            properties:
              status:
                type: string
            required:
              - status
          description: Information about the asset across namespaces.
          example: &ref_1
            rush:
              status: approved
        permissions:
          type: array
          items:
            type: string
          description: Allowed operations on the asset
          example: &ref_2
            - CAN_READ
        media:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/Unknown'
              - $ref: '#/components/schemas/Image'
              - type: object
                properties:
                  name:
                    type: string
                    description: Name of the media
                    example: original
                  url:
                    type: string
                    format: uri
                    description: >-
                      URL to the media. Can be undefined if the media is still
                      being uploaded
                    example: https://example.com
                  type:
                    type: string
                    enum:
                      - AUDIO
                    description: Media type
                    example: AUDIO
                  metadata:
                    type: array
                    items:
                      $ref: '#/components/schemas/AudioMetadata'
                    description: Media metadata
                required:
                  - name
                  - type
              - type: object
                properties:
                  name:
                    type: string
                    description: Name of the media
                    example: original
                  url:
                    type: string
                    format: uri
                    description: >-
                      URL to the media. Can be undefined if the media is still
                      being uploaded
                    example: https://example.com
                  type:
                    type: string
                    enum:
                      - VIDEO
                    description: Media type
                    example: VIDEO
                  metadata:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/AudioMetadata'
                        - $ref: '#/components/schemas/VideoMetadata'
                    description: Media metadata
                required:
                  - name
                  - type
      required:
        - _id
        - name
        - type
        - createDate
        - creator
    AssetPermissionsDto:
      type: object
      additionalProperties:
        type: array
        items:
          type: string
          enum:
            - READ
            - WRITE
            - CREATE
            - COMMENT
            - CONTRIBUTE
            - DOWNLOAD
            - DELETE
            - READ_DETAILS
      example:
        37fd2155-98f7-4154-b2ed-a43715937f6a:
          - READ
    LocationDto:
      type: object
      properties:
        _id:
          type: string
          format: uuid
          description: ID of the location
          example: 6471393c-6dc5-4ab4-a390-a1568b7d1689
        name:
          type: string
          description: Name of the location
          example: My location
      required:
        - _id
        - name
    ProductionDto:
      type: object
      properties:
        _id:
          type: string
          format: uuid
          description: ID of the production
          example: 641fa07a-2812-4d07-8de7-cd20daade955
        name:
          type: string
          description: Name of the production
          example: My Production
      required:
        - _id
        - name
    FolderDto:
      allOf:
        - $ref: '#/components/schemas/ItemDto'
        - type: object
          properties:
            breadcrumb:
              type: array
              items:
                $ref: '#/components/schemas/ItemDto'
            children:
              type: array
              items:
                $ref: '#/components/schemas/ItemDto'
      example:
        _id: fa7f41b9-7915-4a9c-bd6f-67ddfb03f73a
        name: my-name
        type: FOLDER
        children: []
    FolderCreateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
          description: Folder name
          example: my folder
        parentId:
          type: string
          format: uuid
          description: Parent ID. If omitted, the asset will be placed at the root level.
          example: 4bd96ba6-2be3-4cd4-91a3-8af692cf7f84
      required:
        - name
    FolderRenameDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
          description: Folder name
          example: my folder
      required:
        - name
    FolderMoveDto:
      type: object
      properties:
        parentId:
          type: string
          format: uuid
          description: Parent ID. If omitted, the asset will be placed at the root level.
          example: 4bd96ba6-2be3-4cd4-91a3-8af692cf7f84
    NamespaceDto:
      type: object
      properties:
        _id:
          type: string
          format: uuid
          description: Namespace ID
          example: 254b0fb5-7567-47a8-b655-d09a40c91b2f
        name:
          type: string
          description: Namespace name
          example: My Namespace
      required:
        - _id
        - name
    ReferencePatchDto:
      type: object
      properties:
        status:
          type: string
          enum: *ref_0
      required:
        - status
    CommentDto:
      type: object
      properties:
        _id:
          type: string
          format: uuid
          description: Comment ID
          example: 254b0fb5-7567-47a8-b655-d09a40c91b2f
        text:
          type: string
          description: Comment Text
          example: My Comment
        createDate:
          type: number
          minimum: 0
          exclusiveMinimum: true
          description: Comment creation date
          example: 1746608457170
        timestamp:
          type: object
          properties:
            in:
              type: number
              minimum: 0
              description: Timecode IN
            out:
              type: number
              minimum: 0
              description: Timecode OUT
            color:
              type: string
              description: Comment color
          required:
            - in
            - color
          description: Timestamp the comment refers to
        creator:
          $ref: '#/components/schemas/ReducedUser'
        annotation:
          type: string
          description: Optional annotation for the comment
          example: >-
            PHN2ZyBpZD0ic3ZnIiB3aWR0aD0iNzI4IiBoZWlnaHQ9IjM4NCIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY2xhc3M9InNpemUtZnVsbCI+PHBhdGggZmlsbD0idHJhbnNwYXJlbnQiIHN0cm9rZT0ib2tsY2goNjIuMyUgMC4yMTQgMjU5LjgxNSkiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBkPSJNIC0yNS43OCwzMi44MSBDIC0yNy42Niw0Ni4zNSAtMzMuMjMsODguMDIgLTM1LjE2LDEwMC41MiBDIC0zNy4wOCwxMTMuMDIgLTM1LjM2LDk2LjM1IC0zNS40Miw5NS4zMSIgZGF0YS1kcmF1dV9pbmRleD0iMCI+PC9wYXRoPjxwYXRoIGZpbGw9InRyYW5zcGFyZW50IiBzdHJva2U9Im9rbGNoKDYyLjMlIDAuMjE0IDI1OS44MTUpIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgZD0iTSAtMjYuNTYsMzQuNjQgQyAtMjUuMzYsNDEuMDkgLTIyLjY2LDU4LjQ5IC0yMC41Nyw2Ni45MyBDIC0xOC40OSw3NS4zNiAtMTguMjMsNzcuMTQgLTE2LjE1LDc2LjgyIEMgLTE0LjA2LDc2LjUxIC0xNS4yMSw3Mi4wOCAtMTAuMTYsNjUuMzYgQyAtNS4xMCw1OC42NSA0LjM4LDQ5LjY0IDkuMTEsNDMuMjMgQyAxMy44NSwzNi44MiAxMy4zOSwzMC43OCAxMy41NCwzMy4zMyBDIDEzLjcwLDM1Ljg5IDEyLjQwLDQ1LjczIDkuOTAsNTUuOTkgQyA3LjQwLDY2LjI1IDMuMzksNzcuOTIgMS4wNCw4NC42NCBDIC0xLjMwLDkxLjM1IC0xLjI1LDg4LjU5IC0xLjgyLDg5LjU4IiBkYXRhLWRyYXV1X2luZGV4PSIxIj48L3BhdGg+PHBhdGggZmlsbD0idHJhbnNwYXJlbnQiIHN0cm9rZT0ib2tsY2goNjIuMyUgMC4yMTQgMjU5LjgxNSkiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBkPSJNIDUyLjA4LDQyLjcxIEMgNTEuMzAsNDIuMzQgNTMuNzAsNDEuNjcgNDguMTgsNDAuODkgQyA0Mi42Niw0MC4xMCAzMC4xNiwzNy42MCAyNC40OCwzOC44MCBDIDE4LjgwLDQwLjAwIDIxLjA5LDQzLjIzIDE5Ljc5LDQ2Ljg4IEMgMTguNDksNTAuNTIgMTcuMDMsNTIuNDAgMTcuOTcsNTcuMDMgQyAxOC45MSw2MS42NyAyMC43Myw2NS4yNiAyNC40OCw3MC4wNSBDIDI4LjIzLDc0Ljg0IDM0LjExLDc3LjQwIDM2LjcyLDgwLjk5IEMgMzkuMzIsODQuNTggMzguMjMsODUuNjMgMzcuNTAsODguMDIgQyAzNi43Nyw5MC40MiAzNC44NCw5MS43NyAzMy4wNyw5Mi45NyBDIDMxLjMwLDk0LjE3IDMzLjU0LDk0LjMyIDI4LjY1LDk0LjAxIEMgMjMuNzUsOTMuNzAgMTIuNzYsOTIuMTkgOC41OSw5MS40MSBDIDQuNDMsOTAuNjMgNy43MSw5MC4zNiA3LjgxLDkwLjEwIEMgNy45Miw4OS44NCA4Ljg1LDkwLjEwIDkuMTEsOTAuMTAiIGRhdGEtZHJhdXVfaW5kZXg9IjIiPjwvcGF0aD48cGF0aCBmaWxsPSJ0cmFuc3BhcmVudCIgc3Ryb2tlPSJva2xjaCg2Mi4zJSAwLjIxNCAyNTkuODE1KSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Ik0gNjYuOTMsMjUuMjYgQyA2Ni44MiwzMC42OCA2OC4yOCwzOS4zOCA2Ni40MSw1Mi4zNCBDIDY0LjUzLDY1LjMxIDU5LjQ4LDgzLjE4IDU3LjU1LDkwLjEwIEMgNTUuNjMsOTcuMDMgNTYuOTMsODcuNjAgNTYuNzcsODYuOTgiIGRhdGEtZHJhdXVfaW5kZXg9IjMiPjwvcGF0aD48cGF0aCBmaWxsPSJ0cmFuc3BhcmVudCIgc3Ryb2tlPSJva2xjaCg2Mi4zJSAwLjIxNCAyNTkuODE1KSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Ik0gNTMuMTMsMzMuNTkgQyA1My4yOCwzMy4zMyA0NS42OCwzMy44MCA1My45MSwzMi4yOSBDIDYyLjE0LDMwLjc4IDgzLjg1LDI4LjAyIDk0LjI3LDI2LjA0IEMgMTA0LjY5LDI0LjA2IDEwMS44MiwyMC4zMSAxMDUuOTksMjIuNDAgQyAxMTAuMTYsMjQuNDggMTEzLjA3LDMyLjg2IDExNS4xMCwzNi40NiBDIDExNy4xNCw0MC4wNSAxMTcuMjksMzguNDkgMTE2LjE1LDQwLjM2IEMgMTE1LjAwLDQyLjI0IDExNC41Myw0My40NCAxMDkuMzgsNDUuODMgQyAxMDQuMjIsNDguMjMgOTkuMDYsNTAuNDIgOTAuMzYsNTIuMzQgQyA4MS42Nyw1NC4yNyA3MC43OCw1NC44NCA2NS44OSw1NS40NyIgZGF0YS1kcmF1dV9pbmRleD0iNCI+PC9wYXRoPjwvc3ZnPg==
      required:
        - _id
        - text
        - createDate
        - creator
    CommentCreateDto:
      type: object
      properties:
        text:
          type: string
          maxLength: 2048
          description: Comment text
          example: This is my comment
        refId:
          type: string
          format: uuid
          description: ID of the item referenced
          example: 8a5cd9be-f983-4a1c-bfdb-3868152a87fe
        timestamp:
          type: object
          properties:
            in:
              type: number
              minimum: 0
              description: Timecode IN
            out:
              type: number
              minimum: 0
              description: Timecode OUT
            color:
              type: string
              description: Comment color
          required:
            - in
            - color
          description: Timestamp the comment refers to
        annotation:
          type: string
          description: Optional annotation for the comment
          example: >-
            PHN2ZyBpZD0ic3ZnIiB3aWR0aD0iNzI4IiBoZWlnaHQ9IjM4NCIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY2xhc3M9InNpemUtZnVsbCI+PHBhdGggZmlsbD0idHJhbnNwYXJlbnQiIHN0cm9rZT0ib2tsY2goNjIuMyUgMC4yMTQgMjU5LjgxNSkiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBkPSJNIC0yNS43OCwzMi44MSBDIC0yNy42Niw0Ni4zNSAtMzMuMjMsODguMDIgLTM1LjE2LDEwMC41MiBDIC0zNy4wOCwxMTMuMDIgLTM1LjM2LDk2LjM1IC0zNS40Miw5NS4zMSIgZGF0YS1kcmF1dV9pbmRleD0iMCI+PC9wYXRoPjxwYXRoIGZpbGw9InRyYW5zcGFyZW50IiBzdHJva2U9Im9rbGNoKDYyLjMlIDAuMjE0IDI1OS44MTUpIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgZD0iTSAtMjYuNTYsMzQuNjQgQyAtMjUuMzYsNDEuMDkgLTIyLjY2LDU4LjQ5IC0yMC41Nyw2Ni45MyBDIC0xOC40OSw3NS4zNiAtMTguMjMsNzcuMTQgLTE2LjE1LDc2LjgyIEMgLTE0LjA2LDc2LjUxIC0xNS4yMSw3Mi4wOCAtMTAuMTYsNjUuMzYgQyAtNS4xMCw1OC42NSA0LjM4LDQ5LjY0IDkuMTEsNDMuMjMgQyAxMy44NSwzNi44MiAxMy4zOSwzMC43OCAxMy41NCwzMy4zMyBDIDEzLjcwLDM1Ljg5IDEyLjQwLDQ1LjczIDkuOTAsNTUuOTkgQyA3LjQwLDY2LjI1IDMuMzksNzcuOTIgMS4wNCw4NC42NCBDIC0xLjMwLDkxLjM1IC0xLjI1LDg4LjU5IC0xLjgyLDg5LjU4IiBkYXRhLWRyYXV1X2luZGV4PSIxIj48L3BhdGg+PHBhdGggZmlsbD0idHJhbnNwYXJlbnQiIHN0cm9rZT0ib2tsY2goNjIuMyUgMC4yMTQgMjU5LjgxNSkiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBkPSJNIDUyLjA4LDQyLjcxIEMgNTEuMzAsNDIuMzQgNTMuNzAsNDEuNjcgNDguMTgsNDAuODkgQyA0Mi42Niw0MC4xMCAzMC4xNiwzNy42MCAyNC40OCwzOC44MCBDIDE4LjgwLDQwLjAwIDIxLjA5LDQzLjIzIDE5Ljc5LDQ2Ljg4IEMgMTguNDksNTAuNTIgMTcuMDMsNTIuNDAgMTcuOTcsNTcuMDMgQyAxOC45MSw2MS42NyAyMC43Myw2NS4yNiAyNC40OCw3MC4wNSBDIDI4LjIzLDc0Ljg0IDM0LjExLDc3LjQwIDM2LjcyLDgwLjk5IEMgMzkuMzIsODQuNTggMzguMjMsODUuNjMgMzcuNTAsODguMDIgQyAzNi43Nyw5MC40MiAzNC44NCw5MS43NyAzMy4wNyw5Mi45NyBDIDMxLjMwLDk0LjE3IDMzLjU0LDk0LjMyIDI4LjY1LDk0LjAxIEMgMjMuNzUsOTMuNzAgMTIuNzYsOTIuMTkgOC41OSw5MS40MSBDIDQuNDMsOTAuNjMgNy43MSw5MC4zNiA3LjgxLDkwLjEwIEMgNy45Miw4OS44NCA4Ljg1LDkwLjEwIDkuMTEsOTAuMTAiIGRhdGEtZHJhdXVfaW5kZXg9IjIiPjwvcGF0aD48cGF0aCBmaWxsPSJ0cmFuc3BhcmVudCIgc3Ryb2tlPSJva2xjaCg2Mi4zJSAwLjIxNCAyNTkuODE1KSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Ik0gNjYuOTMsMjUuMjYgQyA2Ni44MiwzMC42OCA2OC4yOCwzOS4zOCA2Ni40MSw1Mi4zNCBDIDY0LjUzLDY1LjMxIDU5LjQ4LDgzLjE4IDU3LjU1LDkwLjEwIEMgNTUuNjMsOTcuMDMgNTYuOTMsODcuNjAgNTYuNzcsODYuOTgiIGRhdGEtZHJhdXVfaW5kZXg9IjMiPjwvcGF0aD48cGF0aCBmaWxsPSJ0cmFuc3BhcmVudCIgc3Ryb2tlPSJva2xjaCg2Mi4zJSAwLjIxNCAyNTkuODE1KSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Ik0gNTMuMTMsMzMuNTkgQyA1My4yOCwzMy4zMyA0NS42OCwzMy44MCA1My45MSwzMi4yOSBDIDYyLjE0LDMwLjc4IDgzLjg1LDI4LjAyIDk0LjI3LDI2LjA0IEMgMTA0LjY5LDI0LjA2IDEwMS44MiwyMC4zMSAxMDUuOTksMjIuNDAgQyAxMTAuMTYsMjQuNDggMTEzLjA3LDMyLjg2IDExNS4xMCwzNi40NiBDIDExNy4xNCw0MC4wNSAxMTcuMjksMzguNDkgMTE2LjE1LDQwLjM2IEMgMTE1LjAwLDQyLjI0IDExNC41Myw0My40NCAxMDkuMzgsNDUuODMgQyAxMDQuMjIsNDguMjMgOTkuMDYsNTAuNDIgOTAuMzYsNTIuMzQgQyA4MS42Nyw1NC4yNyA3MC43OCw1NC44NCA2NS44OSw1NS40NyIgZGF0YS1kcmF1dV9pbmRleD0iNCI+PC9wYXRoPjwvc3ZnPg==
      required:
        - text
        - refId
    CommentEditDto:
      type: object
      properties:
        text:
          type: string
          maxLength: 2048
          description: Comment text
          example: This is my comment
        timestamp:
          type: object
          properties:
            in:
              type: number
              minimum: 0
              description: Timecode IN
            out:
              type: number
              minimum: 0
              description: Timecode OUT
            color:
              type: string
              description: Comment color
          required:
            - in
            - color
          description: Timestamp the comment refers to
        annotation:
          type: string
          description: Optional annotation for the comment
          example: >-
            PHN2ZyBpZD0ic3ZnIiB3aWR0aD0iNzI4IiBoZWlnaHQ9IjM4NCIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY2xhc3M9InNpemUtZnVsbCI+PHBhdGggZmlsbD0idHJhbnNwYXJlbnQiIHN0cm9rZT0ib2tsY2goNjIuMyUgMC4yMTQgMjU5LjgxNSkiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBkPSJNIC0yNS43OCwzMi44MSBDIC0yNy42Niw0Ni4zNSAtMzMuMjMsODguMDIgLTM1LjE2LDEwMC41MiBDIC0zNy4wOCwxMTMuMDIgLTM1LjM2LDk2LjM1IC0zNS40Miw5NS4zMSIgZGF0YS1kcmF1dV9pbmRleD0iMCI+PC9wYXRoPjxwYXRoIGZpbGw9InRyYW5zcGFyZW50IiBzdHJva2U9Im9rbGNoKDYyLjMlIDAuMjE0IDI1OS44MTUpIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgZD0iTSAtMjYuNTYsMzQuNjQgQyAtMjUuMzYsNDEuMDkgLTIyLjY2LDU4LjQ5IC0yMC41Nyw2Ni45MyBDIC0xOC40OSw3NS4zNiAtMTguMjMsNzcuMTQgLTE2LjE1LDc2LjgyIEMgLTE0LjA2LDc2LjUxIC0xNS4yMSw3Mi4wOCAtMTAuMTYsNjUuMzYgQyAtNS4xMCw1OC42NSA0LjM4LDQ5LjY0IDkuMTEsNDMuMjMgQyAxMy44NSwzNi44MiAxMy4zOSwzMC43OCAxMy41NCwzMy4zMyBDIDEzLjcwLDM1Ljg5IDEyLjQwLDQ1LjczIDkuOTAsNTUuOTkgQyA3LjQwLDY2LjI1IDMuMzksNzcuOTIgMS4wNCw4NC42NCBDIC0xLjMwLDkxLjM1IC0xLjI1LDg4LjU5IC0xLjgyLDg5LjU4IiBkYXRhLWRyYXV1X2luZGV4PSIxIj48L3BhdGg+PHBhdGggZmlsbD0idHJhbnNwYXJlbnQiIHN0cm9rZT0ib2tsY2goNjIuMyUgMC4yMTQgMjU5LjgxNSkiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBkPSJNIDUyLjA4LDQyLjcxIEMgNTEuMzAsNDIuMzQgNTMuNzAsNDEuNjcgNDguMTgsNDAuODkgQyA0Mi42Niw0MC4xMCAzMC4xNiwzNy42MCAyNC40OCwzOC44MCBDIDE4LjgwLDQwLjAwIDIxLjA5LDQzLjIzIDE5Ljc5LDQ2Ljg4IEMgMTguNDksNTAuNTIgMTcuMDMsNTIuNDAgMTcuOTcsNTcuMDMgQyAxOC45MSw2MS42NyAyMC43Myw2NS4yNiAyNC40OCw3MC4wNSBDIDI4LjIzLDc0Ljg0IDM0LjExLDc3LjQwIDM2LjcyLDgwLjk5IEMgMzkuMzIsODQuNTggMzguMjMsODUuNjMgMzcuNTAsODguMDIgQyAzNi43Nyw5MC40MiAzNC44NCw5MS43NyAzMy4wNyw5Mi45NyBDIDMxLjMwLDk0LjE3IDMzLjU0LDk0LjMyIDI4LjY1LDk0LjAxIEMgMjMuNzUsOTMuNzAgMTIuNzYsOTIuMTkgOC41OSw5MS40MSBDIDQuNDMsOTAuNjMgNy43MSw5MC4zNiA3LjgxLDkwLjEwIEMgNy45Miw4OS44NCA4Ljg1LDkwLjEwIDkuMTEsOTAuMTAiIGRhdGEtZHJhdXVfaW5kZXg9IjIiPjwvcGF0aD48cGF0aCBmaWxsPSJ0cmFuc3BhcmVudCIgc3Ryb2tlPSJva2xjaCg2Mi4zJSAwLjIxNCAyNTkuODE1KSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Ik0gNjYuOTMsMjUuMjYgQyA2Ni44MiwzMC42OCA2OC4yOCwzOS4zOCA2Ni40MSw1Mi4zNCBDIDY0LjUzLDY1LjMxIDU5LjQ4LDgzLjE4IDU3LjU1LDkwLjEwIEMgNTUuNjMsOTcuMDMgNTYuOTMsODcuNjAgNTYuNzcsODYuOTgiIGRhdGEtZHJhdXVfaW5kZXg9IjMiPjwvcGF0aD48cGF0aCBmaWxsPSJ0cmFuc3BhcmVudCIgc3Ryb2tlPSJva2xjaCg2Mi4zJSAwLjIxNCAyNTkuODE1KSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Ik0gNTMuMTMsMzMuNTkgQyA1My4yOCwzMy4zMyA0NS42OCwzMy44MCA1My45MSwzMi4yOSBDIDYyLjE0LDMwLjc4IDgzLjg1LDI4LjAyIDk0LjI3LDI2LjA0IEMgMTA0LjY5LDI0LjA2IDEwMS44MiwyMC4zMSAxMDUuOTksMjIuNDAgQyAxMTAuMTYsMjQuNDggMTEzLjA3LDMyLjg2IDExNS4xMCwzNi40NiBDIDExNy4xNCw0MC4wNSAxMTcuMjksMzguNDkgMTE2LjE1LDQwLjM2IEMgMTE1LjAwLDQyLjI0IDExNC41Myw0My40NCAxMDkuMzgsNDUuODMgQyAxMDQuMjIsNDguMjMgOTkuMDYsNTAuNDIgOTAuMzYsNTIuMzQgQyA4MS42Nyw1NC4yNyA3MC43OCw1NC44NCA2NS44OSw1NS40NyIgZGF0YS1kcmF1dV9pbmRleD0iNCI+PC9wYXRoPjwvc3ZnPg==
      required:
        - text
    CommentEditAnnotationDto:
      type: object
      properties:
        annotation:
          type: string
          description: New annotation for the comment
          example: >-
            PHN2ZyBpZD0ic3ZnIiB3aWR0aD0iNzI4IiBoZWlnaHQ9IjM4NCIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY2xhc3M9InNpemUtZnVsbCI+PHBhdGggZmlsbD0idHJhbnNwYXJlbnQiIHN0cm9rZT0ib2tsY2goNjIuMyUgMC4yMTQgMjU5LjgxNSkiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBkPSJNIC0yNS43OCwzMi44MSBDIC0yNy42Niw0Ni4zNSAtMzMuMjMsODguMDIgLTM1LjE2LDEwMC41MiBDIC0zNy4wOCwxMTMuMDIgLTM1LjM2LDk2LjM1IC0zNS40Miw5NS4zMSIgZGF0YS1kcmF1dV9pbmRleD0iMCI+PC9wYXRoPjxwYXRoIGZpbGw9InRyYW5zcGFyZW50IiBzdHJva2U9Im9rbGNoKDYyLjMlIDAuMjE0IDI1OS44MTUpIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgZD0iTSAtMjYuNTYsMzQuNjQgQyAtMjUuMzYsNDEuMDkgLTIyLjY2LDU4LjQ5IC0yMC41Nyw2Ni45MyBDIC0xOC40OSw3NS4zNiAtMTguMjMsNzcuMTQgLTE2LjE1LDc2LjgyIEMgLTE0LjA2LDc2LjUxIC0xNS4yMSw3Mi4wOCAtMTAuMTYsNjUuMzYgQyAtNS4xMCw1OC42NSA0LjM4LDQ5LjY0IDkuMTEsNDMuMjMgQyAxMy44NSwzNi44MiAxMy4zOSwzMC43OCAxMy41NCwzMy4zMyBDIDEzLjcwLDM1Ljg5IDEyLjQwLDQ1LjczIDkuOTAsNTUuOTkgQyA3LjQwLDY2LjI1IDMuMzksNzcuOTIgMS4wNCw4NC42NCBDIC0xLjMwLDkxLjM1IC0xLjI1LDg4LjU5IC0xLjgyLDg5LjU4IiBkYXRhLWRyYXV1X2luZGV4PSIxIj48L3BhdGg+PHBhdGggZmlsbD0idHJhbnNwYXJlbnQiIHN0cm9rZT0ib2tsY2goNjIuMyUgMC4yMTQgMjU5LjgxNSkiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBkPSJNIDUyLjA4LDQyLjcxIEMgNTEuMzAsNDIuMzQgNTMuNzAsNDEuNjcgNDguMTgsNDAuODkgQyA0Mi42Niw0MC4xMCAzMC4xNiwzNy42MCAyNC40OCwzOC44MCBDIDE4LjgwLDQwLjAwIDIxLjA5LDQzLjIzIDE5Ljc5LDQ2Ljg4IEMgMTguNDksNTAuNTIgMTcuMDMsNTIuNDAgMTcuOTcsNTcuMDMgQyAxOC45MSw2MS42NyAyMC43Myw2NS4yNiAyNC40OCw3MC4wNSBDIDI4LjIzLDc0Ljg0IDM0LjExLDc3LjQwIDM2LjcyLDgwLjk5IEMgMzkuMzIsODQuNTggMzguMjMsODUuNjMgMzcuNTAsODguMDIgQyAzNi43Nyw5MC40MiAzNC44NCw5MS43NyAzMy4wNyw5Mi45NyBDIDMxLjMwLDk0LjE3IDMzLjU0LDk0LjMyIDI4LjY1LDk0LjAxIEMgMjMuNzUsOTMuNzAgMTIuNzYsOTIuMTkgOC41OSw5MS40MSBDIDQuNDMsOTAuNjMgNy43MSw5MC4zNiA3LjgxLDkwLjEwIEMgNy45Miw4OS44NCA4Ljg1LDkwLjEwIDkuMTEsOTAuMTAiIGRhdGEtZHJhdXVfaW5kZXg9IjIiPjwvcGF0aD48cGF0aCBmaWxsPSJ0cmFuc3BhcmVudCIgc3Ryb2tlPSJva2xjaCg2Mi4zJSAwLjIxNCAyNTkuODE1KSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Ik0gNjYuOTMsMjUuMjYgQyA2Ni44MiwzMC42OCA2OC4yOCwzOS4zOCA2Ni40MSw1Mi4zNCBDIDY0LjUzLDY1LjMxIDU5LjQ4LDgzLjE4IDU3LjU1LDkwLjEwIEMgNTUuNjMsOTcuMDMgNTYuOTMsODcuNjAgNTYuNzcsODYuOTgiIGRhdGEtZHJhdXVfaW5kZXg9IjMiPjwvcGF0aD48cGF0aCBmaWxsPSJ0cmFuc3BhcmVudCIgc3Ryb2tlPSJva2xjaCg2Mi4zJSAwLjIxNCAyNTkuODE1KSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Ik0gNTMuMTMsMzMuNTkgQyA1My4yOCwzMy4zMyA0NS42OCwzMy44MCA1My45MSwzMi4yOSBDIDYyLjE0LDMwLjc4IDgzLjg1LDI4LjAyIDk0LjI3LDI2LjA0IEMgMTA0LjY5LDI0LjA2IDEwMS44MiwyMC4zMSAxMDUuOTksMjIuNDAgQyAxMTAuMTYsMjQuNDggMTEzLjA3LDMyLjg2IDExNS4xMCwzNi40NiBDIDExNy4xNCw0MC4wNSAxMTcuMjksMzguNDkgMTE2LjE1LDQwLjM2IEMgMTE1LjAwLDQyLjI0IDExNC41Myw0My40NCAxMDkuMzgsNDUuODMgQyAxMDQuMjIsNDguMjMgOTkuMDYsNTAuNDIgOTAuMzYsNTIuMzQgQyA4MS42Nyw1NC4yNyA3MC43OCw1NC44NCA2NS44OSw1NS40NyIgZGF0YS1kcmF1dV9pbmRleD0iNCI+PC9wYXRoPjwvc3ZnPg==
      required:
        - annotation
    ReducedOrganization:
      type: object
      properties:
        _id:
          type: string
          format: hex
          description: Organization ID
          example: 67336a3f31ed8ecdc24e0080
        name:
          type: string
          description: Organization Name
          example: Bob
        avatarUrl:
          type: string
          format: uri
          description: URL to the organization's avatar
          example: https://example.com
      required:
        - _id
        - name
        - avatarUrl
    ReducedSpace:
      type: object
      properties:
        _id:
          type: string
          format: uuid
          description: Space ID
          example: 8c773f25-aef8-427c-a009-32b7bb007802
        name:
          type: string
          description: Space Name
          example: Bob
        avatarUrl:
          type: string
          format: uri
          description: URL to the space's avatar
          example: https://example.com
      required:
        - _id
        - name
        - avatarUrl
  parameters: {}
paths:
  /v1/org/{orgName}/spaces:
    post:
      security:
        - bearerAuth:
            - high5:space:write
        - basicAuth:
            - high5:space:write
        - patAuth:
            - high5:space:write
      summary: Create a space
      tags:
        - Space
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
            description: Organization name
          required: true
          name: orgName
          in: path
        - schema:
            type: boolean
            nullable: true
          required: false
          name: noAvatar
          in: query
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpaceCreateDto'
      responses:
        '201':
          description: Created space
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceDto'
        '400':
          description: >-
            Failed to validate 'query' parameter 'noAvatar' | Failed to validate
            'path' parameter 'orgName'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'query' parameter 'noAvatar':
                  summary: Failed to validate 'query' parameter 'noAvatar'
                  description: Failed to validate 'query' parameter 'noAvatar' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'query' parameter 'noAvatar' - {error}
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['high5:space:write'] not included in authorization
            | User's organization role is insufficient. Must be at least ADMIN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['high5:space:write'] not included in authorization:
                  summary: >-
                    Required scopes ['high5:space:write'] not included in
                    authorization
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least ADMIN:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    ADMIN
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 011.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 011.000.0002
                    error: internal.server.error
                    message: something went wrong
    get:
      security:
        - bearerAuth:
            - high5:space:write
        - basicAuth:
            - high5:space:write
        - patAuth:
            - high5:space:write
      summary: List spaces
      tags:
        - Space
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
            description: Organization name
          required: true
          name: orgName
          in: path
        - schema:
            type: number
            minimum: 1
            maximum: 100
            default: 25
            description: Page size
          required: false
          name: limit
          in: query
        - schema:
            type: number
            nullable: true
            minimum: 0
            default: 0
            description: Page index
          required: false
          name: page
          in: query
      responses:
        '200':
          description: Spaces of organization
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpaceDto'
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'query' parameter 'limit' | Failed to validate 'query' parameter
            'page'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'query' parameter 'limit':
                  summary: Failed to validate 'query' parameter 'limit'
                  description: Failed to validate 'query' parameter 'limit' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'query' parameter 'limit' - {error}
                Failed to validate 'query' parameter 'page':
                  summary: Failed to validate 'query' parameter 'page'
                  description: Failed to validate 'query' parameter 'page' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'query' parameter 'page' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['high5:space:write'] not included in authorization
            | User's organization role is insufficient. Must be at least MEMBER
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['high5:space:write'] not included in authorization:
                  summary: >-
                    Required scopes ['high5:space:write'] not included in
                    authorization
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least MEMBER:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    MEMBER
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 011.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 011.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/org/{orgName}/spaces/{spaceName}:
    get:
      security:
        - bearerAuth:
            - high5:space:read
        - basicAuth:
            - high5:space:read
        - patAuth:
            - high5:space:read
      summary: Fetch a space
      tags:
        - Space
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
            description: Organization name
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            minLength: 1
            maxLength: 32
            pattern: ^[\w-.]{1,32}$
            description: Space name
          required: true
          name: spaceName
          in: path
      responses:
        '200':
          description: Requested space
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceDto'
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'spaceName'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'spaceName':
                  summary: Failed to validate 'path' parameter 'spaceName'
                  description: Failed to validate 'path' parameter 'spaceName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'spaceName' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['high5:space:read'] not included in authorization |
            User's organization role is insufficient. Must be at least MEMBER
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['high5:space:read'] not included in authorization:
                  summary: >-
                    Required scopes ['high5:space:read'] not included in
                    authorization
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least MEMBER:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    MEMBER
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found | Given space not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 011.007.0001
                    error: organization.not.found
                    message: Organization not found
                Given space not found:
                  summary: Given space not found
                  value:
                    code: 011.010.0001
                    error: space.not.found
                    message: Given space not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 011.000.0002
                    error: internal.server.error
                    message: something went wrong
    delete:
      security:
        - bearerAuth:
            - cosmo:space:delete
        - basicAuth:
            - cosmo:space:delete
        - patAuth:
            - cosmo:space:delete
      summary: Delete a space
      tags:
        - Space
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
            description: Organization name
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            minLength: 1
            maxLength: 32
            pattern: ^[\w-.]{1,32}$
            description: Space name
          required: true
          name: spaceName
          in: path
      responses:
        '204':
          description: No Content
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'spaceName'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'spaceName':
                  summary: Failed to validate 'path' parameter 'spaceName'
                  description: Failed to validate 'path' parameter 'spaceName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'spaceName' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['cosmo:space:delete'] not included in authorization
            | User's organization role is insufficient. Must be at least MEMBER
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['cosmo:space:delete'] not included in authorization:
                  summary: >-
                    Required scopes ['cosmo:space:delete'] not included in
                    authorization
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least MEMBER:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    MEMBER
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found | Given space not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 011.007.0001
                    error: organization.not.found
                    message: Organization not found
                Given space not found:
                  summary: Given space not found
                  value:
                    code: 011.010.0001
                    error: space.not.found
                    message: Given space not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 011.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/org/{orgName}/spaces/{spaceName}/name:
    patch:
      security:
        - bearerAuth:
            - high5:space:write
        - basicAuth:
            - high5:space:write
        - patAuth:
            - high5:space:write
      summary: Rename a space
      tags:
        - Space
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
            description: Organization name
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            minLength: 1
            maxLength: 32
            pattern: ^[\w-.]{1,32}$
            description: Space name
          required: true
          name: spaceName
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpaceRenameDto'
      responses:
        '200':
          description: Renamed space
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceDto'
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'spaceName'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'spaceName':
                  summary: Failed to validate 'path' parameter 'spaceName'
                  description: Failed to validate 'path' parameter 'spaceName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'spaceName' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['high5:space:write'] not included in authorization
            | User's organization role is insufficient. Must be at least ADMIN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['high5:space:write'] not included in authorization:
                  summary: >-
                    Required scopes ['high5:space:write'] not included in
                    authorization
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least ADMIN:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    ADMIN
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found | Given space not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 011.007.0001
                    error: organization.not.found
                    message: Organization not found
                Given space not found:
                  summary: Given space not found
                  value:
                    code: 011.010.0001
                    error: space.not.found
                    message: Given space not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 011.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/org/{orgName}/spaces/{spaceName}/high5/link/space:
    patch:
      security:
        - bearerAuth:
            - high5:space:write
        - basicAuth:
            - high5:space:write
        - patAuth:
            - high5:space:write
      summary: Link a high5 space to a cosmo space
      tags:
        - Space
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
            description: Organization name
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            minLength: 1
            maxLength: 32
            pattern: ^[\w-.]{1,32}$
            description: Space name
          required: true
          name: spaceName
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/High5SpaceInfoDto'
      responses:
        '200':
          description: LiUpdated space
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceDto'
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'spaceName'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'spaceName':
                  summary: Failed to validate 'path' parameter 'spaceName'
                  description: Failed to validate 'path' parameter 'spaceName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'spaceName' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['high5:space:write'] not included in authorization
            | User's organization role is insufficient. Must be at least OWNER
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['high5:space:write'] not included in authorization:
                  summary: >-
                    Required scopes ['high5:space:write'] not included in
                    authorization
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least OWNER:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    OWNER
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found | Given space not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 011.007.0001
                    error: organization.not.found
                    message: Organization not found
                Given space not found:
                  summary: Given space not found
                  value:
                    code: 011.010.0001
                    error: space.not.found
                    message: Given space not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 011.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/org/{orgName}/spaces/{spaceName}/high5/unlink/space:
    patch:
      security:
        - bearerAuth:
            - high5:space:write
        - basicAuth:
            - high5:space:write
        - patAuth:
            - high5:space:write
      summary: Unlink a high5 space from a cosmo space
      tags:
        - Space
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
            description: Organization name
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            minLength: 1
            maxLength: 32
            pattern: ^[\w-.]{1,32}$
            description: Space name
          required: true
          name: spaceName
          in: path
      responses:
        '200':
          description: Updated space
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceDto'
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'spaceName'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'spaceName':
                  summary: Failed to validate 'path' parameter 'spaceName'
                  description: Failed to validate 'path' parameter 'spaceName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'spaceName' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['high5:space:write'] not included in authorization
            | User's organization role is insufficient. Must be at least OWNER
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['high5:space:write'] not included in authorization:
                  summary: >-
                    Required scopes ['high5:space:write'] not included in
                    authorization
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least OWNER:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    OWNER
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found | Given space not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 011.007.0001
                    error: organization.not.found
                    message: Organization not found
                Given space not found:
                  summary: Given space not found
                  value:
                    code: 011.010.0001
                    error: space.not.found
                    message: Given space not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 011.000.0002
                    error: internal.server.error
                    message: something went wrong
  /v1/org/{orgName}/spaces/{spaceName}/trash:
    put:
      security:
        - bearerAuth:
            - high5:space:write
        - basicAuth:
            - high5:space:write
        - patAuth:
            - high5:space:write
      summary: Move assets to trash bin
      tags:
        - Asset
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\w-+@.]{3,255}$
            description: Organization name
          required: true
          name: orgName
          in: path
        - schema:
            type: string
            minLength: 1
            maxLength: 32
            pattern: ^[\w-.]{1,32}$
            description: Space name
          required: true
          name: spaceName
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetTrashDto'
      responses:
        '200':
          description: List of moved assets
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                      format: uuid
                      description: Asset ID
                      example: d11bdb05-d94a-4aa1-b6e2-32259a2c46e3
                    name:
                      type: string
                      description: Asset Name
                      example: myasset.mov
                    type:
                      type: string
                      enum:
                        - ASSET
                        - SPACE
                        - PRODUCTION
                        - PROJECT
                        - FOLDER
                        - COMMENT
                      description: Item type
                    assetType:
                      type: string
                      enum:
                        - VIDEO
                        - IMAGE
                        - DOCUMENT
                        - UNKNOWN
                        - FOLDER
                      description: Asset Type
                      example: VIDEO
                    breadcrumb:
                      type: array
                      items:
                        $ref: '#/components/schemas/ItemDto'
                    duration:
                      type: number
                      description: Duration of the video if the asset is a video asset
                      example: 29.56
                    frameRate:
                      type: number
                      description: Frame rate of the video if the asset is a video asset
                      example: 25
                    thumbnailUrl:
                      type: string
                      format: uri
                      description: URL of the thumbnail
                      example: https://example.com/thumbnail.jpg
                    previewUrl:
                      type: string
                      format: uri
                      description: URL of the preview
                      example: https://example.com/preview.jpg
                    createDate:
                      type: number
                      minimum: 0
                      description: Date of creation
                      format: UNIX timestamp
                      example: 1747142773233
                    creator:
                      $ref: '#/components/schemas/ReducedUser'
                    upload:
                      type: object
                      properties:
                        url:
                          type: string
                          format: uri
                        token:
                          type: string
                        expiration:
                          type: number
                        libraryId:
                          type: number
                        videoId:
                          type: string
                      required:
                        - url
                        - token
                        - expiration
                    namespaces:
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          status:
                            type: string
                        required:
                          - status
                      description: Information about the asset across namespaces.
                      example: *ref_1
                    permissions:
                      type: array
                      items:
                        type: string
                      description: Allowed operations on the asset
                      example: *ref_2
                  required:
                    - _id
                    - name
                    - type
                    - createDate
                    - creator
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'path' parameter 'spaceName'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'path' parameter 'spaceName':
                  summary: Failed to validate 'path' parameter 'spaceName'
                  description: Failed to validate 'path' parameter 'spaceName' - {error}
                  value:
                    code: 011.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'spaceName' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid | You're
            not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 011.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 011.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 011.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['high5:space:write'] not included in authorization
            | User's organization role is insufficient. Must be at least MEMBER
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['high5:space:write'] not included in authorization:
                  summary: >-
                    Required scopes ['high5:space:write'] not included in
                    authorization
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least MEMBER:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    MEMBER
                  value:
                    code: 011.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: >-
            Organization not found | Given space not found | Asset not found |
            Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 011.007.0001
[...]
