openapi: 3.0.0
info:
  title: hcloud - Auditor
  description: Auditor manages audit logs
  version: 1.0.0
  contact:
    name: MoovIT Software Products GmbH
    url: https://www.moovit-sp.com
    email: info@moovit-sp.com
servers:
  - url: https://eu-central-1.helmut.cloud/api/auditor
    description: EU-Central production server
  - url: https://na-west-1.helmut.cloud/api/auditor
    description: NA-West production server
  - url: https://eu-dev-1.app.helmut.cloud/api/auditor
    description: EU development server
  - url: http://localhost/api/auditor
    description: Localhost
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    patAuth:
      type: http
      scheme: bearer
      bearerFormat: PAT
    basicAuth:
      type: http
      scheme: basic
  schemas:
    CustomError:
      type: object
      properties:
        error:
          type: string
          description: Error name
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Error message
      required:
        - error
        - code
        - message
      description: API errors obey this shape
    Event:
      type: string
      enum:
        - login
        - logout
        - user
        - organization
        - organizationMember
        - team
        - space
        - event
        - stream
        - mail
        - webhook
        - cronjob
        - secret
        - agent
        - avatar
        - serviceAccount
        - database
        - document
        - asset
        - share
        - role
        - group
        - app
      description: Event of the log (login, logout, user, stream, ...)
      example: webhook
    Level:
      type: string
      enum:
        - info
        - warn
        - error
        - debug
      description: Level of the log (info, warn, error, debug, ...)
      example: error
    Origin:
      type: string
      enum:
        - idp
        - high5
        - auditor
        - mailer
        - mothership
        - dali
        - cosmo
      description: Origin of the log (idp, high5, auditor, ...)
      example: mailer
    Type:
      type: string
      enum:
        - read
        - write
        - create
        - update
        - delete
        - execute
        - connect
        - disconnect
        - add
        - remove
        - send
        - receive
      description: Type of the log (read, write, update, ...)
      example: execute
    LicenseTier:
      type: string
      enum:
        - FREE
        - PRO
        - ENTERPRISE
      description: Tier of the license
      example: PRO
    AuditLogDtoWithOrgName:
      type: object
      properties:
        _id:
          type: string
          format: hexadecimal
          description: Unique identifier of this log
          example: 527d1df208337bc792b55f73
        origin:
          $ref: '#/components/schemas/Origin'
        level:
          $ref: '#/components/schemas/Level'
        organizationName:
          type: string
          description: Name of the Organization the log belongs to
        space:
          type: string
          description: Name of the Space
        event:
          $ref: '#/components/schemas/Event'
        user:
          type: string
          description: Name of the user that triggered the audit log
        type:
          $ref: '#/components/schemas/Type'
        timestamp:
          type: number
          minimum: 0
          description: Timestamp in unix format
        message:
          nullable: true
          description: Actual message of the log
        correlationId:
          type: string
          description: Request correlation id
        requestorIp:
          type: string
          description: Ip of the client of the initial request
        assetId:
          type: string
          format: hexadecimal
          description: >-
            Optional asset Id that is just present for events around assets
            (e.g. asset add, comment add to asset, ...)
      required:
        - _id
        - origin
        - level
        - organizationName
        - event
        - user
        - timestamp
        - correlationId
        - requestorIp
      description: Audit log record with organization name
    SearchFilterType:
      type: string
      enum:
        - STRING
        - SELECT
        - MULTISELECT
        - TYPEAHEAD
        - NUMBER
        - DATE
        - BOOLEAN
      description: |-
        * STRING - Filter by a string value
        * SELECT - Filter by a value from a set of possible choices
        * MULTISELECT - Filter by multiple values from a set of possible choices
        * TYPEAHEAD - Filter by ???
        * NUMBER - Filter by a numeric value
        * DATE - Filter by a Date value
        * BOOLEAN - Filter by a boolean flag
      example: NUMBER
    SearchFilterComparatorString:
      type: string
      enum:
        - is
        - is not
        - starts with
        - ends with
        - contains
      description: |-
        * is - String equals the specified string value
        * is not - String does not equal the specified string value
        * starts with - String starts with the specified string value
        * ends with - String ends with the specified string value
        * contains - String contains the specified string value
      example: starts with
    SearchFilterString:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SearchFilterType'
        key:
          type: string
          description: The search key
        comparator:
          $ref: '#/components/schemas/SearchFilterComparatorString'
        value:
          anyOf:
            - type: string
            - type: array
              items:
                type: string
          description: The value searching for
      required:
        - type
        - key
        - comparator
        - value
      description: >-
        Filter for string-based fields, accepts a single string or an array of
        strings as the filter value
    SearchFilterSelect:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SearchFilterType'
        key:
          type: string
          description: The search key
        allowedValues:
          type: array
          items:
            type: string
        comparator:
          $ref: '#/components/schemas/SearchFilterComparatorString'
        value:
          anyOf:
            - type: string
            - type: array
              items:
                type: string
          description: The value searching for
      required:
        - type
        - key
        - allowedValues
        - comparator
        - value
      description: >-
        Filter for fields with predefined selectable values, allows string
        comparators and accepts either a single value or multiple values from
        the allowed set
    SearchFilterMultiSelect:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SearchFilterType'
        key:
          type: string
          description: The search key
        allowedValues:
          type: array
          items:
            type: string
        comparator:
          $ref: '#/components/schemas/SearchFilterComparatorString'
        value:
          type: array
          items:
            type: string
          description: The value searching for
      required:
        - type
        - key
        - allowedValues
        - comparator
        - value
      description: >-
        Filter for fields that support multiple selections from a predefined
        list, accepts an array of strings and applies string-based comparators
    SearchFilterTypeahead:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SearchFilterType'
        key:
          type: string
          description: The search key
        allowedValues:
          type: array
          items:
            type: string
        comparator:
          $ref: '#/components/schemas/SearchFilterComparatorString'
        value:
          type: string
          description: The value searching for
      required:
        - type
        - key
        - allowedValues
        - comparator
        - value
      description: >-
        Filter designed for typeahead fields, accepts a single string value and
        applies string comparators against a list of allowed values
    SearchFilterComparatorNumber:
      type: string
      enum:
        - is
        - is not
        - greater than
        - less than
        - greater than or equal
        - less than or equal
      description: >-
        * is - Number equals the specified numeric value

        * is not - Number does not equal the specified numeric value

        * greater than - Number is greater than the specified numeric value

        * less than - Number is less than the specified numeric value

        * greater than or equal - Number is greater than or equal to the
        specified numeric value

        * less than or equal - Number is less than or equal to the specified
        numeric value
      example: greater than or equal
    SearchFilterNumber:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SearchFilterType'
        key:
          type: string
          description: The search key
        comparator:
          $ref: '#/components/schemas/SearchFilterComparatorNumber'
        value:
          type: number
          description: The value searching for
      required:
        - type
        - key
        - comparator
        - value
      description: Filter for numeric fields, accepts a single number as the filter value
    SearchFilterComparatorDate:
      type: string
      enum:
        - is
        - is not
        - greater than
        - less than
        - greater than or equal
        - less than or equal
      description: >-
        * is - Date equals the specified date value

        * is not - Date does not equal the specified date value

        * greater than - Date is more recent than the specified date value

        * less than - Date is older than the specified date value

        * greater than or equal - Date is more recent or equal to the specified
        date value

        * less than or equal - Date is older than or equal to the specified date
        value
      example: less than
    SearchFilterDate:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SearchFilterType'
        key:
          type: string
          description: The search key
        comparator:
          $ref: '#/components/schemas/SearchFilterComparatorDate'
        value:
          type: number
          description: The value searching for
      required:
        - type
        - key
        - comparator
        - value
      description: >-
        Filter for date or timestamp fields, uses date-based comparators and
        accepts a numeric value representing the date (e.g., Unix timestamp)
    SearchFilterComparatorBoolean:
      type: string
      enum:
        - is
        - is not
      description: |-
        * is - Boolean equals the specified boolean value
        * is not - Boolean does not equal the specified boolean value
      example: is not
    SearchFilterBoolean:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SearchFilterType'
        key:
          type: string
          description: The search key
        comparator:
          $ref: '#/components/schemas/SearchFilterComparatorBoolean'
        value:
          type: boolean
          description: The value searching for
      required:
        - type
        - key
        - comparator
        - value
      description: Filter for boolean fields, accepts a boolean value
    SearchFilter:
      anyOf:
        - $ref: '#/components/schemas/SearchFilterString'
        - $ref: '#/components/schemas/SearchFilterSelect'
        - $ref: '#/components/schemas/SearchFilterMultiSelect'
        - $ref: '#/components/schemas/SearchFilterTypeahead'
        - $ref: '#/components/schemas/SearchFilterNumber'
        - $ref: '#/components/schemas/SearchFilterDate'
        - $ref: '#/components/schemas/SearchFilterBoolean'
      description: Filter for searching
      example:
        type: STRING
        key: name
        comparator: starts with
        value: Editor-
    SortDirection:
      type: string
      enum:
        - ASC
        - DESC
      description: |-
        * ASC - Ascending order
        * DESC - Descending order
      example: DESC
    Sorting:
      type: object
      properties:
        direction:
          $ref: '#/components/schemas/SortDirection'
        fields:
          type: array
          items:
            type: string
            minLength: 1
          description: The fields to consider when performing the sorting of the result
      description: The sorting definition
      example:
        direction: DESC
        fields:
          - name
          - company
    Search:
      type: object
      properties:
        filters:
          type: array
          items:
            $ref: '#/components/schemas/SearchFilter'
          description: A list of filters
        sorting:
          $ref: '#/components/schemas/Sorting'
      description: >-
        Defines the search parameters used to query objects of various types.
        Includes optional filters for narrowing down results and a sorting
        definition to control the order of returned data
      example:
        filters:
          - type: DATE
            key: modifyDate
            comparator: less than
            value: 1681912446650
        sorting:
          direction: DESC
          fields:
            - name
            - company
  parameters: {}
paths:
  /v1/org/{orgName}/logs/search:
    post:
      security:
        - bearerAuth:
            - idp:organization:read
        - basicAuth:
            - idp:organization:read
        - patAuth:
            - idp:organization:read
      summary: >-
        Retrieves all audit logs that match the provided search filter, returns
        all audit logs of the organization if no search filter is provided
      tags:
        - AuditLogs
      parameters:
        - schema:
            anyOf:
              - type: string
                minLength: 3
                maxLength: 64
                pattern: ^(?!-)(?!.*--)[a-zA-Z0-9-.]{3,64}(?<!-)$
                description: >-
                  Name of the organization (only alphanumeric characters,
                  hyphens and dots are allowed; it should contain between 3 and
                  64 characters)
                example: MoovIT-Software-Products-GmbH
              - type: string
                minLength: 3
                maxLength: 255
                pattern: ^[\p{L}\p{M}0-9_+@.-]{3,255}$
                description: >-
                  Name of the user's private organization, allowed everything
                  defined in the RFC for the email specification (it should
                  contain between 3 and 255 characters)
                example: hmc@helmut.cloud
          required: true
          name: orgName
          in: path
        - schema:
            type: number
            minimum: 1
            maximum: 100
            default: 25
            description: Page size
          required: false
          name: limit
          in: query
        - schema:
            type: number
            nullable: true
            minimum: 0
            default: 0
            description: Page index
          required: false
          name: page
          in: query
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
      responses:
        '200':
          description: List of audit logs that match the search filter
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditLogDtoWithOrgName'
        '400':
          description: >-
            Failed to validate 'path' parameter 'orgName' | Failed to validate
            'query' parameter 'limit' | Failed to validate 'query' parameter
            'page'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Failed to validate 'path' parameter 'orgName':
                  summary: Failed to validate 'path' parameter 'orgName'
                  description: Failed to validate 'path' parameter 'orgName' - {error}
                  value:
                    code: 003.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'path' parameter 'orgName' - {error}
                Failed to validate 'query' parameter 'limit':
                  summary: Failed to validate 'query' parameter 'limit'
                  description: Failed to validate 'query' parameter 'limit' - {error}
                  value:
                    code: 003.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'query' parameter 'limit' - {error}
                Failed to validate 'query' parameter 'page':
                  summary: Failed to validate 'query' parameter 'page'
                  description: Failed to validate 'query' parameter 'page' - {error}
                  value:
                    code: 003.000.0003
                    error: invalid.parameter
                    message: Failed to validate 'query' parameter 'page' - {error}
        '401':
          description: >-
            You're not authorized | Expected an authentication token that has
            not been provided | Your authentication token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                You're not authorized:
                  summary: You're not authorized
                  value:
                    code: 003.001.0001
                    error: unauthorized
                    message: You're not authorized
                Expected an authentication token that has not been provided:
                  summary: Expected an authentication token that has not been provided
                  value:
                    code: 003.001.0002
                    error: missing.auth.token
                    message: >-
                      Expected an authentication token that has not been
                      provided
                Your authentication token is invalid:
                  summary: Your authentication token is invalid
                  value:
                    code: 003.001.0003
                    error: wrong.auth.token
                    message: Your authentication token is invalid
        '403':
          description: >-
            Required scopes ['idp:organization:read'] not included in
            authorization | User's organization role is insufficient. Must be at
            least ADMIN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Required scopes ['idp:organization:read'] not included in authorization:
                  summary: >-
                    Required scopes ['idp:organization:read'] not included in
                    authorization
                  value:
                    code: 003.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
                User's organization role is insufficient. Must be at least ADMIN:
                  summary: >-
                    User's organization role is insufficient. Must be at least
                    ADMIN
                  value:
                    code: 003.001.0004
                    error: insufficient.rights
                    message: >-
                      You have not enough rights to access/manipulate this
                      resource
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  summary: Organization not found
                  value:
                    code: 003.007.0001
                    error: organization.not.found
                    message: Organization not found
        '500':
          description: something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                something went wrong:
                  summary: something went wrong
                  value:
                    code: 003.000.0002
                    error: internal.server.error
                    message: something went wrong
