openapi: 3.0.0
info:
  title: hcloud - High5
  description: >-
    High5 handles everything around streams (workflows) that are bounded to
    events (and or webhooks), which are part of an app that is connected to an
    Organization.
  version: 1.0.0
  contact:
    name: MoovIT Software Products GmbH
    url: https://www.moovit-sp.com
    email: info@moovit-sp.com
servers:
  - url: https://eu-central-1.helmut.cloud/api/high5
    description: EU-Central production server
  - url: https://na-west-1.helmut.cloud/api/high5
    description: NA-West production server
  - url: https://eu-dev-1.app.helmut.cloud/api/high5
    description: EU development server
  - url: http://localhost/api/high5
    description: Localhost
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    patAuth:
      type: http
      scheme: bearer
      bearerFormat: PAT
    basicAuth:
      type: http
      scheme: basic
  schemas:
    CustomError:
      type: object
      properties:
        error:
          type: string
          description: Error name
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Error message
      required:
        - error
        - code
        - message
      description: API errors obey this shape
    DatabaseCreateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
          pattern: ^[\w-.]{1,128}$
          description: >-
            Name of the database (only alphanumeric characters, underscores,
            hyphens and dots are allowed; it should contain between 1 and 128
            characters)
          example: Helmut4-Storage
      required:
        - name
      description: Object used to create a database within the specified space
    DatabasePatchDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
          pattern: ^[\w-.]{1,128}$
          description: >-
            Name of the database (only alphanumeric characters, underscores,
            hyphens and dots are allowed; it should contain between 1 and 128
            characters)
          example: Helmut4-Storage
      required:
        - name
      description: Object used to rename a database
    StreamDesign:
      type: object
      properties:
        nodes:
          type: array
          items:
            anyOf:
              - type: object
                properties:
                  name:
                    type: string
                  catalog:
                    anyOf:
                      - type: object
                        properties:
                          version:
                            type: string
                          url:
                            type: string
                      - nullable: true
                      - nullable: true
                  type:
                    type: string
                    enum:
                      - TRIGGER
                  description:
                    type: string
                  color:
                    type: string
                  uuid:
                    type: string
                  connectors:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        description:
                          type: string
                        uuid:
                          type: string
                        io:
                          type: string
                          enum:
                            - INPUT
                            - OUTPUT
                        type:
                          type: string
                          enum:
                            - TRIGGER
                            - SUCCESS
                            - FAIL
                            - CUSTOM
                      required:
                        - name
                        - description
                        - uuid
                        - io
                        - type
                  inputs:
                    type: array
                    items:
                      type: object
                      properties:
                        uuid:
                          type: string
                        name:
                          type: string
                        description:
                          type: string
                        advanced:
                          type: boolean
                        type:
                          type: string
                          enum:
                            - STRING
                            - STRING_LONG
                            - STRING_LIST
                            - STRING_MAP
                            - STRING_READONLY
                            - STRING_SELECT
                            - STRING_PASSWORD
                            - NUMBER
                            - BOOLEAN
                            - ANY
                        example:
                          anyOf:
                            - type: string
                            - type: number
                            - type: boolean
                            - type: array
                              items:
                                type: string
                            - type: object
                              additionalProperties:
                                nullable: true
                            - type: array
                              items:
                                type: object
                                additionalProperties:
                                  nullable: true
                        value:
                          anyOf:
                            - type: string
                            - type: number
                            - type: boolean
                            - type: array
                              items:
                                type: string
                            - type: object
                              additionalProperties:
                                nullable: true
                            - type: array
                              items:
                                type: object
                                additionalProperties:
                                  nullable: true
                        mandatory:
                          type: boolean
                      required:
                        - uuid
                        - name
                        - type
                        - example
                  coords:
                    type: object
                    properties:
                      currentX:
                        type: number
                      currentY:
                        type: number
                      initialX:
                        type: number
                      initialY:
                        type: number
                      xOffset:
                        type: number
                      yOffset:
                        type: number
                    required:
                      - currentX
                      - currentY
                      - initialX
                      - initialY
                  path:
                    type: string
                  kind:
                    type: string
                    enum:
                      - NODE
                  customDescription:
                    type: string
                  bypass:
                    type: boolean
                  version:
                    type: object
                    properties:
                      major:
                        type: number
                      minor:
                        type: number
                      patch:
                        type: number
                      changelog:
                        type: array
                        items:
                          type: string
                    required:
                      - major
                      - minor
                      - patch
                      - changelog
                  breakpoint:
                    type: boolean
                required:
                  - name
                  - description
                  - color
                  - uuid
                  - connectors
                  - inputs
                  - coords
                  - path
                  - kind
                  - version
              - type: object
                properties:
                  name:
                    type: string
                  catalog:
                    nullable: true
                  type:
                    type: string
                    enum:
                      - TRIGGER
                  description:
                    type: string
                  color:
                    type: string
                  uuid:
                    type: string
                  connectors:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        description:
                          type: string
                        uuid:
                          type: string
                        io:
                          type: string
                          enum:
                            - INPUT
                            - OUTPUT
                        type:
                          type: string
                          enum:
                            - TRIGGER
                            - SUCCESS
                            - FAIL
                            - CUSTOM
                      required:
                        - name
                        - description
                        - uuid
                        - io
                        - type
                  inputs:
                    type: array
                    items:
                      type: object
                      properties:
                        uuid:
                          type: string
                        name:
                          type: string
                        description:
                          type: string
                        advanced:
                          type: boolean
                        type:
                          type: string
                          enum:
                            - STRING
                            - STRING_LONG
                            - STRING_LIST
                            - STRING_MAP
                            - STRING_READONLY
                            - STRING_SELECT
                            - STRING_PASSWORD
                            - NUMBER
                            - BOOLEAN
                            - ANY
                        example:
                          anyOf:
                            - type: string
                            - type: number
                            - type: boolean
                            - type: array
                              items:
                                type: string
                            - type: object
                              additionalProperties:
                                nullable: true
                            - type: array
                              items:
                                type: object
                                additionalProperties:
                                  nullable: true
                        value:
                          anyOf:
                            - type: string
                            - type: number
                            - type: boolean
                            - type: array
                              items:
                                type: string
                            - type: object
                              additionalProperties:
                                nullable: true
                            - type: array
                              items:
                                type: object
                                additionalProperties:
                                  nullable: true
                        mandatory:
                          type: boolean
                      required:
                        - uuid
                        - name
                        - type
                        - example
                  coords:
                    type: object
                    properties:
                      currentX:
                        type: number
                      currentY:
                        type: number
                      initialX:
                        type: number
                      initialY:
                        type: number
                      xOffset:
                        type: number
                      yOffset:
                        type: number
                    required:
                      - currentX
                      - currentY
                      - initialX
                      - initialY
                  path:
                    type: string
                  kind:
                    type: string
                    enum:
                      - NODE
                  customDescription:
                    type: string
                  bypass:
                    type: boolean
                  version:
                    type: object
                    properties:
                      major:
                        type: number
                      minor:
                        type: number
                      patch:
                        type: number
                      changelog:
                        type: array
                        items:
                          type: string
                    required:
                      - major
                      - minor
                      - patch
                      - changelog
                  breakpoint:
                    type: boolean
                  customNode:
                    type: object
                    properties:
                      _id:
                        type: string
                    required:
                      - _id
                required:
                  - name
                  - description
                  - color
                  - uuid
                  - connectors
                  - inputs
                  - coords
                  - path
                  - kind
                  - version
                  - customNode
              - type: object
                properties:
                  kind:
                    type: string
                    enum:
                      - ANNOTATION
                  title:
                    type: string
                  originalName:
                    type: string
                  background:
                    type: string
                  version:
                    type: object
                    properties:
                      major:
                        type: number
                      minor:
                        type: number
                      patch:
                        type: number
                      changelog:
                        type: array
                        items:
                          type: string
                  size:
                    type: object
                    properties:
                      height:
                        type: number
                      width:
                        type: number
                    required:
                      - height
                      - width
                  name:
                    type: string
                  catalog:
                    anyOf:
                      - type: object
                        properties:
                          version:
                            type: string
                          url:
                            type: string
                      - nullable: true
                      - nullable: true
                  type:
                    type: string
                    enum:
                      - TRIGGER
                  description:
                    type: string
                  color:
                    type: string
                  uuid:
                    type: string
                  connectors:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        description:
                          type: string
                        uuid:
                          type: string
                        io:
                          type: string
                          enum:
                            - INPUT
                            - OUTPUT
                        type:
                          type: string
                          enum:
                            - TRIGGER
                            - SUCCESS
                            - FAIL
                            - CUSTOM
                      required:
                        - name
                        - description
                        - uuid
                        - io
                        - type
                  inputs:
                    type: array
                    items:
                      type: object
                      properties:
                        uuid:
                          type: string
                        name:
                          type: string
                        description:
                          type: string
                        advanced:
                          type: boolean
                        type:
                          type: string
                          enum:
                            - STRING
                            - STRING_LONG
                            - STRING_LIST
                            - STRING_MAP
                            - STRING_READONLY
                            - STRING_SELECT
                            - STRING_PASSWORD
                            - NUMBER
                            - BOOLEAN
                            - ANY
                        example:
                          anyOf:
                            - type: string
                            - type: number
                            - type: boolean
                            - type: array
                              items:
                                type: string
                            - type: object
                              additionalProperties:
                                nullable: true
                            - type: array
                              items:
                                type: object
                                additionalProperties:
                                  nullable: true
                        value:
                          anyOf:
                            - type: string
                            - type: number
                            - type: boolean
                            - type: array
                              items:
                                type: string
                            - type: object
                              additionalProperties:
                                nullable: true
                            - type: array
                              items:
                                type: object
                                additionalProperties:
                                  nullable: true
                        mandatory:
                          type: boolean
                      required:
                        - uuid
                        - name
                        - type
                        - example
                  coords:
                    type: object
                    properties:
                      currentX:
                        type: number
                      currentY:
                        type: number
                      initialX:
                        type: number
                      initialY:
                        type: number
                      xOffset:
                        type: number
                      yOffset:
                        type: number
                    required:
                      - currentX
                      - currentY
                      - initialX
                      - initialY
                  path:
                    type: string
                required:
                  - kind
                  - title
                  - background
                  - version
                  - size
                  - name
                  - description
                  - color
                  - uuid
                  - connectors
                  - inputs
                  - coords
                  - path
        links:
          type: array
          items:
            type: object
            properties:
              uuid:
                type: string
                format: uuid
              from:
                type: object
                properties:
                  nodeUuid:
                    anyOf:
                      - type: string
                        format: uuid
                      - type: string
                        enum:
                          - '0'
                  connectorUuid:
                    anyOf:
                      - type: string
                        format: uuid
                      - type: string
                        enum:
                          - '0'
                      - type: string
                        enum:
                          - '1'
                required:
                  - nodeUuid
                  - connectorUuid
              to:
                type: object
                properties:
                  nodeUuid:
                    anyOf:
                      - type: string
                        format: uuid
                      - type: string
                        enum:
                          - '0'
                  connectorUuid:
                    anyOf:
                      - type: string
                        format: uuid
                      - type: string
                        enum:
                          - '0'
                      - type: string
                        enum:
                          - '1'
                required:
                  - nodeUuid
                  - connectorUuid
            required:
              - uuid
              - from
              - to
        canvas:
          type: object
          properties:
            width:
              type: number
            height:
              type: number
          required:
            - width
            - height
      required:
        - nodes
        - links
      description: Object containing all information needed to visualize the design in SDS
      example:
        nodes:
          - name: Trigger
            uuid: '0'
            kind: NODE
            type: TRIGGER
            color: '#acacac'
            catalog: {}
            connectors:
              - io: OUTPUT
                name: Trigger
                uuid: '0'
                type: SUCCESS
                description: ''
              - io: OUTPUT
                name: Global fail
                uuid: '1'
                type: FAIL
                description: ''
            coords:
              currentX: 20
              currentY: 20
              initialX: 20
              initialY: 20
              xOffset: 20
              yOffset: 20
            inputs:
              - name: Event
                value: sevtest.circuit
                type: STRING_READONLY
                description: The trigger acts as a starting point for this stream
                uuid: '0'
                example: ''
            version:
              major: 1
              minor: 0
              patch: 0
              changelog:
                - Add global fail output
            path: ''
            description: The starting point for this stream
          - name: Lower Case Action
            uuid: 111f07fc-aa74-4949-be5b-6d282e91010a
            kind: NODE
            color: '#40b5a1'
            catalog: {}
            connectors:
              - name: Input
                uuid: 12fd770c-45d1-42ce-b88b-f463a4d46cf1
                io: INPUT
                type: TRIGGER
                description: ''
              - name: Success
                uuid: 118852bc-97c6-4283-adf5-17aea8171c47
                io: OUTPUT
                type: SUCCESS
                description: ''
              - name: Fail
                uuid: 1b8a6fa1-695c-4178-9008-4566452d2610
                io: OUTPUT
                type: FAIL
                description: ''
            inputs:
              - uuid: dcad1be7-fa3d-4f09-9183-d7f29e3a4d98
                name: String
                description: The string to lower case
                type: STRING
                value: payload.data
                example: FOO-BAR
                mandatory: true
            path: file://./wave-nodes/src/nodes/actions/string/LowerCaseAction.js
            description: Transform a string to lower case
            version:
              major: 1
              minor: 0
              patch: 0
              changelog: []
            coords:
              currentX: 326
              currentY: 319
              initialX: 326
              initialY: 319
        links:
          - uuid: ae0cdb9e-e7d1-49dd-8fae-c62e09541dba
            from:
              nodeUuid: '0'
              connectorUuid: '0'
            to:
              nodeUuid: 111f07fc-aa74-4949-be5b-6d282e91010a
              connectorUuid: 12fd770c-45d1-42ce-b88b-f463a4d46cf1
        canvas:
          width: 1000
          height: 1000
    DesignCreateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 64
          pattern: ^[a-zA-Z-_]{1,64}$
          description: >-
            Name of the design (only alphabet characters, hyphens and
            underscores are allowed; it should contain between 1 and 64
            characters)
          example: Design-application
          deprecated: true
        content:
          $ref: '#/components/schemas/StreamDesign'
        build:
          nullable: true
          description: Deprecated. This property will be ignored.
          deprecated: true
      required:
        - name
        - content
      description: Create design
    DesignOperation:
      anyOf:
        - type: object
          properties:
            target:
              type: string
              enum:
                - NODE
            type:
              type: string
              enum:
                - ADD
            details:
              anyOf:
                - type: object
                  properties:
                    name:
                      type: string
                    catalog:
                      anyOf:
                        - type: object
                          properties:
                            version:
                              type: string
                            url:
                              type: string
                        - nullable: true
                        - nullable: true
                    type:
                      type: string
                      enum:
                        - TRIGGER
                    description:
                      type: string
                    color:
                      type: string
                    uuid:
                      type: string
                    connectors:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          description:
                            type: string
                          uuid:
                            type: string
                          io:
                            type: string
                            enum:
                              - INPUT
                              - OUTPUT
                          type:
                            type: string
                            enum:
                              - TRIGGER
                              - SUCCESS
                              - FAIL
                              - CUSTOM
                        required:
                          - name
                          - description
                          - uuid
                          - io
                          - type
                    inputs:
                      type: array
                      items:
                        type: object
                        properties:
                          uuid:
                            type: string
                          name:
                            type: string
                          description:
                            type: string
                          advanced:
                            type: boolean
                          type:
                            type: string
                            enum:
                              - STRING
                              - STRING_LONG
                              - STRING_LIST
                              - STRING_MAP
                              - STRING_READONLY
                              - STRING_SELECT
                              - STRING_PASSWORD
                              - NUMBER
                              - BOOLEAN
                              - ANY
                          example:
                            anyOf:
                              - type: string
                              - type: number
                              - type: boolean
                              - type: array
                                items:
                                  type: string
                              - type: object
                                additionalProperties:
                                  nullable: true
                              - type: array
                                items:
                                  type: object
                                  additionalProperties:
                                    nullable: true
                          value:
                            anyOf:
                              - type: string
                              - type: number
                              - type: boolean
                              - type: array
                                items:
                                  type: string
                              - type: object
                                additionalProperties:
                                  nullable: true
                              - type: array
                                items:
                                  type: object
                                  additionalProperties:
                                    nullable: true
                          mandatory:
                            type: boolean
                        required:
                          - uuid
                          - name
                          - type
                          - example
                    coords:
                      type: object
                      properties:
                        currentX:
                          type: number
                        currentY:
                          type: number
                        initialX:
                          type: number
                        initialY:
                          type: number
                        xOffset:
                          type: number
                        yOffset:
                          type: number
                      required:
                        - currentX
                        - currentY
                        - initialX
                        - initialY
                    path:
                      type: string
                    kind:
                      type: string
                      enum:
                        - NODE
                    customDescription:
                      type: string
                    bypass:
                      type: boolean
                    version:
                      type: object
                      properties:
                        major:
                          type: number
                        minor:
                          type: number
                        patch:
                          type: number
                        changelog:
                          type: array
                          items:
                            type: string
                      required:
                        - major
                        - minor
                        - patch
                        - changelog
                    breakpoint:
                      type: boolean
                  required:
                    - name
                    - description
                    - color
                    - uuid
                    - connectors
                    - inputs
                    - coords
                    - path
                    - kind
                    - version
                - type: object
                  properties:
                    name:
                      type: string
                    catalog:
                      nullable: true
                    type:
                      type: string
                      enum:
                        - TRIGGER
                    description:
                      type: string
                    color:
                      type: string
                    uuid:
                      type: string
                    connectors:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          description:
                            type: string
                          uuid:
                            type: string
                          io:
                            type: string
                            enum:
                              - INPUT
                              - OUTPUT
                          type:
                            type: string
                            enum:
                              - TRIGGER
                              - SUCCESS
                              - FAIL
                              - CUSTOM
                        required:
                          - name
                          - description
                          - uuid
                          - io
                          - type
                    inputs:
                      type: array
                      items:
                        type: object
                        properties:
                          uuid:
                            type: string
                          name:
                            type: string
                          description:
                            type: string
                          advanced:
                            type: boolean
                          type:
                            type: string
                            enum:
                              - STRING
                              - STRING_LONG
                              - STRING_LIST
                              - STRING_MAP
                              - STRING_READONLY
                              - STRING_SELECT
                              - STRING_PASSWORD
                              - NUMBER
                              - BOOLEAN
                              - ANY
                          example:
                            anyOf:
                              - type: string
                              - type: number
                              - type: boolean
                              - type: array
                                items:
                                  type: string
                              - type: object
                                additionalProperties:
                                  nullable: true
                              - type: array
                                items:
                                  type: object
                                  additionalProperties:
                                    nullable: true
                          value:
                            anyOf:
                              - type: string
                              - type: number
                              - type: boolean
                              - type: array
                                items:
                                  type: string
                              - type: object
                                additionalProperties:
                                  nullable: true
                              - type: array
                                items:
                                  type: object
                                  additionalProperties:
                                    nullable: true
                          mandatory:
                            type: boolean
                        required:
                          - uuid
                          - name
                          - type
                          - example
                    coords:
                      type: object
                      properties:
                        currentX:
                          type: number
                        currentY:
                          type: number
                        initialX:
                          type: number
                        initialY:
                          type: number
                        xOffset:
                          type: number
                        yOffset:
                          type: number
                      required:
                        - currentX
                        - currentY
                        - initialX
                        - initialY
                    path:
                      type: string
                    kind:
                      type: string
                      enum:
                        - NODE
                    customDescription:
                      type: string
                    bypass:
                      type: boolean
                    version:
                      type: object
                      properties:
                        major:
                          type: number
                        minor:
                          type: number
                        patch:
                          type: number
                        changelog:
                          type: array
                          items:
                            type: string
                      required:
                        - major
                        - minor
                        - patch
                        - changelog
                    breakpoint:
                      type: boolean
                    customNode:
                      type: object
                      properties:
                        _id:
                          type: string
                      required:
                        - _id
                  required:
                    - name
                    - description
                    - color
                    - uuid
                    - connectors
                    - inputs
                    - coords
                    - path
                    - kind
                    - version
                    - customNode
                - type: object
                  properties:
                    kind:
                      type: string
                      enum:
                        - ANNOTATION
                    title:
                      type: string
                    originalName:
                      type: string
                    background:
                      type: string
                    version:
                      type: object
                      properties:
                        major:
                          type: number
                        minor:
                          type: number
                        patch:
                          type: number
                        changelog:
                          type: array
                          items:
                            type: string
                    size:
                      type: object
                      properties:
                        height:
                          type: number
                        width:
                          type: number
                      required:
                        - height
                        - width
                    name:
                      type: string
                    catalog:
                      anyOf:
                        - type: object
                          properties:
                            version:
                              type: string
                            url:
                              type: string
                        - nullable: true
                        - nullable: true
                    type:
                      type: string
                      enum:
                        - TRIGGER
                    description:
                      type: string
                    color:
                      type: string
                    uuid:
                      type: string
                    connectors:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          description:
                            type: string
                          uuid:
                            type: string
                          io:
                            type: string
                            enum:
                              - INPUT
                              - OUTPUT
                          type:
                            type: string
                            enum:
                              - TRIGGER
                              - SUCCESS
                              - FAIL
                              - CUSTOM
                        required:
                          - name
                          - description
                          - uuid
                          - io
                          - type
                    inputs:
                      type: array
                      items:
                        type: object
                        properties:
                          uuid:
                            type: string
                          name:
                            type: string
                          description:
                            type: string
                          advanced:
                            type: boolean
                          type:
                            type: string
                            enum:
                              - STRING
                              - STRING_LONG
                              - STRING_LIST
                              - STRING_MAP
                              - STRING_READONLY
                              - STRING_SELECT
                              - STRING_PASSWORD
                              - NUMBER
                              - BOOLEAN
                              - ANY
                          example:
                            anyOf:
                              - type: string
                              - type: number
                              - type: boolean
                              - type: array
                                items:
                                  type: string
                              - type: object
                                additionalProperties:
                                  nullable: true
                              - type: array
                                items:
                                  type: object
                                  additionalProperties:
                                    nullable: true
                          value:
                            anyOf:
                              - type: string
                              - type: number
                              - type: boolean
                              - type: array
                                items:
                                  type: string
                              - type: object
                                additionalProperties:
                                  nullable: true
                              - type: array
                                items:
                                  type: object
                                  additionalProperties:
                                    nullable: true
                          mandatory:
                            type: boolean
                        required:
                          - uuid
                          - name
                          - type
                          - example
                    coords:
                      type: object
                      properties:
                        currentX:
                          type: number
                        currentY:
                          type: number
                        initialX:
                          type: number
                        initialY:
                          type: number
                        xOffset:
                          type: number
                        yOffset:
                          type: number
                      required:
                        - currentX
                        - currentY
                        - initialX
                        - initialY
                    path:
                      type: string
                  required:
                    - kind
                    - title
                    - background
                    - version
                    - size
                    - name
                    - description
                    - color
                    - uuid
                    - connectors
                    - inputs
                    - coords
                    - path
          required:
            - target
            - type
            - details
        - type: object
          properties:
            target:
              type: string
              enum:
                - NODE
            type:
              type: string
              enum:
                - DELETE
            uuid:
              type: string
              format: uuid
          required:
            - target
            - type
            - uuid
        - type: object
          properties:
            target:
              type: string
              enum:
                - NODE
            type:
              type: string
              enum:
                - EDIT
            uuid:
              type: string
              format: uuid
            changes:
              anyOf:
                - type: object
                  properties:
                    customDescription:
                      type: string
                    color:
                      type: string
                    bypass:
                      type: boolean
                    breakpoint:
                      type: boolean
                - type: object
                  properties:
                    customDescription:
                      type: string
                    customNode:
                      type: object
                      properties:
                        _id:
                          type: string
                      required:
                        - _id
                    color:
                      type: string
                    bypass:
                      type: boolean
                    breakpoint:
                      type: boolean
                - type: object
                  properties:
                    color:
                      type: string
          required:
            - target
            - type
            - uuid
            - changes
        - type: object
          properties:
            target:
              type: string
              enum:
                - NODE
            type:
              type: string
              enum:
                - MOVE
            uuid:
              anyOf:
                - type: string
                  format: uuid
                - type: string
                  enum:
                    - '0'
            newCoords:
              type: object
              properties:
                x:
                  type: number
                'y':
                  type: number
              required:
                - x
                - 'y'
          required:
            - target
            - type
            - uuid
            - newCoords
        - type: object
          properties:
            target:
              type: string
              enum:
                - LINK
            type:
              type: string
              enum:
                - LINK
            details:
              type: object
              properties:
                uuid:
                  type: string
                  format: uuid
                from:
                  type: object
                  properties:
                    nodeUuid:
                      anyOf:
                        - type: string
                          format: uuid
                        - type: string
                          enum:
                            - '0'
                    connectorUuid:
                      anyOf:
                        - type: string
                          format: uuid
                        - type: string
                          enum:
                            - '0'
                        - type: string
                          enum:
                            - '1'
                  required:
                    - nodeUuid
                    - connectorUuid
                to:
                  type: object
                  properties:
                    nodeUuid:
                      anyOf:
                        - type: string
                          format: uuid
                        - type: string
                          enum:
                            - '0'
                    connectorUuid:
                      anyOf:
                        - type: string
                          format: uuid
                        - type: string
                          enum:
                            - '0'
                        - type: string
                          enum:
                            - '1'
                  required:
                    - nodeUuid
                    - connectorUuid
              required:
                - uuid
                - from
                - to
          required:
            - target
            - type
            - details
        - type: object
          properties:
            target:
              type: string
              enum:
                - LINK
            type:
              type: string
              enum:
                - UNLINK
            uuid:
              type: string
              format: uuid
          required:
            - target
            - type
            - uuid
      description: Operation to apply to the design
      example:
        target: NODE
        type: MOVE
        uuid: 111f07fc-aa74-4949-be5b-6d282e91010a
        newCoords:
          x: 25
          'y': 25
    DesignPatchDto:
      type: object
      properties:
        hash:
          type: string
          minLength: 64
          maxLength: 64
          pattern: ^[a-f0-9]+$
          description: Current hash of the design
          example: 0cfd5f4e76bf02158951d317babe7979d4f4e6ccce5d6b7f4739d65e15d290af
        operations:
          type: array
          items:
            $ref: '#/components/schemas/DesignOperation'
          description: Operations to apply to the design
      required:
        - hash
        - operations
      description: Patch design parameters
    SnapshotCreateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 64
          pattern: ^[\w-. ]{1,64}$
          description: >-
            Name of the snapshot (only alphanumeric characters, underscores,
            hyphens, dots and spaces are allowed; it should contain between 1
            and 64 characters)
          example: This is version 1.0
      required:
        - name
      description: Object used to create a snapshot
    SnapshotPatchDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 64
          pattern: ^[\w-. ]{1,64}$
          description: >-
            Name of the snapshot (only alphanumeric characters, underscores,
            hyphens, dots and spaces are allowed; it should contain between 1
            and 64 characters)
          example: This is version 1.0
      required:
        - name
      description: Object used to rename a snapshot
    DocumentType:
      type: string
      enum:
        - STRING
        - NUMBER
        - BOOLEAN
        - STRING_LIST
        - NUMBER_LIST
        - BOOLEAN_LIST
        - OBJECT
        - ARRAY
      description: Type of the document value
      example: NUMBER_LIST
    DocumentCreateDto:
      type: object
      properties:
        key:
          type: string
          minLength: 1
          maxLength: 64
          pattern: ^[\w-.]{1,64}$
          description: >-
            Key of the document (only alphanumeric characters, underscores,
            hyphens and dots are allowed; it should contain between 1 and 64
            characters)
          example: My_personal_web-page_address.1
        type:
          $ref: '#/components/schemas/DocumentType'
        value:
          nullable: true
          description: >-
            Document value (data type must match the type specified in the
            "type" field)
        ttl:
          type: number
          minimum: 1
          description: Time-to-live in seconds (undefined if missing)
      required:
        - key
        - type
      description: Data for creating a document with type-dependent value
    DocumentPatchDto:
      type: object
      properties:
        value:
          nullable: true
          description: >-
            Document value - data type must match the type specified in the type
            field of the existing document - for type NUMBER, it must be number;
            for type STRING, it must be string; for type BOOLEAN, it must be
            boolean; for type NUMBER_LIST, it must be Array<number>; for type
            STRING_LIST, it must be Array<string>; for type BOOLEAN_LIST, it
            must be Array<boolean>; for type mixed ARRAY, it must be Array<any>;
            for type OBJECT, it must be object
      description: New value to patch existing document
    EventCreateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
          pattern: ^[\w-.]{1,128}$
          description: >-
            Name of the event (only alphanumeric characters, underscores,
            hyphens and dots are allowed; it should contain between 1 and 128
            characters)
          example: Dev_Camp-2025.1
      required:
        - name
      description: Event create data
    EventPatchDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
          pattern: ^[\w-.]{1,128}$
          description: >-
            Name of the event (only alphanumeric characters, underscores,
            hyphens and dots are allowed; it should contain between 1 and 128
            characters)
          example: Dev_Camp-2025.1
      required:
        - name
      description: New name to rename the event
    AgentInfoDto:
      type: object
      properties:
        bundleVersion:
          type: string
          description: Bundle version of the Agent
          example: 1.7.2
        osRelease:
          type: string
          description: Release name of the OS the Agent is running on
          example: Ubuntu 22.04.3 LTS (Jammy Jellyfish)
        osVersion:
          type: string
          description: Version of the OS the Agent is running on
          example: 5.15.0-91-generic (Linux kernel)
        cpu:
          type: string
          description: Details about the CPU used on the Agent's machine
          example: Intel(R) Core(TM) i7-1365U
        cpuArchitecture:
          type: string
          description: The CPU architecture on the Agent's machine
          example: x86
        ip:
          type: string
          description: Agent's public IP address
          example: 172.16.254.1
      description: Information about the Agent's environment and hardware
      example:
        bundleVersion: 1.7.2
        osRelease: Ubuntu 22.04.3 LTS (Jammy Jellyfish)
        osVersion: 5.15.0-91-generic (Linux kernel)
        cpu: Intel(R) Core(TM) i7-1365U
        cpuArchitecture: x86
        ip: 172.16.254.1
    High5ExecutionCrashDto:
      type: object
      properties:
        message:
          type: string
          maxLength: 4096
          description: Crash log
      description: Crash log details
    High5ExecutionState:
      type: string
      enum:
        - QUEUED
        - RUNNING
        - WAITING
        - COMPLETED
      description: Status of the execution
      example: WAITING
    High5ExecutionOutcome:
      type: string
      enum:
        - PENDING
        - SUCCESS
        - FAILED
        - CANCELED
      description: Outcome of the execution
      example: PENDING
    StreamRunningNodeDto:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          description: Uuid to exclusively identify the node
          example: 6fc0e378-c714-4213-ba6f-bf227d2c49e8
        name:
          type: string
          maxLength: 255
          description: Name of the node
          example: Lower Case Action Node
        progress:
          type: number
          description: The node's progress
          example: 100
        message:
          type: string
          description: >-
            Message indicating current action that is being performed inside the
            node
          example: Successfully converted input to lower case
      required:
        - uuid
        - name
        - progress
        - message
      description: Details about running node
      example:
        uuid: 6fc0e378-c714-4213-ba6f-bf227d2c49e8
        name: Lower Case Action Node
        progress: 100
        message: Successfully converted input to lower case
    High5ExecutionPatchStatus:
      type: object
      properties:
        streamId:
          type: string
          minLength: 24
          maxLength: 24
          pattern: ^[a-fA-F0-9]{24}$
          description: >-
            ID of the stream (ObjectId identifier, consists of 24 hexadecimal
            digits)
          example: 76194791721d55d3a5051092
        state:
          $ref: '#/components/schemas/High5ExecutionState'
        outcome:
          $ref: '#/components/schemas/High5ExecutionOutcome'
        runningNodes:
          type: array
          items:
            $ref: '#/components/schemas/StreamRunningNodeDto'
          description: Currently running nodes
        message:
          type: string
          description: Optional message describing the status and outcome
          example: Stream completed successfully
        startDate:
          type: number
          description: Start date of execution (timestamp)
          example: 1692274988700
        endDate:
          type: number
          description: End date of execution (timestamp)
          example: 1692274999100
        agentInfo:
          allOf:
            - $ref: '#/components/schemas/AgentInfoDto'
            - description: Info about the Agent
      required:
        - streamId
      description: >-
        Object holding the current state of the stream and the result after
        stream is finished
      example:
        streamId: 64f1c2a9e4b0f1a2c3d4e5f6
        state: QUEUED
        outcome: PENDING
        runningNodes:
          - uuid: 6fc0e378-c714-4213-ba6f-bf227d2c49e8
            name: Lower Case Action Node
            progress: 100
            message: Successfully converted input to lower case
        startDate: 1727351468.96689
        message: Execution in progress
    StreamNodeSpecificationInputType:
      type: string
      enum:
        - STRING
        - STRING_LONG
        - STRING_LIST
        - STRING_MAP
        - STRING_READONLY
        - STRING_SELECT
        - STRING_PASSWORD
        - NUMBER
        - BOOLEAN
        - ANY
      description: Type of the input
      example: STRING
    StreamNodeResolvedInputs:
      type: object
      properties:
        name:
          type: string
          description: Name of the input
          example: Response-Status
        originalValue:
          nullable: true
          description: Original value of the input
          example: '{''foo'':''bar''}'
        value:
          nullable: true
          description: Resolved value of the input
          example:
            foo: bar
        type:
          $ref: '#/components/schemas/StreamNodeSpecificationInputType'
        error:
          type: boolean
          description: Indicates if the input has an error
          example: false
        errorMessage:
          type: string
          description: Error message
          example: Invalid format of the string
      required:
        - name
      description: Schema representing a resolved input for a stream node
    StreamNodeSpecificationOutputType:
      type: string
      enum:
        - STRING
        - STRING_LONG
        - STRING_LIST
        - STRING_MAP
        - STRING_READONLY
        - NUMBER
        - BOOLEAN
        - ANY
        - JSON
        - XML
        - HTML
      description: Type of the output
      example: NUMBER
    StreamNodeOutput:
      type: object
      properties:
        name:
          type: string
          description: Name of the output
          example: result
        value:
          nullable: true
          description: Value of the output
          example: 42
        type:
          $ref: '#/components/schemas/StreamNodeSpecificationOutputType'
      description: Schema representing a single output of a stream node
    StreamNodeResultError:
      type: object
      properties:
        code:
          type: number
          description: Error code
          example: 400
        message:
          type: string
          description: Error message
          example: Invalid input data
        detail:
          nullable: true
          description: Error detail
          example:
            expected: number
            received: string
        trace:
          type: string
          description: Error trace
          example: at StreamNode.run (/src/stream/node.ts:45:13)
      required:
        - code
        - message
      description: Error if the node failed
    CatalogInfo:
      type: object
      nullable: true
      properties:
        name:
          type: string
          description: Catalog name
        _id:
          type: string
          minLength: 24
          maxLength: 24
          pattern: ^[a-fA-F0-9]{24}$
          description: >-
            ID of the catalog (ObjectId identifier, consists of 24 hexadecimal
            digits)
          example: 873b7de208337dc792b65f21
        url:
          type: string
          format: uri
          description: Catalog URL
          example: https://example.com/catalogs/2.5.7
        version:
          type: string
          description: Catalog version
          example: 2.5.7
      required:
        - url
        - version
      description: >-
        Catalog containing the node. During node development this will be
        undefined.
    NodeType:
      type: string
      enum:
        - CUSTOM
        - CATALOG
      description: Type of the node
      example: CATALOG
    NodeInfo:
      type: object
      properties:
        runTime:
          type: number
          minimum: 0
          description: Total runtime of the node
          example: 1250
        catalog:
          $ref: '#/components/schemas/CatalogInfo'
        color:
          type: string
          description: Color of the node on the canvas
          example: '#FF5733'
        nodeType:
          $ref: '#/components/schemas/NodeType'
      required:
        - runTime
      description: Information about the node
    StreamSingleNodeResultDto:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          description: UUID of the result
          example: 111f07fc-aa74-4949-be5b-6d282e91010a
        nodeUuid:
          type: string
          format: uuid
          description: UUID of the node
          example: 486a07fc-aa74-4949-be5b-7d282e91010a
        failed:
          type: boolean
          description: Indicates if the node failed or not
          example: false
        startTimestamp:
          type: number
          description: Timestamp when the node started
          example: 1774047958
        endTimestamp:
          type: number
          description: Timestamp when the node ended
          example: 1775931417
        name:
          type: string
          description: Name of the node
          example: Lower Case Action
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/StreamNodeResolvedInputs'
          description: Nodes inputs
        outputs:
          type: array
          items:
            $ref: '#/components/schemas/StreamNodeOutput'
          description: Nodes outputs
        error:
          $ref: '#/components/schemas/StreamNodeResultError'
        logs:
          type: array
          items:
            type: string
          description: Logs created during node execution
          example:
            - Started execution
            - Completed successfully
        duration:
          type: number
          description: Duration the node took for execution in ms
          example: 1045
        bypassed:
          type: boolean
          description: Indicates if the node was bypassed
          example: false
        waiting:
          type: boolean
          description: Indicates if the node is waiting
          example: false
        info:
          $ref: '#/components/schemas/NodeInfo'
        additionalConnectorRoot:
          type: string
          description: >-
            If node is part of a node chain that was triggered by an additional
            connector, this field will hold the UUID of the root node (the one
            with the additional connector)
          example: 293f07fc-aa74-4949-be5b-6d282e91011b
        nodeResults:
          type: array
          description: Nested results of the executed nodes from additional adapters
          items:
            $ref: '#/components/schemas/StreamSingleNodeResultDto'
      required:
        - uuid
        - nodeUuid
        - startTimestamp
        - name
      description: Schema representing the result of a single stream node execution
    High5ExecutionPatchLogDto:
      type: object
      properties:
        streamId:
          type: string
          minLength: 24
          maxLength: 24
          pattern: ^[a-fA-F0-9]{24}$
          description: >-
            ID of the stream (ObjectId identifier, consists of 24 hexadecimal
            digits)
          example: 76194791721d55d3a5051092
        nodeResults:
          type: array
          items:
            $ref: '#/components/schemas/StreamSingleNodeResultDto'
          description: List of single node results
        nodeResultsToRemove:
          type: array
          items:
            type: string
            format: uuid
          description: List of UUIDs of node results to remove
      required:
        - streamId
        - nodeResults
      description: Object holding the logs of the stream
      example:
        streamId: 63d25fd476a3b9de98d49ea3
        nodeResults:
          - uuid: 1ea87ea6-d5af-4d55-bfb8-8eb4169b0d15
            nodeUuid: 2a787ea6-d5af-4d55-bfb8-8eb4169b0d17
            failed: false
            startTimestamp: 1692274990716
            endTimestamp: 1692275090717
            name: Lower Case Action
            inputs:
              - name: String
                originalValue: '{{payload.data}}'
                value: '{''FOO'':''BAR''}'
                type: STRING
            outputs:
              - name: String
                value: '{''foo'':''bar''}'
                type: STRING
    High5ExecutionPatchDto:
      type: object
      properties:
        high5ExecutionPatchStatus:
          $ref: '#/components/schemas/High5ExecutionPatchStatus'
        high5ExecutionPatchLog:
          $ref: '#/components/schemas/High5ExecutionPatchLogDto'
      required:
        - high5ExecutionPatchStatus
        - high5ExecutionPatchLog
      description: Data to patch both the stream execution result and its logs
    High5ExecutionPatchStatusDto:
      type: object
      properties:
        streamId:
          type: string
          minLength: 24
          maxLength: 24
          pattern: ^[a-fA-F0-9]{24}$
          description: >-
            ID of the stream (ObjectId identifier, consists of 24 hexadecimal
            digits)
          example: 76194791721d55d3a5051092
        state:
          $ref: '#/components/schemas/High5ExecutionState'
        outcome:
          $ref: '#/components/schemas/High5ExecutionOutcome'
        runningNodes:
          type: array
          items:
            $ref: '#/components/schemas/StreamRunningNodeDto'
          description: Currently running nodes
        message:
          type: string
          description: Optional message describing the status and outcome
          example: Stream completed successfully
        startDate:
          type: number
          description: Start date of execution (timestamp)
          example: 1692274988700
        endDate:
          type: number
          description: End date of execution (timestamp)
          example: 1692274999100
        agentInfo:
          allOf:
            - $ref: '#/components/schemas/AgentInfoDto'
            - description: Info about the Agent
      required:
        - streamId
      description: Data for updating the status of a High5 stream execution
    High5ExecutionPayloadType:
      type: string
      enum:
        - JSON
        - GENERIC
      description: The type of the payload
      example: GENERIC
    High5ExecutionRequestDto:
      type: object
      properties:
        payload:
          type: object
          properties:
            type:
              $ref: '#/components/schemas/High5ExecutionPayloadType'
            data:
              type: string
          required:
            - type
            - data
          description: Stream execution payload
        target:
          type: string
          description: Target that executes the stream. Can be a user email or pool name.
        dry:
          type: boolean
          description: >-
            Definition whether the execution should be a dry run or not.
            Standard is false
        parentExecutionSecret:
          type: string
          description: >-
            Secret of the parent execution, present when Execution is triggered
            in Trigger Stream node
      required:
        - payload
        - target
      description: Request for the execution
    CommandType:
      type: string
      enum:
        - STEP_FORWARD
        - CONTINUE
        - STEP_BACK
        - SET_VALUE
        - REPLACE_NODE
        - RESTART
      description: Type of the command
      example: STEP_BACK
    IssueDebugCommandDto:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/CommandType'
        uuid:
          type: string
          format: uuid
          description: Node result UUID
        key:
          type: string
          description: Key to set in the SET_VALUE command
        value:
          nullable: true
          description: Value to set in the SET_VALUE command
        node:
          anyOf:
            - type: object
              properties:
                name:
                  type: string
                catalog:
                  anyOf:
                    - type: object
                      properties:
                        version:
                          type: string
                        url:
                          type: string
                    - nullable: true
                    - nullable: true
                type:
                  type: string
                  enum:
                    - TRIGGER
                description:
                  type: string
                color:
                  type: string
                uuid:
                  type: string
                connectors:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      description:
                        type: string
                      uuid:
                        type: string
                      io:
                        type: string
                        enum:
                          - INPUT
                          - OUTPUT
                      type:
                        type: string
                        enum:
                          - TRIGGER
                          - SUCCESS
                          - FAIL
                          - CUSTOM
                    required:
                      - name
                      - description
                      - uuid
                      - io
                      - type
                inputs:
                  type: array
                  items:
                    type: object
                    properties:
                      uuid:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      advanced:
                        type: boolean
                      type:
                        type: string
                        enum:
                          - STRING
                          - STRING_LONG
                          - STRING_LIST
                          - STRING_MAP
                          - STRING_READONLY
                          - STRING_SELECT
                          - STRING_PASSWORD
                          - NUMBER
                          - BOOLEAN
                          - ANY
                      example:
                        anyOf:
                          - type: string
                          - type: number
                          - type: boolean
                          - type: array
                            items:
                              type: string
                          - type: object
                            additionalProperties:
                              nullable: true
                          - type: array
                            items:
                              type: object
                              additionalProperties:
                                nullable: true
                      value:
                        anyOf:
                          - type: string
                          - type: number
                          - type: boolean
                          - type: array
                            items:
                              type: string
                          - type: object
                            additionalProperties:
                              nullable: true
                          - type: array
                            items:
                              type: object
                              additionalProperties:
                                nullable: true
                      mandatory:
                        type: boolean
                    required:
                      - uuid
                      - name
                      - type
                      - example
                coords:
                  type: object
                  properties:
                    currentX:
                      type: number
                    currentY:
                      type: number
                    initialX:
                      type: number
                    initialY:
                      type: number
                    xOffset:
                      type: number
                    yOffset:
                      type: number
                  required:
                    - currentX
                    - currentY
                    - initialX
                    - initialY
                path:
                  type: string
                kind:
                  type: string
                  enum:
                    - NODE
                customDescription:
                  type: string
                bypass:
                  type: boolean
                version:
                  type: object
                  properties:
                    major:
                      type: number
                    minor:
                      type: number
                    patch:
                      type: number
                    changelog:
                      type: array
                      items:
                        type: string
                  required:
                    - major
                    - minor
                    - patch
                    - changelog
                breakpoint:
                  type: boolean
              required:
                - name
                - description
                - color
                - uuid
                - connectors
                - inputs
                - coords
                - path
                - kind
                - version
            - type: object
              properties:
                name:
                  type: string
                catalog:
                  nullable: true
                type:
                  type: string
                  enum:
                    - TRIGGER
                description:
                  type: string
                color:
                  type: string
                uuid:
                  type: string
                connectors:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      description:
                        type: string
                      uuid:
                        type: string
                      io:
                        type: string
                        enum:
                          - INPUT
                          - OUTPUT
                      type:
                        type: string
                        enum:
                          - TRIGGER
                          - SUCCESS
                          - FAIL
                          - CUSTOM
                    required:
                      - name
                      - description
                      - uuid
                      - io
                      - type
                inputs:
                  type: array
                  items:
                    type: object
                    properties:
                      uuid:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      advanced:
                        type: boolean
                      type:
                        type: string
                        enum:
                          - STRING
                          - STRING_LONG
                          - STRING_LIST
                          - STRING_MAP
                          - STRING_READONLY
                          - STRING_SELECT
                          - STRING_PASSWORD
                          - NUMBER
                          - BOOLEAN
                          - ANY
                      example:
                        anyOf:
                          - type: string
                          - type: number
                          - type: boolean
                          - type: array
                            items:
                              type: string
                          - type: object
                            additionalProperties:
                              nullable: true
                          - type: array
                            items:
                              type: object
                              additionalProperties:
                                nullable: true
                      value:
                        anyOf:
                          - type: string
                          - type: number
                          - type: boolean
                          - type: array
                            items:
                              type: string
                          - type: object
                            additionalProperties:
                              nullable: true
                          - type: array
                            items:
                              type: object
                              additionalProperties:
                                nullable: true
                      mandatory:
                        type: boolean
                    required:
                      - uuid
                      - name
                      - type
                      - example
                coords:
                  type: object
                  properties:
                    currentX:
                      type: number
                    currentY:
                      type: number
                    initialX:
                      type: number
                    initialY:
                      type: number
                    xOffset:
                      type: number
                    yOffset:
                      type: number
                  required:
                    - currentX
                    - currentY
                    - initialX
                    - initialY
                path:
                  type: string
                kind:
                  type: string
                  enum:
                    - NODE
                customDescription:
                  type: string
                bypass:
                  type: boolean
                version:
                  type: object
                  properties:
                    major:
                      type: number
                    minor:
                      type: number
                    patch:
                      type: number
                    changelog:
                      type: array
                      items:
                        type: string
                  required:
                    - major
                    - minor
                    - patch
                    - changelog
                breakpoint:
                  type: boolean
                customNode:
                  type: object
                  properties:
                    _id:
                      type: string
                  required:
                    - _id
              required:
                - name
                - description
                - color
                - uuid
                - connectors
                - inputs
                - coords
                - path
                - kind
                - version
                - customNode
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                    - ANNOTATION
                title:
                  type: string
                originalName:
                  type: string
                background:
                  type: string
                version:
                  type: object
                  properties:
                    major:
                      type: number
                    minor:
                      type: number
                    patch:
                      type: number
                    changelog:
                      type: array
                      items:
                        type: string
                size:
                  type: object
                  properties:
                    height:
                      type: number
                    width:
                      type: number
                  required:
                    - height
                    - width
                name:
                  type: string
                catalog:
                  anyOf:
                    - type: object
                      properties:
                        version:
                          type: string
                        url:
                          type: string
                    - nullable: true
                    - nullable: true
                type:
                  type: string
                  enum:
                    - TRIGGER
                description:
                  type: string
                color:
                  type: string
                uuid:
                  type: string
                connectors:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      description:
                        type: string
                      uuid:
                        type: string
                      io:
                        type: string
                        enum:
                          - INPUT
                          - OUTPUT
                      type:
                        type: string
                        enum:
                          - TRIGGER
                          - SUCCESS
                          - FAIL
                          - CUSTOM
                    required:
                      - name
                      - description
                      - uuid
                      - io
                      - type
                inputs:
                  type: array
                  items:
                    type: object
                    properties:
                      uuid:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      advanced:
                        type: boolean
                      type:
                        type: string
                        enum:
                          - STRING
                          - STRING_LONG
                          - STRING_LIST
                          - STRING_MAP
                          - STRING_READONLY
                          - STRING_SELECT
                          - STRING_PASSWORD
                          - NUMBER
                          - BOOLEAN
                          - ANY
                      example:
                        anyOf:
                          - type: string
                          - type: number
                          - type: boolean
                          - type: array
                            items:
                              type: string
                          - type: object
                            additionalProperties:
                              nullable: true
                          - type: array
                            items:
                              type: object
                              additionalProperties:
                                nullable: true
                      value:
                        anyOf:
                          - type: string
                          - type: number
                          - type: boolean
                          - type: array
                            items:
                              type: string
                          - type: object
                            additionalProperties:
                              nullable: true
                          - type: array
                            items:
                              type: object
                              additionalProperties:
                                nullable: true
                      mandatory:
                        type: boolean
                    required:
                      - uuid
                      - name
                      - type
                      - example
                coords:
                  type: object
                  properties:
                    currentX:
                      type: number
                    currentY:
                      type: number
                    initialX:
                      type: number
                    initialY:
                      type: number
                    xOffset:
                      type: number
                    yOffset:
                      type: number
                  required:
                    - currentX
                    - currentY
                    - initialX
                    - initialY
                path:
                  type: string
              required:
                - kind
                - title
                - background
                - version
                - size
                - name
                - description
                - color
                - uuid
                - connectors
                - inputs
                - coords
                - path
          description: Stream node to replace
      required:
        - type
        - node
      description: Issue debug command
    CronjobExpressionPatchDto:
      type: object
      properties:
        expression:
          type: string
          minLength: 1
          maxLength: 256
          description: Quartz cron expression
      required:
        - expression
      description: Object for patching cronjob expression
    CronPatternDto:
      type: object
      properties:
        expression:
          type: string
          minLength: 1
          maxLength: 255
          description: Quartz cron expression
          example: 0 0 * * *
        timezone:
          type: string
          description: Timezone of the Quartz expression in IANA format, e.g. Europe/Berlin
          example: Europe/Vatican
        amount:
          type: integer
          minimum: 1
          maximum: 10
          default: 3
          description: Amount of returned execution-dates
          example: 3
      required:
        - expression
        - timezone
      description: Data for defining a cron pattern with timezone and optional amount
    JobCreateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 64
          pattern: ^.{1,64}$
          description: Name of the cron job (it should contain between 1 and 64 characters)
          example: My cron job
        expression:
          type: string
          minLength: 1
          maxLength: 255
          description: Quartz cron expression
          example: 0 0 * * *
        targetEventId:
          type: string
          minLength: 24
          maxLength: 24
          format: hexadecimal
          description: ID of the target event
          example: 63c7e6e4eae82d8001b65305
        timezone:
          type: string
          description: Timezone of the Quartz expression in IANA format, e.g. Europe/Berlin
          example: Europe/Vatican
        description:
          type: string
          minLength: 1
          maxLength: 255
          description: Description of the cron job
          example: Triggers daily report generation
        payload:
          type: string
          description: Execution payload, limited to 1024kb
        enabled:
          type: boolean
          description: Whether the job is enabled
          example: true
        lastStatus:
          type: number
          description: HTTP status code of the cron job last execution result
          example: 200
        lastTriggered:
          type: number
          description: Last triggered date of the cron job as unix timestamp
          example: 1692275090717
        time:
          oneOf:
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - minute
                values:
                  type: object
                  properties:
                    minute:
                      type: number
                      minimum: 0
                      maximum: 59
                  required:
                    - minute
              required:
                - type
                - values
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - hour
                values:
                  type: object
                  properties:
                    hour:
                      type: number
                      minimum: 0
                      maximum: 23
                  required:
                    - hour
              required:
                - type
                - values
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - day
                values:
                  type: object
                  properties:
                    hour:
                      type: number
                      minimum: 0
                      maximum: 23
                    minute:
                      type: number
                      minimum: 0
                      maximum: 59
                  required:
                    - hour
                    - minute
              required:
                - type
                - values
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - month
                values:
                  type: object
                  properties:
                    day:
                      type: number
                      minimum: 0
                      maximum: 30
                    hour:
                      type: number
                      minimum: 0
                      maximum: 23
                    minute:
                      type: number
                      minimum: 0
                      maximum: 59
                  required:
                    - day
                    - hour
                    - minute
              required:
                - type
                - values
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - year
                values:
                  type: object
                  properties:
                    month:
                      type: number
                      minimum: 0
                      maximum: 11
                    day:
                      type: number
                      minimum: 0
                      maximum: 30
                    hour:
                      type: number
                      minimum: 0
                      maximum: 23
                    minute:
                      type: number
                      minimum: 0
                      maximum: 59
                  required:
                    - month
                    - day
                    - hour
                    - minute
              required:
                - type
                - values
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - custom
                values:
                  type: object
                  properties:
                    year:
                      type: number
                      minimum: 0
                    month:
                      type: number
                      minimum: 0
                      maximum: 11
                    day:
                      type: number
                      minimum: 0
                      maximum: 30
                    hour:
                      type: number
                      minimum: 0
                      maximum: 23
                    minute:
                      type: number
                      minimum: 0
                      maximum: 59
                  required:
                    - year
                    - month
                    - day
                    - hour
                    - minute
              required:
                - type
                - values
          description: >-
            Optional data related to the resolved expression (used on the
            frontend only)
      required:
        - name
        - expression
        - targetEventId
        - timezone
      description: Data for creating a new cron job
    JobEnabledPatchDto:
      type: object
      properties:
        enabled:
          type: boolean
          description: Flag indicating whether the job is active and scheduled to run
          example: true
      required:
        - enabled
      description: Enable or disable a job
    Header:
      type: object
      properties:
        key:
          type: string
          description: Name of the HTTP header
          example: X-HCloud-Correlation-ID
        value:
          type: string
          description: Value assigned to the HTTP header
          example: 0199ce25-f8ab-72bf-9471-3c9e547c6ba0
      required:
        - key
        - value
      description: Single HTTP request header represented as key-value pair
    JobLogCreateDto:
      type: object
      properties:
        statusCode:
          type: number
          description: Status code of the request triggered by the cronjob
          example: 200
        headers:
          type: array
          items:
            $ref: '#/components/schemas/Header'
[...]
