openapi: 3.0.0
info:
  title: hcloud - High5
  version: 0.0.107-1658
  contact:
    name: MoovIT Software Products GmbH
    url: https://www.moovit-sp.com
    email: info@moovit-sp.com
  description: >-
    High5 handles everything around streams (workflows) that are bounded to
    events (and or webhooks), which are part of an app that is connected to an
    Organization.
servers:
  - url: https://eu-central-1.helmut.cloud/api/high5
    description: EU-Central production server
  - url: https://na-west-1.helmut.cloud/api/high5
    description: NA-West production server
  - url: https://eu-dev-1.app.helmut.cloud/api/high5
    description: EU development server
  - url: http://localhost/api/high5
    description: Localhost
paths:
  /v1/org/{orgName}/spaces/{spaceName}/events/{eventName}/streams/{streamId}/design:
    get:
      tags:
        - Design
      summary: Get a stream's design
      description: |-

        Required organization role: MEMBER\
        Required space permission: READ\
        Required scopes: HIGH5_SPACE_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
        - name: eventName
          in: path
          description: Name of the event
          required: true
          schema:
            type: string
        - name: streamId
          in: path
          description: ID of the stream
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Design object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesignDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid event name:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid stream ID:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least READ:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                DesignNotFoundException:
                  $ref: '#/components/examples/DesignNotFoundException'
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Event not found:
                  $ref: '#/components/examples/EventNotFoundException'
                Stream not found:
                  $ref: '#/components/examples/StreamNotFoundException'
        default:
          description: Unexpected error
    put:
      tags:
        - Design
      summary: Create a new design for a stream
      description: |-

        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: HIGH5_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
        - name: eventName
          in: path
          description: Name of the event
          required: true
          schema:
            type: string
        - name: streamId
          in: path
          description: ID of the stream
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DesignCreateDto'
      responses:
        '201':
          description: Design object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesignDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid event name:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid stream ID:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Event not found:
                  $ref: '#/components/examples/EventNotFoundException'
                Stream not found:
                  $ref: '#/components/examples/StreamNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/events/{eventName}/streams/{streamId}/design/operations:
    patch:
      tags:
        - Design
      summary: Apply a set of operations to a Design
      description: |-

        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: HIGH5_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
        - name: eventName
          in: path
          description: Name of the event
          required: true
          schema:
            type: string
        - name: streamId
          in: path
          description: ID of the stream
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DesignPatchDto'
        required: true
      responses:
        '200':
          description: Design object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesignDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                DesignHashMismatchException:
                  $ref: '#/components/examples/DesignHashMismatchException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid event name:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid stream ID:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                DesignNotFoundException:
                  $ref: '#/components/examples/DesignNotFoundException'
                DesignNodeNotFoundException:
                  $ref: '#/components/examples/DesignNodeNotFoundException'
                DesignLinkNotFoundException:
                  $ref: '#/components/examples/DesignLinkNotFoundException'
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Event not found:
                  $ref: '#/components/examples/EventNotFoundException'
                Stream not found:
                  $ref: '#/components/examples/StreamNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/events/search:
    post:
      tags:
        - Event
      summary: Search events of a space
      description: |-

        Required organization role: MEMBER\
        Required space permission: READ\
        Required scopes: HIGH5_SPACE_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/PageParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
      responses:
        '200':
          description: List of events that match the search filter
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid body:
                  $ref: '#/components/examples/InvalidBodyException'
                  summary: Invalid body
                Invalid filter:
                  $ref: '#/components/examples/InvalidFilterException'
                  summary: Invalid search filter
                Invalid pagination parameters (limit/page):
                  $ref: '#/components/examples/InvalidParameterException'
                  summary: Invalid limit or page
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least READ:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/events/{eventName}:
    get:
      tags:
        - Event
      summary: Search for an event by it's name
      description: |-

        Required organization role: MEMBER\
        Required space permission: READ\
        Required scopes: HIGH5_SPACE_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
        - name: eventName
          in: path
          description: Name of the event
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Event object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid event name:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least READ:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Event not found:
                  $ref: '#/components/examples/EventNotFoundException'
        default:
          description: Unexpected error
    delete:
      tags:
        - Event
      summary: Delete an event by it's name
      description: |-

        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: HIGH5_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
        - name: eventName
          in: path
          description: Name of the event
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No content
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid event name:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Event not found:
                  $ref: '#/components/examples/EventNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/events:
    post:
      tags:
        - Event
      summary: Create a new event for a space
      description: |-

        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: HIGH5_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventCreateDto'
      responses:
        '201':
          description: Event object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDto'
        '400':
          description: Bad request exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                EventNameInUseException:
                  $ref: '#/components/examples/EventNameInUseException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/events/{eventName}/name:
    patch:
      tags:
        - Event
      summary: Change an event's name
      description: |-
        Change an event's name by providing a new one
        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: HIGH5_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
        - name: eventName
          in: path
          description: Name of the event
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventPatchDto'
        required: true
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDto'
        '400':
          description: Bad request exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                EventNameInUseException:
                  $ref: '#/components/examples/EventNameInUseException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid event name:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Event not found:
                  $ref: '#/components/examples/EventNotFoundException'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                InternalServerErrorException:
                  $ref: '#/components/examples/InternalServerErrorException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/execute/stream/id/{streamId}:
    post:
      tags:
        - Execute
      summary: Execute a stream by it's id
      description: |-

        Required organization role: MEMBER\
        Required space permission: EXECUTE\
        Required scopes: HIGH5_SPACE_EXECUTE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
        - name: streamId
          in: path
          description: ID of the stream
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/High5ExecutionRequestDto'
      responses:
        '200':
          description: >-
            Object holding execution object, status object and log object ids
            that can be used to poll latest information about stream execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/High5ExecutionResponseDto'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                StreamInactiveException:
                  $ref: '#/components/examples/StreamInactiveException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid stream ID:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least EXECUTE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
                License quota exceeded:
                  $ref: '#/components/examples/LicenseQuotaExceededException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Stream not found:
                  $ref: '#/components/examples/StreamNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/execute/event/name/{eventName}:
    post:
      tags:
        - Execute
      summary: Execute all streams connected to an event by the event name
      description: |-

        Required organization role: MEMBER\
        Required space permission: EXECUTE\
        Required scopes: HIGH5_SPACE_EXECUTE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
        - name: eventName
          in: path
          description: Name of the event
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/High5ExecutionRequestDto'
      responses:
        '200':
          description: IDs of the logs that can be polled to check on execution status
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/High5ExecutionLogAndStatusDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid event name:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least EXECUTE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
                License quota exceeded:
                  $ref: '#/components/examples/LicenseQuotaExceededException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Event not found:
                  $ref: '#/components/examples/EventNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/execute/stream/id/{streamId}/package/{secret}:
    get:
      tags:
        - Execute
      summary: Request the execution package by streamId and a secret
      description: |-

        Required organization role: MEMBER
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
        - name: streamId
          in: path
          description: ID of the stream
          required: true
          schema:
            type: string
        - name: secret
          in: path
          description: >-
            Secret that got generated on execution package creation at one of
            the POST execute endpoints
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Stream execution package
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamExecutionPackage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Stream has no published design:
                  $ref: '#/components/examples/StreamExecutionException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid stream ID:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                DesignNotFoundException:
                  $ref: '#/components/examples/DesignNotFoundException'
                High5ExecutionNotFoundException:
                  $ref: '#/components/examples/High5ExecutionNotFoundException'
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
                Stream not found:
                  $ref: '#/components/examples/StreamNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/execute/webhook/{webhookToken}:
    post:
      tags:
        - Webhook
      summary: Execute webhook
      description: >-
        Executes a webhook. This path is equivalent to the "url" property of
        Webhook

        objects.
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
        - name: webhookToken
          in: path
          description: Last path segment of the webhook URL (128 char long hex string)
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WebhookExecutionFailedGenericException:
                  $ref: '#/components/examples/WebhookExecutionFailedGenericException'
                WebhookPreparationErrorException:
                  $ref: '#/components/examples/WebhookPreparationErrorException'
        '401':
          description: Unauthorized, invalid security headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WebhookInvalidSecurityHeadersException:
                  $ref: '#/components/examples/WebhookInvalidSecurityHeadersException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WebhookNotFoundException:
                  $ref: '#/components/examples/WebhookNotFoundException'
        default:
          description: Unexpected error
    get:
      tags:
        - Webhook
      summary: Validate webhook url and set headers
      description: >-
        Validate webhook url and set headers. This path is equivalent to the
        "url" property of Webhook

        objects.
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
        - name: webhookToken
          in: path
          description: Last path segment of the webhook URL (128 char long hex string)
          required: true
          schema:
            type: string
        - name: challenge
          in: query
          description: >-
            Some third party services require to validate the target URL of a
            webhook first.

            To do so, they sent an initial GET request with a query-string
            called 'challenge'.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Value of the 'challenge' query-string as body.
          content:
            text/plain:
              schema:
                type: string
        default:
          description: Unexpected error
  /v1/org/{orgName}/execution/logs/search:
    post:
      tags:
        - Execute.Status
      summary: Retrieve the Stream execution logs of an Organization
      description: |-

        Required organization role: MEMBER\
        Required Scope: HIGH5_SPACE_READ
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/PageParameter'
        - name: payload
          in: query
          description: Optional parameter to include the payload in the response
          required: false
          schema:
            type: boolean
            default: 'false'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
      responses:
        '200':
          description: >-
            All the execution logs associated with the specified organization
            filtered given the

            parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/High5ExecutionLogDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/execution/status/search:
    post:
      tags:
        - Execute.Status
      summary: Retrieve the Stream execution states of an Organization
      description: |-

        Required organization role: MEMBER\
        Required Scope: HIGH5_SPACE_READ
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/PageParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
      responses:
        '200':
          description: >-
            All the execution logs associated with the specified organization
            filtered given the

            parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/High5ExecutionStatusDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid body:
                  $ref: '#/components/examples/InvalidBodyException'
                  summary: Invalid body
                Invalid filter:
                  $ref: '#/components/examples/InvalidFilterException'
                  summary: Invalid search filter
                Invalid pagination parameters (limit/page):
                  $ref: '#/components/examples/InvalidParameterException'
                  summary: Invalid limit or page
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/execution/logs/search:
    post:
      tags:
        - Execute.Status
      summary: Retrieve the Stream execution logs of an Space
      description: |-

        Required organization role: MEMBER\
        Required space permission: READ\
        Required Scope: HIGH5_SPACE_READ
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
        - name: payload
          in: query
          description: Optional parameter to include the payload in the response
          required: false
          schema:
            type: boolean
            default: 'false'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/PageParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
      responses:
        '200':
          description: >-
            All the execution logs associated with the specified space filtered
            given the

            parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/High5ExecutionLogDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Invalid body:
                  $ref: '#/components/examples/InvalidBodyException'
                  summary: Invalid body
                Invalid filter:
                  $ref: '#/components/examples/InvalidFilterException'
                  summary: Invalid search filter
                Invalid pagination parameters (limit/page):
                  $ref: '#/components/examples/InvalidParameterException'
                  summary: Invalid limit or page
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least READ:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/execution/streams/logs/{streamLogId}:
    get:
      tags:
        - Execute.Status
      summary: Retrieve a Stream execution log by its ID
      description: |-

        Required organization role: MEMBER\
        Required space permission: READ\
        Required Scope: HIGH5_SPACE_READ
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
        - name: streamLogId
          in: path
          description: ID of the execution log
          required: true
          schema:
            type: string
        - name: payload
          in: query
          description: Optional parameter to include the payload in the response
          required: false
          schema:
            type: boolean
            default: 'false'
      responses:
        '200':
          description: Execution log
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/High5ExecutionPatchLogDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least READ:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                ExecutionLogNotFoundException:
                  $ref: '#/components/examples/ExecutionLogNotFoundException'
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/execution/streams/status/{streamStatusId}:
    get:
      tags:
        - Execute.Status
      summary: Retrieve a Stream execution status by its ID
      description: |-

        Required organization role: MEMBER\
        Required space permission: READ\
        Required Scope: HIGH5_SPACE_READ
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
        - name: streamStatusId
          in: path
          description: ID of the execution result
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Execution result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/High5ExecutionStatusDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least READ:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                ExecutionLogNotFoundException:
                  $ref: '#/components/examples/ExecutionLogNotFoundException'
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/execution/streams/{streamSecret}:
    patch:
      tags:
        - Execute.Status
      summary: >-
        Update stream log and status during execution or after execution is
        finished
      description: >-
        Live update stream log and status during execution or after execution is
        finished

        Required organization role: MEMBER\

        Required Scope: HIGH5_SPACE_EXECUTE
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
        - name: streamSecret
          in: path
          description: >-
            Secret that got generated on execution package creation at one of
            the POST execute endpoints
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/High5ExecutionPatchDto'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                StreamExecutionException:
                  $ref: '#/components/examples/StreamExecutionException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                ExecutionLogNotFoundException:
                  $ref: '#/components/examples/ExecutionLogNotFoundException'
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/execution/{high5ExecutionId}/cancel:
    get:
      tags:
        - Execute
      summary: Cancel a running high5 execution
      description: |-

        Required organization role: MEMBER\
        Required space permission: EXECUTE\
        Required scopes: HIGH5_SPACE_EXECUTE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
        - name: high5ExecutionId
          in: path
          description: ID of the execution
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                High5ExecutionCancelException:
                  $ref: '#/components/examples/High5ExecutionCancelException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least EXECUTE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Not Found exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                High5ExecutionNotFoundException:
                  $ref: '#/components/examples/High5ExecutionNotFoundException'
                High5ExecutionStatusNotFoundException:
                  $ref: '#/components/examples/High5ExecutionStatusNotFoundException'
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/join/token:
    post:
      tags:
        - JoinToken
      summary: Creates a join token for an organization
      description: >-
        Creates a join token for an organization with a given name that can be
        used to create agent users

        Required organization role: ADMIN\

        Required scopes: IDP_ORGANIZATION_ADMIN
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JoinTokenPostDto'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JoinTokenDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                JoinTokenAlreadyExistsException:
                  $ref: '#/components/examples/JoinTokenAlreadyExistsException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
    get:
      tags:
        - JoinToken
      summary: Retrieves the join tokens of an organization
      description: |-
        Paginated request to obtain the join tokens of an organization
        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_ADMIN
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/PageParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JoinTokenDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Invalid limit or page query parameters:
                  $ref: '#/components/examples/InvalidParameterException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/join/token/{tokenId}:
    delete:
      tags:
        - JoinToken
      summary: Revokes a join token of an organization
      description: |-
        Revoke a join token, making its use impossible
        Required organization role: ADMIN\
        Required scopes: IDP_ORGANIZATION_ADMIN
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: tokenId
          in: path
          description: ID of the token
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                JoinTokenNotFoundException:
                  $ref: '#/components/examples/JoinTokenNotFoundException'
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
        default:
          description: Unexpected error
  /v1/join/token:
    post:
      tags:
        - JoinToken
      summary: Use a join token to create an agent user
      description: Create an agent user using a join token in the Authorization header
      security:
        - JoinToken: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
          headers:
            Authorization:
              description: PAT that represents the agent user
              schema:
                type: string
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                JoinTokenNotFoundException:
                  $ref: '#/components/examples/JoinTokenNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/nodes:
    get:
      tags:
        - Node
      summary: Search for nodes by space name
      description: |-

        Required organization role: MEMBER\
        Required space permission: READ\
        Required scopes: HIGH5_SPACE_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/PageParameter'
      responses:
        '200':
          description: List of nodes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NodeDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Invalid page or limit parameter:
                  $ref: '#/components/examples/InvalidParameterException'
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least READ:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
    post:
      tags:
        - Node
      summary: Add a new node for a space
      description: |-

        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: HIGH5_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NodeCreateDto'
      responses:
        '201':
          description: Node object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeDtoDetailed'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
                License quota exceeded:
                  $ref: '#/components/examples/LicenseQuotaExceededException'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
  /v1/org/{orgName}/spaces/{spaceName}/nodes/{nodeId}:
    get:
      tags:
        - Node
      summary: Get node by it's id
      description: |-

        Required organization role: MEMBER\
        Required space permission: READ\
        Required scopes: HIGH5_SPACE_READ
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
        - name: nodeId
          in: path
          description: ID of the node
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Node object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeDto'
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least READ:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Not Found exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NodeNotFoundException:
                  $ref: '#/components/examples/NodeNotFoundException'
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
    delete:
      tags:
        - Node
      summary: Delete a node by it's id
      description: |-

        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: HIGH5_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
        - name: nodeId
          in: path
          description: ID of the node
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No content
        '400':
          description: Organization name is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Organization name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
                Space name is invalid:
                  $ref: '#/components/examples/InvalidParameterException'
        '401':
          description: There was an error while evaluating the user's credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                WrongAuthenticationTokenException:
                  $ref: '#/components/examples/WrongAuthenticationTokenException'
                  summary: The JWT payload has an invalid format
                NotAuthorizedException:
                  $ref: '#/components/examples/NotAuthorizedException'
                  summary: The credentials were incorrect
                AuthenticationTokenMissingException:
                  $ref: '#/components/examples/AuthenticationTokenMissingException'
                  summary: The Authorization header is empty
        '403':
          description: Missing required scope for operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                Missing required scope for operation:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                User is not member of organization or role is insufficient:
                  $ref: '#/components/examples/InsufficientAccessRightException'
                Space permission is insufficient. Must be at least WRITE:
                  $ref: '#/components/examples/SpaceInsufficientPermissionException'
        '404':
          description: Not Found exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomError'
              examples:
                NodeNotFoundException:
                  $ref: '#/components/examples/NodeNotFoundException'
                Organization not found:
                  $ref: '#/components/examples/OrganizationNotFoundException'
                Space not found:
                  $ref: '#/components/examples/SpaceNotFoundException'
        default:
          description: Unexpected error
    patch:
      tags:
        - Node
      summary: Update a node by it's id
      description: |-

        Required organization role: MEMBER\
        Required space permission: WRITE\
        Required scopes: HIGH5_SPACE_WRITE
      security:
        - BearerAuth: []
        - BasicAuth: []
      parameters:
        - name: orgName
          in: path
          description: Name of the organization
          required: true
          schema:
            type: string
        - name: spaceName
          in: path
          description: Name of the space
          required: true
          schema:
            type: string
        - name: nodeId
[...]
